<style>
*html body .g_discount_open{/* IE6以下に適用 */
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/style/pc/default/images/offbutton.png', sizingMethod='scale');
}
</style>

#sup5_2 {
width: 1260px;
height: 189px;
margin: 0;
padding: 0;
float: left;
}

#cate_menu2{
width:1100px;
padding-left:140px;
margin-top: -15px;
}

.cate_menu_ie6{
padding-top: 26px;
}

.entry_box3_ie6{
float: left;

}

#cate_menu_login_ie6{
margin-top: -28px;
}