p.dtp {
	float: right;
	left:230px;
	z-index: 2;
	position:absolute;
	background: url(/style/pc/default/images/bonus100.gif) no-repeat;
	background-position:left;
	height: 199px;
	width: 200px;
}


#sup5_2 {
width: 1260px;
height: 191px;
margin: 0;
padding: 0;
float: left;
}

