#mynote2{
color:#666666;
line-height:1.5;
}

#mynote2 h2 {
font-size:14px;
line-height:1.5;
color:#fff;
}
#mynote2 h3 {
font-size:14px;
line-height:1.5;
color:#99cc00;
}
#mynote2 p {
color:#666666;
border:1px solid #cccccc;
}
#mynote2 ul {
color:#666666;
font-size:10px;
}

#mynote2 td {
font-size:12px;
line-height:1.5;
}
.mynote2 tdttl {
background-color:#dedede;
border:1px solid #ffffff;
color:#000;
}
.mynote2 tdtext {
border:1px solid #dedede;
color:#666666;
}
.tdendlist {
font-size:12px;
font-weight:bold;
color:#fff;
background-color:#fb3282;
border-right:2px solid #fff;
padding:10px;
text-align:center;
}
.tdendlist2 {
font-size:12px;
font-weight:bold;
color:#fff;
background-color:#fd92bc;
border-right:2px solid #fff;
border-top:1px solid #fff;
padding:10px;
text-align:center;
}
.tdendlist3 {
font-size:12px;
font-weight:bold;
color:#000;
background-color:#e7e7eb;
border-right:2px solid #fff;
border-top:1px solid #fff;
padding:10px;
text-align:center;
}
.tdendlist4 {
font-size:12px;
color:#666;
background-color:#d4dcd6;
border-right:2px solid #fff;
border-top:1px solid #fff;
padding:10px;
text-align:center;
}





/* ICON 
------------------------------------------------------------------- */
.aci_icon_pickup {
background: url(../../../style/pc/default/images/offbutton.png) no-repeat;
margin-left:0px;
margin-top:60px;
}

.txt_01{
margin-top:5px;
font-size:12px;
font-weight:bold;
}

/* 以下オークションIDによるアイコン表示設定
　　例：　.aci_icon1　は　ID=1　…フリーオークション用 */

/* ID=1 フリーオークション */
/* ID=2 ビギナーズオークション */
/* ID=3 1円オークション */
/* ID=4 通常オークション */
/* ID=5 自動入札禁止オークション1円 */
/* ID=6 自動入札禁止オークション15円 */
/* ID=7 ダウンオークション */

.aci_icon1 {
background: url(../../../style/pc/default/images/icon_01.png) no-repeat;
}
.aci_icon2 {
background: url(../../../style/pc/default/images/icon_02.png) no-repeat;
}
.aci_icon3 {
background: url(../../../style/pc/default/images/icon_03.gif) no-repeat;
}
.aci_icon4 {
background: url(../../../style/pc/default/images/icon_04.png) no-repeat;
}
.aci_icon5 {
background: url(../../../style/pc/default/images/icon_05.gif) no-repeat;
}
.aci_icon6 {
background: url(../../../style/pc/default/images/icon_06.png) no-repeat;
}
.aci_icon7 {
background: url(../../../style/pc/default/images/icon_07.png) no-repeat;
}
.aci_icon8 {
background: url(../../../style/pc/default/images/icon_08.png) no-repeat;
}
.aci_icon9 {
background: url(../../../style/pc/default/images/icon_09.png) no-repeat;
}
.aci_icon10 {
background: url(../../../style/pc/default/images/icon_10.gif) no-repeat;
}
.aci_icon11 {
background: url(../../../style/pc/default/images/icon_09.gif) no-repeat;
}
.aci_icon12 {
background: url(../../../style/pc/default/images/icon_09.png) no-repeat;
}
.ac_icon1 {
background: url(../../../style/pc/default/images/icon_01.gif) no-repeat;
}
.ac_icon2 {
background: url(../../../style/pc/default/images/icon_02.gif) no-repeat;
}
.ac_icon3 {
background: url(../../../style/pc/default/images/icon_03.gif) no-repeat;
}
.ac_icon4 {
background: url(../../../style/pc/default/images/icon_04.gif) no-repeat;
}
.ac_icon5 {
background: url(../../../style/pc/default/images/icon_05.gif) no-repeat;
}
.ac_icon6 {
background: url(../../../style/pc/default/images/icon_06.gif) no-repeat;
}
.ac_icon7 {
background: url(../../../style/pc/default/images/icon_07.gif) no-repeat;
}
.ac_icon8 {
background: url(../../../style/pc/default/images/icon_08.gif) no-repeat;
}
.ac_icon9 {
background: url(../../../style/pc/default/images/icon_09.gif) no-repeat;
}
.ac_icon10 {
background: url(../../../style/pc/default/images/icon_10.gif) no-repeat;
}
.ac_icon11 {
background: url(../../../style/pc/default/images/icon_09.gif) no-repeat;
}
.ac_icon12 {
background: url(../../../style/pc/default/images/icon_09.gif) no-repeat;
}

/* クイック決済popup 
------------------------------------------------------------------- */

.quick_table {
	margin-right:15px;
	margin-left:15px;
}

.quick_img{
	margin-top:15px;
}