/* -- リセット -- */
html {
overflow-y: scroll;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{
margin: 0;padding: 0;
}
address, caption, cite, code, dfn, em, strong, th, var{
font-style: normal;
}
table{

}
caption, th{
text-align: left;
}
q:before ,q:after{
content: '';
}
object, embed{
vertical-align: top;
}
hr, legend{
display: none;
}
h1, h2, h3, h4, h5, h6{
font-size: 100%;
font-weight:normal;
font-style:normal;
font-variant:normal;
}
img, abbr, acronym, fieldset{
border: 0;
}
li{
list-style-type: none;
}
p, dd, blockquote{
text-align: justify;
text-justify: inter-ideograph;
}


body {
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
color: #333;
font-size:12px;
line-height: 150%;
background:#FFFFFF;
}
html>/**/body {
}

* + html body {
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}


a:link{
text-decoration: none;
}

a:visited{
text-decoration: none;
}

a:hover{
text-decoration:none;
}

a:active{
text-decoration: none;
}
:focus{
-moz-outline-style:none;
}

img{
vertical-align:top;
-ms-interpolation-mode: bicubic;
}






/* -- tags -- */

body {
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
margin: 0px;
padding: 0px;
background: #FFFFFF url(/style/pc/default/images/topbg.jpg) no-repeat center top;
color: #000000;
text-align: center;
font-size: 12px;
line-height: 130%;
}

td{
font-size: 12px;
line-height: 130%;
text-align: left;
}

form{
margin: 0px;
padding: 0;
}

h1{
margin: 0px;
padding: 0px;
font-size: 12px;
line-height: 130%;
font-weight: bold;
color: #FFFFFF;
display: inline;
}

h2{
margin:5px 0 5px 0;
padding: 0px;
border-bottom: 1px dotted #000000;
font-size: 14px;
line-height: 130%;
font-weight: bold;
color: #990000;
}

h3{
margin:10px 0 5px 0;
padding: 0px;
font-size: 14px;
line-height: 130%;
font-weight: bold;
color: #990000;
}

/*p {
margin: 5px 0;
padding: 0px;
font-size: 18px;
font-weight: bold;
line-height: 130%;
color: #FF9933;
text-align: left;
}*/

a:link {
color: #0033FF;
text-decoration: none;
border: 0;
}

a:visited {
color: #0033FF;
text-decoration: none;
border: 0;
}

a:hover {
color: #0033FF;
border: 0;
}

a img {
border: 0;
}

/* --
(imgタグを透明にしてくれる、らしい。)
A:hover IMG {
FILTER: Alpha(opacity=0)
}

(テキストに境界線をつけてくれる、らしい。)
.font1{
FLOAT: left;
FILTER:Dropshadow(offx=1,offy=0,color=yellow)
Dropshadow(offx=0,offy=1,color=yellow)
Dropshadow(offx=0,offy=-1,color=yellow)
Dropshadow(offx=-1,offy=0,color=yellow);
}
-- */

/* -- elements -- */


.clr {
clear: both;
line-height: 0;
display: block;
height: -1px;
}

#body {
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
margin: 0;
width: 100%;
height: 100%;
text-align: center;
}

#all {
margin: 0 auto;
text-align: center;
width: 1260px;
height: 100%;
}

#header {
width: 1260px;
height: 630px;
margin: 0;
padding: 0;
float: left;
line-height: normal;
background: url(/style/pc/default/images/vm_01.jpg) no-repeat top;
}

#header2 {
width: 1260px;
height: 295px;
margin: 0;
padding: 0;
float: left;
line-height: normal;
background: url(/style/pc/default/images/head2.jpg) no-repeat top;
}

#header3 {
width: 1260px;
height: 295px;
margin: 0;
padding: 0;
float: left;
line-height: normal;
background: url(/style/pc/default/images/head3.gif) no-repeat top;
}


/*----head_menuStart----*/

#subtitle {
width: 617px;
height: 60px;
margin: 0;
padding: 0;
float: left;
text-align: right;
}

#titleh1 {
width: 480px;
height: 35px;
text-align: left;
margin: 25px 0 0 0;
float: right;
}

#head_menu {
width: 595px;
height: 80px;
text-align: left;
float: right;
}


#hm1 {
width: 105px;
height: 38px;
margin: 0;
padding: 0;
float: left;
background: url(/style/pc/default/images/headm_01.gif) top no-repeat;
}

#hm1 a {
width: 100%;
height: 100%;
display: block;
}

#hm1 a:hover {
background: url(/style/pc/default/images/headm_01.gif) bottom;
}

#hm2 {
width: 115px;
height: 38px;
margin: 0;
padding: 0;
float: left;
background: url(/style/pc/default/images/headm_02.gif) top no-repeat;
}

#hm2 a {
width: 100%;
height: 100%;
display: block;
}

#hm2 a:hover {
background: url(/style/pc/default/images/headm_02.gif) bottom;
}

#hm3 {
width: 125px;
height: 38px;
margin: 0;
padding: 0;
float: left;
background: url(/style/pc/default/images/headm_03gif) top no-repeat;
}

#hm3 a {
width: 100%;
height: 100%;
display: block;
}

#hm3 a:hover {
background: url(/style/pc/default/images/headm_03.gif) bottom;
}

#hm4 {
width: 100px;
height: 38px;
margin: 0;
padding: 0;
float: left;
background: url(/style/pc/default/images/headm_04.gif) top no-repeat;
}

#hm4 a {
width: 100%; height: 100%;
display: block;
}

#hm4 a:hover {
background: url(/style/pc/default/images/headm_04.gif) bottom;
}

/*----head_menuEnd----*/


#head_login {
width: 445px;
text-align: left;
float: left;
margin-top: 3px;
padding: 0;
line-height: normal;
}

.ipbx {
width: 100px;
margin: 7px 10px 0 8px
}

#image_btn {
width: 84px;
height: 32px;
border: none;
background: url(/style/pc/default/images/image_btn.jpg) no-repeat;
margin-top: 5px;
padding: 0;
cursor: pointer;
}

#sup1 {
width: 1260px;
height: 47px;
/*background: url(/style/pc/default/images/kumako.gif) no-repeat left;*/
margin: 0;
padding: 0;
float: left;
}

#kuri {
width: 510px;
height: 47px;
background: url(/style/pc/default/images/kuri.gif) no-repeat left;
margin: 0;
padding: 0;
float: right;
}

#sup2 {
width: 1260px;
height: 27px;
margin: 0;
padding: 0;
float: left;
}

#kumao {
width: 200px;
height: 27px;
background: url(/style/pc/default/images/kumao.gif) no-repeat right;
margin: 0;
padding: 0;
float: left;
}

#kumako_te {
width: 485px;
height: 27px;
background: url(/style/pc/default/images/kumako_te.gif) no-repeat right;
margin: 0;
padding: 0;
float: left;
}

#sup3 {
width: 325px;
height: 27px;
margin: 0;
padding: 0;
float: right;
}

#new_btn {
width: 160px;
height: 27px;
margin: 0;
padding: 0;
float: left;
}

#new_btn a {
width: 100%;
height: 100%;
display: block;
}

#new_btn a:hover {
background: url(/style/pc/default/images/new_btn.gif) no-repeat left;
}

#sup4 {
width: 666px;
height: 101px;
margin: 0;
padding: 0;
float: left;
}

#hiyoko {
width: 266px;
height: 101px;
margin: 0;
padding: 0;
float: right;
background: url(/style/pc/default/images/hiyoko.gif) no-repeat left;
}

#sup6 {
width: 178px;
height: 80px;
margin: 0;
padding: 0;
float: left;
background: url(/style/pc/default/images/kumaomini.gif) no-repeat;
}

#kumahiyoinfo {
width: 405px;
float: right;
}

#kumahiyo {
width: 405px;
height: 149px;
margin: 0;
padding: 0;
float: left;
background: url(/style/pc/default/images/kumahiyo.gif) no-repeat;
}

#info_btn_box {
width: 385px;
height: 72px;
margin: 0;
padding: 0;
float: right;
}

#info_btn {
width: 221px;
height: 25px;
margin: 0;
padding: 0;
float: left;
}

#info_btn a {
width: 100%;
height: 100%;
display: block;
}

#info_btn a:hover {
background: url(/style/pc/default/images/info_btn.gif) no-repeat;
}

#sup7 {
width: 178px;
height: 11px;
margin: 0;
padding: 0;
float: left;
}

#slot_btn {
width: 160px;
height: 27px;
margin: 0;
padding: 0;
float: right;
}

#slot_btn a {
width: 100%;
height: 100%;
display: block;
}

#slot_btn a:hover {
background: url(/style/pc/default/images/slot_btn.gif) no-repeat left;
}

#coin_box {
width: 197px;
height: 27px;
margin-top: 18px;
padding: 0;
float: left;
}

#coin_btn {
width: 160px;
height: 27px;
margin: 0 0 0 1px;
padding: 0;
float: right;
}



#coin_btn a {
width: 100%;
height: 100%;
display: block;
}

#coin_btn a:hover {
background: url(/style/pc/default/images/new_btn.gif) no-repeat left;
}

#minikumako {
width: 100px;
height: 100px;
float: left;
background: url(/style/pc/default/images/minikumako.gif) no-repeat;
}

#entry_box {
width: 550px;
height: 108px;
margin: 0;
padding: 0;
float: left;
text-align: left;
}

#f_entry {
width: 274px;
height: 108px;
margin: 0;
padding: 0;
float: right;
background: url(/style/pc/default/images/f_entry.gif) no-repeat top;
}

#f_entry a {
width: 274px;
height: 108px;
display: block;
}

#f_entry a:hover {
background: url(/style/pc/default/images/f_entry.gif) bottom;
}

#f_friend {
width: 274px;
height: 108px;
margin: 0;
padding: 0;
float: right;
background: url(/style/pc/default/images/f_friend.gif) no-repeat top;
}

#f_friend a {
width: 274px;
height: 108px;
display: block;
}

#f_friend a:hover {
background: url(/style/pc/default/images/f_friend.gif) bottom;
}



#f_coin {
width: 125px;
height: 101px;
margin: 0;
float: left;
background: url(/style/pc/default/images/coin_buy_btn.jpg) no-repeat;
}

#f_coin a {
width:125px;
height: 101px;
display: block;

}

#f_coin a:hover {
background: url(/style/pc/default/images/coin_buy_btn_on.jpg) no-repeat;
}

#f_logout {
width: 125px;
height: 101px;
margin: 0;
padding:0px 19px 0px 0px;
float: right;
background: url(/style/pc/default/images/logout_btn.jpg) no-repeat;

}

#f_logout a {
width:125px;
height: 101px;
display: block;

}

#f_logout a:hover {
background: url(/style/pc/default/images/logout_btn_on.jpg) no-repeat;
}

#sup5 {
width: 1260px;
height: 202px;
margin: 0;
padding: 0;
float: left;
}

#sup5_2 {
width: 1260px;
height: 178px;
margin: 0;
padding: 0;
float: left;
}

#sup5_3 {
width: 1260px;
height: 191px;
margin: 0;
padding: 0;
float: left;
}



#hbnr_box {
width: 695px;
height: 180px;
margin: 0;
padding: 0;
float: left;
text-align: right;
}

#hbnr {
width: 545px;
height: 180px;
margin: 0;
padding: 0;
float: right;
}

#hbnr a {
width: 100%;
height: 100%;
display: block;
}

#headtext_box {
width: 545px;
height: 180px;
margin: 0;
padding: 0;
float: right;
text-align: left;
}

#whatsnew {
width: 388px;
height: 60px;
margin-top: 8px;
padding: 0;
float: left;
overflow: auto;
}

#headtext_box ul {
list-style: none;
margin: 5px 0 0 5px;
padding: 0;
}

#headtext_box a {
list-style: none;
margin: 0;
margin-bottom: 5px;
border-bottom: 1px 000 solid;
text-decoration: underline;
color: #000;
font-size: 11px;
}

#headtext_box li {
list-style: none;
margin-bottom: 5px;
border-bottom: 1px 000 solid;
color: #000;
font-size: 11px;
}

#sup8 {
width: 545px;
height: 25px;
margin-bottom: 5px;
_margin: 0;
padding: 0;
float: right;
}

#tw1 {
width: 70px;
height: 67px;
margin: 0;
padding: 0;
float: left;
}

#tw_btn {
width: 70px;
height: 30px;
margin-top: 37px;
padding: 0;
float: left;
}

#tw_btn a {
width: 100%;
height: 100%;
display: block;
}

#tw_text_box {
width: 458px;
height: 67px;
margin: 0;
padding: 0;
float: right;
}

#tw_text {
width: 295px;
height: 67px;
margin: 0;
padding: 0;
float: left;
overflow: auto;
line-height: 130%;
}

/*----head_cate_menuStart----*/

#head_cate_menu {
width: 1110px;
height: 52px;
margin: 0;
padding: 0;
float: right;
line-height: normal;
}

#hcm1 {
width: 125px;
height: 30px;
margin-top:8px;
float: left;
background: url(/style/pc/default/images/hcm_01.gif) top no-repeat;
}

#hcm1 a {
width: 100%;
height: 100%;
display: block;
}

#hcm1 a:hover {
background: url(/style/pc/default/images/hcm_01.gif) bottom;
}

#hcm2 {
width: 184px;
height: 30px;
margin-top: 8px;
padding: 0;
float: left;
background: url(/style/pc/default/images/hcm_02.gif) top no-repeat;
}

#hcm2 a {
width: 100%;
height: 100%;
display: block;
}

#hcm2 a:hover {
background: url(/style/pc/default/images/hcm_02.gif) bottom;
}

#hcm3 {

width: 108px;
height: 30px;
margin-top: 8px;
padding: 0;
float: left;
background: url(/style/pc/default/images/hcm_03.gif) top no-repeat;
}

#hcm3 a {
width: 100%;
height: 100%;
display: block;
}

#hcm3 a:hover {
background: url(/style/pc/default/images/hcm_03.gif) bottom;
}

#hcm4 {
width: 123px;
height: 30px;

margin-top: 8px;
padding: 0;
float: left;
background: url(/style/pc/default/images/hcm_04.gif) top no-repeat;
}

#hcm4 a {
width: 100%;
height: 100%;
display: block;
}

#hcm4 a:hover {
background: url(/style/pc/default/images/hcm_04.gif) bottom;
}

#hcm5 {
width: 124px;
height: 30px;
margin-top: 8px;
padding: 0;
float: left;
background: url(/style/pc/default/images/hcm_05.gif) top no-repeat;
}

#hcm5 a {
width: 100%;
height: 100%;
display: block;
}

#hcm5 a:hover {
background: url(/style/pc/default/images/hcm_05.gif) bottom;
}

#hcm6 {
width: 92px;
height: 30px;
margin-top: 8px;
padding: 0;
float: left;
background: url(/style/pc/default/images/hcm_06.gif) top no-repeat;
}

#hcm6 a {
width: 100%;
height: 100%;
display: block;
}

#hcm6 a:hover {
background: url(/style/pc/default/images/hcm_06.gif) bottom;
}

#hcm7 {
width: 108px;
height: 30px;
margin-top: 8px;
padding: 0;
float: left;
background: url(/style/pc/default/images/hcm_07.gif) top no-repeat;
}

#hcm7 a {
width: 100%;
height: 100%;
display: block;
}

#hcm7 a:hover {
background: url(/style/pc/default/images/hcm_07.gif) bottom; }

#hcm8 {
width: 96px;
height: 30px;
margin-top: 8px;
padding: 0;
float: left;
background: url(/style/pc/default/images/hcm_08.gif) top no-repeat;
}

#hcm8 a {
width: 100%;
height: 100%;
display: block;
}

#hcm8 a:hover {
background: url(/style/pc/default/images/hcm_08.gif) bottom;
}

/*----head_menuEnd----*/

/*----head_cate_menuStart----*/

#head_cate_menu2 {
width: 1110px;
height: 52px;
margin: 0;
padding: 0;
float: right;
line-height: normal;
margin-top:11px;
}

#hcm1 {
width: 125px;
height: 30px;
padding: 0;
float: left;
background: url(/style/pc/default/images/hcm_01.gif) top no-repeat;
}

#hcm1 a {

width: 100%;
height: 100%;
display: block;
}

#hcm1 a:hover {
background: url(/style/pc/default/images/hcm_01.gif) bottom;
}

#hcm2 {
width: 184px;
height: 30px;
margin-top: 8px;
padding: 0;
float: left;
background: url(/style/pc/default/images/hcm_02.gif) top no-repeat;
}

#hcm2 a {
width: 100%;
height: 100%;
display: block;
}

#hcm2 a:hover {
background: url(/style/pc/default/images/hcm_02.gif) bottom;
}

#hcm3 {
width: 108px;
height: 30px;
margin-top: 8px;
padding: 0;
float: left;
background: url(/style/pc/default/images/hcm_03.gif) top no-repeat;
}

#hcm3 a {
width: 100%;
height: 100%;
display: block;
}

#hcm3 a:hover {
background: url(/style/pc/default/images/hcm_03.gif) bottom;
}

#hcm4 {
width: 123px;
height: 30px;
margin-top: 8px;
padding: 0;
float: left;
background: url(/style/pc/default/images/hcm_04.gif) top no-repeat;
}

#hcm4 a {
width: 100%;
height: 100%;
display: block;
}

#hcm4 a:hover {
background: url(/style/pc/default/images/hcm_04.gif) bottom;
}

#hcm5 {
width: 124px;
height: 30px;
margin-top: 8px;
padding: 0;
float: left;
background: url(/style/pc/default/images/hcm_05.gif) top no-repeat;
}

#hcm5 a {
width: 100%;
height: 100%;
display: block;
}

#hcm5 a:hover {
background: url(/style/pc/default/images/hcm_05.gif) bottom;
}

#hcm6 {
width: 92px;
height: 30px;
margin-top: 8px;
padding: 0;
float: left;
background: url(/style/pc/default/images/hcm_06.gif) top no-repeat;
}

#hcm6 a {
width: 100%;
height: 100%;
display: block;
}

#hcm6 a:hover {
background: url(/style/pc/default/images/hcm_06.gif) bottom;
}

#hcm7 {
width: 108px;
height: 30px;
margin-top: 8px;
padding: 0;
float: left;
background: url(/style/pc/default/images/hcm_07.gif) top no-repeat;
}

#hcm7 a {
width: 100%;
height: 100%;
display: block;
}

#hcm7 a:hover {
background: url(/style/pc/default/images/hcm_07.gif) bottom;
}

#hcm8 {
width: 96px;
height: 30px;
margin-top: 8px;
padding: 0;
float: left;
background: url(/style/pc/default/images/hcm_08.gif) top no-repeat;
}

#hcm8 a {

width: 100%;
height: 100%;
display: block;
}

#hcm8 a:hover {
background: url(/style/pc/default/images/hcm_08.gif) bottom;
}

/*----head_menuEnd----*/

/*----------------------------------------main_clm----------------------------------------*/


#all2 {
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
margin: 0 auto;
text-align: center;
width: 960px;
height: 100%;
}

#all3 {
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
margin: 0 auto;
text-align: center;
width: 960px;
margin-top: 10px;

}


#att {
width: 960px;
height: 406px;
margin: 0;
padding: 0;
float: left;
line-height: normal;
background: url(/style/pc/default/images/vm_02.gif) no-repeat center;
}

#att_bg1 {
width: 306px;
height: 303px;
margin: 0 15px 0 0;
padding: 0;
float: left;
text-align: center;
}


.aci_icon2 {
width: 56px;
height: 55px;
display: block;
position: absolute;
padding:0;
margin-top:0;

}

.aci_icon2 {
background: url(/style/pc/default/images/icon2.gif) no-repeat;
}

#att_bg2 {
width: 319px;
height: 303px;
margin: 0;
padding: 0;
float: left;
}

#att_bg3 {
width: 306px;
margin: 0;
padding: 0;
float:right;
}

#att_bg1 p {
text-align: center;
font-size: 14px;
font-weight: bold;
line-height: 150%;
color: #FF33CC;
width: 95%;
margin: 0 auto;
padding-bottom: 8px;
}

#att_bg3 p {
text-align: center;
font-size: 14px;
font-weight: bold;
line-height: 150%;
color: #FF33CC;
width: 95%;
margin: 0 auto;
padding-bottom: 8px;
}

.sup9 {
width: 306px;
margin: 0px;
padding: 0px;
float: left;
}

.img_pick {
width: 135px;
height:100%;
max-height: 120px;
float: left;
margin: 25px 0 0 5px;
}
.auction_index_page_pick {
width: 85%;
height: 85%;
padding: 0 0 5px 0;
float: left;
text-align: center;
}

.rest_time {
font-size: 24px;
font-weight: bold;
line-height: 130%;
}


.prd_price2 {
width: 100%;
font-size: 18px;
font-weight: bold;
line-height: 100%;
color: #FF3399;
}

#att_button_on{
width: 131px;
height: 100%;
text-align: center;
}

#sup10 {
width: 319px;
height: 85px;
margin: 0;
padding: 0;
float: left;
}

#request_form {
width: 319px;
height: 72px;
margin: 0;
padding: 0;
float: left;
text-align: center;
}

#rfbx {
width: 230px;
height: 20px;
margin: 0 5px 5px 0;
}

#rfbtn {
background: url(images/rqbtn.gif) no-repeat;
width: 49px;
height: 30px;
border: none;
line-height: normal;
cursor: pointer;
}

#aciwrap {

width:290px;

}

#aci_icon_pickupleft {

padding-top:15px;
float:left; }

.aci_icon_pickup {
background: url(/style/pc/default/images/offbutton.png) no-repeat;
width: 50px;
height: 50px;
display: block;
position: absolute;
padding:0;
margin-top:0;
}

.end_parcent{
float:left;
color:#ffff00;
font-weight:bold;
font-size:20px;
padding: 11px 0 0 10px;
display: inline;
}

.g_txt_box45 {
width: 120px;
height: 100%;
padding: 13px 0 0px 0;
margin: 0;
float:right;
text-align: center;
}

#blog_show {
width: 319px;
height: 145px;
background: url(/style/pc/default/images/shoukai.gif) no-repeat bottom;
}

#blog_show a {
width: 100%;
height: 100%;
display: block;
}

#blog_show a:hover {
background: url(/style/pc/default/images/shoukai.gif) no-repeat top;
}

#main {
width: 960px;
height: 100%; /*仮のheight*/
margin: 0;
padding: 0;
float: left;
line-height: normal;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
/*background: url(/style/pc/default/images/vm_03.jpg) no-repeat center;*/
}

#main_cate {
width: 765px;
height: 100%; /*仮のheight*/
margin: 0;
padding: 0;
float: left;
line-height: normal;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
/*background: url(/style/pc/default/images/vm_03.jpg) no-repeat center;*/
}


#main_news {
width: 765px;
height: 100%; /*仮のheight*/
margin: 0;
padding: 0;
float: left;
line-height: normal;
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
font-size:18px;
/*background: url(/style/pc/default/images/vm_03.jpg) no-repeat center;*/
}


.pkg:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
}

* html .pkg { display: inline-block; }
/* no ie mac ?_*/
* html .pkg { height: 1%; }

.pkg { display: block; min-height: 0;}


/* prd_list_category.html  / prd_list_open.html
------------------------------------------------------------------- */
/*.start_product
商品コマ背景。
オクタイプ別に背景を変更したい場合は
.start_product_actypeの後ろにオクIDの数字を入れたスタイルを作成し、
それぞれ背景を指定する…
例：
.start_product_actype1{}
.start_product_actype2{}
.start_product_actype3{}
.start_product_actype4{}

ID=1 15円オークション
ID=2 1円オークション
ID=4 FREEオークション
ID=5 15円入札禁止オークション
ID=7 初心者オークション
--------------------------------*/

.start_product_actype1 {
background-image: url(../../../style/pc/default/images/auctionwaku3.gif);
position:relative;
width:182px;
height:329px;
padding:auto;
margin-top:3px;
margin-left:5px;
margin-right:2px;
}

.start_product_actype2 {
background-image: url(../../../style/pc/default/images/auctionwaku4.gif);
position:relative;
width:182px;
height:329px;

padding:auto;
margin-top:3px;
margin-left:5px;
margin-right:2px;
}

.start_product_actype3 {
background-image: url(../../../style/pc/default/images/auctionwaku1.gif);
position:relative;
width:182px;
height:329px;
padding:auto;
margin-top:3px;
margin-left:5px;
margin-right:2px;
}

.start_product_actype4 {
background-image: url(../../../style/pc/default/images/auctionwaku2.gif);
position:relative;
width:182px;





height:329px;
padding:auto;
margin-top:3px;
margin-left:5px;
margin-right:2px;
}

.start_product_actype5 {
background-image: url(../../../style/pc/default/images/auctionwaku9.gif);
position:relative;
width:182px;
height:329px;
padding:auto;
margin-top:3px;
margin-left:5px;
margin-right:2px;
}


.start_product_actype6 {
background-image: url(../../../style/pc/default/images/auctionwaku4.gif);
position:relative;
width:182px;
height:329px;

padding:auto;
margin-top:3px;
margin-left:5px;
margin-right:2px;
}

.start_product_actype7 {
background-image: url(../../../style/pc/default/images/auctionwaku8.gif);
position:relative;
width:182px;
height:329px;
padding:auto;
margin-top:3px;
margin-left:5px;
margin-right:2px;
}

.start_product_actype12 {
background-image: url(../../../style/pc/default/images/auctionwaku1.gif);
position:relative;
width:182px;
height:329px;
padding:auto;
margin-top:3px;
margin-left:5px;
margin-right:2px;
}


.prd_header{
z-index:20;
font-size:12px;
line-height:110%;
font-weight:bold;
}

.prd_header span{
color:#ff0000;
}

.prd_header{
width:174px;
height:2.4em;
padding:40px 3px 20px 5px;
text-align:center;
overflow:hidden;
}

.prd_countdown{
font-family:Verdana;
font-size:1.6em;
line-height:1.2em;
font-weight:bold;
color:#000044;
width:178px;
text-align:center;
}

.prd_price{
width:178px;
text-align:center;
font-family:Verdana;
font-size:1.4em;
font-weight:bold;
color:#0caea3;
}

.prd_bidder{
font-size:0.8em;
font-weight:bold;
color:#434343;
width:178px;
height:15px;
text-align:center;
}


#list_bg {
width: 960px;
height: 378px;
margin: 0;
padding: 0;
float: left;
line-height: normal;
background: url(/style/pc/default/images/vm_04.jpg) no-repeat center;
}

#sup11 {
width: 960px;
height: 72px;
margin: 0;
padding: 0;
float: left;
}

.list_go {
width: 356px;
height: 51px;
margin: 0;
padding: 0;
float: right;
}

.list_go a {
width: 100%;
height: 100%;
display: block;
}

.list_go a:hover {
background: url(/style/pc/default/images/sonota.gif) no-repeat left;
}

.list_go2 {
width: 356px;
height: 50px;
margin: 0;
padding: 0;
float:right;
background: url(/style/pc/default/images/kaisaisumi.gif) no-repeat;

}

.list_go2 a {
width: 100%;
height: 100%;
display: block;
}

.list_go2 a:hover {
background: url(/style/pc/default/images/kaisaisumi.gif) no-repeat;
}


.list_go3 {
width: 578px;
height: 53px;
margin: 0;
padding: 0;
background: url(/style/pc/default/images/nebiki_bana.jpg) no-repeat;
float: left;
}

.list_go3a {



width: 100%;
height: 100%;
display: block;
}

.list_go3 a:hover {
background: url(/style/pc/default/images/nebiki_bana.jpg) no-repeat;
}



#sup12 {
width: 960px;
height: 26px;
margin: 0;
padding: 0;
float: left;
}

#slot_go {
width: 960px;
height: 131px;
margin: 0;
padding: 0;
float: left;
text-indent:-9999px;
}


#slot_go a {
width: 100%;
height: 100%;
display: block;
width: 960px;
height: 131px;
}

#slot_go a:hover {
width: 960px;
height: 131px;
background: url(/style/pc/default/images/slotbnr.jpg) no-repeat bottom;
}

#coin_bg {
width: 960px;
height: 240px;
margin: 0 0 5px 0;
padding: 0;
float: left;
line-height: normal;
}



#ctlt {
width: 960px;
height: 245px;
margin: 0;
padding: 0;
float: left;
line-height: normal;
background: url(/style/pc/default/images/vm_05.gif) no-repeat center;
}

#sup13 {
width: 960px;
height: 33px;
margin: 0;
padding: 0;
float: left;
}

#blog_gowrap {


}


#blog_go {
width: 327px;
height: 226px;
float:right;
padding:0;
background: url(/style/pc/default/images/blog.gif) no-repeat;
}

#blog_go a {
width: 100%;
height: 100%;
display:block;

}

#blog_go a:hover {
background: url(/style/pc/default/images/blog.gif) no-repeat;
}

#sup14{
width: 100%;
height: 14px;
padding: 0;
float: left;
}

#twwrap {

padding-top:14px;

}

#tw {
width: 207px;
height: 26px;
margin: 0;
padding: 0;
float: right;
}

#tubuyaki {
width: 100px;
height: 26px;
margin: 0;
padding: 0;
float: left;
}

#tubuyaki a {
width: 100%;
height: 100%;
display: block;
width: 100px;
height: 26px;
}


#follow {
width: 100px;
height: 26px;
margin: 0;
padding: 0;
float: right;
}

#follow a {
width: 100%;
height: 100%;
display: block;
}




/*----------------------------------------others----------------------------------------*/
.img_25295 {
width: 135px;
height:100%;
max-height: 120px;
float: left;
margin: 25px 0 0 5px;
}

.h1f {
color: #FFFFFF;
font-weight: bold;
font-size: 12px;
line-height: 130%;
}

.pink {
color: #FF3399;
font-weight: bold;
}

.g_exp45 {
line-height: 130%;
font-size: 11px;
margin-top: 5px;
color: #444444;
}

.g_name45 {
font-size: 12px;
line-height: 130%;
font-weight: bold;
}

.g_nedan45 {
color: #3399FF;
font-weight: bold;
font-size: 18px;
}

#yajip {
width: 16px;
height: 12px;
margin: 0;
padding: 0;
float: right;
background: url(/style/pc/default/images/yajip.gif) no-repeat;
}

#bgbg2 {
background: url(/style/pc/default/images/bgbg2.jpg) repeat-x #FFFFFF;
}

#mbbg_box {
width: 100%;
margin: 0;
padding: 10px 0 0 0;
float: left;
text-align: center;
}

#mbbg_box2 {
width: 334px;
margin: 0 auto;
padding: 0;
text-align: center;
}

#mbbg_left {
width: 7px;
height: 22px;
background: url(/style/pc/default/images/mbbg_01.gif) no-repeat;
margin: 0;
padding: 0;
float: left;
}



#mbbg {
width: 320px;
height: 22px;
background: url(/style/pc/default/images/mbbg_02.gif) repeat-x;
margin: 0;
padding: 0;
text-align: center;
float: left;
line-height: 180%;
color: #FF3399;
letter-spacing: 2px;
}

#mbbg a {
color: #FF3399;
}

#mbbg a:hover {
color: #FF3399;
text-decoration: underline;
}

#mbbg_right {
width: 7px;
height: 22px;
background: url(/style/pc/default/images/mbbg_03.gif) no-repeat;
margin: 0;
padding: 0;
float: left;
}

.dt_tbl_bg {
background: #FF3399;
color: #FFFFFF;
width: 100px;
text-align: center;
}

.dt_tbl_r {
text-align: right;
font-weight: bold;
line-height: 150%;
padding-right: 5px;
width: 100px;
background: #EEEEEE;
}

.dt_text {
padding: 0 0 0 3px;
}

#login_forget {
width: 1110px;
height: 26px;
margin: 0;
padding: 0;
float: left;
text-align: right;
font-size: 12px;
color: #000000;

}

#login_forget a {
width: 1110px;
height: 26px;
color: #000000;
}

#login_forget a:hover {
width: 1110px;
height: 26px;
text-decoration: underline;
}

#entry_box2 {
width: 280px;
height: 108px;
margin: 0;
padding-right:150px;

float: right;
margin-top: 0px;

}

#entry_box3 {
width: 280px;
height: 108px;
margin: 0;
padding-right:150px;
float: right;
margin-top: 15px;
margin-bottom: 11px;

}




#sup15 {
width: 100%;
height: 15px;
margin: 0;
padding: 0;
float: left;
}

#category_title {
width: 100%;
margin: 0;
padding: 15px 0 0 0;
text-align: center;
font-size: 18px;
}

#auc_title {
width: 100%;
margin: 0;
padding: 0;
height: 85px;
background: url(/style/pc/default/images/auc_title.gif) no-repeat center;
float: left;
} #page_navi {
width: 100%;
line-height: 150%;
margin: 0;
padding: 15px 0 10px 0;
letter-spacing: 3px;
}

#page_navi a {
color: #FF3399;
}

#page_navi a:hover {
color: #FF3399;
text-decoration: underline;
}

#waku {
border: 1px solid #FF3399;
color: #FF3399;
padding: 2px;
}

.attwaku15 {
width: 230px;
height: 115px;
margin: 5px 10px 0 0;
padding: 0;
float: left;
text-align: center;
background: url(/style/pc/default/images/attwaku15.gif) no-repeat;
}

.att_sup {
width: 220px;
margin: 0 auto;
padding: 5px 0 0 0;
}

.att_title {
width: 220px;
height: 27px;
margin: 0;

padding: 0;
float: left;
text-align: left;
font-size: 11px;
font-weight: bold;
color: #FF3399;
}

.att_photo {
width: 71px;
height: 71px;
margin: 0;
padding: 0;
float: left;
}

.att_time {
width: 95px;
float: right;
text-align: left;
font-size: 17px;
font-weight: bold;
}

.att_price {
width: 95px;
float: right;
text-align: left;
font-size: 13px;
font-weight: bold;
line-height: 120%;
color: #FF3399;
}

.att_auther {
width: 95px;
float: right;
text-align: left;
font-size: 11px;

}

.att_button {
width: 135px;
height: 22px;
float: right;
margin: 5px 5px 0 0;
padding: 0;
background: url(/style/pc/default/images/att_btn.gif) no-repeat;
}

.att_button a {
width: 100%;
height: 100%;
display: block;
}

#dt_title_bg {
width: 960px;
height: 144px;
margin-top: 10px;
padding: 0;
float: left;
background: url(/style/pc/default/images/dt_title.gif) no-repeat center;
}

#sup16 {
width: 960px;
height: 100px;
margin: 0;
padding: 0;
float: left;
}

#dt_title {
width: 920px;
margin: 0;
padding: 0;
float: right;
text-align: left;
font-size: 22px;
font-weight: bold;
color: #FFFFFF;
line-height: 130%;
}

#details_text {
width: 960px;
height: 23px;
margin: 0;
padding: 0;
text-align: left;
float: left;
font-size: 14px;
}

#dt_tw_go {
width: 245px;
height: 23px;
background: url(/style/pc/default/images/twitterbg.gif) no-repeat left;
text-align: right;
font-weight: bold;
font-size: 12px; float: right;
margin: 0;
padding-top: 5px;
}

#dt_bg {
width: 960px;
height: 463px;
margin-top: 0px;
padding: 0;
float: left;
background: url(/style/pc/default/images/dt_bg.jpg) no-repeat;
}

#dt_photo {
width: 456px;
height: 463px;
margin: 0;
padding: 0;
float: left;
text-align: center;
background: url(/style/pc/default/images/dt_photo.gif) no-repeat;
}

#sup17 {
width: 455px;
height: 50px;
margin: 0;
padding: 0;
float: left;

}


img.dtp {

z-index: 1;

}

#smndtp {
margin: 20px 8px 0 0;
}

.pro_img{
margin:15px 0px 0px 0px;
padding-left:35px;
}

.thumbimg{
margin-right:10px;
}

div#smn_box {
top: -170px;
left: 0px;
width: 380px;
margin: 0 auto;
padding: 0;
z-index: 3;
text-align: left;
}

.smn {
float: left;
margin-right: 15px;
}


#dt_right {
width: 488px;
height: 463px;
margin: 0;
padding: 0;
float: right;
}

#dt_rl {





width: 230px;
height: 455px;
margin: 0;
padding: 0;
float: left;
}

#dt_rl_text {
width: 225px;
height: 455px;
margin: 0;
padding: 0;
float: right;
text-align: left;
line-height: 130%;
font-size: 10px;
}

#dt_rl_text p {
width: 100%;
margin: 0;
padding: 25px 0 15px 0;
float: left;
text-align: center;
line-height: 130%;
font-size: 12px;
color: #FF3366;
font-weight: bold;
}

#dt_kakaku {
width: 225px;
height: 27px;
line-height: 260%;
color: #FF3399;
font-weight: bold;
text-align: center;
float: left;
font-size: 12px;


}

#dt_price {
width: 225px;
height: 50px;
margin: 0;
padding: 0;
float: left;
}




#dt_pl {
width: 60px;
height: 44px;
margin: 0;

padding: 0;
float: left;
font-weight: bold;
color: #000000;
font-size: 26px;
line-height: 180%;
text-align: right;
}

#dt_pr {
width: 110px;
height: 44px;
margin-right: 40px;
padding: 0;
float: right;
font-weight: bold;
color: #00abe3;
font-size: 32px;
line-height: 130%;
text-align: right;
}

#dt_auther {
width: 100%;
height: 22px;
margin: 0;
padding: 0;
text-align: center;
float: left;
font-size: 12px;
}

#dt_time_tit {
width: 100%;
height: 22px;
float: left;
text-align: center;
font-size: 12px;
}


#dt_time {
width: 100%;
height: 50px;
margin-bottom: 18px;
padding: 0;
text-align: center;
font-size: 30px;
font-weight: bold;
line-height: normal;
float: left;
color: #FF0000;
}

#zenkai {
width:100%;
font-size: 12px;
text-align: center;
}

#zenkai table {
margin: 10px auto;
}



#dt_rr {
width: 236px;
height: 100%;
margin: 0;
padding: 0;
float: right;
}


#dt_coin_btn {
width: 236px;
height: 211px;
margin: 0 0 15px 0;
padding: 0;
float: left;
}

#dt_coin_btn a {
width: 100%;
height: 100%;
display: block;
}

#rireki_title {
width: 100%;
margin: 0;
padding: 0;
text-align: center;
font-weight: bold;
line-height: 150%;
color: #FFFFFF;
}




#rireki_box {
width: 235px;
height: 195px;
text-align: left;
overflow-y: scroll;
overflow-x: hidden;
padding-top: 0;
}

#rireki_box td {
font-size: 11px;
padding: 2px 0 3px 5px;
border-bottom: 1px dotted #dddddd;
}

.hr1 {
color: #000000;
background: #000000;
height: 2px;
line-height: normal;
width: 100%;
margin: 20px auto 5px auto;
padding: 0;
}

#dt_text {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
float: left;
text-align: left;
line-height: 130%;
font-size: 12px;
}

#dt_text h2 {
font-size: 18px;
font-weight: bold;
line-height: 150%;
margin: 0 0 10px 0;
padding: 0 0 3px 10px;
color: #000;
background: url(/style/pc/default/images/h2left.gif) no-repeat left;
border-bottom: 1px #000000 dotted;

}

#dt_text p {
font-size: 16px;
font-weight: bold;
line-height: 130%;
margin: 0 0 10px 0;
padding: 0;
}

#dt_text ul {
margin-top: 10px;
list-style: none;
padding: 0;
}

#dt_text li {
margin-bottom: 5px;
list-style: none;
}

#dt_text a {
color: #FF3399;
text-decoration: underline;
}

.red1 {
color: #e60012;
}

.green {
color: #7ac63a;
}

.blue1 {
color: #009be3;
}

#formbg {
width: 960px;
height: 1156px;
background: url(/style/pc/default/images/formbg.jpg) no-repeat top;
margin: 0;
padding: 0;
float:left;
text-align: center;
}

#formbg2 {
width: 960px;
height: 1347px;
background: url(/style/pc/default/images/formbg2.jpg) no-repeat top;
margin: 0;
padding: 0;
float:left;
text-align: center;
}


#sup18 {
width: 100%;
height: 420px;
margin: 0;
padding: 0;
float: left;
}

#form_box {
width: 600px;
margin: 0 auto;
padding: 0;
line-height: 150%;
text-align: left;
}

.fm_tbl_bg {
background: #FF3399;
color: #FFFFFF;
width: 200px;
text-align: left;
font-weight: bold;
padding: 3px 0 3px 5px;
}

.fm_tbl_r {
text-align: left;
line-height: 150%;
width: 400px;
background: #EEEEEE;
padding: 3px 0 3px 5px;
}

#fm_gazo {
margin-right: 5px;
float: left;
}

#help_title {
width: 960px;
height: 99px;
margin: 0;
padding: 0;
background: url(/style/pc/default/images/helptop.gif) no-repeat;
float: left;
}



#help_l {
width: 250px;
height: 100%;
margin: 0;
padding: 0;
float: left;
}

#help_title1 {
width: 237px;
height: 52px;
margin: 0;
padding: 0;
float: left;
background: url(/style/pc/default/images/help_title1.gif) no-repeat;
}

#help_title2 {
width: 237px;
height: 51px;
margin: 0;
padding: 0;
float: left;
background: url(/style/pc/default/images/help_title2.gif) no-repeat;
}

.help_text {
width: 237px;
height: 100%;
margin: 0;
padding: 0;
float: left;
background: url(/style/pc/default/images/help_text.gif) repeat-y;
font-weight: bold;
}

.help_text a {
color: #FF3399;

font-weight: normal;
text-decoration: underline;
}

.help_text li {
margin: 0 0 10px 0;
padding: 0 0 0 20px;
list-style: none;
font-size: 14px;
}


.help_text ul {
margin: 0;
padding: 0;
text-align: left;
background: url(/style/pc/default/images/yaji.gif) no-repeat;
list-style: url(/style/pc/default/images/yaji.gif);
}

.help_bottom {
width: 237px;
height: 21px;
margin: 0;
padding: 0;
float: left;
background: url(/style/pc/default/images/help_bottom.gif) no-repeat;
}

#help_r {
width: 690px;
height: 100%;
margin: 0;
padding: 0;
float: right;
}

#help_title3 {
width: 688px;
height: 41px;
margin-bottom: 10px;
padding: 0;
float: right;
background: url(/style/pc/default/images/help_title3.gif) no-repeat;
text-align: left;
}

#help_title3 h2 {
line-height: 150%;
font-size: 24px; font-weight: bold;
padding: 0 0 0 20px;
color: #FFFFFF;
border: none;
}

.help_cate p {
line-height: normal;
font-size: 14px;
font-weight: bold;
padding: 0 0 0 30px;
color: #000000;
border: none;
margin: 12px 0 0 0;
}

.help_cate {
width: 688px;
height: 39px;
margin-bottom: 10px;
padding: 0;
float: right;
background: url(/style/pc/default/images/help_cate.gif) no-repeat;
text-align: left;
}


.help_box {
width: 688px;
height:160px;
background: url(/style/pc/default/images/dd_bg.gif) no-repeat;
margin: 0 0 10px 0;
padding: 0;
line-height:170%;
}

.help_q {
width: 160px;
height: 100%;
margin: 0;
float: left;
color: #FFFFFF;
font-weight: bold;
text-align: right;
}

.help_qt {
width: 105px;
margin: 0;
padding-top: 10px;
float: right;
color: #FFFFFF;
font-weight: bold;
text-align: left;
}

.help_a {
width: 450px;
margin: 0;
padding: 12px;
color: #000;
float: right;
text-align: left;
}

#ufj {
width: 231px;
height: 47px;
background: url(/style/pc/default/images/logo_main.gif) no-repeat;
margin: 0px auto;
padding: 0;
float: left;
}

#rakuten {
width: 91px;
height: 45px;
background: url(/style/pc/default/images/rakutenbank.gif) no-repeat;
margin: 5px auto;
padding: 0;
float: left;
}

#card {
width: 247px;
height: 56px;
background: url(/style/pc/default/images/card.gif) no-repeat;
margin: 5px auto;
padding: 0;
float: left;
}

/*----------------------------------------ajax----------------------------------------*/

/* content */

.left{
float:left;
margin-top:.5em;
margin-right:15px;
}
.left img{
border:1px solid #e1e1e1;
border-top:1px solid #e8e8e8e8;
border-left:1px solid #e8e8e8e8;
background:#f1f1f1;
padding:5px;
}

/* slider */

#slider ul, #slider li{ 
margin:0;
padding:0;
list-style:none;
}
#slider, #slider li{ 
height:180px;
width:545px;
overflow:hidden;
}
#prevBtn, #nextBtn{ 
display:block;
width:16px;
height: 16px;
padding: 0;
position:absolute;
left:490px;
top:530px;
}
#nextBtn{ 
left:980px;
}
#prevBtn a, #nextBtn a{  
display:block;
width:16px;
height:16px;
background:url(/style/pc/default/images/btn_prev.gif) no-repeat 0 0 #FF0;
}
#prevBtn a:hover, #nextBtn a:hover{ 
background:url(/style/pc/default/images/btn_next.gif) no-repeat 0 0 #F00;
}

/* // slider */

.col strong, .full strong{
padding:0 2px;
background:#f1f1f1;
}
.col a, .full a{
font-weight:bold;
text-decoration:underline;
}


.full ul, .full li{
margin:0;
padding:0;
list-style:none;
}
.full li{
padding:3px 15px;
background:#f1f1f1;
margin-bottom:1px;
}

/* // content */



























div#slideShowItems{
  height:178px;
overflow:hidden;
position:relative;
}

div#slideShowItems div{
width:545px;

}



div#slideShowItems img {
margin-right:13px;
float:left;
}

ul#slideShowCount{
margin:0px;
padding:0px;
width:545px;
}
ul#slideShowCount li.slide{
line-height:14px;
float:right;
cursor:pointer;
width:26px;
height:18px;
display:block;
background: transparent url(/style/pc/default/images/tabs.gif) no-repeat scroll left top;
margin-right: 5px;
text-align: center;
}

ul#slideShowCount li.slide span{

padding-left:0px;
color:white;
font-weight:bold;









font-size:12px;
}

ul#slideShowCount li.slide:hover{
background-position:left -18px;
}

ul#slideShowCount li.slide.selectedTab{
background-position:left -18px;
}
div#slideShow{
width:525px;
}

/*ここから追記12/15 */

#capture_title3 {
width: 688px;
height: 41px;
margin-bottom: 10px;
padding: 0;
float: right;
background: url(/style/pc/default/images/help_title3.gif) no-repeat;
text-align: left;
}

#capture_title3 h2 {
line-height: 170%;
font-size: 18px;
font-weight: bold;
padding: 0 0 0 25px;
color: #FFFFFF;
border: none;
}


#help_title {
width: 960px;
height: 99px;
margin: 0;
padding: 0;
background: url(/style/pc/default/images/helptop.gif) no-repeat;
float: left;
}

#capture_title {

width: 960px;
height: 99px;
margin: 0;
padding: 0;
background: url(/style/pc/default/images/kouryaku_finding.jpg) no-repeat;
float: left;

}






#flow_title {

width: 960px;
height: 99px;
margin: 0;
padding: 0;
background: url(/style/pc/default/images/nagare_finding.jpg) no-repeat;
float: left;


}

.capture_box_wrap2 {

margin-top:15px;


}

.capture_box1 {

float:left;
padding-top:19px;

}

.capture_box2 {



margin-top:

}

.capture_box_finding {

float:right;

}

.capture_box_text {

width:433px;
padding-top:25px;
font-size:14px;
line-height:150%;
text-align:left;

}

.capture_box_text2 {

margin-top:25px;
color:#e60012;

}

.capture_box_footer {

margin-top:40px;
font-size:14px;
line-height:150%;
text-align:left;

}


#capture_title3 {
width: 688px;
height: 41px;
margin-bottom: 10px;
padding: 0;
float: right;
background: url(/style/pc/default/images/help_title3.gif) no-repeat;
text-align: left;
}

#capture_title3 h2 {
line-height: 170%;
font-size: 18px;
font-weight: bold;
padding: 0 0 0 25px;
color: #FFFFFF;
border: none;
}

/* ここから追記10/23 */
.prd_header2{
width:300px;
float:left;
clear:both;
margin-top:95px;
display:inline;
line-height:100%;

}

.prd_header2 p{
font-size:12px;
}


#end_box{
height: 223px;
width: 312px;
float: left;
background-image: url(/style/pc/default/images/end_oku.jpg);
background-repeat: no-repeat;
background-position: center top;
margin-bottom:10px;
}

.prd_header3{
font-size:12px;
font-weight:bold;
width:290px;
height:75px;
padding-top:18px;
color:#FFFFFF;
margin-left:auto;
margin-right:auto;
}


/*開催中オークションリンク*/
.prd_header a{
color:#0042d7;
}
.prd_header a:link {
color:#0042d7;
}
.prd_header a:visited {
color:#0042d7;
}
.prd_header a:hover {
	color:#f27200;
 	text-decoration: underline;
	font-weight:bold;
}
.prd_header a:active {
color:#0042d7;
}

/*終了オークションリンク*/
.prd_header3 a{
color:#FFFFFF;
}
.prd_header3 a:link {
color:#FFFFFF;
}
.prd_header3 a:visited {
color:#FFFFFF;
}
.prd_header3 a:hover {
color:#FFFFFF;
}
.prd_header3 a:active {
color:#FFFFFF;
}


.prd_header3 span{
color:#ff0000;
}

.box_wrap .box_wrap{
width:312px;
}

.box_wrap .img {
height: 110px;
width: 144px;
float: left;
padding-top: 15px;
padding-left: 9px;
}
.box_wrap .txt_box {
padding-top: 10px;
float: left;
width: 141px;
padding-rigt:9px;
}
.txt_box .txt1 {
font-size: 11px;
text-align: center;
}
.txt_box .txt2 {
font-size: 24px;
font-weight: bold;
color: #2851ce;
}
.txt_box .txt4 {
font-size: 14px;
font-weight: bold;
color: #f32879;
}
.txt_box .txt6 {
font-size: 11px;
font-weight: bold;
color: #f32879;
}

.dis_rate{
color:#FFFFFF;
font-size:20px;
margin-top:14px;
margin-left:2px;
font-weight:bold;
height:15px;
}

.aci_icon2 {
width: 39px;
height: 39px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:0px;


}

.aci_icon2 {
background-image: url(/style/pc/default/images/icon_02.png);
}


#guide_title {
width: 960px;
height: 99px;
margin: 0;
margin-bottom:15px;
padding: 0;
background: url(/style/pc/default/images/helptop.gif) no-repeat;
float: left;
}

#guide_l {
width: 250px;
height: 100%;
margin: 0;
padding: 0;
float: left;
}

#guide_title4 {
width: 237px;
height: 60px;
margin: 0;
padding: 0;
float: left;
background: url(/style/pc/default/images/mypage_myacu_bg.jpg) no-repeat;
}

#guide_title5 {
width: 237px;
height: 60px;
margin: 0;
padding: 0;
float: left;
background: url(/style/pc/default/images/mypage_acount_bg.jpg) no-repeat;
}

.guide_text2 {
width: 237px;
height: 100%;
margin: 0;
padding: 0;
float: left;
background: url(/style/pc/default/images/help_text.gif) repeat-y;
font-weight: bold;
padding-top:5px;
}

#guide_l a {
color: #FF3399;
font-weight: normal;
text-decoration: underline;
}

#help_l a {
color: #FF3399;
font-weight: normal;
text-decoration: underline;
}

.guide_text2 li {
margin: 0 0 10px 0;
padding: 0 0 0 20px;
list-style: none;
font-size: 14px;
}

.guide_text2 ul {
margin: 0;
padding: 0;
text-align: left;
background: url(/style/pc/default/images/yajib.gif) no-repeat;
list-style: url(/style/pc/default/images/yajib.gif);
}

#guide_title1 {
width: 237px;
height: 52px;
margin: 0;
padding: 0;
float: left;
background: url(/style/pc/default/images/help_title1.gif) no-repeat;
}

#guide_title2 {
width: 237px;
height: 51px;
margin: 0;
padding: 0;
float: left;
background: url(/style/pc/default/images/help_title2.gif) no-repeat;
}

.guide_text {
width: 237px;
height: 100%;
margin: 0;
float: left;
background: url(/style/pc/default/images/help_text.gif) repeat-y;
font-weight: bold;
padding-top:5px;
}

.help_text a {

color: #FF3399;
font-weight:normal;
text-decoration: underline;

}

.guide_text a {
color: #FF3399;
font-weight:normal;
text-decoration: underline;
}


.guide_text li {
margin: 0 0 10px 0;
padding: 0 0 0 20px;
list-style: none;
font-size: 14px;
}

.guide_text ul {
margin: 0;
padding: 0;
text-align: left;
background: url(/style/pc/default/images/yaji.gif) no-repeat;
list-style: url(/style/pc/default/images/yaji.gif);
}

.guide_bottom {
width: 237px;
height: 21px;
margin: 0;
padding: 0;
float: left;
background: url(/style/pc/default/images/help_bottom.gif) no-repeat;
}



#guide_r {
width: 690px;
height: 100%;
margin: 0;
padding: 0;
float: right;
}

#txt{
line-height:20px;
text-align:left;
}

#guide_r table{
width:100%;
margin:0px 0px 10px 0px;
padding:0px;
border-collapse:collapse;
border-top:1px dotted #999999;
margin-bottom:30px;
}

#guide_r .tdttl2 {
width:25%;padding:10px 10px 10px 10px;
text-align:left;vertical-align:top;color:#666666;
background-color:#EEEEEE;
border-bottom:1px dotted #999999;
line-height:22px;
}

#guide_r .tdtext2 {
padding:10px 10px 10px 10px;
border-bottom:1px dotted #999999;border-left:3px double #CCCCCC;
line-height:22px;
}

#guide_r #mypage_title3 {
width: 688px;
height: 41px;
padding: 0;
float: right;
background: url(/style/pc/default/images/help_title3.gif) no-repeat;
text-align: left;
margin-bottom:10px;
margin-top:20px;
}

#mypage_title3 h2 {
line-height: 150%;
font-size: 24px;
font-weight: bold;
padding: 0 0 0 20px;
color: #FFFFFF;
border: none;
}

#guide_r #guide_title3 {
width: 688px;
height: 41px;
padding: 0;
float: right;
background: url(/style/pc/default/images/help_title3.gif) no-repeat;
text-align: left;
margin-bottom:10px;
}

#guide_title3 h2 {
line-height: 150%;
font-size: 24px;
font-weight: bold;
padding: 0 0 0 20px;
color: #FFFFFF;
border: none;
}

.guide_cate p {
line-height: normal;
font-size: 14px;
font-weight: bold;
padding: 0 0 0 30px;
color: #000000;
border: none;
margin: 12px 0 0 0;
}

.guide_cate {
width: 688px;
height: 39px;
margin-bottom: 10px;
padding: 0;
float: right;
background: url(/style/pc/default/images/help_cate.gif) no-repeat;
text-align: left;
}

.guide_box {
width: 688px;
height: 139px;
background: url(/style/pc/default/images/dd_bg.gif) no-repeat;
margin: 0 0 10px 0;
padding: 0;
}

.guide_q {
width: 160px;
height: 100%;
margin: 0;
padding-top: 10px;
float: left;
color: #FFFFFF;
font-weight: bold;
text-align: right;
}

.guide_qt {
width: 105px;
margin: 0;
padding-top: 10px;
float: right;
color: #FFFFFF;
font-weight: bold;
text-align: left;
}

.guide_a {
width: 450px;
margin: 0;
padding: 12px;
color: #000;
float: right;
text-align: left;
}








#coin_wrap {
width: 666px;
clear: both;
margin-top: 15px;

}
#coin_comment {
color: #0000FF;
clear: both;
margin-top: 15px;
margin-bottom: 20px;
font-size: 14px;
}
#coin_wrap .img {
float: left;
}

#coin_wrap .img a:hover{
top:1px;
left:1px;
position:relative;
}



#coin_wrap .box1 {
height: 72px;
width: 180px;
background-color: #e7e7e7;
float: left;
margin-left: 15px;
}
.box1 .txt {
font-weight: bold;
font-size: 15px;
padding-top: 27px;
text-align: center;
}

#coin_wrap .box2 {
height: 72px;
width: 180px;
background-color: #e7e7e7;
float: left;
margin-left: 15px;
}

.box2 .txt {
font-weight: bold;
font-size: 13px;
padding-top: 27px;
text-align: center;

float: left;
width: 100px;
color: #FF0000;
}







/* slot用のcss */

.slot_bg01 {
background-image: url(/style/pc/default/images/slot_01.jpg);
background-repeat: no-repeat;
height: 110px;
width: 933px;
margin-top: 20px;
}
.slot_bg01 .count {
height: 50px;
width: 313px;
float: right;
font-size: 20px;
font-weight: bold;
color: #76c33b;
margin-top: 30px;
}
.slot_bg01 .txt1 {
height: 20px;
width: 400px;
margin-top: 70px;
float: left;
text-align: left;
margin-left: 20px;
}
.slot_bg01 .txt2 {
float: right;
height: 20px;
width: 313px;
font-size: 12px;
}
.slot_game {
width: 602px;
float: left;
height: 660px;
}
.slot_gluf {
float: right;
margin-right: 7px;
margin-top: 30px;
}

.txt3_box {
background-image: url(/style/pc/default/images/slot_03.jpg);
height: 100px;
width: 933px;
clear: both;
background-repeat: no-repeat;
background-position: left top;
}
.txt3_box .txt3 {
width: 750px;
float: left;
margin-left: 130px;
margin-bottom:30px;
text-align: left;
font-size: 11px;
line-height: 160%;
}


#winner_comment {
padding-top:15px;
width: 688px;
float:left;
margin:0 -3px 0 0;
background-image: url(/style/pc/default/images/background_image_c.jpg);
background-position: center center;
background-repeat: repeat-y;
font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";

}

.center_comment {

background:url(/style/pc/default/images/backgroundborder.jpg) repeat-y;

}

#contentmain {

font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";

}

#content_a {
display: inline-block;
background-image:url("/style/pc/default/images/background-image2.jpg");
background-repeat:no-repeat;
width:673px;
margin-left:7px;
padding-bottom:10px;
}


#contentmain_b2 {
width:673px;
        height:974px;
font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
        margin-top:30px;

}

#content_a2 {
margin:17px 14px 0px 14px;
display: inline-block;
width:660px;
}


#content_left {
width:498px;
        float:left;
margin:0 -3px 0 0;
}



#content_left h4 {
float:left;
width:438px;
margin:0 -3px 0 0;
font-size:16px;
padding:35px 0px 0px 60px;
color:#006ddd;
text-align:left;
}


#content_left h5 {
float:left;
width:473px;
margin:0 -3px 0 0;
padding:20px 0px 10px 25px;
font-size:16px;
height:20px;
text-align:left;
}

#content_a span {
color:#ff0000;
}
#content_right {
width:89px;
    float:right;
margin:0 0 0 -3px;
padding-right:20px;
text-align:center;

}


#content_right h5 {
font-size:14px;
margin:40px 0px 0px 0px;
padding-bottom:10px;
}
#content_left #text {
float:left;
margin:0 -3px 0 0;
width: 450px;
padding-left: 24px;
line-height: 150%;
font-size: 15px;
text-align:left;

}

#content_right h6 {
margin:0;
font-size:24px;
font-wight:bold;
color:#ff0000;
padding:1px 0px 5px 0px;
}
#content_right span {
font-size:12px;
color:#000000;
}

#imagewrap {
text-align:center;
padding-top:30px;
}

#commodity_txt{
line-height:21px;
}


#login_form {
background-image: url(/style/pc/default/images/login_page_bg1.jpg);
background-repeat: no-repeat;
height: 352px;
width: 960px;
text-align:center;
font-size:12px;
padding-top:40px;
margin-top:25px;
}

#login_form table {

}
#login_form td {
padding: 10px;
}


#mypage_header {
background: url(/style/pc/default/images/mypage_header.jpg) no-repeat;
height: 171px;
width: 960px;
}

#mypage_header .btn1 {
float: left;
height: 41px;
width: 135px;
margin-top: 122px;
padding-left: 105px;
}

#mypage_header .btn2 {
float: left;
height: 41px;
width: 135px;
margin-top: 122px;
padding-left: 10px;
}


#watch_btn {
margin-top: 10px;
}


.auc_datail_btn {
padding-top:20px;
padding-bottom:20px;
text-align: center;
}


.watboxttl{
font-size: 10px;
}

.wattd01{
font-size: 10px;
}

.wattd02{
font-size: 10px;
}

.wattd04{
font-size: 10px;
}

#adsright1{
float: right;
width:239px;
height:218px;
margin-left:-3px;
}


#watbox{
padding-left:5px;
}

#txt {

clear:both;
}

#txt h2 {
color:#fb3282;
font-size:14px;
border:none;
padding:10px 0px 0px 15px; 
width:673px;
height:37px;
background:url(/style/pc/default/images/sitemaph3.jpg) no-repeat;

}

#txt h3 {
color:#fb3282;
font-size:14px;
padding:10px 0px 0px 15px; 
width:673px;
height:37px;
background:url(/style/pc/default/images/sitemaph3.jpg) no-repeat;
}

#txt h4 {
color:#fb3282;
font-size:14px;
font-weight:bold;
padding:10px 0px 10px 0px; 
}

#txt ul li a {
color:#000000;
text-decoration:underline;
}

#txt ul li a:hover {
color:#fb3282;
}

.buttononoff {
margin-left:auto;
margin-right:auto;
width:85%;
text-align:left;
height:85%;
}

#adsright2 {
top:-300px;
}

/* footer */

#varyu_footerwrap {
padding-top:15px;
width:960px;
margin:0 auto;
line-height:150%;
}

#varyu_blog {
width:327px;
padding-top:40px;
padding-left:633px;
background:url(/style/pc/default/images/varyu_qa.jpg) no-repeat;

}

#twitter {

margin-top:15px;

}

#varyu_tweet {

padding-left:10px;
float:right;

}

#varyu_follow {

float:right;

}

#varyu_footermenu {

padding-top:81px;
width:960px;
background:url(/style/pc/default/images/footer_background.jpg) no-repeat;


}

#navi_left {

width:485px;
float:left;

}

#navi_right {

text-align:left;
width:475px;
float:right;

}

#about_varyu {

text-align:left;
width:232px;
float:left;

}

#varyu_info {

padding-left:11px;
text-align:left;
width:232px;
float:left;

}

#varyu_credit {
width:232px;
float:left;

}

#varyu_favorite {
width:232px;
float:right;

}

#pagetop {

padding-top:15px;
padding-right:152px;
width:808px;
float:right;

}

#pagetop a {

float:right;
display:block;
width:112px;
height:21px;
background:url(/style/pc/default/images/varyu_pagetop.jpg) no-repeat;

}

#pagetop a:hover {

background:url(/style/pc/default/images/varyu_pagetop_o.jpg) no-repeat;

}

#copyrightwrap {

width:1260px;

}

#copymenu {

width:1260px;
background-color:#fb3282;

} #copymenu ul {

padding-top:20px;
padding-bottom:20px;
width:1260px;
margin:0 auto;

}

#copymenu li {

color:#ffffff;
display:inline;

}

#copymenu li a {

color:#ffffff;

}

#copyright {

width:1260px;
padding-top:15px;
padding-bottom:15px;
background:url(/style/pc/default/images/copyrightbackground.jpg) repeat-x;
color:#ffffff;
text-align:center;

}

#clear {
clear:both;
}


/* HELP PARTS
------------------------------------------------------------------- */
.treeclose {
font-size:10px;
}

.helpttl a {
color:#ffffff;
border:2px solid #60C405;
background-color:#9AEF4D;
font-weight:bold;
}
.helpttl a:hover {
color:#5383c3;
border:2px solid #d4dcd6;
background-color:#d4dcd6;
font-weight:bold;
}


/*JUITTER PLUGIN CSS*/

#juitterContainer{} /*Juitter container*/

#juitterContainer .twittList{margin:0;padding:0;} /* UL that will contain the list of tweets */

/* Bellow the list of tweets "<li>" */

#juitterContainer .twittLI{list-style:none;margin:0;padding:5px 0 0 0;border-bottom:dashed 1px #CAF8C9;padding:3px;clear:both;height:55px; font-size:10px; line-height:13px;} 
#juitterContainer .twittList SPAN.time{ clear:both;}
#juitterContainer .twittList A{color:#006600;} /*Links inside the tweets list */

/* Bellow the CSS for the avatar image  */

#juitterContainer .juitterAvatar{float:left;border:solid 1px #D3EECA;background:#FFF;margin-right:3px;padding:2px;width:33px;;height:33px;-ms-interpolation-mode: bicubic; }

#juitterContainer .jRM{float:right;clear:both} /*read it on twitter link*/

#juitterContainer .extLink{} /*CSS for the external links*/

#juitterContainer .hashLink{} /*CSS for the hash links*/

/*end of Juitter CSS*/


.aci_icon3 {
width: 50px;
height: 50px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:-6px;
}


.aci_icon3 {
background-image: url(../../../style/pc/default/images/rakusatsu100.gif);
}


/* ICON 
------------------------------------------------------------------- */


.aci_icon_pickup {
width: 60px;
height: 60px;
display: block;
position: absolute;
}

/* 以下オークションIDによるアイコン表示設定
　　例：　.aci_icon1　は　ID=1　…フリーオークション用 */

/* ID=1 フリーオークション */
/* ID=2 ビギナーズオークション */
/* ID=3 1円オークション */
/* ID=4 通常オークション */
/* ID=5 自動入札禁止オークション1円 */
/* ID=6 自動入札禁止オークション15円 */
/* ID=7 ダウンオークション */

.aci_icon1 {
width: 39px;
height: 39px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.aci_icon2 {
width: 39px;
height: 39px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.aci_icon3 {
width: 39px;
height: 39px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.aci_icon4 {
width: 39px;
height: 39px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.aci_icon5 {
width: 39px;
height: 39px;
display: block;
position: absolute;
padding:0;

margin-top:0;
margin-left:6px;
}
.aci_icon6 {
width: 39px;
height: 39px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.aci_icon7 {
width: 39px;
height: 39px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.aci_icon8 {
width: 39px;
height: 39px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.aci_icon9 {
width: 39px;
height: 39px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.aci_icon10 {
width: 39px;
height: 39px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.aci_icon11 {
width: 39px;
height: 39px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.aci_icon12 {
width: 39px;
height: 39px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.ac_icon1 {
width: 160px;
height: 110px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.ac_icon2 {
width: 160px;
height: 110px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.ac_icon3 {
width: 160px;
height: 110px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.ac_icon4 {
width: 160px;
height: 110px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.ac_icon5 {
width: 160px;
height: 110px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.ac_icon6 {
width: 160px;
height: 110px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.ac_icon7 {
width: 160px;
height: 110px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.ac_icon8 {
width: 160px;
height: 110px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.ac_icon9 {
width: 160px;
height: 110px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.ac_icon10 {
width: 160px;
height: 110px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.ac_icon11 {
width: 160px;
height: 110px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}
.ac_icon12 {
width: 160px;
height: 110px;
display: block;
position: absolute;
padding:0;
margin-top:0;
margin-left:6px;
}




/*   1/16追記   */

#headergif {

margin:0 auto;
width:960px;
height:359px;
background: url(../../../style/pc/default/images/topanime.gif) no-repeat ;

}

#headertitle {

width:515px;
padding-top:20px;
text-align:left;
float:left;

}

#headertitle span {

color:#FFFFFF;
font-weight:bold;

}

#headertopmenu {

width:445px;
float:right;

}

#loginmenuwrap {

margin-top:22px;
_margin-top:21px;

}

#loginmenuwrap,  x:-moz-any-link  { 

margin-top:20px;

 }
 
*+html #loginmenuwrap { 

margin-top:22px

}

#memberregistration {

float:left;
width:400px;


}

#memberbutton {

margin-top:179px;
margin-left:126px;

}

#memberbutton a {

display:block;
width:274px;
height:108px;
background: url(../../../style/pc/default/images/f_entry.gif) no-repeat top;

}

#myfriendbutton {

margin-top:179px;
margin-left:126px;


}

#myfriendbutton a {

display:block;
width:274px;
height:108px;
background: url(../../../style/pc/default/images/f_friend.gif) no-repeat top;

}


#memberbutton a:hover {

background: url(../../../style/pc/default/images/f_entry.gif) no-repeat bottom;

}

#myfriendbutton a:hover {

background: url(../../../style/pc/default/images/f_friend.gif) no-repeat bottom;

}

#imagemenu {

width:560px;
float:right;

}

#mypagewrap {

margin-top:22px;

}

#slotbutton {

float:left;

}

#slotbutton a {

margin-top:49px;
margin-left:136px;
display:block;
width:175px;
height:83px;
background: url(../../../style/pc/default/images/slotbutton.gif) no-repeat;

}

*+html #slotbutton a {

margin-top:49px;
margin-left:136px;
display:block;
width:175px;
height:83px;
background: url(../../../style/pc/default/images/slotbutton.gif) no-repeat;

}

#slotbutton a:hover {

background: url(../../../style/pc/default/images/slotbutton_o.gif) no-repeat;

}

#beginnerbutton {

float:right;

}

#beginnerbutton a {

margin-top:17px;
margin-right:1px;
display:block;
width:188px;
height:75px;
background: url(../../../style/pc/default/images/beginnerbutton.gif) no-repeat;

}

*+html #beginnerbutton a {

margin-top:17px;
margin-right:1px;
display:block;
width:188px;
height:75px;
background: url(../../../style/pc/default/images/beginnerbutton.gif) no-repeat;

}

#beginnerbutton a:hover {

background: url(../../../style/pc/default/images/beginnerbutton_o.gif) no-repeat;

}

#coinbutton {

float:left;

}

#coinbutton a {

margin-top:30px;
margin-left:27px;
display:block;
width:184px;
height:74px;
background: url(../../../style/pc/default/images/coinbutton.gif) no-repeat;

}

#coinbutton a:hover {

background: url(../../../style/pc/default/images/coinbutton_o.gif) no-repeat;

}

#voicebutton {

float:left;

}

#voicebutton a {

margin-top:68px;
margin-left:24px;
display:block;
width:161px;
height:68px;
background: url(../../../style/pc/default/images/voicebutton.gif) no-repeat;

}

#voicebutton a:hover {

background: url(../../../style/pc/default/images/voicebutton_o.gif) no-repeat;

}

#whatbutton {

float:left;

}

#whatbutton a {

margin-top:13px;
margin-left:5px;
display:block;
width:159px;
height:100px;
background: url(../../../style/pc/default/images/whatbutton.gif) no-repeat;

}

#whatbutton a:hover {

background: url(../../../style/pc/default/images/whatbutton_o.gif) no-repeat;

}

#categorymenu {

width:960px;
margin:0 auto;

}

#categorymenu ul {

width:960px;
list-style:none;
margin:0;
padding:0;
margin-top: 6px\9;
_margin-top:3px;

}

*+html #categorymenu ul { 

width:960px;
list-style:none;
margin-top:2px;
padding:0;

}

*+html #categorymenu ul { 

width:960px;
list-style:none;
margin-top:2px;
padding:0;

}

#categorymenu ul,  x:-moz-any-link  { 

width:960px;
list-style:none;
margin-top:6px;
padding:0;

 }

#categorymenu li {
list-style:none;
float:left;
padding:0;
margin:0;

}

#category1 a {

display:block;
width:125px;
height:53px;
background: url(../../../style/pc/default/images/categorymenu1.jpg) no-repeat;

}

#category1 a:hover {

background: url(../../../style/pc/default/images/categorymenu1_o.jpg) no-repeat;

}

#category2 a {

display:block;
width:184px;
height:53px;
background: url(../../../style/pc/default/images/categorymenu2.jpg) no-repeat;

}

#category2 a:hover {

background: url(../../../style/pc/default/images/categorymenu2_o.jpg) no-repeat;

}

#category3 a {

display:block;
width:108px;
height:53px;
background: url(../../../style/pc/default/images/categorymenu3.jpg) no-repeat;

}

#category3 a:hover {

background: url(../../../style/pc/default/images/categorymenu3_o.jpg) no-repeat;

}

#category4 a {

display:block;
width:123px;
height:53px;
background: url(../../../style/pc/default/images/categorymenu4.jpg) no-repeat;

}

#category4 a:hover {

background: url(../../../style/pc/default/images/categorymenu4_o.jpg) no-repeat;

}

#category5 a {

display:block;
width:123px;
height:53px;
background: url(../../../style/pc/default/images/categorymenu5.jpg) no-repeat;

}

#category5 a:hover {

background: url(../../../style/pc/default/images/categorymenu5_o.jpg) no-repeat;

}

#category6 a {

display:block;
width:93px;
height:53px;
background: url(../../../style/pc/default/images/categorymenu6.jpg) no-repeat;

}

#category6 a:hover {

background: url(../../../style/pc/default/images/categorymenu6_o.jpg) no-repeat;

}

#category7 a {

display:block;
width:108px;
height:53px;
background: url(../../../style/pc/default/images/categorymenu7.jpg) no-repeat;

}

#category7 a:hover {

background: url(../../../style/pc/default/images/categorymenu7_o.jpg) no-repeat;

}

#category8 a {

display:block;
width:96px;
height:53px;
background: url(../../../style/pc/default/images/categorymenu8.jpg) no-repeat;

}

#category8 a:hover {

background: url(../../../style/pc/default/images/categorymenu8_o.jpg) no-repeat;

}

#headerbottom {

margin-top:15px;
_margin-top:13px;

}

*+html #headerbottom {

margin-top:12px;

}

.bonus_bg{
height:407px;
width:615px;
background: url(/style/pc/default/images/guideimg07.jpg) no-repeat top;
margin-bottom:25px;
}

.bonus_bg .txt1{
padding-left:138px;
padding-top:135px;
width:550px;
height:50px;
}

.bonus_bg .txt2{
padding-left:138px;
padding-top:140px;
width:550px;
height:50px;
}

.bonus_bg2{
clear: both;
height:170x;
width:615px;
background: url(/style/pc/default/images/guideimg07_2.jpg) no-repeat top;
margin-bottom:25px;
}

.bonus_bg2_txt{
padding-top:65px;
width:380px;
padding-left:310px;
}

#right_open{
width:765px;
float:right;
}

#side_cate{
float:left;
width: 183px;
}

.side_cate {
width: 183px;
background-image: url(http://v-market.jp/style/pc/default/images/side_cate_bg.jpg);
background-repeat: no-repeat;
background-position: center top;
}

.side_cateimg{
margin-top:28px;
}

.side_cate img{
margin-top:2px;
}

.datail_auto {
	width: 236px;
	float:right;
	margin:5px 0px 5px 0px;
}

#cate_menu2{
width:1100px;
padding-left:150px;
}

#cate_menu2 img{
	float:left;
	padding:0px;
	margin:0px;
}

#cate_menu2 .bottom{
	padding-top:1px;
}



/* -- 2月18日追記ここから -- */

.pass_top{
font-size: 10px;
height:15px;
text-align: right;
}

#slotbutton_1 {

float:left;

}

#slotbutton_1 a {

margin-top:34px;
margin-left:136px;
display:block;
width:175px;
height:83px;
background: url(../../../style/pc/default/images/slotbutton.gif) no-repeat;

}

*+html #slotbutton_1 a {

margin-top:34px;
margin-left:136px;
display:block;
width:175px;
height:83px;
background: url(../../../style/pc/default/images/slotbutton.gif) no-repeat;

}

#slotbutton_1 a:hover {

background: url(../../../style/pc/default/images/slotbutton_o.gif) no-repeat;

}

#beginnerbutton_1 {

float:right;

}

#beginnerbutton_1 a {

margin-top:2px;
margin-right:1px;
display:block;
width:188px;
height:75px;
background: url(../../../style/pc/default/images/beginnerbutton.gif) no-repeat;

}

*+html #beginnerbutton_1 a {
margin-top:2px;
margin-right:1px;
display:block;
width:188px;
height:75px;
background: url(../../../style/pc/default/images/beginnerbutton.gif) no-repeat;

}

#beginnerbutton_1 a:hover {
background: url(../../../style/pc/default/images/beginnerbutton_o.gif) no-repeat;
}

#memberbutton_1 {

margin-top:164px;
margin-left:126px;

}

#memberbutton_1 a {

display:block;
width:274px;
height:108px;
background: url(../../../style/pc/default/images/f_entry.gif) no-repeat top;

}

#memberbutton_1 a:hover {

background: url(../../../style/pc/default/images/f_entry.gif) no-repeat bottom;

}


/* -- 2月18日追記ここまで -- */


/* -- 3月1日追記ここから -- */
.regist_atten{
	text-align:left;
	font-size:10px;
	line-height:12px;
}
/* -- 3月1日追記ここまで -- */


html>/**/body #categorymenubottom{margin-top /*\**/: -11px\9;}



/* 会員登録追記 */

.lside {

width:150px;
padding:10px;
background-color:#fcf1b2;
font-weight:bold;

}

.rside {

padding-left:5px;

}

.rside input {

height:20px;
font-size:14px;
line-height:1.5em;

}

/* -- 3月4日追記ここから -- */

.box2 .txt_wrap{
	width:100px;
	float:left;
}

.box2 .txt2 {
font-weight: bold;
font-size: 10px;
padding-top: 5px;
text-align: center;
color: #0054ff;
}

.box2 .txt3 {
font-weight: bold;
font-size: 13px;
padding-top: 0px;
text-align: center;
color: #0054ff;
}

.box2 .txt4 {
font-weight: bold;
font-size: 14px;
padding-top: 0px;
text-align: center;
color: #FF0000;
}
/* -- 3月4日追記ここから -- */