@charset "utf-8";

body {
    font-size: 9pt;
    margin: 0px;
    font-family: "メイリオ",Meiryo,"MS P Gothic","ＭＳ Ｐゴシック",Verdana,Arial,sans-serif;
}

/*************************************************************

  ヘッダーメニューのスタイルです

 *************************************************************/

/* 番組名、アカウント表示領域 */
body.head {
    font-size: 14pt;
    font-family: "メイリオ",Meiryo,"MS P Gothic","ＭＳ Ｐゴシック",Verdana,Arial,sans-serif;
    font-weight: bold;
    background: #0030BF;/* #0035D5 or blue */
    color: #FFF;
    margin: 0px;
    padding: 5px;
}

/* ログアウト */
body.logout {
    font-size: 12pt;
    font-family: "メイリオ",Meiryo,"MS P Gothic","ＭＳ Ｐゴシック",Verdana,Arial,sans-serif;
    font-weight: bold;
    background: #EAEFFF;/*#645C78;*//* #fff */
    color: #000;
    margin: 0px;
    padding: 5px;
}
body.logout a:active {
    color: #000; /* #000 */
}
body.logout a:link {
    color: #000; /* #000 */
}
body.logout a:hover {
    color: #000; /* #000 */
}
body.logout a:visited {
    color: #000; /* #000 */
}

/* カテゴリボタン領域 */
body.category {
    font-size: 9pt;
    font-family: "メイリオ",Meiryo,"MS P Gothic","ＭＳ Ｐゴシック",Verdana,Arial,sans-serif;
    background: #EAEFFF;/*#E9E9E9;*//* #E3FFFF */
}
body.category button {
    width: 100px;
    height: 20px;/*24px;*/
    background: #fff;
    color: #645C78; /* #00F */
    white-space: nowrap;
    /* border:1 solid #A4FFA4;\ */
}
body.category button.top {
    width: 100px;
    height: 20px;/*24px;*/
    background: #ff0;
    color: #645C78; /* #00F */
    white-space: nowrap;
    /* border:1 solid #A4FFA4;\ */
}

/* カテゴリ内メニュー表示領域 */
body.sub_category {
    font-size: 9pt;
    font-family: "メイリオ",Meiryo,"MS P Gothic","ＭＳ Ｐゴシック",Verdana,Arial,sans-serif;
    background: #EAEFFF;/*#E9E9E9;*//* #E3FFFF */
}
body.sub_category a:active {
    color: #000;
}
body.sub_category a:link {
    color: #000;
}
body.sub_category a:hover {
    color: #000;
}
body.sub_category a:visited {
    color: #000;
}

/*************************************************************

  左メニューのスタイルです

 *************************************************************/

body.left {
    font-size: 9pt;
    margin: 0px;
    font-family:"メイリオ",Meiryo,"MS P Gothic","ＭＳ Ｐゴシック",Verdana,Arial,sans-serif;
    background: #EAEFFF;/*#E9E9E9;*//* #A4DBFF */
}
body.left a:active {
    color: #000;
}
body.left a:link {
    color: #000;
}
body.left a:hover {
    color: #000;
}
body.left a:visited {
    color: #000;
}
table.main_menu {
    font-size: 9pt;
    margin: 10px 5px 0px 5px;
}
table.main_menu td {
    padding: 0px 4px;
}
table.main_l {
    font-size: 9pt;
    width: 100%;
    border: 0px solid #CCCCCC;
    border-collapse: collapse;
    empty-cells: show;
}
table.main_l caption {
    padding: 4px 2px;
    margin: 0px;
    background: #CCCCFF;/*#95AFFF;*/
    border-style: outset;
    border-width: 1px;
    margin-bottom: 1px;
    text-align:left;
    color:#555;/*#0000FF;*/
    font-weight: bold;
}
table.main_l td {
    padding: 4px 2px;
    margin: 0px;
}
table.main_l th {
    padding: 3px 1px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    background: #CCCCFF;/*#95AFFF;*//*#809FFF*/
    color: #555;
    /*font-weight: normal;*/
}
table.main_r {
    font-size: 9pt;
}

/*************************************************************

  中央カラムの登録、編集、一覧画面で使用しているスタイルです。

*************************************************************/

/**
 * ■テーブル
 */

table {
    font-size:9pt;
}

/***** 編集フォーム *****/

table.form {
    border: 0px;
    font-size: 9pt;
}
table.form th {
    background: #CCCCFF;
    color: #555;
    vertical-align: middle;
    text-align: right;
    padding-left: 6px;
    padding-right: 6px;
    width: 120px;
    height: 25px;
}
table.form td {
    padding-left: 4px;
    vertical-align: middle;
    color: #555;
}

/***** 一覧データ *****/

table.list {
    font-size: 9pt;
    border-collapse: collapse;
    empty-cells: show;
}
table.list tr {
    height: 20px;
}
table.list tr.focus {
    height: 20px;
    background: #ffffd5;
}
table.list th {
    background: #CCCCFF;
    border: 1px solid #999;
    color: #555;
    vertical-align: middle;
    text-align: center;
    height: 25px;
}
table.list td {
    border: 1px solid #999;
    color: #555;
    vertical-align: middle;
}
/* データ件数表示ボックス */
table.data {
    font-size: 9pt;
    border-collapse: collapse;
    empty-cells: show;
    margin: 1px;
}
table.data th {
    border: 1px solid #BDBDBD;
    color: #555;
    vertical-align: middle;
    text-align: center;
    padding: 6px 8px;
}
table.data td {
    border: 1px solid #BDBDBD;
    color: #5D478B;
    font-weight: bold;
    vertical-align: middle;
    padding: 6px 8px;
}
/* ページャー（廃止ファイル../templ/mainte.cssからコピー） */
#mypagenum {
    color:#cccccc;
    margin:5px 0;
    padding:6px;
    clear:both;
}
#mypagenum_box {
    font-size:10px;
}
.mypagenum_box a {
    color:#666666;
    margin:0 2px;
    padding:0px 4px;
    background-color:#b0e0e6;
}
.mypagenum_box a:hover {
    color:#666666;
    text-decoratrion:underline;
    margin:0 2px;
    padding:0px 4px;
    background-color:#87ceeb;
}
.mypagenum_box2 {
    color:#666666;
    margin:0 2px;
    padding:0px 4px;
    background-color:#b0e0e6;
    font-weight:bold;
}
.mypagenum_box3 {
    color:#666;
    margin:0 2px;
    padding:0px 4px;
    background-color:#ffffff;
    border:1px solid #000000;
}
.mypagenum_box4 {
    color:#000;
    margin:0 2px;
    padding:0px 4px;
    background-color:yellow;
    border:1px solid orange;
}
.pagenum {
    font-size:12px;
    line-hight:1.3;
    text-align:right;
    margin-right:15px;
    padding:4px;
    color:#68c9dd;
}
.pagenum a:link {
    color:#4b7ecb;
    font-weight:bold;
    text-decoration:underline;
}
.pagenum a:hover {
    color:#68c9dd;
    font-weight:bold;
    text-decoration:underline;
}
#pagenum {
    color:#cccccc;
    clear:both;
    border: 1px solid #000000;
    padding:6px;
}
#pagenum_box {
    font-size:12px;
}
.pagenum_box a {
    color:#666666;
    margin:0 2px;
    padding:2px 4px;
    background-color:#b0e0e6;
}
.pagenum_box a:hover {
    color:#666666;
    text-decoratrion:underline;
    margin:0 2px;
    padding:2px 4px;
    background-color:#87ceeb;
}
.pagenum_box2 {
    color:#666666;
    margin:0 2px;
    padding:2px 4px;
    background-color:#87ceeb;
    font-weight:bold;
}
.pagenum_box3 {
    color:#666;
    margin:0 2px;
    padding:2px 4px;
    background-color:#ffffff;
    border:1px solid #000000;
}

/**
 * ■ボタン
 */

.button1 {
    background-color:#828282;
    color:#FFFFFF;
    border-color:#FFFAFA;
    margin-top:10px;
    text-align: center;
    width:80px;
}
.button2 {
    background-color:#828282;
    color:#FFFFFF;
    border-color:#FFFAFA;
    text-align: center;
}
button {
    background: #828282;
    color: #FFFFFF;
    border-color: #FFFAFA;
    text-align: center;
}
button.white {
    background: #FFFBEC;
    color: #C84B00;
    border-color: #FFFAFA;
    text-align: center;
}
input.button_white {
    background: #FFFBEC;
    color: #C84B00;
    border-color: #FFFAFA;
    text-align: center;
    white-space: nowrap;
}
/**
 * ■その他
 */

fieldset {
    font-size: 9pt;
    margin: 5px;
}
legend {
    color: #666;
}

textarea {
    font-size: 9pt;
}

*.center {
    text-align: center;
}
*.right {
    text-align: right;
}
*.alert {
    background: #F5D5FF;
}
*.warn {
    background: #FFEAAA;
}
*.disabled {
    background: #DFDFDF;
}
ul {
    list-style-type: disc;
    list-style-position: outside;
    color: #555;
    margin: 5px;
    padding-left: 10px;
}
img.prd {
    max-width:600px;
    width:expression("600px");
}
