{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

{%$h2%}上級者ガイド{%$h22%}
{%$hr2%}
<font size="2">




                残り時間がある限り､いつでも入札できる
                <br>
                入札すると入札金額が15円増え､残り時間が最大20秒のびる
                <br>
                残り時間がなくなった時点での最終入札者が落札者となり､入札額で商品を購入できる
                <br>
                入札には1回あたり1ｺｲﾝ(75円相当)消費する
                <br><br>
                基本的なﾙｰﾙはこれだけです｡ただし､ｵｰｸｼｮﾝの種類や自動入札機能により一部の条件が変更されることがあります｡




</font>
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>
