{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<div><font color="red">{%$message%}</font></div>
{%$h2%}開催中ｵｰｸｼｮﾝ{%$h22%}
{%$hr2%}
<font size="2">

<div align="center">{%$pageNumber%}</div>
{%$hr1%}


{%foreach from=$products item=product%}

<!-- ここは商品のﾃﾝﾌﾟﾚｰﾄです START    -->
{%include file='mobile/parts/prd_list_open.html'%}

<!-- ここは商品のﾃﾝﾌﾟﾚｰﾄです END     -->

{%/foreach%}
{%$hr1%}
<div align="center">{%$pageNumber%}</div>





</font>
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>
