{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

{%$h2%}終了ｵｰｸｼｮﾝ{%$h22%}
{%$hr2%}
<font size="2">



<div align="center">{%$pageNumber%}</div>
{%$hr1%}

{%foreach from=$products item=product%}
<!-- ここは商品のﾃﾝﾌﾟﾚｰﾄです START    -->
{%include file='mobile/parts/prd_list_end.html'%}
<!-- ここは商品のﾃﾝﾌﾟﾚｰﾄです END     -->
{%/foreach%}

{%$hr1%}
<div align="center">{%$pageNumber%}</div>




</font>
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>