{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<div><font color="red">{%$message%}</font></div>
{%$h2%}自動落札とは？{%$h22%}
{%$hr2%}
<font size="2">

自動落札設定とは、入札を開始する金額、入札をｽﾄｯﾌﾟする金額、入札する回数を事前に設定する事で、ﾘｱﾙﾀｲﾑにｻｲﾄにｱｸｾｽできない時でも、気軽に入札に参加できるｼｽﾃﾑです。<BR><BR>

<font color="{%$cl3%}">■</font>下限額(入札を開始する金額)を設定しよう！<BR>
例えば100円と設定した場合、商品の入札価格が100円に達した時点から入札に参加し始めます<BR>


</font>
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>