{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}
<div><font color="red">{%$message%}</font></div>
{%$h2%}銀行振込{%$h22%}
{%$hr2%}



<font size="2">
    {%if $type==0 %}


<font color="#CD5C5C"></font>{%$POINT_NAME%}数:{%$coin->f_coin%} {%$POINT_NAME%}<br>
<font color="#CD5C5C"></font>値段:{%$coin->f_inp_money%}円<br>
<font color="#CD5C5C"></font>振込金額:{%$coin->f_inp_money%}円

    {%else%}
    
<font color="#CD5C5C"></font>商品名:{%$product->f_products_name%}<br>
<font color="#CD5C5C"></font>振込金額:{%$product->total_price %}円

    {%/if%}

{%$hr1%}


<font color="#CD5C5C"></font>振込先銀行名:三菱東京ＵＦＪ銀行(コード:0005)<br>
<font color="#CD5C5C"></font>振込先支店名:<br>
<font color="#CD5C5C"></font>振込先預金科目:普通<br>
<font color="#CD5C5C"></font>振込先口座番号:<br>
<font color="#CD5C5C"></font>受取人口座名義:ユ）アークコミュニケーションズ<hr color="#CD5C5C" size="2">

</font>

{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>
