{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

{%$h2%}{%$POINT_NAME%}購入方法選択{%$h22%}
{%$hr2%}

<font size="2">

<font color="{%$cl3%}"></font>購入内容:<br>
{%$menu->f_coin%}{%$POINT_NAME%}({%$menu->f_coin%}入札分)<br>
<font color="#CD5C5C"></font>支払い:{%$menu->f_inp_money%}円<br>
    <br>
<font color="red"><b>ご注意下さい！！</b></font><br>
<font size="1">
    ・1入札で1{%$POINT_NAME%}を使用します。<br>
    ・{%$POINT_NAME%}は一切返金できません。<br>
    ・入札に使用された{%$POINT_NAME%}は落札可否にかかわらず返却されません。
</font>
{%$hr1%}

<font color="{%$cl3%}"></font>以下から支払い方法を選んでください。<br>
       <!--削除禁止 ここから-->
       <form method="GET" action="/cli_ep.php/mbpay/">
       <input type="hidden" value="{%$menu->f_inp_money%}" name="buy_money"/>
       <input type="hidden" value="{%$menu->f_coin%}" name="coin_count"/>
       <input type="hidden" value="0" name="sf_money"/>
       <!--削除禁止 ここまで-->

<div id="payment_choice">

                <!-- ここはコイン購入のメニュー  start -->
				{%foreach from=$methods item=method name=buymethod %}
					{% if $smarty.foreach.buymethod.first==1 %}
<input type="radio"  name="payment" id="payment_credit_{%$method->fk_shiharai_type_id%}" value="{%$method->fk_shiharai_type_id%}" checked><br>
					{% else %}
<input type="radio"  name="payment" id="payment_credit_{%$method->fk_shiharai_type_id%}" value="{%$method->fk_shiharai_type_id%}"><br>
					{% /if %}
<label for="payment_credit">{%$method->f_shiharai_name%}</label><br>

                {%/foreach%}
                <!-- ここはコイン購入のメニュー  end -->
</div>
       <input type="hidden" value="{%$type%}"	name="type"/>
       <input type="hidden" value="{%$menu->fk_coin_id%}"	name="coin_menu_id"/>
        <input type="submit" value="購入" />
</form>
</font>



{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>

