{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<div style="color:red">{%$message%}</div>


{%$h2%}{%$POINT_NAME%}購入{%$h22%}
{%$hr2%}


<font size="2">

{%$SITE_NAME%}ではオークションの入札手数料として「{%$POINT_NAME%}」が必要です。購入したい{%$POINT_NAME%}(枚数)を選択してください。


    <!-- ここはコイン購入のメニュー  start -->
{%foreach from=$menu item=coin%}
<hr color="#cccccc" size="1">
<font color="#CD5C5C"></font>{%$coin->f_coin%}枚<br>
<font color="#CD5C5C"></font>{%$coin->f_inp_money%}円<br>
<a href="{%$SERVER_PATH%}/coin/buy?coin_id={%$coin->fk_coin_id%}">購入</a>
{%/foreach%}
    <!-- ここはコイン購入のメニュー  end -->
<!--G.Chin APROS 2010-09-01 add sta-->
<br>
{% if $publicsite_cnt > 0 %}
       あと少しｺｲﾝが欲しい、ｸﾚｼﾞｯﾄｶｰﾄﾞを持っていない、そんな方はｺﾁﾗ↓<br>
　　　{%$publicsite_str%}
{%/if%}
<!--G.Chin APROS 2010-09-01 add end-->



</font>

{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>

