{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

{%$h2%}三つの誓約{%$h22%}
{%$hr2%}
<font size="2">


<div align="center"><font color="{%$cl3%}">①公平</font></div>
{%$SITE_NAME%}は公平な運営を目指します｡ｻｸﾗ入札､内部入札､機械入札､など運営側の入札は一切ありません｡
    <br>
    <br>
<div align="center"><font color="{%$cl3%}">②安心</font></div>

{%$SITE_NAME%}の商品はすべて新品未開封､ﾒｰｶｰの保証付きです｡ご安心ください｡
    <br>
    <br>

<div align="center"><font color="{%$cl3%}">③公開</font></div>
{%$SITE_NAME%}はﾕｰｻﾞの皆さまにｵｰｸｼｮﾝの仕組みをより理解いただいけるよう説明の向上を常に目指します｡


</font>
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>