{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

{%$h2%}特定商取引法に基づく記載{%$h22%}
{%$hr2%}


<font size="1">

<ul>
<li>販売事業者<br>
    ｱｰｸｺﾐｭﾆｹｰｼｮﾝｽﾞ有限会社</li>

<li>販売責任者<br>
    ｱｰｸ吉田</li>

<li>運営業者名<br>
    ｱｰｸｺﾐｭﾆｹｰｼｮﾝｽﾞ有限会社</li>

<li>運営責任者<br>
    ｱｰｸ吉田</li>

<li>所在地<br>
    東京都目黒区下目黒2-13-10RKﾋﾞﾙ5F</li>

<li>運営事業概要<br>
    ｲﾝﾀｰﾈｯﾄｵｰｸｼｮﾝ｢{%$SITE_NAME%}｣の企画･運営</li>
</ul>


{%$hr2%}
<center>
<h2><font color="{%$cl3%}"><B>お客様ｻﾎﾟｰﾄ</B></font></h2>
</center>
{%$hr2%}

<ul>
<li>お問い合わせ先<br>
    <a href="{%$SERVER_PATH%}/guide/contact">こちら</a>のﾒｰﾙﾌｫｰﾑからご連絡ください｡</li>

<li>お問い合わせ対応時間<br>
    平日9:00～18:00(土日祝日は除く)<br><br>

    ※上記以外のお時間では対応までにお時間を頂くことがございます｡何卒ご了承ください｡</li>

<li>お問い合わせﾌｫｰﾑ<br>
    <a href="{%$SERVER_PATH%}/guide/contact">お問合せはこちら</a><br>

    ※お客様の状況を正しく把握するため､お問い合わせはお問い合わせﾌｫｰﾑのみ受付けております｡<br>
    電話でのお問い合わせは原則受け付けておりません｡</li>

<li>電話番号<br>
    0977-75-9454</li>
</ul>

{%$hr2%}
<center>
<h2><font color="{%$cl3%}"><B>販売価格･数量･期間</B></font></h2>
</center>
{%$hr2%}

<ul>
<li>商品毎に記載｡数量に関しては､常備在庫のあるものは掲載を省略しています｡<br>
    注文はｲﾝﾀｰﾈｯﾄのみ受付｡日本国内のみ配送になります｡</li>
</ul>

{%$hr2%}
<center>
<h2><font color="{%$cl3%}"><B>商品代金以外の必要料金</B></font></h2>
</center>
{%$hr2%}

<ul>
<li>消費税<br>
    商品価格すべて税込みです｡</li>

<li>送料<br>
    一律315円 (すべて税込｡国内配送に限る)</li>
</ul>

{%$hr2%}
<center>
<h2><font color="{%$cl3%}"><B>お支払方法</B></font></h2>
</center>
{%$hr2%}

<ul>
<li>銀行<br>
    三菱東京UFJ銀行がご利用いただけます｡</li>

<li>ｲﾝﾀｰﾈｯﾄﾊﾞﾝｸ<br>
    ｼﾞｬﾊﾟﾝﾈｯﾄ銀行がご利用いただけます｡</li>

<li>ｸﾚｼﾞｯﾄｶｰﾄﾞ<br>
    VISA､MasterCard､JCBがご利用いただけます｡</li>

</ul>

{%$hr2%}
<center>
<h2><font color="{%$cl3%}"><B>お支払期限</B></font></h2>
</center>
{%$hr2%}

<ul>
<li>ご注文時に決済確定となります｡</li>
</ul>

{%$hr2%}
<center>
<h2><font color="{%$cl3%}"><B>ご注文のｷｬﾝｾﾙについて</B></font></h2>
</center>
{%$hr2%}

<ul>
<li>ご注文後のｷｬﾝｾﾙはお受けできません｡またﾒｰﾙ送信後のﾒｰﾙ取消し､出荷後の商品取消はできません｡</li>
</ul>

{%$hr2%}
<center>
<h2><font color="{%$cl3%}"><B>商品の引渡し時期</B></font></h2>
</center>
{%$hr2%}

<ul>
<li>通常<br>
    受取人の方が購入手続きを行った日から換算し､14日程度｡</li>
</ul>

{%$hr2%}
<center>
<h2><font color="{%$cl3%}"><B>返品･交換･返金</B></font></h2>
</center>
{%$hr2%}

<ul>
<li>ｺｲﾝについて<br>
購入したｺｲﾝは､一切返金できませんのでご了承ください｡</li>

<li>商品について
    <br>
    弊社が出品し配送する商品については､納品書に記載されている返品･交換方法をご確認の上手続きをお願いいたします｡<br>
    <br>
    ただし商品が著しく汚されていたり､使用されていたもしくは開封されていた場合は､返金･交換をさせていただけない場合がございますのでご注意ください｡<br>
    <br>
    また､もし届いた商品が不良品であった理由で返送･交換する場合は事前に必ず弊社に返品を申し出､弊社からの了承を得た上で返送するようお願いいたします｡事前に申し出ならびに了承がなく返送された商品については対応に時間が掛かるとともに､最悪返金対応が不可能になる場合がございます｡
    <br>
    ﾄﾗﾌﾞﾙや不具合のある商品の返品および交換に関しては､商品到着後21日以内に､弊社までご連絡ください｡期間が過ぎると手続きができなくなりますので､期間内にお済ませください｡</li>
</ul>

{%$hr2%}
<center>
<h2><font color="{%$cl3%}"><B>個人情報の取扱いについて</B></font></h2>
</center>
{%$hr2%}

<ul>
<li>個人情報<br>
注文時に入力頂いた個人情報は厳重に管理し､注文商品の発送､商品代金の請求､商品案内以外の目的では利用しません｡</li>
</ul>


</font>
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>
