{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<div><font color="red">{%$message%}</font></div>
{%$h2%}各種お問い合わせ{%$h22%}
{%$hr2%}
<font size="2">

<form action="{%$SERVER_PATH%}/guide/contact_insert" method="POST">

{%if $isLogin %}

<!-- ここはﾛｸﾞｲﾝ時の表示 -->
<input type="hidden" name="name" value="{%$member->f_handle%}" >
<input type="hidden" name="mem_id" value="{%$member->fk_member_id%}" >
<input type="hidden" name="mail" value="{%$member->f_mail_address_pc%}" >

{%else%}

<!-- ここは非ﾛｸﾞｲﾝ時の表示 -->
<font color="{%$cl3%}">■</font>お名前<br>
<input type="text" name="name" size="20" value="{%$p.name%}" maxlength="128"><br>
    <input type="hidden" name="mem_id" value="" >
<font color="{%$cl3%}">■</font>ﾒｰﾙｱﾄﾞﾚｽ
<input type="text" name="mail" value ="{%$p.mail%}" size="50" maxlength="256" ><br>

{%/if%}

<!-- ここはﾛｸﾞｲﾝ時･非ﾛｸﾞｲﾝ時共通 -->

<font color="{%$cl3%}">■</font>ﾀｲﾄﾙ<br>
<input type="text" name="title" value="{%$p.title%}" size="60" maxlength="256"><br>
<font color="{%$cl3%}">■</font>ご質問内容<select name="category">

    {%foreach from = $category item=cate %}
        <option value="{%$cate->fk_question_category_id%}" {%if $p.category==$cate->fk_question_category_id %}selected  {%/if%}>{%$cate->f_category_name%}</option>
    {%/foreach%}

    </select><br>
<textarea cols="60" name="main" rows="10">{%$p.main%}</textarea><br><br>

<input type="submit" value="送信" >
</form>



</font>
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>
