{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<div><font color="red">{%$message%}</font></div>
{%$h2%}無料会員登録{%$h22%}
{%$hr2%}
<font size="2">

{%$SITE_NAME%}は最新ｹﾞｰﾑ機やipodなどの人気商品が格安で落札できる｢新感覚ｵｰｸｼｮﾝ｣です｡
  <br> {%$SITE_NAME%}に参加するには無料会員登録が必要です｡
  <br> 会員登録がまだの人は･･･
  <br>
  <center>
★<a href="mailto:{%$EMPTY_EMAIL_SEND_ADDRESS%}?subject=entry&body={%$adcode%}">無料会員登録</a>★<br>
</center>
<font color="#ff0000">●</font>
編集せずにそのまま送信して下さい｡あなたのﾒｰﾙｱﾄﾞﾚｽにﾌﾟﾛﾌｨｰﾙ設定用のURLが届きます｡
<hr color="#79221e" size="0.2">
<a name="aaa">
<font color="#336633">
    <center>
        <img width="12" height="12" border="0" alt="" src="{%$IMAGE_PATH%}/59159.gif"/>
        指定受信設定の方
        <img width="12" height="12" border="0" alt="" src="{%$IMAGE_PATH%}/59159.gif"/>
    </center></font>

</a>
<font size="1">ﾄﾞﾒｲﾝ指定受信などの設定をしている場合は､正常にﾌﾟﾛﾌｨｰﾙ設定を終了できません｡受信を許可するﾄﾞﾒｲﾝ･ﾒｰﾙｱﾄﾞﾚｽに必ず『<font color="#ff0000">{%$HTTP_HOST%}</font>』を追加して下さい｡<br>
<input type="text" size="20" value="{%$HTTP_HOST%}" name="domain"><br>
<a href="http://docomo.ne.jp/cp/mailsetst.cgi">Docomoの設定</a><br>
<a href="http://imutl.ezweb.ne.jp/cgi2001/utl_menu.cgi">AU･WIN機の設定</a><br>
AU･他機の場合はﾒｰﾙﾌｨﾙﾀｰより設定<br>
SoftBankの場合はMySoftBankより設定<br></font>





</font>


{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>
