free3.html<br>

{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<h2><img src="{%$IMAGE_PATH%}/menu33.gif" alt="初心者ガイド"></h2>
<hr color="#FF0A68" size="1">

<a href="{%$SERVER_PATH%}/guide/how">登録する</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free2">入札する</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free3">ｺｲﾝ購入</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free4">落札商品受取</a>
<hr color="#FF0A68" size="1">


<font size="1">
<br>
ｺｲﾝを購入しよう！<br>
入札方法に慣れてきたら､ｺｲﾝを購入して落札に挑戦してみよう!
ﾜﾝﾎﾟｲﾝﾄｱﾄﾞﾊﾞｲｽ:予算を決めてｺｲﾝをまとめ買いすると､ｺｲﾝが安く買えます｡<br>

<div align="center">{%em c=THUNDER%}{%em c=THUNDER%}{%em c=THUNDER%}</div>


{%em c=LIGHT%}STEP{%em c=NUM1%}<br>
ﾛｸﾞｲﾝした後､【ｺｲﾝを購入】をｸﾘｯｸ｡<br>

<div align="center">{%em c=THUNDER%}{%em c=THUNDER%}{%em c=THUNDER%}</div>

{%em c=LIGHT%}STEP{%em c=NUM2%}<br>
購入枚数を選んで､【購入する】をｸﾘｯｸ｡<br>

<div align="center">{%em c=THUNDER%}{%em c=THUNDER%}{%em c=THUNDER%}</div>

{%em c=LIGHT%}STEP{%em c=NUM3%}<br>

お客様のお好きな決済方法を選んで【購入する】をｸﾘｯｸ｡<br>

<div align="center">{%em c=THUNDER%}{%em c=THUNDER%}{%em c=THUNDER%}</div>

{%em c=LIGHT%}STEP{%em c=NUM4%}<br>

各決済方法に応じて決済を完了して下さい｡<br>





</font>
<hr color="#FF0A68" size="1">
<a href="{%$SERVER_PATH%}/guide/how">登録する</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free2">入札する</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free3">ｺｲﾝ購入</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free4">落札商品受取</a>
<hr color="#FF0A68" size="1">
<a href="{%$SERVER_PATH%}/guide/how">初心者ｶﾞｲﾄﾞ</a>|<a href="{%$SERVER_PATH%}/guide/about_auction">上級者ｶﾞｲﾄﾞ</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free1">ｵｰｸｼｮﾝの種類</a>|<a href="{%$SERVER_PATH%}/guide/auto_bid">自動落札とは?</a>|<a href="{%$SERVER_PATH%}/guide/question">よくある質問</a>|<a href="{%$SERVER_PATH%}/guide/contact">お問い合わせ</a>


<!--
    使い方ｶﾞｲﾄﾞを記載する
    残り時間がある限り､いつでも入札できる
    <br>
    入札すると入札金額が15円増え､残り時間が最大20秒のびる
    <br>
    残り時間がなくなった時点での最終入札者が落札者となり､入札額で商品を購入できる
    <br>
    入札には1回あたり1{%$POINT_NAME%}(75円相当)消費する
    <br><br>
    基本的なﾙｰﾙはこれだけです｡ただし､ｵｰｸｼｮﾝの種類や自動入札機能により一部の条件が変更されることがあります｡
    <br>
-->

{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>

