free2.html<br>

{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<h2><img src="{%$IMAGE_PATH%}/menu33.gif" alt="初心者ガイド"></h2>
<hr color="#FF0A68" size="1">

<a href="{%$SERVER_PATH%}/guide/how">登録する</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free2">入札する</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free3">ｺｲﾝ購入</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free4">落札商品受取</a>
<hr color="#FF0A68" size="1">


<font size="1">
<br>
入札をしてみよう！<br>
登録が完了したら、早速入札をしてみましょう。
プレゼントコインで落札を狙うには【初心者オークション】【入札者制限オークション】がお勧めです。各オークションの説明は<a href="{%$SERVER_PATH%}/guide/free?p=free1">こちら</a><br>

<div align="center">{%em c=THUNDER%}{%em c=THUNDER%}{%em c=THUNDER%}</div>


{%em c=LIGHT%}STEP{%em c=NUM1%}<br>
まずは落札したい商品を探しましょう。気になる商品があったら、商品画像をクリックして商品詳細をチェックして下さい。<br>

<div align="center">{%em c=THUNDER%}{%em c=THUNDER%}{%em c=THUNDER%}</div>

{%em c=LIGHT%}STEP{%em c=NUM2%}<br>
各オークション商品エリアにある「入札」ボタンをクリック。<br>
入札すると、ご自分が最高入札者になります。<br>
<br>
入札されるたびに落札価格が1円～15円ずつアップ（入札ごとに上がる金額はオークションの種類によって異なります）残り時間は20秒ずつアップします。<br>

<div align="center">{%em c=THUNDER%}{%em c=THUNDER%}{%em c=THUNDER%}</div>

{%em c=LIGHT%}STEP{%em c=NUM3%}<br>

残り時間が【0:00】になった時に、最終落札者が自分だったら落札確定！激安価格で商品を購入しましょう。<br>







</font>
<hr color="#FF0A68" size="1">
<a href="{%$SERVER_PATH%}/guide/how">登録する</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free2">入札する</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free3">ｺｲﾝ購入</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free4">落札商品受取</a>
<hr color="#FF0A68" size="1">
<a href="{%$SERVER_PATH%}/guide/how">初心者ｶﾞｲﾄﾞ</a>|<a href="{%$SERVER_PATH%}/guide/about_auction">上級者ｶﾞｲﾄﾞ</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free1">ｵｰｸｼｮﾝの種類</a>|<a href="{%$SERVER_PATH%}/guide/auto_bid">自動落札とは?</a>|<a href="{%$SERVER_PATH%}/guide/question">よくある質問</a>|<a href="{%$SERVER_PATH%}/guide/contact">お問い合わせ</a>


<!--
    使い方ｶﾞｲﾄﾞを記載する
    残り時間がある限り､いつでも入札できる
    <br>
    入札すると入札金額が15円増え､残り時間が最大20秒のびる
    <br>
    残り時間がなくなった時点での最終入札者が落札者となり､入札額で商品を購入できる
    <br>
    入札には1回あたり1{%$POINT_NAME%}(75円相当)消費する
    <br><br>
    基本的なﾙｰﾙはこれだけです｡ただし､ｵｰｸｼｮﾝの種類や自動入札機能により一部の条件が変更されることがあります｡
    <br>
-->

{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>

