free4.html<br>

{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<h2><img src="{%$IMAGE_PATH%}/menu33.gif" alt="初心者ガイド"></h2>
<hr color="#FF0A68" size="1">

<a href="{%$SERVER_PATH%}/guide/how">登録する</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free2">入札する</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free3">ｺｲﾝ購入</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free4">落札商品受取</a>
<hr color="#FF0A68" size="1">


<font size="1">
<br>

落札商品を受け取ろう<br>
見事落札できたら、早速落札商品を受け取ろう！
ログインして、マイページに進んだ後、左メニューより【配送先変更】をクリック。<br>

<div align="center">{%em c=THUNDER%}{%em c=THUNDER%}{%em c=THUNDER%}</div>


{%em c=LIGHT%}STEP{%em c=NUM1%}<br>
まずは配送先を登録しよう！<br>

<div align="center">{%em c=THUNDER%}{%em c=THUNDER%}{%em c=THUNDER%}</div>

{%em c=LIGHT%}STEP{%em c=NUM2%}<br>
必要項目を入力して【設定】をクリック。<br>
※1.2は既に配送先住所を設定してあれば必要ありません。<br>

<div align="center">{%em c=THUNDER%}{%em c=THUNDER%}{%em c=THUNDER%}</div>

{%em c=LIGHT%}STEP{%em c=NUM3%}<br>

マイページ内の【落札商品一覧】をクリック。<br>

<div align="center">{%em c=THUNDER%}{%em c=THUNDER%}{%em c=THUNDER%}</div>

{%em c=LIGHT%}STEP{%em c=NUM4%}<br>

配送先住所欄の【決定する】をクリックして、配送先住所を確定させて下さい。<br>

<div align="center">{%em c=THUNDER%}{%em c=THUNDER%}{%em c=THUNDER%}</div>

{%em c=LIGHT%}STEP{%em c=NUM5%}<br>

落札商品の【支払う】をクリック。<br>

<div align="center">{%em c=THUNDER%}{%em c=THUNDER%}{%em c=THUNDER%}</div>

{%em c=LIGHT%}STEP{%em c=NUM6%}<br>

お客様のお好きな決済方法を選んで【次へ】をクリック。<br>





</font>
<hr color="#FF0A68" size="1">
<a href="{%$SERVER_PATH%}/guide/how">登録する</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free2">入札する</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free3">ｺｲﾝ購入</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free4">落札商品受取</a>
<hr color="#FF0A68" size="1">
<a href="{%$SERVER_PATH%}/guide/how">初心者ｶﾞｲﾄﾞ</a>|<a href="{%$SERVER_PATH%}/guide/about_auction">上級者ｶﾞｲﾄﾞ</a>|<a href="{%$SERVER_PATH%}/guide/free?p=free1">ｵｰｸｼｮﾝの種類</a>|<a href="{%$SERVER_PATH%}/guide/auto_bid">自動落札とは?</a>|<a href="{%$SERVER_PATH%}/guide/question">よくある質問</a>|<a href="{%$SERVER_PATH%}/guide/contact">お問い合わせ</a>


<!--
    使い方ｶﾞｲﾄﾞを記載する
    残り時間がある限り､いつでも入札できる
    <br>
    入札すると入札金額が15円増え､残り時間が最大20秒のびる
    <br>
    残り時間がなくなった時点での最終入札者が落札者となり､入札額で商品を購入できる
    <br>
    入札には1回あたり1{%$POINT_NAME%}(75円相当)消費する
    <br><br>
    基本的なﾙｰﾙはこれだけです｡ただし､ｵｰｸｼｮﾝの種類や自動入札機能により一部の条件が変更されることがあります｡
    <br>
-->

{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>

