free1.html<br>

{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<div><font color="red">{%$message%}</font></div>

{%$h2%}{%$SITE_NAME%}の使い方{%$h22%}
{%$hr2%}
<font size="2">



<font color="{%$cl3%}">①無料会員登録の手順</font><br>
「無料会員登録」から空ﾒｰﾙを送信してください。会員登録ﾍﾟｰｼﾞのURLが送信したｱﾄﾞﾚｽに届きます。<br>
 ↓<br>
届いたURLから進んでいただき、登録ﾌｫｰﾑに入力してください。<br>
*がついている項目は必ず入力してください｡<br>
(落札された商品の決済や配送に必要ですので､正確にご記入ください｡)<br>
第三者に公開されることはありません｡<br>
{%$SITE_NAME%}利用規約､ﾌﾟﾗｲﾊﾞｰﾎﾟﾘｼｰに同意のうえ､登録ﾎﾞﾀﾝをｸﾘｯｸしてください｡<br>
 ↓<br>
確認画面に進んでいただき、間違いがないことを確認してく登録ﾎﾞﾀﾝを押してください。これでご利用登録は完了です。<br>

{%$hr3%}


<font color="{%$cl3%}">②{%$POINT_NAME%}購入方法</font><br>
ﾛｸﾞｲﾝ後､｢{%$POINT_NAME%}購入｣をｸﾘｯｸ｡<br>
購入したい{%$POINT_NAME%}数を選択して｢購入｣ﾎﾞﾀﾝをｸﾘｯｸしてください｡<br>
 ↓<br>
支払い方法を選択して､決済してください｡<br>
 ↓<br>
支払い手続きが完了しますと､ﾍﾟｰｼﾞ上にｺｲﾝ数が表示されます｡<br>
ﾏｲﾍﾟｰｼﾞの{%$POINT_NAME%}残高でも確認ができます｡<br>
さあ､これで入札準備は完了です｡<br>
{%$hr3%}


<font color="{%$cl3%}">③入札の仕方</font><br>
ｵｰｸｼｮﾝ商品から詳細ﾍﾟｰｼﾞに進み｢入札｣ﾎﾞﾀﾝをｸﾘｯｸ｡<br>
入札すると､ご自分が入札者になります｡<br>
 ↓<br>
入札されるたびに落札価格が1円～15円ずつｱｯﾌﾟ(ｵｰｸｼｮﾝの種類によって異なります)残り時間は20秒ずつｱｯﾌﾟします｡<br>
 ↓<br>
残り時間が0秒になったら落札者が確定になります｡<br>
{%$hr3%}


<font color="{%$cl3%}">④落札後の手順</font><br>
<font color="{%$cl1%}">[落札後]</font>ﾏｲﾍﾟｰｼﾞの落札一覧から商品を選んでをｸﾘｯｸ｡<br>
 ↓<br>
<font color="{%$cl1%}">[支払について]</font>落札後は､落札価格(=商品の購入価格)ならびに送料315円を確認し､購入意志を再確認したうえで 落札価格+送料 を支払い､商品の到着を待ちます｡<br>
お支払いには銀行振込､ｲﾝﾀｰﾈｯﾄﾊﾞﾝｸ､ｸﾚｼﾞｯﾄｶｰﾄﾞがご利用いただけます｡<br>
※落札した商品の購入は落札日より21日以内に行う必要があります｡落札後21日を過ぎても購入処理がされない場合は､その商品の購入権利は自動的に失われますのでご注意下さい｡<br>
 ↓<br>
<font color="{%$cl1%}">[商品の配送について]</font>商品の到達は通常1週間以内を予定しておりますが､購入後14日たっても商品が届かない場合は､お手数ではございますが､弊社にお問い合わせください｡<br>
{%$hr3%}


<font color="{%$cl3%}">⑤ｵｰｸｼｮﾝの種類</font><br>
<font color="{%$cl1%}">[ﾋﾞｷﾞﾅｰｽﾞｵｰｸｼｮﾝ]</font><br>
落札されたことが無い会員限定のｵｰｸｼｮﾝです｡1入札で5円ｱｯﾌﾟします｡1度落札されると次からはﾋﾞｷﾞﾅｰｽﾞｵｰｸｼｮﾝに参加できなくなりますのでご注意ください｡<br>
 ※既に落札をしたことがある会員のﾍﾟｰｼﾞには､開催中のﾋﾞｷﾞﾅｰｽﾞｵｰｸｼｮﾝは表示されません｡<br><br>

<font color="{%$cl1%}">[ﾌﾘｰｵｰｸｼｮﾝ]</font><br>
{%$POINT_NAME%}を消費せずに何度でも入札可能なｵｰｸｼｮﾝです｡また､このｵｰｸｼｮﾝでは自動入札設定ができません｡ﾌﾘｰｵｰｸｼｮﾝは{%$POINT_NAME%}を消費しないので､{%$SITE_NAME%}の雰囲気を気軽に味わうことが出来ます｡<br>
※落札した商品を購入するには､落札価格を支払う必要がありますのでご注意ください｡<br><br>

<font color="{%$cl1%}">[自動入札禁止ｵｰｸｼｮﾝ]</font><br>
自動入札機能を使用できないｵｰｸｼｮﾝです｡自動入札できないため､参加者はﾊﾟｿｺﾝの前にいて自分自身で入札ﾎﾞﾀﾝをｸﾘｯｸしなければなりません｡<br><br>

<font color="{%$cl1%}">[1円ｵｰｸｼｮﾝ]</font><br>
1入札あたりに1円ｱｯﾌﾟするｵｰｸｼｮﾝです｡その分､比較的安い価格で落札できます｡<br><br>

<font color="{%$cl1%}">[通常ｵｰｸｼｮﾝ]</font><br>
上記のｵｰｸｼｮﾝ以外のｵｰｸｼｮﾝです｡1入札で15円ｱｯﾌﾟします｡<br>
{%$hr3%}


<font color="{%$cl3%}">⑥自動入札の設定方法</font><br>
ｵｰｸｼｮﾝの価格が事前に設定した上限金額と下限金額の間に達した際に､ﾛｸﾞｲﾝしていない状態であっても自動的にそのｵｰｸｼｮﾝに入札してくれる仕組みです｡




</font>
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>