{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}


{%$h2%}{%$SITE_NAME%}とは?{%$h22%}
{%$hr2%}
<font size="1">
<center>
<a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}とは？</a>｜<a href="{%$SERVER_PATH%}/guide/how">使い方</a>｜<a href="{%$SERVER_PATH%}/guide/question">Q&A</a>｜<a href="{%$SERVER_PATH%}/guide/help">ﾍﾙﾌﾟ</a>

</center>
</font>
{%$hr1%}
<font size="2">

{%$SITE_NAME%}は､最新の家電や人気ｹﾞｰﾑ機など様々な商品が豊富です!手軽に格安で落札できる新感覚のｵｰｸｼｮﾝです!今までの中古品ｵｰｸｼｮﾝとは違いすべて新品でお届けします!入札状況によっては最大【98%ｵﾌ】で落札することも!?<br><br>

会員は､欲しい商品の入札ﾎﾞﾀﾝを押すだけで手軽に参加が出来るｼﾝﾌﾟﾙなﾙｰﾙになっています｡<br><br>

全てのｵｰｸｼｮﾝは0円からｽﾀｰﾄ｡入札には{%$POINT_NAME%}という入札専用のｺｲﾝが必要となります｡<br>
入札毎に{%$POINT_NAME%}が消費され､入札価格が1円～15円ｱｯﾌﾟ(ｵｰｸｼｮﾝの種類によって異なります)また､1入札でｵｰｸｼｮﾝの時間が20秒延長されます｡
残り時間がｾﾞﾛになった時点での最終入札者が落札者となり､その落札価格で商品を購入することができます｡<br><br>

欲しい商品を手軽で安く購入することが出来るのは!このｵｰｸｼｮﾝの最大のﾒﾘｯﾄです!
是非ﾁｬﾚﾝｼﾞしてください!<br><br>

{%$SITE_NAME%}をご利用の際は､無料の会員登録が必要となります｡
無料会員登録をしたらまずは､{%$POINT_NAME%}が無くても参加できるﾌﾘｰｵｰｸｼｮﾝで､{%$SITE_NAME%}を体験してください!<br>
慣れたら{%$POINT_NAME%}を購入し､人気商品のｵｰｸｼｮﾝに参加して欲しい商品をGETしてください!
</font>
{%$hr1%}
<font size="1">
<center>
<a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}とは？</a>｜<a href="{%$SERVER_PATH%}/guide/how">使い方</a>｜<a href="{%$SERVER_PATH%}/guide/question">Q&A</a>｜<a href="{%$SERVER_PATH%}/guide/help">ﾍﾙﾌﾟ</a><br>
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>
</center>
</font>

{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>
