{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<a name="help1"></a>
{%$h2%}ヘルプ{%$h22%}

{%$hr2%}
<font size="1">
<center>
<a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}とは？</a>｜<a href="{%$SERVER_PATH%}/guide/how">使い方</a>｜<a href="{%$SERVER_PATH%}/guide/question">Q&A</a>｜<a href="{%$SERVER_PATH%}/guide/help">ﾍﾙﾌﾟ</a>

</center>
</font>
{%$hr1%}
<font size="2">

≫<a href="#help2">はじめての方へ</a><br>
≫<a href="#help3">入札について</a><br>
≫<a href="#help4">{%$POINT_NAME%}について</a><br>
≫<a href="#help5">ｵｰｸｼｮﾝについて</a><br>
≫<a href="#help6">商品の配送について</a><br>
≫<a href="#help7">返品について</a><br>
≫<a href="#help8">ID/ﾊﾟｽﾜｰﾄﾞなど会員情報について</a><br>
≫<a href="#help9">支払いについて</a><br>
≫<a href="#help10">よくある質問</a><br>




<a name="help2"></a>
{%$hr2%}
<center>
<h2><font color="{%$cl3%}"><B>≫はじめての方へ</B></font></h2>
</center>
{%$hr2%}

<ul>
<font color="{%$cl3%}">■{%$SITE_NAME%}とは?</font>
<li>{%$SITE_NAME%}は､最新の家電や人気ｹﾞｰﾑ機など様々な商品が豊富です!手軽に格安で落札できる新感覚のｵｰｸｼｮﾝです!今までの中古品ｵｰｸｼｮﾝとは違いすべて新品でお届けします!
入札状況によっては最大【90%ｵﾌ】で落札することも!?</li><br>

<li>会員は､欲しい商品の入札ﾎﾞﾀﾝを押すだけで手軽に参加が出来るｼﾝﾌﾟﾙなﾙｰﾙになっています｡</li><br>

<li>全てのｵｰｸｼｮﾝは0円からｽﾀｰﾄ｡入札には{%$POINT_NAME%}という入札専用のｺｲﾝが必要となります｡
入札毎に{%$POINT_NAME%}が消費され､入札価格が1円～15円ｱｯﾌﾟ(ｵｰｸｼｮﾝの種類によって異なります)また､1入札でｵｰｸｼｮﾝの時間が20秒延長されます｡
残り時間がｾﾞﾛになった時点での最終入札者が落札者となり､その落札価格で商品を購入することができます｡</li><br>

<li>欲しい商品を手軽で安く購入することが出来るのは!このｵｰｸｼｮﾝの最大のﾒﾘｯﾄです!
是非ﾁｬﾚﾝｼﾞしてください!</li><br>

<li>{%$SITE_NAME%}をご利用の際は､無料の会員登録が必要となります｡
無料会員登録をしたらまずは､{%$POINT_NAME%}が無くても参加できるﾌﾘｰｵｰｸｼｮﾝで､{%$SITE_NAME%}を体験してください!
慣れたらｺｲﾝを購入し､人気商品のｵｰｸｼｮﾝに参加して欲しい商品をGETしてください!</li><br>
<font color="{%$cl3%}">■{%$SITE_NAME%}に参加するには?</font>
<li>まずは{%$SITE_NAME%}への無料会員登録を行ってください｡({%$SITE_NAME%}に登録できるのは､日本居住者限定となっております)登録が完了したら､{%$POINT_NAME%}を購入することによりｵｰｸｼｮﾝに入札することができるようになります｡<a href="#help1">▲戻る</a></li>
</ul>

<a name="help3"></a>
{%$hr2%}
<center>
<h2><font color="{%$cl3%}"><B>≫入札について</B></font></h2>
</center>
{%$hr2%}
<ul>
<font color="{%$cl3%}">■入札の仕方は?</font>
<li>各ｵｰｸｼｮﾝ商品ｴﾘｱにある｢入札｣ﾎﾞﾀﾝをｸﾘｯｸ｡<br>
入札すると､ご自分が最高入札者になります｡<br>
   ↓<br>
<li>入札されるたびに落札価格が1円～15円ずつｱｯﾌﾟ｡(ｵｰｸｼｮﾝの種類によって異なります)残り時間は20秒ずつｱｯﾌﾟします｡<br>
   ↓<br>
残り時間が0秒になったら落札者が確定になります｡<br><br>
{%$POINT_NAME%}を購入するには ｢{%$POINT_NAME%}について｣をご覧ください｡<a href="#help1">▲戻る</a></li>

</ul>

<a name="help4"></a>
{%$hr2%}
<center>
<h2><font color="{%$cl3%}"><B>≫{%$POINT_NAME%}について</B></font></h2>
</center>
{%$hr2%}
<ul>
<font color="{%$cl3%}">■{%$POINT_NAME%}を購入するには?</font>
<li>ﾛｸﾞｲﾝ後､｢{%$POINT_NAME%}購入｣をｸﾘｯｸ｡<br>
購入したい{%$POINT_NAME%}数を選択して｢購入｣ﾎﾞﾀﾝをｸﾘｯｸしてください｡<br>
   ↓<br>
決済方法を選択して､決済してください｡<br>
   ↓<br>
支払い手続きが完了しますと､ﾍﾟｰｼﾞ右上にｺｲﾝ数が表示されます｡<br><br>
ﾏｲﾍﾟｰｼﾞﾒﾆｭｰの{%$POINT_NAME%}残高から{%$POINT_NAME%}購入履歴が確認できます｡</li><br>

<font color="{%$cl3%}">■{%$POINT_NAME%}の有効期限は?</font>
<li>ご購入いただきました{%$POINT_NAME%}につきましては､ご購入日から180日間とさせていただいております｡
有効期限を過ぎると{%$POINT_NAME%}は消滅し利用できなくなりすのでご注意ください｡<br>
友達紹介等によって獲得したﾎﾞｰﾅｽ{%$POINT_NAME%}の有効期限は入手から 30日間となります｡</li><br>
<font color="{%$cl3%}">■入札に利用した{%$POINT_NAME%}を返却できますか?</font>
<li>ﾌﾘｰｵｰｸｼｮﾝ以外のｵｰｸｼｮﾝでは入札する毎に入札手数料として{%$POINT_NAME%}が必要になります｡一度入札に利用した{%$POINT_NAME%}は､そのｵｰｸｼｮﾝを落札できた/できなかったに関わらず一切返却されません｡</li><br>
<font color="{%$cl3%}">■{%$POINT_NAME%}を返金したいのですが?</font>
<li>一度ご購入いただいた{%$POINT_NAME%}は現金に戻すことはできません｡</li><br>
<font color="{%$cl3%}">■自分の{%$POINT_NAME%}数を確認するには?</font>
<li>ご自身が持っている{%$POINT_NAME%}数についてはﾏｲﾍﾟｰｼﾞよりご確認いただけます｡また入札画面からも確認することができます｡</li><br>
<font color="{%$cl3%}">■友達紹介について</font>
<li>{%$SITE_NAME%}に､お友達を紹介することができます｡紹介者には｢{%$SITE_NAME%}｣からﾎﾞｰﾅｽ{%$POINT_NAME%}をﾌﾟﾚｾﾞﾝﾄします｡<a href="#help1">▲戻る</a>
</li>
</ul>

<a name="help5"></a>
{%$hr2%}
<center>
<h2><font color="{%$cl3%}"><B>≫ｵｰｸｼｮﾝについて</B></font></h2>
</center>
{%$hr2%}
<ul>
<font color="{%$cl3%}">■ﾋﾞｷﾞﾅｰｽﾞｵｰｸｼｮﾝとは?</font>
<li>ｵｰｸｼｮﾝで落札されたことが無い会員限定のｵｰｸｼｮﾝです｡ﾋﾞｷﾞﾅｰｽﾞｵｰｸｼｮﾝは1入札で5円ｱｯﾌﾟします｡1度落札されると次からはﾋﾞｷﾞﾅｰｽﾞｵｰｸｼｮﾝに参加できなくなりますのでご注意ください｡<br>
※既に落札をしたことがある会員のﾍﾟｰｼﾞには､開催中のﾋﾞｷﾞﾅｰｽﾞｵｰｸｼｮﾝは表示されません</li><br>
<font color="{%$cl3%}">■ﾌﾘｰｵｰｸｼｮﾝとは?</font>
<li>{%$POINT_NAME%}を消費せずに何度でも入札可能なｵｰｸｼｮﾝです｡また､このｵｰｸｼｮﾝでは自動入札設定ができません｡ﾌﾘｰｵｰｸｼｮﾝは{%$POINT_NAME%}を消費しないので､{%$SITE_NAME%}の雰囲気を気軽に味わうことが出来ます｡<br>
※落札した商品を購入するには､落札価格を支払う必要がありますのでご注意ください</li><br>
<font color="{%$cl3%}">■1円ｵｰｸｼｮﾝとは?</font>
<li>1円ｵｰｸｼｮﾝとは､1入札あたりに1円ｱｯﾌﾟと金額が決まっているｵｰｸｼｮﾝです｡商品についているｱｲｺﾝで確認することができます｡</li><br>
<font color="{%$cl3%}">■自動入札禁止ｵｰｸｼｮﾝとは?</font>
<li>自動入札機能を使用できないｵｰｸｼｮﾝです｡自動入札できないため､参加者はﾊﾟｿｺﾝの前にいて自分自身で入札ﾎﾞﾀﾝをｸﾘｯｸしなければなりません｡</li><br>
<font color="{%$cl3%}">■通常ｵｰｸｼｮﾝとは?</font>
<li>上記のｵｰｸｼｮﾝ以外のｵｰｸｼｮﾝです｡1入札で15円ｱｯﾌﾟします｡</li><br>
<font color="{%$cl3%}">■ｵｰｸｼｮﾝを落札したらどうすればよい?</font>
<li>落札されましたら､落札商品の詳細画面もしくはﾏｲﾍﾟｰｼﾞの落札済ﾘｽﾄより購入決済処理に進んでください｡落札価格(=商品の購入価格)ならびに送料315円を確認し､購入意志を再確認したうえで 落札価格+送料 を支払い､商品の到着をお待ちください｡<br>
お支払いには銀行振込､ｲﾝﾀｰﾈｯﾄﾊﾞﾝｸ､ｸﾚｼﾞｯﾄｶｰﾄﾞがご利用いただけます｡<br>
※落札した商品の購入は落札日より21日以内に行う必要があります｡落札後21日を過ぎても購入処理がされない場合は､その商品の購入権利は自動的に失われますのでご注意下さい｡<br>
商品の到達は通常1週間以内を予定しておりますが､購入後14日たっても商品が届かない場合は､お手数ではございますが､弊社にお問い合わせください｡</li><br>
<font color="{%$cl3%}">■ｵｰｸｼｮﾝはいつ終了しますか?</font>
<li>各ｵｰｸｼｮﾝ商品の残り時間がなくなった時点で終了となります｡
<font color="{%$cl3%}">■商品の出品をしたいのですがどうしたらいいですか?</font>
<li>{%$SITE_NAME%}では､商品を出品することができません｡ｵｰｸｼｮﾝに出品されている商品は､すべて新品､ﾒｰｶｰ保証書付きの商品となっております｡<a href="#help1">▲戻る</a>
</li>
</ul>

<a name="help6"></a>
{%$hr2%}
<center>
<h2><font color="{%$cl3%}"><B>≫商品の配送について</B></font></h2>
</center>
{%$hr2%}
<ul>
<font color="{%$cl3%}">■送料はいくらですか?</font>
<li>一律315円の送料がかかります｡</li><br>
<font color="{%$cl3%}">■配送日時は指定できますか?</font>
<li>商品の配送日時の指定はお受けいたしかねます｡商品配送時にお受け取りになれなかった場合は配送業者からの不在者連絡票等を通じて配送業者と直接再発送の日時の調整をお願いいたします｡</li><br>
<font color="{%$cl3%}">■配送時期はいつごろですか?</font>
<li>商品の到達は通常1週間以内を予定しておりますが､購入後14日たっても商品が届かない場合は､お手数ではございますが､弊社にお問い合わせください｡</li><br>
<font color="{%$cl3%}">■国外への配送はしてくれますか?</font>
<li>商品の配送は日本国内のみに限らせていただいております｡<a href="#help1">▲戻る</a>
</li>
</ul>

<a name="help7"></a>
{%$hr2%}
<center>
<h2><font color="{%$cl3%}"><B>≫返品について</B></font></h2>
</center>
{%$hr2%}
<ul>
<font color="{%$cl3%}">■購入した商品が不良品だったのですが?</font>
<li>弊社までお問い合わせください｡</li><br>
<font color="{%$cl3%}">■購入した商品の保証は?</font>
<li>{%$SITE_NAME%}で取り扱っている商品はすべて新品ですので保証書も付いております｡保証書の捺印はされている場合と､されていない場合があります｡捺印がされていない場合は､一緒に送付されます納品書が捺印の代わりになりますので､大切に保管をお願いします｡</li><br>
<font color="{%$cl3%}">■商品を返したいのですが</font>
<li>未使用･未開封のものに限り､落札した商品を購入した落札者が商品受け取り後3日間までは当社指定の方法により返品を申し出ることが可能です｡その際の送料の返金ならびに落札に利用した{%$POINT_NAME%}の返却はできません｡また返品に必要な送料は全て落札者の負担になります｡<a href="#help1">▲戻る</a>
</li>
</ul>

<a name="help8"></a>
{%$hr2%}
<center>
<h2><font color="{%$cl3%}"><B>≫ID/ﾊﾟｽﾜｰﾄﾞなど会員情報について</B></font></h2>
</center>
{%$hr2%}
<ul>
<font color="{%$cl3%}">■ID/ﾊﾟｽﾜｰﾄﾞを忘れたのですが?</font>
<li>お問い合わせよりご連絡ください｡</li><br>
<font color="{%$cl3%}">■ID/ﾊﾟｽﾜｰﾄﾞを変更するには?</font>
<li>最初に登録されました､IDは変更することができません｡ﾊﾟｽﾜｰﾄﾞはﾏｲﾍﾟｰｼﾞのﾊﾟｽﾜｰﾄﾞ変更より変更が可能です｡</li><br>
<font color="{%$cl3%}">■登録した会員情報を変更するには?</font>
<li>ﾏｲﾍﾟｰｼﾞより変更可能です｡</li><br>
<font color="{%$cl3%}">■自分が落札したｵｰｸｼｮﾝを確認するには?</font>
<li>ﾏｲﾍﾟｰｼﾞより確認可能です｡</li><br>
<font color="{%$cl3%}">■退会するには?</font>
<li>ﾏｲﾍﾟｰｼﾞより退会申請をしてください｡<a href="#help1">▲戻る</a>
</li>
</ul>

<a name="help9"></a>
{%$hr2%}
<center>
<h2><font color="{%$cl3%}"><B>≫支払いについて</B></font></h2>
</center>
{%$hr2%}
<ul>
<font color="{%$cl3%}">■{%$POINT_NAME%}を購入するには?</font>
<li>｢{%$POINT_NAME%}購入｣のﾎﾞﾀﾝより購入画面にお進みいただいて､購入する{%$POINT_NAME%}の枚数を選択し､決済方法を選んでお支払いください｡購入完了しますと､{%$POINT_NAME%}が追加されます｡枚数をご確認ください｡</li><br>
<font color="{%$cl3%}">■落札した商品を購入するには?</font>
<li>落札されましたら､ﾏｲﾍﾟｰｼﾞの落札済ﾘｽﾄの支払いより購入決済処理に進んでください｡落札価格(=商品の購入価格)ならびに送料315円を確認し､購入意志を再確認したうえで 落札価格+送料 を支払い､商品の到着をお待ちください｡
お支払いには銀行振込､ｲﾝﾀｰﾈｯﾄﾊﾞﾝｸ､ｸﾚｼﾞｯﾄｶｰﾄﾞがご利用いただけます｡<br>
※落札した商品の購入は落札日より21日以内に行う必要があります｡落札後21日を過ぎても購入処理がされない場合は､その商品の購入権利は自動的に失われますのでご注意下さい｡<br>
商品の到達は通常1週間以内を予定しておりますが､購入後14日たっても商品が届かない場合は､お手数ではございますが､弊社にお問い合わせください｡</li><br>
<font color="{%$cl3%}">■支払いで送信する個人情報は安全ですか?</font>
<li>無料会員登録ならびに{%$POINT_NAME%}や落札商品の購入で個人情報を送信する際は､業界標準の暗号技術である SSL(Secure Socket Layer)使用して暗号化を行っています｡ご安心ください｡<a href="#help1">▲戻る</a>
</li>
</ul>

<a name="help10"></a>
{%$hr2%}
<center>
<h2><font color="{%$cl3%}"><B>≫よくある質問</B></font></h2>
</center>
{%$hr2%}
<ul>
<font color="{%$cl3%}">■{%$SITE_NAME%}に参加するには?</font>
<li>まずは{%$SITE_NAME%}への無料会員登録を行ってください｡({%$SITE_NAME%}に登録できるのは､日本にお住まいの個人に限ります｡但し利用者が未成年者であるときは､本ｻｰﾋﾞｽ利用の都度､本ｻｰﾋﾞｽの利用について事前に保護者の同意を得るものとします)
登録が完了したら､{%$POINT_NAME%}を購入することによりｵｰｸｼｮﾝに入札することができるようになります｡</li><br>
<font color="{%$cl3%}">■仮登録したのに会員登録のﾒｰﾙが送られてきません｡</font>
<li>ﾒｰﾙｱﾄﾞﾚｽが間違えているか､ﾒｰﾙが正常に受信されていない可能性があります｡可能であれば他のﾒｰﾙｱﾄﾞﾚｽにて再度ご登録手続きを行ってください｡</li><br>
<font color="{%$cl3%}">■入札の方法は?</font>
<li>開催中の商品の中からお好きなものを選び､商品の金額等をご確認いただいてから入札ﾎﾞﾀﾝをｸﾘｯｸしてください｡現在入札されている方のお名前が金額の下に表示されます｡※必要に応じて{%$POINT_NAME%}を購入してください</li><br>
<font color="{%$cl3%}">■{%$POINT_NAME%}を買うには?</font>
<li>｢{%$POINT_NAME%}購入｣のﾎﾞﾀﾝより購入画面にお進みいただいて､購入する{%$POINT_NAME%}の枚数を選択し､決済方法を選んでお支払いください｡購入完了しますと､{%$POINT_NAME%}が追加されます｡枚数をご確認ください｡</li><br>
<font color="{%$cl3%}">■{%$POINT_NAME%}の決済方法は?</font>
<li>お支払いには銀行振込､ｲﾝﾀｰﾈｯﾄﾊﾞﾝｸ､ｸﾚｼﾞｯﾄｶｰﾄﾞがご利用いただけます｡</li><br>
<font color="{%$cl3%}">■自動入札って何?</font>
<li>ご自身で設定をしていただいた金額で自動的に入札を行う機能です｡設定は商品詳細画面より行えます｡</li><br>
<font color="{%$cl3%}">■{%$POINT_NAME%}の有効期限は?</font>
<li>ご購入いただきました{%$POINT_NAME%}につきましては､ご購入日から180日間とさせていただいております｡ 有効期限を過ぎると{%$POINT_NAME%}は消滅し利用できなくなりすのでご注意ください｡
友達紹介等によって獲得したﾎﾞｰﾅｽ{%$POINT_NAME%}の有効期限は入手から30日間となります｡</li><br>
<font color="{%$cl3%}">■落札商品の決済方法は?</font>
<li>お支払いには銀行振込､ｲﾝﾀｰﾈｯﾄﾊﾞﾝｸ､ｸﾚｼﾞｯﾄｶｰﾄﾞがご利用いただけます｡</li><br>
<font color="{%$cl3%}">■送料はかかりますか?</font>
<li>一律315円の送料がかかります｡</li><br>
<font color="{%$cl3%}">■落札商品の購入期限はありますか?</font>
<li>落札してから21日間です｡それを過ぎますと､購入できなくなりますのでご注意ください｡</li><br>
<font color="{%$cl3%}">■ｵｰｸｼｮﾝの種類は何種類ありますか?</font>
<li>{%$SITE_NAME%}では色々な種類のｵｰｸｼｮﾝを開催しております｡詳しくは｢ｵｰｸｼｮﾝについて｣ご覧ください｡</li><br>
<font color="{%$cl3%}">■商品の出品をしたいのですがどうしたらいいですか?</font>
<li>{%$SITE_NAME%}では､商品を出品することができません｡ｵｰｸｼｮﾝに出品されている商品は､すべて新品､ﾒｰｶｰ保証書付きの商品となっております｡<a href="#help1">▲戻る</a>
</li>
</ul>


</font>


{%$hr1%}
<font size="1">
<center>
<a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}とは？</a>｜<a href="{%$SERVER_PATH%}/guide/how">使い方</a>｜<a href="{%$SERVER_PATH%}/guide/question">Q&A</a>｜<a href="{%$SERVER_PATH%}/guide/help">ﾍﾙﾌﾟ</a><br>
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>

</center>
</font>
{%$hr1%}
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>