{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<div><font color="red">{%$message%}</font></div>
<a name="help1"></a>
{%$h2%}使い方{%$h22%}
{%$hr2%}
<font size="1">
<center>
<a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}とは？</a>｜<a href="{%$SERVER_PATH%}/guide/how">使い方</a>｜<a href="{%$SERVER_PATH%}/guide/question">Q&A</a>｜<a href="{%$SERVER_PATH%}/guide/help">ﾍﾙﾌﾟ</a>

</center>
</font>
{%$hr1%}

<font size="2">
{%$SITE_NAME%}の使い方を次の6つのSTEPにそって解説します。<br><br>

≫<a href="#help2">①無料会員登録の手順</a><br>
≫<a href="#help3">②{%$POINT_NAME%}購入方法</a><br>
≫<a href="#help4">③入札の仕方</a><br>
≫<a href="#help5">④落札後の手順</a><br>
≫<a href="#help6">⑤オークションの種類</a><br>
≫<a href="#help7">⑥自動入札の設定方法</a><br>


{%$hr1%}







<font color="{%$cl3%}"><a name="help2"></a>①無料会員登録の手順</font><br>

「無料会員登録」ボタンをクリックしてください。会員登録ページへ移動します。<br>
　↓<br>
*がついている項目は必ず入力してください。（落札された商品の決済や配送に必要ですので、正確にご記入ください。）<br>
第三者に公開されることはありません。<br>
アメオク利用規約、プライバーポリシーに同意のうえ、登録ボタンをクリックしてください。<br>
　↓<br>
ご登録頂いたメールアドレスに仮登録メールが送られます。<br>
メール本文に記載されたリンクをクリックしてください。これでご利用登録は完了です。<a href="#help1">▲戻る</a>{%$hr3%}

<font color="{%$cl3%}"><a name="help3"></a>②アメコイン購入方法</font><br>

ログイン後、「アメコイン購入」をクリック。
<br>購入したいアメコイン数を選択して「購入」ボタンをクリックしてください。<br>
　↓<br>
決済手法を選択して、決済してください。<br>
　↓<br>
支払い手続きが完了しますと、ページ右上にコイン数が表示されます。<br>
マイページのアメコイン残高でも確認ができます。<br>
さあ、これで入札準備は完了です。<a href="#help1">▲戻る</a>{%$hr3%}

<font color="{%$cl3%}">③<a name="help4"></a>入札の仕方</font><br>

各オークション商品エリアにある「入札」ボタンをクリック。<br>
入札すると、ご自分が最高入札者になります。<br>
　↓<br>
入札されるたびに落札価格が1円～15円ずつアップ（オークションの種類によって異なります）残り時間は20秒ずつアップします。<br>
　↓<br>
残り時間が0秒になったら落札者が確定になります。<a href="#help1">▲戻る</a>{%$hr3%}

<font color="{%$cl3%}"><a name="help5"></a>④落札後の手順</font><br>

［落札後］マイページの落札済みリストから支払いをクリック。<br>
　↓<br>
［支払について］落札後は、落札価格（＝商品の購入価格）ならびに送料315円を確認し、購入意志を再確認したうえで 落札価格＋送料 を支払い、商品の到着を待ちます。<br>
お支払いには銀行振込、インターネットバンク、クレジットカードがご利用いただけます。<br>
※落札した商品の購入は落札日より21日以内に行う必要があります。落札後21日を過ぎても購入処理がされない場合は、その商品の購入権利は自動的に失われますのでご注意下さい。<br>
　↓<br>
[商品の配送について］商品の到達は通常1週間以内を予定しておりますが、購入後14日たっても商品が届かない場合は、お手数ではございますが、弊社にお問い合わせください。<a href="#help1">▲戻る</a>{%$hr3%}

<font color="{%$cl3%}"><a name="help6"></a>⑤オークションの種類</font><br>
<br>
［ビギナーズオークション］<br>
落札されたことが無い会員限定のオークションです。1入札で5円アップします。1度落札されると次からはビギナーズオークションに参加できなくなりますのでご注意ください。<br>
　※既に落札をしたことがある会員のページには、開催中のビギナーズオークションは表示されません。<br><br>

［フリーオークション］<br>
アメコインを消費せずに何度でも入札可能なオークションです。また、このオークションでは自動入札設定ができません。フリーオークションはアメコインを消費しないので、アメオクの雰囲気を気軽に味わうことが出来ます。<br>
※落札した商品を購入するには、落札価格を支払う必要がありますのでご注意ください。<br><br>

［自動入札禁止オークション］<br>
自動入札機能を使用できないオークションです。自動入札できないため、参加者はパソコンの前にいて自分自身で入札ボタンをクリックしなければなりません。<br><br>

［1円オークション］<br>
1入札あたりに１円アップするオークションです。その分、比較的安い価格で落札できます。<br><br>

［通常オークション］<br>
上記のオークション以外のオークションです。1入札で15円アップします。<a href="#help1">▲戻る</a>{%$hr3%}

<font color="{%$cl3%}"><a name="help7"></a>⑥自動入札の設定方法</font><br>
オークションの価格が事前に設定した上限金額と下限金額の間に達した際に、ログインしていない状態であっても自動的にそのオークションに入札してくれる仕組みです。<a href="#help1">▲戻る</a>




</font>

{%$hr1%}
<font size="1">
<center>
<a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}とは？</a>｜<a href="{%$SERVER_PATH%}/guide/how">使い方</a>｜<a href="{%$SERVER_PATH%}/guide/question">Q&A</a>｜<a href="{%$SERVER_PATH%}/guide/help">ﾍﾙﾌﾟ</a>
<br><a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>
</center>
</font>


{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>
