{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/discr.html'%}
{%include file='mobile/parts/top.html'%}

<a href="{%$SERVER_PATH%}/game">ゲームスタート</a>
{%if ($isLogin ==true)%} <!--ログイン状態判定 -->
<!-- ログイン時の表記を記載 -->
{%include file='mobile/parts/index_banner_after.html'%}
{%else%}
<!-- 未ログイン時の表記を記載 -->
{%include file='mobile/parts/index_banner_before.html'%}
{%/if%}
{%include file='mobile/parts/index_notice.html'%}
{%include file='mobile/parts/index_open.html'%}
{%include file='mobile/parts/index_pickup.html'%}
            

{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}

<!--listing sta-->
{%$LISTING_TAG%}
{%$LISTING_TAG2%}
<!--listing end-->
</body>
</html>