{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<div><font color="red">{%$message%}</font></div>
{%$h2%}{%$POINT_NAME%}購入方法選択し{%$h22%}
{%$hr2%}
<font size="2">




   <!-- ここはｺｲﾝ購入のﾒﾆｭｰ  start -->
<font color="{%$cl3%}">■</font>購入内容:<br>
{%$menu->f_coin%}{%$POINT_NAME%}({%$menu->f_coin%}入札分)<br>
<font color="{%$cl3%}">■</font>お支払い:<br>
{%$menu->f_inp_money%}円<br>
   <br>
<font color="red">ご注意下さい!!</font><br>
<font size="1">･1入札で1{%$POINT_NAME%}を使用します｡<br>
   ･{%$POINT_NAME%}は一切返金できません｡<br>
   ･入札に使用された{%$POINT_NAME%}は落札可否にかかわらず返却されません｡</font>
<br>
   <br>

<font color="{%$cl3%}">■</font>以下からお支払い店舗を選んでください｡<br>

	<form method="GET" action="http://{%$HTTP_HOST%}/cli_ep.php/pcpay/">
    <input type="hidden" value="{%$buy_money%}"  name="buy_money"/>
    <input type="hidden" value="{%$payment%}"    name="payment"/>

    <div id="payment_choice">
<input type="radio" name="st" value="1">ﾛｰｿﾝ<BR>
<input type="radio" name="st" value="2">ｾﾌﾞﾝｲﾚﾌﾞﾝ<BR>
<input type="radio" name="st" value="3">ﾌｧﾐﾘｰﾏｰﾄ
	</div><BR>
    <input type="image" src="{%$IMAGE_PATH%}/btn_kaufenbig.png" alt="購入する"/>
    </form>




</font>
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>

