{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<div><font color="red">{%$message%}</font></div>
{%$h2%}{%$POINT_NAME%}購入方法選択{%$h22%}
{%$hr2%}

<font size="2">


<font color="{%$cl3%}">■</font>購入内容:<br>
{%$menu->f_coin%}{%$POINT_NAME%}({%$menu->f_coin%}入札分)<br>
<font color="{%$cl3%}">■</font>お支払い:<br>
{%$menu->f_inp_money%}円<br>
   <br>
   <font color="red">ご注意下さい!!</font><br>
<font size="1">･1入札で1ｺｲﾝを使用します｡<br>
   ･{%$POINT_NAME%}は一切返金できません｡<br>
   ･入札に使用された{%$POINT_NAME%}は落札可否にかかわらず返却されません｡<br>
   <br>
   以下からお支払い店舗を選んでください｡</font><br><br>

    <form method="GET" action="http://{%$HTTP_HOST%}/cli_ep.php/mbpay/">
    <input type="hidden" value="{%$buy_money%}"  name="buy_money"/>
    <input type="hidden" value="{%$payment%}"    name="payment"/>
    <input type="hidden" value="{%$sf_money%}"   name="sf_money"/>
    <input type="hidden" value="{%$edytype%}"    name="edytype"/>
    <input type="hidden" value="{%$type%}"       name="type"/>

<div id="edytype_choice">
<input type="radio" name="edytype" value="1">ﾊﾟｿﾘ<BR>
<input type="radio" name="edytype" value="2">ﾓﾊﾞｲﾙEDY
 </div>
    <input type="image" src="{%$IMAGE_PATH%}/btn_kaufenbig.png" alt="購入する"/>
    </form>
</div>





</font>
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>