{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}
<div><font color="red">{%$error%}</font></div>
{%$h2%}ﾛｸﾞｲﾝ{%$h22%}
{%$hr2%}

<font size="2">

<form action="{%$SERVER_PATH%}/login{%$guid%}" method="get">
<font color="{%$cl3%}">■</font>ﾕｰｻﾞID:<br>
<input type="text" istyle="3" name="login_id" gtbfieldid="3"/><br>
<font color="{%$cl3%}">■</font>ﾕｰｻﾞpassword:<br>
<input type="text" istyle="4" name="login_pass" gtbfieldid="4"/><br>
<input type="submit" value="ﾛｸﾞｲﾝ"/><br>
{%$hr1%}
<font size="1" color="red"><a href="{%$SERVER_PATH%}/member/forget">ﾊﾟｽﾜｰﾄﾞを忘れた方はこちら</a></font>
</form>
</font>

{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>
