{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

            <div class="contentbox_m">
            <!--message：正式に会員登録しました。また、すでに登録済みなどのメッセージ-->
                {%$message%}<br>
                <a href="{%$SERVER_PATH%}">HOME</a>
            </div>

<!--AFFILIATE:アフィリエイトのタグ:削除禁止！-->
{%$affiliate_tag%}
{%$affiliate_tag2%}
<!--AFFILIATE:アフィリエイトのタグ:削除禁止！-->

            
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>
