{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<div><font color="red">{%$message%}</font></div>

    <div><a href="{%$url%}">{%$str%}</a></div>



{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>
