{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}


<div><font color="red">{%$message%}</font></div>
{%include file=$include_file %}
    
    
<!--AFFILIATE:アフィリエイトのタグ:削除禁止！-->
{%$affiliate_tag%}
{%$affiliate_tag2%}
<!--AFFILIATE:アフィリエイトのタグ:削除禁止！-->



{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>
