{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

{%$h2%}ﾊﾟｽﾜｰﾄﾞ再設定{%$h22%}
{%$hr2%}
<font size="2">


<div><font color="red">{%$message%}</font></div>

新しいﾊﾟｽﾜｰﾄﾞを入力し､変更ﾎﾞﾀﾝを押してください｡<br><br>

    <form action="{%$SERVER_PATH%}/member/pass_reset" method="post" class="new_pass">
        <input type="hidden" name="mode" value="{%$mode%}"/>
        <input type="hidden" name="idcode" value="{%$idcode%}"/>

<font color="{%$cl3%}">■</font>新しいﾊﾟｽﾜｰﾄﾞ<BR>
<input type="text" name="pass" size="30" id="pass" istyle="3"/><BR>
<font color="{%$cl3%}">■</font>新しいﾊﾟｽﾜｰﾄﾞ再入力</span><BR>
<input type="text" name="repass" size="30" id="repass" istyle="3"/><BR><BR>
<input type="submit" value="変更する"/>

    </form>




</font>
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>

