{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

{%$h2%}ﾊﾟｽﾜｰﾄﾞを忘れた場合{%$h22%}
{%$hr2%}
<font size="2">

<div><font color="red">{%$message%}</font></div>

{%$SITE_NAME%}にご登録されたﾒｰﾙｱﾄﾞﾚｽをご記入の上､送信ﾎﾞﾀﾝを押してください｡
ご登録いただいているﾒｰﾙｱﾄﾞﾚｽにﾊﾟｽﾜｰﾄﾞ再発行の手順をお送りします｡<br><br>

<font color="{%$cl3%}">■</font>ﾒｰﾙｱﾄﾞﾚｽ:<br>
<form action="{%$SERVER_PATH%}/member/forget" method="get">
<input type="hidden" name="mode" value="{%$mode%}"/>
<input type="text" name="email" size="30" gtbfieldid="3" istyle="3" /><br><br>
<input type="submit" value="送信"/>
</form>





</font>
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>
