{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

{%$h2%}ﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰ{%$h22%}
{%$hr2%}

<font size="1">

当社は､下記の考え方に基づきﾌﾟﾗｲﾊﾞｼｰ保護に最大限の注意を払って本ｻｰﾋﾞｽを運営しております｡<br><br>


<font color="{%$cl3%}">1.個人情報の取得について</font>

<ul>
<li>個人情報とは､本ｻｰﾋﾞｽを通じて利用者から取得する氏名､ﾒｰﾙｱﾄﾞﾚｽ､住所､電話番号等のうち､利用者個人を特定できる情報のことを指します｡</li>
</ul><br>

<font color="{%$cl3%}">2.個人情報の利用目的について</font>

<ul>
当社は､利用者の個人情報を以下の目的で利用することができるものとします｡
<li>本ｻｰﾋﾞｽならびにその他本ｻｰﾋﾞｽに関連する情報の提供のため</li>
<li>利用者の本人確認､ｸﾚｼﾞｯﾄｶｰﾄﾞの認証ｻｰﾋﾞｽのため</li>
<li>{%$POINT_NAME%}や商品ならびに送料の決済のため</li>
<li>落札者への商品の配送のため</li>
<li>当社及び第三者の商品等の広告または宣伝(ﾀﾞｲﾚｸﾄﾒｰﾙの送付､電子ﾒｰﾙの送信を含む)のため</li>
<li>ｱﾌﾀｰｻｰﾋﾞｽ､各種問い合わせ対応のため</li>
</li>
</ul><br>

<font color="{%$cl3%}">3.個人情報の共有ならびに利用制限について</font>

<ul>
当社は､以下に定める場合を除いて､事前に利用者本人の同意を得ず､利用目的の達成に必要な範囲を超えて個人情報を利用または共有することはありません｡
<li>購入商品の仕入ならびに配送を手配する目的で､商品の仕入先ならびに配送業者に配送先情報を提供する場合</li>
<li>裁判所､検察庁､警察､税務署､弁護士会またはこれらに準じた権限を持つ機関から､ 個人情報の開示を求められた場合</li>
<li>利用者によるｸﾚｼﾞｯﾄｶｰﾄﾞ等による利用料金決済のため､ｸﾚｼﾞｯﾄｶｰﾄﾞ会社､ｸﾚｼﾞｯﾄｶｰﾄﾞ決済等の代行会社､金融機関､回収代行業者に開示する場合</li>
<li>本ｻｰﾋﾞｽの提供において弊社が必要と判断した際､弁護士等､弊社に対して秘密保持義務を負う者に対して開示する場合</li>
<li>合併､営業譲渡その他の事由による事業の承継の際に､事業を承継する者に対して開示する場合</li>
<li>法令により認められた場合</li>
</li>
</ul><br>

<font color="{%$cl3%}">4.個人情報の安全管理について</font>
<ul>
<li>当社では､個人情報の漏洩または毀損の防止ならびにその他個人情報の安全管理が行われるよう､個人情報の適切な管理を指導しています｡
また､個人情報の取り扱いを外部に委託する場合には､機密保持契約を締結のうえ委託先を監督します｡</li>
</ul><br>

<font color="{%$cl3%}">5.本ｻｰﾋﾞｽ以外での個人情報の管理について</font>
<ul>
<li>本ｻｰﾋﾞｽならびに本ｻｰﾋﾞｽより送付された電子ﾒｰﾙやﾀﾞｲﾚｸﾄﾒｰﾙにおいて､当社以外の第三者にて登録される個人情報の管理について､当社では一切の責任を負うことができません｡本ｻｰﾋﾞｽ以外のｻｰﾋﾞｽの利用については､都度当該ｻｰﾋﾞｽのﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰをご確認ください｡</li>
</ul><br>

<font color="{%$cl3%}">6.ｸｯｷｰについて</font>
<ul>
<li>本ｻｰﾋﾞｽでは､ｸｯｷｰ(cookie)と呼ばれる技術を利用しています｡ｸｯｷｰとは､特定のﾃｷｽﾄ情報をお客様の利用する通信機器に一時的にﾃﾞｰﾀとして保持させ､接続の度にそのﾃﾞｰﾀを基に会員を識別させる仕組みをいいます｡ｸｯｷｰ単体では個人の特定が出来ない為､個人情報とは考えておりませんが､他の個人情報との組み合わせにより個人を特定できる場合にはこれを個人情報とみなします｡

当社では､ｸｯｷｰの利用を前提としたｻｰﾋﾞｽを提供しているため､ｸｯｷｰの利用を許可しない場合､弊社の一部のｻｰﾋﾞｽを受けられないことがあります｡ｸｯｷｰの利用を許可するかどうかは､お客様のﾌﾞﾗｳｻﾞで設定できます｡必要に応じて設定を確認してください｡

また本ｻｰﾋﾞｽ上で､広告表示回数を計測する等のため､当社以外の第三者企業の広告ｼｽﾃﾑによりｸｯｷｰが送信されることがあります｡</li>
</ul><br>

<!--
<font color="{%$cl3%}">7.ｾｷｭﾘﾃｨ技術について</font>
<ul>
<li>当社では､SSL(Secure Socket Layer)という業界標準の暗号方式を使用して暗号化を行っています｡

当社で必要と判断した個人情報は､SSL暗号化通信により保護し､安全性の確保に努めます｡

また､個人情報は､当社所定の基準において厳重管理し､ﾌｧｲﾔ･ｳｫｰﾙの設置･ｳｨﾙｽ対策の整備等により､個人情報へのｱｸｾｽ､紛失､破壊､改竄､漏洩､ｳｨﾙｽ感染等の防止策を講じています｡</li>
</ul><br>
-->

<font color="{%$cl3%}">8.個人情報の開示･訂正･利用停止･消去等について</font>
<ul>
本ｻｰﾋﾞｽの利用者より､本人の個人情報の開示､訂正､追加､削除､利用停止､消去､第三者提供の停止､利用目的の通知を求められたときは､

当該請求者が正当な権利を有していることを確認したうえで､本人に対し可能な限り迅速に対応致します｡

ただし､対応することにより次のいずれかに該当する場合は､その全部または一部を対応しないこともあり､対応しない決定をした場合にはその旨を可能な限り迅速に通知いたします｡
<li>(1)ご本人または第三者の生命､身体､財産､その他の権利利益を害する可能性がある場合</li>
<li>(2)当社の業務に著しい支障を及ぼす可能性がある場合</li>
<li>(3)法令に違反する可能性がある場合｡</li>
なお､ｱｸｾｽﾛｸﾞなどの個人情報以外の情報については､原則として開示等はいたしません｡
</ul><br>

<font color="{%$cl3%}">9.ﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰの変更について</font>
<ul>
<li>当社は､本ﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰを変更する場合があります｡

本ﾍﾟｰｼﾞを都度ご確認の上､本ｻｰﾋﾞｽのﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰをご理解頂く様お願い致します｡

なお､当社への個人情報保護に冠するお問い合わせ等については<br><br>

こちらの<a href="{%$SERVER_PATH%}/guide/contact">ﾒｰﾙﾌｫｰﾑ</a>よりご連絡ください｡<br>
</li>
</ul><br>




</font>
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>