{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

{%$h2%}終了したｵｰｸｼｮﾝ{%$h22%}
{%$hr2%}
<font size="2">


<font color="{%$cl3%}">■</font>ｶﾃｺﾞﾘ：{%$product->f_category_name%}<br>

{%$hr1%}

<!--商品名：-->
<font color="blue"><b>{%$product->f_products_name%}</B></font><br>
<!--商品TOP見出し:-->
{%em c=PENCIL%}{%$product->f_top_description_mb%}<br>

<center>
        <IMG height="100" width="100" src='{%$product->f_photo1mb%}'><br>
        
        {%assign var="no" value=1%}
        {%foreach from=$imgs item=img%}
        <span>
            <a href="{%$SERVER_PATH%}/product/image?pro_id={%$product->fk_products_id%}&img={%$img%}">{%$no%}</a> 
        </span>
        {%assign var="no" value=$no+1%}
        {%/foreach%}
</center>
    {%em c=BELL%}{%$product->f_auction_name%}<br>


<font color="{%$cl3%}">■</font>落札用コイン数：{%$product->bidcoins%}<BR>
<font color="{%$cl3%}">■</font>開始価格:\{%$product->f_start_price%}<BR>
<font color="{%$cl3%}">■</font>落札価格:\{%$product->f_end_price%}<BR>
<font color="{%$cl3%}">■</font>プラス落札価格:\{%$product->plus_end_price%}<BR>
<font color="{%$cl3%}">■</font>市場価格:\{%$product->f_market_price%}<BR>
<font color="{%$cl3%}">■</font>ﾃﾞｨｽｶｳﾝﾄ額:\{%$product->discount_price%}<BR>
<font color="{%$cl3%}">■</font>プラスﾃﾞｨｽｶｳﾝﾄ額:\{%$product->plus_discount_price%}<BR>
<font color="{%$cl3%}">■</font>ﾃﾞｨｽｶｳﾝﾄ率:{%$product->discount_rate%}%<BR>
<font color="{%$cl3%}">■</font>プラスﾃﾞｨｽｶｳﾝﾄ率:{%$product->plus_discount_rate%}%<BR>
<font color="{%$cl3%}">■</font>落札時間:<font color='red'>{%$product->f_end_time%}</font><BR>
<font color="{%$cl3%}">■</font>落札者:{%$product->f_handle%}<BR>
{%if ($isLogin ==true)%}
    あなたの入札回数：{%$product->bid_count%}<br>
{%/if%}
{%$hr1%}
<font color="{%$cl3%}">■</font>商品説明:
    <font size=1>
        {%$product->f_main_description_mb%}
    </font>
    <br>
{%$hr1%}
<font color="{%$cl3%}">■</font>入札記録<br>

    <!--繰り返しで､商品の入札ﾛｸﾞを出力する-->
    {%foreach from=$logs item=log%}


    <!--商品の入札ﾛｸﾞ　ここに  start -->
    <div id="bid_log_{%$log->fk_bid_log_id%}" >
        {%$log->f_price%}円:{%$log->f_handle%}:{%$log->f_bid_type%}
    </div>
    <!--商品の入札ﾛｸﾞ　ここに  start -->
{%/foreach%}
{%$hr1%}

<font color="{%$cl3%}">■</font>落札者の声:<br>
{%$comment->f_memo%}<br>
{%$hr1%}
<A HREF='{%$SERVER_PATH%}'>戻る</A>









</font>
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>
