<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta content="MSHTML 8.00.6001.18882" name="GENERATOR">
        <title>{%$SITE_NAME%}</title>
    </head>
    <body>
        <div>
            <center>
                <a href="{%$SERVER_PATH%}/product?pro_id={%$product_id%}">
                    <img src="{%$img%}" />
                </a>
            </center>
            <div>
                <a href="{%$SERVER_PATH%}/product?pro_id={%$product_id%}">戻る</a>
            </div>
        </div>
    </body>
</html>
