{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

{%$h2%}開催中ｵｰｸｼｮﾝ{%$h22%}
{%$hr2%}
<font size="2">

    <center><!--ｳｫｯﾁﾘｽﾄのﾘﾝｸﾞの表示処理  start-->
    {%if $isWatched == true%}
<div align="center"></div>
    {%em c=OK%}<font color="#FF0A68">ｳｫｯﾁﾘｽﾄに追加済み</font><BR>
    {%elseif $isLogin%}
    {%em c=CAMERA%}<a href="{%$SERVER_PATH%}/product/watch?pro_id={%$product->fk_products_id%}"><font color="orange">ｳｫｯﾁﾘｽﾄに追加</font></a>

{%$hr1%}
    {%/if%}
    <!--ｳｫｯﾁﾘｽﾄのﾘﾝｸﾞの表示処理  end-->
</center>



<center>{%em c=BELL%}{%$product->f_auction_name%}<br>
<font color="{%$cl3%}"><b><!--商品名：-->{%$product->f_products_name%}</B></font></center>

<center>
        <IMG height="100" width="100" src='{%$product->f_photo1mb%}'><br>
        
        {%assign var="no" value=1%}
        {%foreach from=$imgs item=img%}
        <span>
            <a href="{%$SERVER_PATH%}/product/image?pro_id={%$product->fk_products_id%}&img={%$img%}">{%$no%}</a> 
        </span>
        {%assign var="no" value=$no+1%}
        {%/foreach%}
</center>
    
<center>
現在価格:\<font color='red'>{%$product->f_now_price%}</font><br>
残り時間:【<blink><font color='red'>{%$product->f_auction_time%}</font></blink>】<br>
        {%if $product->f_status==2 %}
        <!--商品開催中の場合：落札者-->
        落札者:
        {%else%}
        <!--商品終了の場合：入札者-->
        入札者:
        {%/if%}
        <!--　入札者の名前､また落札者の名前　-->
        {%$product->f_last_bidder_handle%}
        <br>

        {%if ($isLogin ==true)%}
        <!--ﾛｸﾞｲﾝ済みの場合：入札ﾎﾞﾀﾝが表示　-->
        {%em c=THUNDER%}<A HREF='{%$SERVER_PATH%}/product/push?id={%$product->fk_products_id%}'><font size="3"><b>入札する</b></font></A>{%em c=THUNDER%}
        {%else%}
        <!--ﾛｸﾞｲﾝしないの場合：登録/ﾛｸﾞｲﾝﾘﾝｸﾞが表示　-->
        <A HREF='{%$SERVER_PATH%}/login/form'><font size="3"><b>登録/ﾛｸﾞｲﾝ</b></font></A>
        {%/if%}


<br>
<A HREF="{%$SERVER_PATH%}/product?pro_id={%$product->fk_products_id%}" accesskey="5">{%em c=NUM5%}で更新{%em c=TYPHOON%}</A>
</center>
{%if $prev_product %}
<span>前回落札価格：￥{%$prev_product->f_end_price%}</span><br>
<span>前回落札者：{%$prev_product->f_handle%}</span><br>
{%/if%}
<font color="{%$cl3%}">■</font>市場価格:\{%$product->f_market_price%}<br>
<font color="{%$cl3%}">■</font>ﾃﾞｨｽｶｳﾝﾄ額:\{%$product->discount_price%}<br>
<font color="{%$cl3%}">■</font>ﾃﾞｨｽｶｳﾝﾄ率:{%$product->discount_rate%}%<br>
<div><font color="red">{%$message%}</font></div>


{%$hr3%}
{%if ($isLogin ==true)%}
<!-- 会員の自動入札設定情報 -->
{%if $option_auto_bid_info  && $setting%}
{%em c=LIGHT%}<font color="orange"><b>自動入札設定件数：{%$auto_bid_counts%}</b></font><br>
{%foreach from=$setting item=info%}
<font color="{%$cl3%}">■</font>設定ｺｲﾝ数:{%$info->auto_bid_coins%}枚<br>
<font color="{%$cl3%}">■</font>開始金額:{%$info->auto_bid_start_price%}～<br>
<font color="{%$cl3%}">■</font>終了金額:{%$info->auto_bid_end_price%}<br>
<font color="{%$cl3%}">■</font>残ｺｲﾝ数:{%$info->auto_bid_last_coins%}枚<br>
{%if $info->f_status == 0 %}
<a href="{%$SERVER_PATH%}/product/cancel?pro_id={%$product->fk_products_id%}&auto_id={%$info->fk_auto_id%}">ｷｬﾝｾﾙ</a><br>
{%else%}
<font color="red"><span>{%$info->stauts_des%}</span></font><br>
{%/if%}
{%$hr3%}
{%/foreach%}
{%/if%}



	{%if ($product->auction_type==7) %}
{%em c=LIGHT%}<font color="orange"><b>おまかせ自動入札設定</b></font><br>
<div><font color="red">{%$message%}</font></div>
        <form method="get" action="{%$SERVER_PATH%}/myproduct/set_auto">
<font color="{%$cl3%}">■</font>入札下限額<input type="text" value="" istyle="4" name="price_from" size="5" gtbfieldid="1"><br>
<font color="{%$cl3%}">■</font>入札上限額<input type="text" value="" istyle="4" name="price_to" size="5" gtbfieldid="2"><br>
<font color="{%$cl3%}">■</font>入札回数<input type="text" value="" istyle="4" name="bid_count" size="3" gtbfieldid="3"><br>
            <input type="submit" value="設定"><br><br>
            <input type="hidden" name="pro_id" value="{%$product->fk_products_id%}"/>
        </form>
{%$hr1%}
	{%elseif ($product->auction_type==2) %} 
{%em c=LIGHT%}<font color="orange"><b>おまかせ自動入札設定</b></font><br>
<div><font color="red">{%$message%}</font></div>
        <form method="get" action="{%$SERVER_PATH%}/myproduct/set_auto">
<font color="{%$cl3%}">■</font>入札下限額<input type="text" value="" istyle="4" name="price_from" size="5" gtbfieldid="1"><br>
<font color="{%$cl3%}">■</font>入札上限額<input type="text" value="" istyle="4" name="price_to" size="5" gtbfieldid="2"><br>
<font color="{%$cl3%}">■</font>入札回数<input type="text" value="" istyle="4" name="bid_count" size="3" gtbfieldid="3"><br>
            <input type="submit" value="設定"><br><br>
            <input type="hidden" name="pro_id" value="{%$product->fk_products_id%}"/>
        </form>
{%$hr1%}
	{%elseif ($product->auction_type==3) %}  
{%em c=LIGHT%}<font color="orange"><b>おまかせ自動入札設定</b></font><br>
<div><font color="red">{%$message%}</font></div>
        <form method="get" action="{%$SERVER_PATH%}/myproduct/set_auto">
<font color="{%$cl3%}">■</font>入札下限額<input type="text" value="" istyle="4" name="price_from" size="5" gtbfieldid="1"><br>
<font color="{%$cl3%}">■</font>入札上限額<input type="text" value="" istyle="4" name="price_to" size="5" gtbfieldid="2"><br>
<font color="{%$cl3%}">■</font>入札回数<input type="text" value="" istyle="4" name="bid_count" size="3" gtbfieldid="3"><br>
            <input type="submit" value="設定"><br><br>
            <input type="hidden" name="pro_id" value="{%$product->fk_products_id%}"/>
        </form>
{%$hr1%}
	{%elseif ($product->auction_type==4) %} 
{%em c=LIGHT%}<font color="orange"><b>おまかせ自動入札設定</b></font><br>
<div><font color="red">{%$message%}</font></div>
        <form method="get" action="{%$SERVER_PATH%}/myproduct/set_auto">
<font color="{%$cl3%}">■</font>入札下限額<input type="text" value="" istyle="4" name="price_from" size="5" gtbfieldid="1"><br>
<font color="{%$cl3%}">■</font>入札上限額<input type="text" value="" istyle="4" name="price_to" size="5" gtbfieldid="2"><br>
<font color="{%$cl3%}">■</font>入札回数<input type="text" value="" istyle="4" name="bid_count" size="3" gtbfieldid="3"><br>
            <input type="submit" value="設定"><br>
            <input type="hidden" name="pro_id" value="{%$product->fk_products_id%}"/>
        </form>
{%$hr1%}
	{%elseif ($product->auction_type==1) %} 
	{%elseif ($product->auction_type==5) %} 
	{%elseif ($product->auction_type==6) %}  
	{%/if%}



<font color="{%$cl3%}">■</font>あなたの入札回数：{%$product->bid_count%}<br>
{%/if%}
{%$hr3%}

<font color="{%$cl3%}">■</font>ｶﾃｺﾞﾘ：{%$product->f_category_name%}<br>
<!--商品TOP見出し:-->
{%em c=PENCIL%}{%$product->f_top_description_mb%}<br>


<font color="{%$cl3%}">■</font>商品の詳細:
    <font size=1>
        {%$product->f_main_description_mb%}
    </font>
    <br>
{%$hr1%}
<font color="{%$cl3%}">■</font>入札記録<br>

    <!--繰り返しで､商品の入札ﾛｸﾞを出力する-->
    {%foreach from=$logs item=log%}


    <!--商品の入札ﾛｸﾞ　ここに  start -->
    <div id="bid_log_{%$log->fk_bid_log_id%}" >
        {%$log->f_price%}円:{%$log->f_handle%}:{%$log->f_bid_type%}
    </div>
    <!--商品の入札ﾛｸﾞ　ここに  start -->
{%/foreach%}
{%$hr1%}

<font color="{%$cl3%}">■</font>落札者の声:<br>
{%$comment->f_memo%}<br>
{%$hr3%}
<A HREF='{%$SERVER_PATH%}'>戻る</A>




</font>
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>