{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<div><font color="red">{%$message%}</font></div>
{%$h2%}よくある質問{%$h22%}
{%$hr2%}
<font size="1">
<center>
<a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}とは？</a>｜<a href="{%$SERVER_PATH%}/guide/how">使い方</a>｜<a href="{%$SERVER_PATH%}/guide/question">Q&A</a>｜<a href="{%$SERVER_PATH%}/guide/help">ﾍﾙﾌﾟ</a>

</center>
</font>
{%$hr1%}
<font size="2">


<font color="{%$cl3%}">Ｑ.{%$SITE_NAME%}に参加するには?</font><br>
<font color="{%$cl2%}">Ａ.</font>まずは{%$SITE_NAME%}への無料会員登録を行ってください｡({%$SITE_NAME%}に登録できるのは､日本にお住まいの個人に限ります｡但し利用者が未成年者であるときは､本ｻｰﾋﾞｽ利用の都度､本ｻｰﾋﾞｽの利用について事前に保護者の同意を得るものとします)<br>
登録が完了したら､{%$POINT_NAME%}を購入することによりｵｰｸｼｮﾝに入札することができるようになります｡<br><br>

<font color="{%$cl3%}">Ｑ.入札の方法は?</font><br>
<font color="{%$cl2%}">Ａ.</font>開催中の商品の中からお好きなものを選び､商品の金額等をご確認いただいてから｢入札｣ﾎﾞﾀﾝをｸﾘｯｸしてください｡現在入札されている方のお名前が金額の下に表示されます｡<br>
※必要に応じて{%$POINT_NAME%}を購入してください<br><br>

<font color="{%$cl3%}">Ｑ.自動入札って何?</font><br>
<font color="{%$cl2%}">Ａ.</font>会員様ご自身で設定をしていただいた金額で自動的に入札を行う機能です｡<br>
詳しくはご利用ｶﾞｲﾄﾞをご覧ください｡<br><br>

<font color="{%$cl3%}">Ｑ.{%$POINT_NAME%}を買うには?</font><br>
<font color="{%$cl2%}">Ａ.</font>｢{%$POINT_NAME%}購入｣のﾎﾞﾀﾝより購入画面にお進みいただいて､購入する{%$POINT_NAME%}を選択肢し､決済方法を選んでお支払いください｡購入完了しますと､{%$POINT_NAME%}の枚数が追加されます｡枚数をご確認ください｡<br><br>

<font color="{%$cl3%}">Ｑ.{%$POINT_NAME%}の決済方法は?</font><br>
<font color="{%$cl2%}">Ａ.</font>お支払いには銀行振込､ｲﾝﾀｰﾈｯﾄﾊﾞﾝｸ､ｸﾚｼﾞｯﾄｶｰﾄﾞがご利用いただけます｡<br><br>

<font color="{%$cl3%}">Ｑ.{%$POINT_NAME%}の有効期限はあるの?</font><br>
<font color="{%$cl2%}">Ａ.</font>ご購入いただきました{%$POINT_NAME%}につきましては､ご購入日から180日間とさせていただいております｡有効期限を過ぎると{%$POINT_NAME%}は消滅し利用できなくなりすのでご注意ください｡<br>
友達紹介等によって獲得したﾎﾞｰﾅｽ{%$POINT_NAME%}の有効期限は入手から30日間となります｡<br><br>

<font color="{%$cl3%}">Ｑ.落札した商品はどこから購入できますか?</font><br>
<font color="{%$cl2%}">Ａ.</font>商品の詳細画面もしくはﾏｲﾍﾟｰｼﾞの落札済ﾘｽﾄからご購入いただけます｡<br><br>

<font color="{%$cl3%}">Ｑ.落札商品の決済方法は?</font><br>
<font color="{%$cl2%}">Ａ.</font>お支払いには銀行振込､ｲﾝﾀｰﾈｯﾄﾊﾞﾝｸ､ｸﾚｼﾞｯﾄｶｰﾄﾞがご利用いただけます｡<br><br>

<font color="{%$cl3%}">Ｑ.送料はかかりますか?</font><br>
<font color="{%$cl2%}">Ａ.</font>一律315円の送料がかかります｡<br><br>

<font color="{%$cl3%}">Ｑ.落札商品の購入期限はありますか?</font><br>
<font color="{%$cl2%}">Ａ.</font>落札してから21日間です｡それを過ぎますと､購入できなくなりますのでご注意ください｡<br><br>

<font color="{%$cl3%}">Ｑ.商品の保証書は有りますか?</font><br>
<font color="{%$cl2%}">Ａ.</font>{%$SITE_NAME%}で取り扱っている商品はすべて新品ですので保証書も付いております｡保証書の捺印はされている場合と､されていない場合があります｡捺印がされていない場合は､一緒に送付されます納品書が捺印の代わりになりますので､大切に保管をお願いします｡<br><br>

<font color="{%$cl3%}">Ｑ.ｵｰｸｼｮﾝの種類は何種類ありますか?</font><br>
<font color="{%$cl2%}">Ａ.</font>{%$SITE_NAME%}では色々な種類のｵｰｸｼｮﾝを開催しております｡詳しくはﾍﾙﾌﾟのｵｰｸｼｮﾝについてをご覧ください｡<br><br>

<font color="{%$cl3%}">Ｑ.商品を出品したいのですが?</font><br>
<font color="{%$cl2%}">Ａ.</font>{%$SITE_NAME%}では､商品を出品することができません｡ｵｰｸｼｮﾝに出品されている商品は､すべて新品､ﾒｰｶｰ保証書付きの商品となっております｡


</font>
{%$hr1%}
<font size="1">
<center>
<a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}とは？</a>｜<a href="{%$SERVER_PATH%}/guide/how">使い方</a>｜<a href="{%$SERVER_PATH%}/guide/question">Q&A</a>｜<a href="{%$SERVER_PATH%}/guide/help">ﾍﾙﾌﾟ</a><br>
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>


</center>
</font>
{%$hr1%}


{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>

