{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<div><font color="red">{%$message%}</font></div>
{%$h2%}無料会員登録{%$h22%}
{%$hr2%}
<font size="2">


<form action="{%$SERVER_PATH%}/member/register" method="get">
<font color="{%$cl3%}">■</font>ﾆｯｸﾈｰﾑ:<br>
{%$p.handle%}<br>
<input type="hidden" name="handle" value="{%$p.handle%}">
<font color="{%$cl3%}">■</font>ﾛｸﾞｲﾝID:<br>
{%$p.login_id%}<br>
<input type="hidden" name="login_id" value="{%$p.login_id%}">
<font color="{%$cl3%}">■</font>ﾛｸﾞｲﾝPASS:<br>
{%$p.login_pass%}<br>
<input type="hidden" name="login_pass" value="{%$p.login_pass%}">

<!--
<font color="{%$cl3%}">■</font>ﾒｰﾙｱﾄﾞﾚｽ:<br>
{%$p.mail_address%}<br>
<input type="hidden" name="mail_address" value="{%$p.mail_address%}">
-->
<font color="{%$cl3%}">■</font>性別:<br>
{%$p.sex_string%}<br>
<input type="hidden" name="sex" value="{%$p.sex%}">

<!--
<font color="{%$cl3%}">■</font>電話番号:<br>
{%$p.tel_no%}<br>
<input type="hidden" name="tel_no" value="{%$p.tel_no%}">
-->

<font color="{%$cl3%}">■</font>生年月日:<br>
{%$p.birthday%}<br>
<input type="hidden" name="birthday" value="{%$p.birthday%}">
<!--
<font color="{%$cl3%}">■</font>年齢:<br>
{%$p.age%}<br>
<input type="hidden" name="age" value="{%$p.age%}">
-->
<font color="{%$cl3%}">■</font>お名前:<br>
{%$p.onamae%}<br>
<input type="hidden" name="onamae" value="{%$p.onamae%}">
<font color="{%$cl3%}">■</font>地域:<br>
{%$p.area_name%}<br>
<input type="hidden" name="area" value="{%$p.area%}">
<font color="{%$cl3%}">■</font>職業:<br>
{%$p.job_name%}<br>
<input type="hidden" name="job" value="{%$p.job%}">
<font color="{%$cl3%}">■</font>ﾒｰﾙﾏｶﾞｼﾞﾝを受け取る:<br>
{%$p.mailmagazine_string%}<br><br>
<input type="hidden" name="mailmagazine" value="{%$p.mailmagazine%}">

<input type="hidden" name="mode" value="{%$mode%}">
<input type="hidden" name="adcode" value="{%$adcode%}">
<input type="hidden" value="ON" name="guid">
<input type="hidden" value="{%$code%}" name="code">

<input type="submit" value="新規登録" id="submit">
</form>





</font>

{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>
