{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<div><font color="red">{%$message%}</font></div>
{%$h2%}無料会員登録{%$h22%}
{%$hr2%}
<font size="2">




<form method="get" action="{%$SERVER_PATH%}/member/register" id="new_user" >

<font color="{%$cl3%}">■</font>ﾆｯｸﾈｰﾑ<br>
<input type="text" size="15" istyle="3" maxlength="30" value="{%$p.handle%}" name="handle" id="handle" gtbfieldid="318" ><br>

<font color="{%$cl3%}">■</font>ﾛｸﾞｲﾝID<br>
<input type="text" istyle="3" maxlength="80" value="{%$p.login_id%}" name="login_id" id="login_id" gtbfieldid="319"><br>

<font color="{%$cl3%}">■</font>ﾛｸﾞｲﾝPASS<br>
<input type="text"maxlength="80"value="{%$p.login_pass%}" name="login_pass" istyle="4" gtbfieldid="320" id="login_pass"><br>

<!--
<font color="{%$cl3%}">■</font>ﾒｰﾙｱﾄﾞﾚｽ</td>
<td><input type="text" value="{%$p.mail_address%}" name="mail_address" gtbfieldid="321" istyle="3"id="mail_address"><br>
-->

<font color="{%$cl3%}">■</font>性別<br>
<select name="sex" gtbfieldid="322" ><option value="0">男性</option><option value="2">女性</option></select><br>

<!--
<font color="{%$cl3%}">■</font>電話番号<br>
<input type="text" istyle="4" value="{%$p.tel_no%}" name="tel_no" gtbfieldid="323" id="login_pass"><br>
-->

<font color="{%$cl3%}">■</font>生年月日<br>
<select name="birth_year" id="birth_year">
<option value="00">年</option>
{%foreach from=$brithday.year item=year %}
<option value="{%$year%}" {%if $p.birth_year==$year %}selected="selected" {%/if%}>{%$year%}</option>
{%/foreach%}
</select>
<select name="birth_month" id="birth_month">
<option value="00">月</option>
{%foreach from=$brithday.month item=month %}
<option value="{%$month%}" {%if $p.birth_month==$month %}selected="selected" {%/if%}>{%$month%}</option>
{%/foreach%}
</select>
<select name="birth_day" id="birth_day">
<option value="00">日</option>
{%foreach from=$brithday.day item=day %}
<option value="{%$day%}" {%if $p.birth_day==$day %}selected="selected" {%/if%}>{%$day%}</option>
{%/foreach%}
</select><br>

<font color="{%$cl3%}">■</font>お名前<br>
<input type="text" maxlength="30" maxlength="40" value="{%$p.onamae%}" name="onamae" gtbfieldid="328" id="onamae"><br>
		   
<!-- 地域追加ここから始まる-->
 
<font color="{%$cl3%}">■</font>地域<br>
<select name="area" id="area">
<!--<option value="0">[地域]</option> -->
{%foreach from=$a_key_value key=area_ids item=area_names %}
<option value="{%$area_ids%}" {%if $p.area==$area_ids %} selected="selected" {%/if%}>{%$area_names%}</option>
{%/foreach%} 
</select><br>

<!-- 地域追加ここまで終わる-->
   
		  
<!-- 職業追加ここから始まる-->

<font color="{%$cl3%}">■</font>職業<br>
<select name="job" id="job">
<!--<option value="0">[職業]</option> -->
{%foreach from=$j_key_value key=job_ids item=job_names %}
<option value="{%$job_ids%}" {%if $p.job==$job_ids %} selected="selected" {%/if%}>{%$job_names%}</option>
{%/foreach%} 
</select><br>
		
<!-- 職業追加ここまで終わる--> 

<input type="checkbox" name="mailmagazine" {%if $p.mailmagazine =="1"%}checked {%/if%} value="1">ﾒｰﾙﾏｶﾞｼﾞﾝを受け取る<br>
<input type="checkbox" name="agreement" {%if $p.agreement =="1"%}checked {%/if%} value="1">規約に同意して登録する<br><br>
<input type="hidden" value="{%$mode%}" name="mode">
<input type="hidden" value="{%$code%}" name="code">
<input type="hidden" value="ON" name="guid">
<input type="submit" value="確認" id="submit">
</form>







</font>

{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>
