{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<div><font color="red">{%$message%}</font></div>
{%$h2%}サイトマップ{%$h22%}
{%$hr2%}
<font size="2">

ｻｲﾄﾏｯﾌﾟ


</font>
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>