//テンプレート上に使いたい置換文字はここで定義して下さい。　//：行コメント
//例：hr1=<hr color="#79221e" size="0.2"><br>と定義した場合、
//テンプレート上には {%$hr1%}と記入したら、<hr color="#79221e" size="0.2"><br>に置換されます。

s1=<hr color="#79221e" size="0.2"><br>


//{%$body%} ボディ指定用
body=text="#000000" link="#e95295" vlink="#e95295" alink="BLUE" bgcolor="WHITE"

//{%$marq%} マーキー指定用
marq=<marquee color="white" bgcolor="#2ca9e1">アメオクで激安落札を体験しよう！最大98％OFFも夢じゃない！</marquee>

//{%$hr1%}
hr1=<hr color="#2ca9e1" size="1">

//{%$hr2%}
hr2=<hr color="#2ca9e1" size="2">

//{%$hr3%}
hr3=<hr color="#cccccc" size="1">

//{%$h2%}
h2=<div align="center" style="background-color:#bbe2f1;/*#fef263;*/padding:1px;"><h2><font color="#2ca9e1"><B>

//{%$h22%}
h22=</B></font></h2></div>

//{%$cl1%}
cl1=#000000

//{%$cl2%}
cl2=#cc0000

//{%$cl3%}
cl3=#00a3af

//{%$cl4%}
cl4=RED


