{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<div><font color="red">お買い上げ、ありがとうございました。</font></div>

    <div><a href="{%$SERVER_PATH%}">ホームへ</a></div>



{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}

<!--AFFILIATE:アフィリエイトのタグ:削除禁止！-->
{%$affiliate_tag%}
{%$affiliate_tag2%}
<!--AFFILIATE:アフィリエイトのタグ:削除禁止！-->
</body>
</html>