{%include file='mobile/parts/head.html'%}
{%include file='mobile/parts/top.html'%}

<div><font color="red">{%$message%}</font></div>
ZEROクレジット決済ページ

<font size="2">


<font color="{%$cl3%}">■</font>購入内容:<br>
{%$POINT_NAME%}({%$coin->count%}入札分)<br>
<font color="{%$cl3%}">■</font>お支払い:<br>
{%$coin->total_price%}円<br>
   <br>




<table border="0">
<tr>
<td align="center">
<a href="https://credit.zeroweb.ne.jp/cgi-bin/mobile_exp.cgi?clientip=1019000092">クレジットカード決済に関するご説明<br>必ずお読みください</a><br><br>
カード決済に関するお問い合わせ<br>
決済システムは（株）ゼロを利用しています<br>
TEL:0570-03-6000（TEL03-3498-6200）<br>
<a href="mailto:creditinfo@zeroweb.co.jp">creditinfo@zeroweb.co.jp</a><br>
ゼロカスタマーサポート（24時間365日)<br>
</td>
</tr>
</table>




   <font color="red">ご注意下さい!!</font><br>
<font size="1">購入内容に間違いが無ければ、購入ボタンをクリックしてください。</font><br><br>

    <form method="POST" action="{%$jump_url%}">
    <input type="hidden" value="{%$buy_money%}"  name="buy_money"/>
    <input type="hidden" value="{%$clientip%}"   name="clientip"/>
    <input type="hidden" value="{%$act%}"        name="act"/>
    <input type="hidden" value="{%$money%}"      name="money"/>
    <input type="hidden" value="{%$usrtel%}"     name="usrtel"/>
    <input type="hidden" value="{%$usrmail%}"    name="usrmail"/>
    <input type="hidden" value="{%$sendid%}"     name="sendid"/>
    <input type="hidden" value="{%$sendpoint%}"  name="sendpoint"/>
    
    <input type="hidden" value="{%$siteurl%}"    name="siteurl"/>
    <input type="hidden" value="{%$sitestr%}"    name="sitestr"/>

    <input type="submit" value="購入する" class="form_put">
    </form>
</div>





</font>
{%include file='mobile/parts/footer.html'%}
{%include file='mobile/parts/copyright.html'%}
</body>
</html>