@charset "utf-8";
/* CSS Document */

/* base
================================== */
body {
	background-image:url(./img/second_back.gif);
	background-position:left top;
	background-repeat:repeat-x;
}
body a {color:#0d6fb8;}
body a:hover {color:#002861;}

/* container_body
================================== */
div.container_body
{
	width:300px;
	margin-top:0;
	margin-right:auto;
	margin-bottom:0;
	margin-left:auto;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	text-align:left;
}

/* container_main
================================== */

div.container_main p
{ margin-left:80px; }

div.container_main p.left
{ margin-left:0px; }

div.container_main div.warning {
font-size:30px;
margin-bottom:20px;
text-align:center;}

div.container_main table
{ width:100%; }

div.container_main table.bottom_zero {
	margin-bottom: 0;
}
div.container_main table.bottom_zero td,
div.container_main table.bottom_zero th {
	border-bottom: 0;
}

div.gather_btn_l {
	float: left; 
	text-align: left; 
	width: 50%;
}
div.gather_btn_r {
	float: right; 
	text-align: right; 
	width: 50%;
}

div.container_main table.mini {
	margin: 0;
	border: none;
}
div.container_main table.mini td,
div.container_main table.mini th{
	padding: 1px;
	border: none;
}

div.container_main th
{ width:200px; }

/* box_head
================================== */
div.box_head_1 {
	height:80px;
}
div.box_head_1 a {
	display:block;
	width:252px;
	height:70px;
}
div.box_head_1 img {
	border:none;
}
div.multi-columnX {
	float:right;
	position:relative;
	top:-70px;
	left:-0px;
	display:inline;
	width:300px;
}
div.multi-columnY {
	float:left;
	position:relative;
	top:310px;
	left:-40px;
	/* margin-top: 40%;  */
	/* padding-top: 20%; */
	display:inline;
	width:400px;
}
