@charset "utf-8";

/* common
================================== */
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.clearfix {display:inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height:1%;}
.clearfix {display:block;}
/* End hide from IE-mac */

img.border_01
{
	border: 1px #CCCCCC solid;
}

/* base
================================== */
body {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
	text-align:center;
}

/* container_body
================================== */
div.container_body {
	width:720px;
	margin-top:0;
	margin-right:auto;
	margin-bottom:0;
	margin-left:auto;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	text-align:left;
}

/* container_header
================================== */
div.container_header {
	width:100%;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}

/* container_contents
================================== */
div.container_contents {
	width:100%;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	background-color:#fff;
}

/* container_footer
================================== */
div.container_footer,div.container_footer2 {
	width:100%;
	margin-top:0;
	margin-left:0;
	margin-bottom:18px;
	margin-right:0;
	padding-top:5px;
	padding-left:0;
	padding-bottom:0;
	padding-right:0;
	border-top:1px solid #c9c9c9;
}
div.container_footer img {
	display:inline;
	float:left;
	margin-left:188px;
}

div.container_footer2 img {
	display:inline;
	float:left;
	margin-left:308px;
}
div.container_footer div,div.container_footer2 div {
	float:left;
	margin-top:2px;
	margin-left:16px;
	font-size:10px;
}

/* box_nav
================================== */
div.box_nav { background-color:#fff; font-size:95%; }
div.box_nav ul {
	margin:0;
	padding:0;
	list-style:none;
}
div.box_nav ul li {
	float:left;
	display:inline;
	position:relative;
	width:119px;
	height:41px;
	margin-left:1px;
	background-image:url(../c_img/menu01.gif);
	background-repeat:no-repeat;
}
div.box_nav ul li#navAbout {background-position:-1px -42px;}
div.box_nav ul li#navEvent {background-position:-121px -42px;}
div.box_nav ul li#navPublic {background-position:-241px -42px;}
div.box_nav ul li#navJoin {background-position:-361px -42px;}
div.box_nav ul li#navMember {background-position:-481px -42px;}
div.box_nav ul li#navContact {
	width:118px;
	background-position:-601px -42px;
}
div.box_nav ul li a {
	display:block;
	width:119px;
	height:40px;
	padding-bottom:1px;
	background-repeat:no-repeat;
}
div.box_nav ul li a.setbgi {background-image:url(../c_img/menu01.gif);}
div.box_nav ul li#navAbout a {background-position:-1px top;}
div.box_nav ul li#navEvent a {background-position:-121px top;}
div.box_nav ul li#navPublic a {background-position:-241px top;}
div.box_nav ul li#navJoin a {background-position:-361px top;}
div.box_nav ul li#navMember a {background-position:-481px top;}
div.box_nav ul li#navContact a {
	width:118px;
	background-position:-601px top;
}
div.box_nav ul li span {display:none;}
div.box_nav ul ul {
	display:none;
	margin:0;
	padding:0;
	position:absolute;
	list-style:none;
	z-index:1;
}
div.box_nav ul ul li {
	margin:0;
	padding:0;
	width:auto;
	height:auto;
	margin-left:0;
	background-image:none;
}
div.box_nav ul ul li a {
	display:block;
	/*width:244px;*/
	height:28px;
	margin-bottom:0;
	padding-left:8px;
	background-color:#cbe6ec;
	color:#000;
	line-height:28px;
	text-decoration:none;
}
/*↓プルダウン1段目横幅*/
div.box_nav ul li#navAbout ul li a {width:240px;}
div.box_nav ul li#navEvent ul li a {width:160px;}
div.box_nav ul li#navPublic ul li a {width:280px;}
div.box_nav ul li#navJoin ul li a {width:140px;}
div.box_nav ul li#navMember ul li a {width:162px;}
div.box_nav ul li#navContact ul li a {width:140px;}
/*↑プルダウン1段目横幅*/
div.box_nav ul ul li a:hover {background-color:#7ed0d6;}
div.box_nav ul ul li.pd ul {
	/*margin-left:252px;*/
	border-left:1px solid #fff;
}
/*↓プルダウン2段目マージン*/
div.box_nav ul li#navAbout ul li.pd ul {margin-left:148px;}
div.box_nav ul li#navEvent ul li.pd ul {margin-left:168px;}
div.box_nav ul li#navPublic ul li.pd ul {margin-left:288px;}
div.box_nav ul li#navJoin ul li.pd ul {margin-left:148px;}
div.box_nav ul li#navMember ul li.pd ul {margin-left:170px;}
div.box_nav ul li#navContact ul li.pd ul {margin-left:148px;}
/*↑プルダウン2段目マージン*/
/*↓プルダウン2段目横幅*/
div.box_nav ul li#navAbout ul li.pd li a {width:140px;}
div.box_nav ul li#navEvent ul li.pd li a {width:140px;}
div.box_nav ul li#navPublic ul li.pd li a {width:150px;}
div.box_nav ul li#navJoin ul li.pd li a {width:140px;}
div.box_nav ul li#navMember ul li.pd li a {width:140px;}
div.box_nav ul li#navContact ul li.pd li a {width:140px;}
/*↑プルダウン2段目横幅*/
div.box_nav ul ul li.pd ul a {margin-left:0px;}
