@charset "UTF-8";
/* CSS Document */

div.container_main
{
	width:100%;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
div.container_main p
{ margin-top:0; margin-right:0; margin-bottom:15px; font-size: 80%; color: #092F68; }

div.container_main table
{ margin-top:0px; margin-right:auto; margin-bottom:25px; margin-left:auto; padding: 0; border-top-width: 1px; border-right-width: 1px; border-top-style: solid; border-right-style: solid; border-top-color: #CCCCCC; border-right-color: #CCCCCC; font-size: 90%; }

div.container_main th
{ padding: 5px; border-bottom-width: 1px; border-left-width: 1px; border-bottom-style: solid; border-left-style: solid; border-bottom-color: #CCCCCC; border-left-color: #CCCCCC; background-color: #eef5ff; /*background-image: url(../c_img/form_th.gif);*/ background-repeat: repeat-y; background-position: left; }

div.container_main td
{ padding: 5px; border-bottom-width: 1px; border-left-width: 1px; border-bottom-style: solid; border-left-style: solid; border-bottom-color: #CCCCCC; border-left-color: #CCCCCC; }

.subtitle { color: #FFFFFF; background-color: #4978B2; text-align: center; font-size: 110%; font-weight: bold; }
.subtitle1 { color: #FFFFFF; background-color: #4978B2; text-align: left; font-size: 110%; font-weight: bold; }
.formPoint { color: #FF6600; }
.formCaution { color: #FF0000; }
div.tableOther table { width: 100%; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; margin: 0px; vertical-align: middle; }
div.tableOther td { padding: 10px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; }

div.form_btn_r { position: relative; }
div.form_btn_r span { position:absolute; right:2px; top:-4px; }

div.btn_kensaku { margin: -10px 0 25px; text-align: center; }

div.taikai { text-align:center; padding: 20px 0 0 !important; }

div.middle_line { border-top: #C9C9C9 solid 2px; width: 720px; height:20px; margin-top: 20px;}



/* ̓フォーム：幅
================================== */

/* プルダウン */
select.pldwn_40 { width:40px; }
select.pldwn_50 { width:50px; }

/* テキストボックス */
input.txtbx_2 { width:2em; }
input.txtbx_10 { width:10em; }
input.txtbx_15 { width:15em; }
input.txtbx_20 { width:20em; }

/* 表：サイズ指定 */

table.mini td{
	height: 1.2em;
}


/* 表余白*/
div.box_other1 th,
div.box_other1 td {
	padding:10px 2px 10px 2px;
}
div.box_other2 th,
div.box_other2 td {
	padding:0px;
}
div.box_other3 table{
	width: 100%; 
	border-top-style: none; 
	border-right-style: none;
	margin: 0 0 15px 0;
}
div.box_other3 td{
	border-bottom-style: none; 
	border-left-style: none; 
	vertical-align: top;
	line-height: 1.3em;
	font-size:95%;
	padding:15px 15px 0 15px;
}
div.box_other4 table{
	width: 100%; 
	border-top-style: none; 
	border-right-style: none;
	margin: 0;
}
div.box_other4 td{
	border-bottom-style: none; 
	border-left-style: none; 
	vertical-align: top;
	line-height: 1.3em;
	font-size:80%;
	padding:10px 10px 0 10px;
}
div.box_other5 table{
	width:500px;
	margin: 0;
}
div.box_other5 td {
	vertical-align: top;
	line-height: 1.3em;
	font-size:80%;
	padding:2px;
}
div.box_other6 table{
	width: 100%; 
	border-top-style: none; 
	border-right-style: none;
	margin: 0;
}
div.box_other6 td{
	border-bottom-style: none; 
	border-left-style: none; 
	vertical-align: top;
	line-height: 1.3em;
	font-size:95%;
	padding:2px 0 0 30px;
}
div.box_other7 table{
	border-top-style: none; 
	border-right-style: none;
	margin: 0;
}
div.box_other7 td{
	border-bottom-style: none; 
	border-left-style: none; 
	vertical-align: top;
	line-height: 1.3em;
	font-size:95%;
	padding:15px 70px 15px 70px;
}
div.box_other8 {
	margin: 0 60px 0 60px;
	width:600px;
}
div.box_other9 table{
	border-top-style: none; 
	border-right-style: none;
	margin: 0;
}
div.box_other9 td{
	border-bottom-style: none; 
	border-left-style: none; 
	vertical-align: middle;
	line-height: 1.3em;
	font-size:100%;
	padding:3px 7px 3px 7px;
}
/*ライン*/
div.line1{
	border-top: solid 1px #CCCCCC;
	border-right: solid 1px #CCCCCC;
	border-left:  solid 1px #CCCCCC;
}
div.line2 td {
	border-top: solid 1px #CCCCCC;
	border-right: solid 1px #CCCCCC;
	border-left:  solid 1px #CCCCCC;
	border-bottom: solid 1px #CCCCCC;
}
/*フォント*/
div.fnt_b1 {
	padding:0;
	font-size: 100%;
	font-weight:bold;
}
div.fnt_b2 {
	padding:0;
	font-size: 90%;
	font-weight:bold;
}
/*行間*/
div.lhigh_1 {
	line-height:25px;
}
