{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}

<div id="main_bg" class="pkg">


<div id="gguide1">
<h2>ご利用ガイド</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/guide/how">初心者ガイド</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/about_auction">上級者ガイド</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/auto_bid">自動落札とは？</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/help">ヘルプ</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/question">よくある質問</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/contact">お問い合わせ</a></li>
                </ul>
</div>




<div id="gguide2">
<h2>上級者使い方ガイド</h2>
<p>残り時間がある限り、いつでも入札できる</p>
<p>入札すると入札金額が15円増え、残り時間が最大20秒のびる</p>
<p>残り時間がなくなった時点での最終入札者が落札者となり、入札額で商品を購入できる</p>
<p>入札には1回あたり1コイン(75円相当)消費する</p>
<p>基本的なルールはこれだけです。ただし、オークションの種類や自動入札機能により一部の条件が変更されることがあります。</p>
</div>




</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>
