{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}
<!-- <script type="text/javascript" src="{%$JAVASCRIPT_DIR%}/ark.js"></script> --><!--削除禁止-->
<script type="text/javascript" src="{%$TEMPLATE_PARTS_DIR%}/ark.js"></script><!--削除禁止-->




<!-- 開催中BOX ST -->
<div id="main_bg" class="pkg">
<div id="sucate">

<h2><img alt="今すぐ入札！最新オークション" src="/style/pc/default/images/ttl_auc.gif"></h2>


<a name="POS1"></a>

<div id="mypagenum">
<div id="mypagenum_box">
{%$pageNumber%}<!--頁-->
</div>
</div>



<!-- 商品一覧の行BOX ST -->
<div id="scate1_item_box" class="instant_item_box"><!--クラス名削除禁止-->
{%assign var="columIndex" value=1%}
{%foreach from=$products item=product%}
{%if ($columIndex % 5 ==1)%}
{%if ($columIndex!=1)%}
</div><!-- 行終わり→次の行へ --><div id="scate1_item_box" class="instant_item_box"><!--クラス名削除禁止-->
{%/if%}
{%/if%}
<!-- 商品一マス ST -->
{%include file='pc/parts/prd_list_open.html'%}
<!-- 商品一マス ED -->
{%assign var="columIndex" value=$columIndex+1%}
{%/foreach%}
</div><!-- 商品一覧の行BOX END -->






</div>



<div id="mypagenum">
<div id="mypagenum_box">
{%$pageNumber%}<!--頁-->
</div>
<p><a href="{%$SERVER_PATH%}">HOME</a>｜<a href="{%$SERVER_PATH%}/list">開催中一覧</a>｜<a href="{%$SERVER_PATH%}/end">終了一覧</a>｜{%if ($isLogin ==true)%}<a href="{%$SERVER_PATH%}/my/index_ext">マイページ</a>{%else%}<a href="{%$SERVER_PATH%}/member/register">無料会員登録</a>{%/if%}</p>
</div>




</div><!-- 開催中BOX END -->






















{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}

    </div>
</body>
</html>
