{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}
<!-- <script type="text/javascript" src="{%$JAVASCRIPT_DIR%}/ark.js"></script>--><!--削除禁止-->
<script type="text/javascript" src="{%$TEMPLATE_PARTS_DIR%}/ark.js"></script> <!--削除禁止-->




<!-- 開催中BOX ST -->
<div id="main_bg" class="pkg">
<div id="sucate">

<h2><img alt="今すぐ入札！最新オークション" src="/style/pc/default/images/ttl_auc.gif"></h2>

              <!--カテゴリごとの商品（テレビとか）-->カテゴリー：【{%$cate->name%}】の商品一覧





<!-- 商品一覧の行BOX ST -->




<a name="POS1">

<div id="mypagenum">
<div id="mypagenum_box">
{%$pageNumber%}<!--頁-->
</div>
</div>



<!-- 商品一覧の行BOX ST -->
<div id="scate1_item_box" class="instant_item_box"><!--クラス名削除禁止-->
{%assign var="columIndex" value=1%}
{%foreach from=$products item=product%}
{%if ($columIndex % 5 ==1)%}
{%if ($columIndex!=1)%}
</div><!-- 行終わり→次の行へ --><div id="scate1_item_box" class="instant_item_box"><!--クラス名削除禁止-->
{%/if%}
{%/if%}
<!-- 商品一マス ST -->
{%include file='pc/parts/prd_list_category.html'%}
<!-- 商品一マス ED -->
{%assign var="columIndex" value=$columIndex+1%}
{%/foreach%}
</div><!-- 商品一覧の行BOX END -->


<div id="mypagenum">
<div id="mypagenum_box">
{%$pageNumber%}<!--頁-->
</div>
<p><a href="{%$SERVER_PATH%}">HOME</a>｜<a href="{%$SERVER_PATH%}/list">開催中一覧</a>｜<a href="{%$SERVER_PATH%}/end">終了一覧</a>｜{%if ($isLogin ==true)%}<a href="{%$SERVER_PATH%}/my/index_ext">マイページ</a>{%else%}<a href="{%$SERVER_PATH%}/member/register">無料会員登録</a>{%/if%}</p>
</div>




</div>
</div><!-- 開催中BOX END -->











{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
{%if $cate->id==2%}
カテゴリーID=２：テレビ
<!-- Google Code for コインパック Remarketing List -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1008471777;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "666666";
var google_conversion_label = "OmkuCJe5-wEQ4Z3w4AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1008471777/?label=OmkuCJe5-wEQ4Z3w4AM&guid=ON&script=0"/>
</div>
</noscript>
{%elseif $cate->id==3%}
カテゴリーID=３：デジカメ
<!-- Google Code for &#12487;&#12472;&#12459;&#12513; Remarketing List -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1008471777;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "666666";
var google_conversion_label = "SE7ACI-6-wEQ4Z3w4AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1008471777/?label=SE7ACI-6-wEQ4Z3w4AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
{%elseif $cate->id==27%}
カテゴリーID=２７：オーディオ１１
<!-- Google Code for &#12458;&#12540;&#12487;&#12451;&#12458; Remarketing List -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1008471777;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "666666";
var google_conversion_label = "eWWcCIe7-wEQ4Z3w4AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1008471777/?label=eWWcCIe7-wEQ4Z3w4AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
{%elseif $cate->id==5%}
カテゴリーID=５：ブランド
<!-- Google Code for &#12502;&#12521;&#12531;&#12489; Remarketing List -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1008471777;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "666666";
var google_conversion_label = "bRXFCP-7-wEQ4Z3w4AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1008471777/?label=bRXFCP-7-wEQ4Z3w4AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
{%elseif $cate->id==7%}
カテゴリーID=７：ゲーム機器
<!-- Google Code for &#12466;&#12540;&#12512;&#27231;&#22120; Remarketing List -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1008471777;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "666666";
var google_conversion_label = "mkVpCPe8-wEQ4Z3w4AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1008471777/?label=mkVpCPe8-wEQ4Z3w4AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
{%elseif $cate->id==10%}
カテゴリーID=１０：家電製品
<!-- Google Code for &#23478;&#38651;&#35069;&#21697; Remarketing List -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1008471777;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "666666";
var google_conversion_label = "CrTQCO-9-wEQ4Z3w4AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1008471777/?label=CrTQCO-9-wEQ4Z3w4AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
{%elseif $cate->id==12%}
カテゴリーID=１２：金券・チケット
<!-- Google Code for &#37329;&#21048;&#12539;&#12481;&#12465;&#12483;&#12488; Remarketing List -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1008471777;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "666666";
var google_conversion_label = "s6SGCOe--wEQ4Z3w4AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1008471777/?label=s6SGCOe--wEQ4Z3w4AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
{%/if%}

</body>
</html>
