{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}













<!-- 落札済BOX ST -->
<div id="main_bg" class="pkg">
<div id="sucate2">

<h2><img alt="終了済オークション" src="/style/pc/default/images/ttl_endauc2.gif"></h2>


<div id="mypagenum">
<div id="mypagenum_box">
{%$pageNumber%}<!--頁-->
</div>
</div>



	<!-- 商品一覧の行BOX ST -->
    <div id="scate3_item_box">

                {%assign var="columIndex" value=1%}

                {%foreach from=$products item=product%}
                    {%if ($columIndex % $end_columns ==1)%}
                        {%if ($columIndex!=1)%}
                            </div><div id="scate3_item_box" class="pkg">
                        {%/if%}
                        
                    {%/if%}


                    <!-- ここは商品のテンプレートです START    -->

                    {%include file='pc/parts/prd_list_end.html'%}

                    <!-- ここは商品のテンプレートです END     -->



                    {%assign var="columIndex" value=$columIndex+1%}
                {%/foreach%}

	</div><!-- 商品一覧の行BOX END -->


<div id="mypagenum">
<div id="mypagenum_box">
{%$pageNumber%}<!--頁-->
</div>
<p><a href="{%$SERVER_PATH%}">HOME</a>｜<a href="{%$SERVER_PATH%}/list">開催中一覧</a>｜<a href="{%$SERVER_PATH%}/end">終了一覧</a>｜{%if ($isLogin ==true)%}<a href="{%$SERVER_PATH%}/my/index_ext">マイページ</a>{%else%}<a href="{%$SERVER_PATH%}/member/register">無料会員登録</a>{%/if%}</p>
</div>



</div>
</div>
<!-- 落札済BOX END -->





{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}

    </div>
</body>
</html>
