{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}


<div id="main_bg" class="pkg">
<div id="mynote1">
<h2>マイオークション</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/my/index_ext">マイページ</a></li>
                    <li><a href="{%$SERVER_PATH%}/coin">{%$POINT_NAME%}購入</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/coins">{%$POINT_NAME%}残高</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct/watch">ウォッチリスト</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct">入札中リスト</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct/autobid">自動入札中リスト</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct/finish">落札リスト</a></li>
                </ul>



<h2>アカウント管理</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/my/profile">プロフィール変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/password">パスワード変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/email">メールアドレス変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/address">配送先変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/mailmagazein">メルマガ変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/friend">友達紹介</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/close">退　会</a></li>
                </ul>
</div>

<div id="mynote2">

<h2>{%$POINT_NAME%}購入ページ</h2>
<div style="color:red">{%$message%}</div>

<h3>
{%$SITE_NAME%}ではオークションの入札手数料として「{%$POINT_NAME%}」が必要です。<br>
</h3>
<p>
・オークション入札毎に{%$POINT_NAME%}が必要になります。(１枚＝{%$POINT_VALUE%}円)<br>
・ご購入された{%$POINT_NAME%}は、一切返金できませんのでご了承ください。<br>
・一度入札に利用した{%$POINT_NAME%}は、落札できる・できないにかかわらず返却できませんのでご了承ください。
</p>

               <!-- ここはコイン購入のメニュー  start -->
<h3>
{%$POINT_NAME%}ご購入内容
</h3>
<p style="font-size:18px;font-weight:bold;line-height:1.8;">
ご購入内容：{%$POINT_NAME%}<span style="color:red;">{%$menu->f_coin%}</span>枚<br>
<!-- ({%$menu->f_coin%}入札分)<br> -->
ご購入金額：<span style="color:red;">{%$menu->f_inp_money%}</span>円
</p>

<h3>
お支払い方法選択
</h3>
以下のお支払い方法からひとつ選択し、決済に進むボタンをクリックしてください。<br>

                <script type="text/javascript">
                        //<![CDATA[
                        /*
                        if (!$.browser.msie) {
                            $("#not_ie").show();
                        } else {
                            $("#only_ie").show();
                        }
                        */
                        $("#payment_credit").attr('checked', 'checked');

                        function paymentSelect() {
                            $('#credit_box').toggle($("#payment_credit").attr('checked'));
                            $('#banking_box').toggle($("#payment_banking").attr('checked'));
                            $('#edy_box').toggle($("#payment_edy").attr('checked'));
                        }

                        //]]>
                    </script>

                <!--
                <form method="get" action="https://credit.ipservice.jp/gateway/payform.aspx">
                -->
                <!--削除禁止 ここから-->
                <form method="GET" action="/cli_ep.php/pcpay/">
                <input type="hidden" value="{%$menu->f_inp_money%}" name="buy_money"/>
                <input type="hidden" value="{%$menu->f_coin%}" name="coin_count"/>
                <input type="hidden" value="0" name="sf_money"/>
                <!--削除禁止 ここまで-->


<p id="payment_choice">
<!-- ++++++++++++++++++++++++++++++++++++++++ここはコイン購入のメニュー  start -->
{%foreach from=$methods item=method name=buymethod %}
{% if $smarty.foreach.buymethod.first==1 %}
<span>
<input type="radio"  onclick="paymentSelect()"  name="payment" id="payment_credit_{%$method->fk_shiharai_type_id%}" value="{%$method->fk_shiharai_type_id%}" checked><label for="payment_credit">{%$method->f_shiharai_name%}</label>

</span><br>
{% else %}
<span>
<input type="radio" onclick="paymentSelect()"  name="payment" id="payment_credit_{%$method->fk_shiharai_type_id%}" value="{%$method->fk_shiharai_type_id%}"><label for="payment_credit">{%$method->f_shiharai_name%}</label>

</span><br>
{% /if %}


{%/foreach%}
<!-- ++++++++++++++++++++++++++++++++++++ここはコイン購入のメニュー  end -->
</p>





<input type="submit" value="決済に進む" class="form_put"/>
<input type="hidden" value="{%$menu->fk_coin_id%}" name="coin_menu_id"/>
<input type="hidden" value="{%$type%}"	name="type"/>
</form>
</p>

</div>









</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>
