{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}


<div id="main_bg" class="pkg">
<div id="mynote1">
<h2 id="menu_my"><img src="{%$IMAGE_PATH%}/spacer.gif" alt="マイオークション"/></h2>
                <ul class="bk_orange">
                    <li><a href="{%$SERVER_PATH%}/my/index_ext">マイページ</a></li>
                    <li class="on"><a href="{%$SERVER_PATH%}/coin">{%$POINT_NAME%}購入</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/coins">{%$POINT_NAME%}残高</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct/watch">ウォッチリスト</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct">入札中リスト</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct/autobid">自動入札中リスト</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct/finish">落札リスト</a></li>
                </ul>



<h2 id="menu_acc"><img src="{%$IMAGE_PATH%}/spacer.gif" alt="アカウント管理"/></h2>
                <ul class="bk_blue">
                    <li><a href="{%$SERVER_PATH%}/my/profile">プロフィール変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/password">パスワード変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/email">メールアドレス変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/address">配送先変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/mailmagazein">メルマガ変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/friend">友達紹介</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/close">退　会</a></li>
                </ul>
</div>

<div id="mynote2">

<h2 class="title_my">{%$POINT_NAME%}購入ページ</h2>
<div style="color:red">{%$message%}</div>

<h3>
{%$SITE_NAME%}ではオークションの入札手数料として「{%$POINT_NAME%}」が必要です。<br>
購入したい{%$POINT_NAME%}(枚数）を選択し購入ボタンをクリックしてください。
</h3>


購入ボタンをクリックすると決済選択画面に移動します。


<!--    [foreach....../foreach]はコイン購入プランデータをループ -->
{%foreach from=$menu item=coin%}
<table summary="ポケオクのコイン購入ページ">
<tr>
<td class="tdttl2">
{%$coin->f_coin%}枚（{%$coin->f_inp_money%}円）
</td>
<td class="tdtext2">

<a href="{%$SERVER_PATH%}/coin/buy?coin_id={%$coin->fk_coin_id%}">購入</a>
</td>
</tr>
</table>
{%/foreach%}
<!--    [foreach....../foreach]はコイン購入プランデータをループ -->
<!--G.Chin APROS 2010-09-01 add sta-->
<br>
<br>
{% if $publicsite_cnt > 0 %}
       ↓公式サイト決済を利用される方はこちらをクリック。<br>
　　　{%$publicsite_str%}
{%/if%}
<!--G.Chin APROS 2010-09-01 add end-->


</div>









</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>




