{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}

<div id="main_bg" class="pkg">



<div id="note1">
<h2>サイドメニュー</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}とは？</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/commitment">{%$SITE_NAME%}の誓約</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/company">運営会社</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/terms">利用規約</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/privacy">プライバシーポリシー</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/company">特定商取引法に基づく表記</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/sitemap">サイトマップ</a></li>
                </ul>
</div>

<div id="note2">
<h2>{%$SITE_NAME%}三つの誓約</h2>
<p>①公平</p>
<p>{%$SITE_NAME%}は公平な運営を目指します。サクラ入札、内部入札、機械入札、など運営側の入札は一切ありません。</p>
<p>②安心</p>
<p>{%$SITE_NAME%}の商品はすべて新品未開封、メーカーの保証付きです。ご安心ください。</p>
<p>③公開</p>
<p>{%$SITE_NAME%}はユーザの皆さまにオークションの仕組みをより理解いただいけるよう説明の向上を常に目指します。</p>

</div>

</div>

{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>
