{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}

<div id="main_bg" class="pkg">





<div id="gguide1">
<h2>ご利用ガイド</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/guide/how">{%$SITE_NAME%}の使い方</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/question">よくある質問</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/help">ヘルプ</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/free?p=free1">友達紹介</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/contact">お問い合わせ</a></li>
                </ul>

<h2>{%$SITE_NAME%}について</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}とは？</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/company">運営会社</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/terms">利用規約</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/privacy">プライバシーポリシー</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/company">特定商取引法に基づく表記</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/sitemap">サイトマップ</a></li>
                </ul>
</div>


	<div id="gguide2">

	<h2>特定商取引法に基づく記載</h2>
	<table>
	<tr>
	<td class="tdttl2">販売事業者</td>
	<td class="tdtext2">アークコミュニケーションズ有限会社</td>
	</tr>
	<tr>
	<td class="tdttl2">販売責任者</td>
	<td class="tdtext2">アーク吉田</td>
	</tr>
	<tr>
	<td class="tdttl2">運営業者名</td>
	<td class="tdtext2">アークコミュニケーションズ有限会社</td>
	</tr>
	<tr>
	<td class="tdttl2">運営責任者</td>
	<td class="tdtext2">アーク吉田</td>
	</tr>
	<tr>
	<td class="tdttl2">所在地</td>
	<td class="tdtext2">東京都目黒区下目黒2-13-10RKビル5F</td>
	</tr>
	<tr>
	<td class="tdttl2">運営事業概要</td>
	<td class="tdtext2">インターネットオークション「{%$SITE_NAME%}」の企画・運営</td>
	</tr>
	</table>

	<h2>お客様サポート</h2>
	<table>
<!--
	<tr>
	<td class="tdttl2">お問い合わせ先</td>
	<td class="tdtext2"></td>
	</tr>
-->
	<tr>
	<td class="tdttl2">お問い合わせ<br>対応時間</td>
	<td class="tdtext2">平日9:00～18:00<br>※上記以外のお時間でも対応させていただきますが、対応までにお時間を頂くことがございます。何卒ご了承ください</td>
	</tr>
	<tr>
	<td class="tdttl2">お問い合わせフォーム</td>
	<td class="tdtext2"><a href="{%$SERVER_PATH%}/guide/contact">お問合せはこちら</a><br>
	※お客様の状況を正しく把握するため、お問い合わせはお問い合わせフォームのみ受付けております。<br>
	電話でのお問い合わせは原則受け付けておりませんので、ご了承ください。
	</td>
	</tr>
	<tr>
	<td class="tdttl2">電話番号</td>
	<td class="tdtext2"></td>
	</tr>
	</table>

	<h2>商品について</h2>
	<table>
	<tr>
	<td class="tdttl2">販売価格・数量・期間</td>
	<td class="tdtext2">商品毎に記載。数量に関しては、常備在庫のあるものは掲載を省略しています。<br>
	    注文はインターネットのみ受付。日本国内のみ配送になります。 
	</td>
	</tr>
	<tr>
	<td class="tdttl2">商品代金以外の必要料金</td>
	<td class="tdtext2">【消費税】商品価格すべて税込みです。<br>
	     【送　料】一律315円　(すべて税込。国内配送に限る)
	</td>
	</tr>
	</table>

	<h2>お支払いについて</h2>
	<table>
	<tr>
	<td class="tdttl2">お支払方法</td>
	<td class="tdtext2">
	<h3>銀行</h3>三菱UFJ銀行がご利用いただけます。
　　　　<h3>インターネットバンク</h3>ジャパンネット銀行がご利用いただけます。
　　　　<h3>クレジットカード</h3>VISA、MasterCard、JCBがご利用いただけます。
<!-- 現状　Edyは取り扱いがないためコメント化　4/20
	<h3>Edy</h3>Edy決済がご利用いただけます。<br>
	    ※「Edy（エディ)」は、ビットワレット株式会社が管理するプリペイド型電子マネーサービスのブランドです
	<h3>コンビニ決済</h3>Edy、セキュリティーマネー、G-MONEYがご利用いただけます。
-->
	</td>
	</tr>
	<tr>
	<td class="tdttl2">お支払期限</td>
	<td class="tdtext2">ご注文時に決済確定となります。</td>
	</tr>
	<tr>
	<td class="tdttl2">ご注文のキャンセルについて</td>
	<td class="tdtext2">ご注文後のキャンセルはお受けできません。またメール送信後のメール取消し、出荷後の商品取消はできません。</td>
	</tr>
	</table>

	<h2>商品の引渡し時期</h2>
	<table>
	<tr>
	<td class="tdttl2">通常</td>
	<td class="tdtext2">受取人の方が購入手続きを行った日から換算し、3～14日程度かかります。</td>
	</tr>
	</table>

	<h2>返品・交換・返金</h2>
	<table>
	<tr>
	<td class="tdttl2">{%$POINT_NAME%}について</td>
	<td class="tdtext2">購入した{%$POINT_NAME%}は、一切返金できませんのでご了承ください。</td>
	</tr>
	<tr>
	<td class="tdttl2">商品について</td>
	<td class="tdtext2">届いた商品が不良品等の理由で返送・交換する場合は事前に必ず弊社に返品を申し出をし、弊社からの了承を得た上で返送するようお願いいたします。事前に申し出ならびに了承がなく返送された商品については対応に時間が掛かるとともに、最悪返金対応が不可能になる場合がございます。<br>
商品の返品および交換する場合は、商品を受け取り後3日以内に弊社までご連絡ください。期間を過ぎますと手続きできなくなります。ただし、3日以内であっても商品が著しく汚されていたり、使用されていたり、もしくは開封されていた場合には、返金・交換をさせていただけない場合がございますのでご注意ください。</td>
	</tr>
	</table>

	<h2>個人情報の取扱いについて</h2>
	<table>
	<tr>
	<td class="tdttl2">個人情報</td>
	<td class="tdtext2">注文時に入力頂いた個人情報は厳重に管理し、注文商品の発送、商品代金の請求、商品案内以外の目的では利用しません。当サービスの<a href="{%$SERVER_PATH%}/guide/privacy">個人情報保護指針はこちら</a></td>
	</tr>
	</table>

	</div>

</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>
