{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}

<div id="main_bg" class="pkg">


<div id="gguide1">
<h2>ご利用ガイド</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/guide/how">{%$SITE_NAME%}の使い方</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/question">よくある質問</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/help">ヘルプ</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/free?p=free1">友達紹介</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/contact">お問い合わせ</a></li>
                </ul>

<h2>{%$SITE_NAME%}について</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}とは？</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/company">運営会社</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/terms">利用規約</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/privacy">プライバシーポリシー</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/company">特定商取引法に基づく表記</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/sitemap">サイトマップ</a></li>
                </ul>
</div>

<div id="gguide2">
<h2>お問い合わせ</h2>
{%$message%}
<form action="{%$SERVER_PATH%}/guide/contact_insert" method="POST">
<table>
{%if $isLogin %}

<!-- ここはログイン時の表示 -->
<input type="hidden" name="name" value="{%$member->f_handle%}">
<input type="hidden" name="mem_id" value="{%$member->fk_member_id%}">
<input type="hidden" name="mail" value="{%$member->f_mail_address_pc%}">

{%else%}
<!-- ここは非ログイン時の表示 -->
<tr>
    <td class="tdttl2">お名前</td>
    <td class="tdtext2"><input type="text" name="name" size="20" value="{%$p.name%}" maxlength="128"></td>
    <input type="hidden" name="mem_id" value="">
</tr>
<tr>
    <td class="tdttl2">メールアドレス</td>
    <td class="tdtext2"><input type="text" name="mail" value ="{%$p.mail%}" size="50" maxlength="256"></td>
</tr>
{%/if%}
<!-- ここはログイン時・非ログイン時共通 -->
<tr>
<td class="tdttl2">タイトル</td>
<td class="tdtext2"><input type="text" name="title" value="{%$p.title%}" size="50" maxlength="256"></td>
</tr>
<tr>
    <td class="tdttl2">ご質問内容</td>
    <td class="tdtext2"><select name="category">

    {%foreach from = $category item=cate %}
        <option value="{%$cate->fk_question_category_id%}" {%if $p.category==$cate->fk_question_category_id %}selected  {%/if%}>{%$cate->f_category_name%}</option>
    {%/foreach%}

    </select><br>
    <textarea cols="50" name="main" rows="10" >{%$p.main%}</textarea></TD>

</tr>
<tr>
<td></td>
<td><input type="submit" value="　送　信　" class="form_put">
</td>
</tr>
</table>
</form>
</div>





</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>



