free9.html<br>

{%include file='pc/parts/head.html'%}
{%include file='pc/parts/top.html'%}
<div id="main_bg" class="pkg">
  <h2 id="note"> <img src="/style/pc/default/images/how1_title.jpg" alt="初心者ガイド"> </h2>
  <div id="note1">
    <h3><img src="/style/pc/default/images/sidemenu1_title.jpg" alt="サイドメニュー"></h3>
    <ul>
      <li><a href="{%$SERVER_PATH%}/guide/how"><img src="/style/pc/default/images/sidemenu2_1_on.jpg" alt="初心者ガイド"></a></li>
      <li><a href="{%$SERVER_PATH%}/guide/how"><img src="/style/pc/default/images/sm2_1_1_off.jpg" alt="まずは登録しよう"></a></li>
      <li><a href="{%$SERVER_PATH%}/guide/free?p=free7"><img src="/style/pc/default/images/sm2_1_2_off.jpg" alt="入札をしてみよう"></a></li>
      <li><a href="{%$SERVER_PATH%}/guide/free?p=free8"><img src="/style/pc/default/images/sm2_1_3_off.jpg" alt="{%$POINT_NAME%}を購入しよう"></a></li>
      <li><a href="{%$SERVER_PATH%}/guide/free?p=free9"><img src="/style/pc/default/images/sm2_1_4_on.jpg" alt="{%$POINT_NAME%}を購入しよう"></a></li>
      
      
      
      
      
      
      <li><a href="{%$SERVER_PATH%}/guide/about_auction"><img src="/style/pc/default/images/sidemenu2_2_off.jpg" alt="上級者ガイド"></a></li>
      <li><a href="{%$SERVER_PATH%}/guide/question"><img src="/style/pc/default/images/sidemenu2_5_off.jpg" alt="よくある質問"></a></li>
    </ul>
    <div class="mp_smenu_foot"> </div>
  </div>
  <div id="gguide2">
    <h3><img src="/style/pc/default/images/syo_4.jpg" alt="落札商品を受け取ろう"></h3>
    見事落札できたら、<b>早速落札商品を受け取ろう！</b><br>
ログインして、マイページに進んだ後、左メニューより<b>【配送先変更】</b>をクリック。
    <p><img src="/style/pc/default/images/syo_img3_1.jpg" alt="1" >まずは<b>配送先を登録</b>しよう！<br>
<br style="clear:both;"></p>
    <p><img src="/style/pc/default/images/syo_img3_2.jpg" alt="2" >
    必要項目を入力して<b>【設定】</b>をクリック。<br>
※1.2は既に配送先住所を設定してあれば必要ありません。
<br style="clear:both;"></p>
    <p><img src="/style/pc/default/images/syo_img3_3.jpg" alt="3">
マイページ内の<b>【落札商品一覧】</b>をクリック。<br style="clear:both;">
    </p>
<p><img src="/style/pc/default/images/syo_img3_4.jpg" alt="4">
配送先住所欄の<b>【決定する】</b>をクリックして、配送先住所を確定させて下さい。<br style="clear:both;">
</p>
<p><img src="/style/pc/default/images/syo_img3_5.jpg" alt="5">
落札商品の<b>【支払う】</b>をクリック。<br style="clear:both;">
</p>
<p><img src="/style/pc/default/images/syo_img3_6.jpg" alt="6">
お客様の<b>お好きな決済方法</b>を選んで<b>【次へ】</b>をクリック。<br style="clear:both;">
</p>
</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body></html>