free7.html<br>

{%include file='pc/parts/head.html'%}
{%include file='pc/parts/top.html'%}
<div id="main_bg" class="pkg">
  <h2 id="note"> <img src="/style/pc/default/images/how1_title.jpg" alt="初心者ガイド"> </h2>
  <div id="note1">
    <h3><img src="/style/pc/default/images/sidemenu1_title.jpg" alt="サイドメニュー"></h3>
    <ul>
      <li><a href="{%$SERVER_PATH%}/guide/how"><img src="/style/pc/default/images/sidemenu2_1_on.jpg" alt="初心者ガイド"></a></li>
      <li><a href="{%$SERVER_PATH%}/guide/how"><img src="/style/pc/default/images/sm2_1_1_off.jpg" alt="まずは登録しよう"></a></li>
      <li><a href="{%$SERVER_PATH%}/guide/free?p=free7"><img src="/style/pc/default/images/sm2_1_2_on.jpg" alt="入札をしてみよう"></a></li>
      <li><a href="{%$SERVER_PATH%}/guide/free?p=free8"><img src="/style/pc/default/images/sm2_1_3_off.jpg" alt="{%$POINT_NAME%}を購入しよう"></a></li>
      <li><a href="{%$SERVER_PATH%}/guide/free?p=free9"><img src="/style/pc/default/images/sm2_1_4_off.jpg" alt="{%$POINT_NAME%}を購入しよう"></a></li>
      
      
      
      
      
      
      <li><a href="{%$SERVER_PATH%}/guide/about_auction"><img src="/style/pc/default/images/sidemenu2_2_off.jpg" alt="上級者ガイド"></a></li>

      <li><a href="{%$SERVER_PATH%}/guide/question"><img src="/style/pc/default/images/sidemenu2_5_off.jpg" alt="よくある質問"></a></li>
    </ul>
    <div class="mp_smenu_foot"> </div>
  </div>
  <div id="gguide2">
    <h3><img src="/style/pc/default/images/syo_2.jpg" alt="入札してみよう"></h3>
    登録が完了したら、早速<b>入札</b>をしてみましょう。<br>
プレゼント{%$POINT_NAME%}で落札を狙うには<b>【初心者オークション】【入札者制限オークション】</b>がお勧めです。<br>
各オークションの説明はこちら
<div id="foot_cate6">
			<div>
            <a href="{%$SERVER_PATH%}/guide/free?p=free5" onclick="window.open('{%$SERVER_PATH%}/guide/free?p=free5', '', 'width=370,height=250'); return false;"><img src="/style/pc/default/images/icon_g_0_off.jpg" alt="1円オークション"></a>
			<a href="{%$SERVER_PATH%}/guide/free?p=free1" onclick="window.open('{%$SERVER_PATH%}/guide/free?p=free1', '', 'width=370,height=250'); return false;"><img src="/style/pc/default/images/icon_g_1_off.jpg" alt="15円オークション"></a>
            <a href="{%$SERVER_PATH%}/guide/free?p=free2" onclick="window.open('{%$SERVER_PATH%}/guide/free?p=free2', '', 'width=370,height=250'); return false;"><img src="/style/pc/default/images/icon_g_2_off.jpg" alt="初心者オークション"></a>
            <a href="{%$SERVER_PATH%}/guide/free?p=free3" onclick="window.open('{%$SERVER_PATH%}/guide/free?p=free3', '', 'width=370,height=250'); return false;"><img src="/style/pc/default/images/icon_g_3_off.jpg" alt="入札者制限オークション"></a>
            <a href="{%$SERVER_PATH%}/guide/free?p=free4" onclick="window.open('{%$SERVER_PATH%}/guide/free?p=free4', '', 'width=370,height=250'); return false;"><img src="/style/pc/default/images/icon_g_4_off.jpg" alt="自動入札禁止オークション"></a>
            <a href="{%$SERVER_PATH%}/guide/free?p=free11" onclick="window.open('{%$SERVER_PATH%}/guide/free?p=free11', '', 'width=370,height=250'); return false;"><img src="/style/pc/default/images/icon_g_5_off.jpg" alt="フリーオークション"></a>
			</div>
	</div>

<br style="clear:both;">    
    <p><img src="/style/pc/default/images/syo_img2_1.jpg" alt="1" >まずは<b>落札したい商品</b>を探しましょう。<br>
気になる商品があったら、商品画像をクリックして<b>商品詳細</b>をチェックして下さい。<br style="clear:both;">
    </p>
    <p><img src="/style/pc/default/images/syo_img2_2.jpg" alt="2" >各オークション商品エリアにある<b>「入札」ボタン</b>をクリック。<br>
      入札すると、ご自分が最高入札者になります。<br>
      　↓<br>
      入札されるたびに落札価格が<b>1円ずつアップ</b>（15円オークション、フリーオークションは15円ずつアップ）残り時間は<b>20秒ずつアップ</b>します。<br>
<br style="clear:both;"></p>
    <p><img src="/style/pc/default/images/syo_img2_3.jpg" alt="3">
残り時間が【0:00】になった時に、最終落札者が自分だったら<b>落札確定！</b>激安価格で商品を購入しましょう。<br style="clear:both;">
    </p>
</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body></html>