free8.html<br>

{%include file='pc/parts/head.html'%}
{%include file='pc/parts/top.html'%}
<div id="main_bg" class="pkg">
  <h2 id="note"> <img src="/style/pc/default/images/how1_title.jpg" alt="初心者ガイド"> </h2>
  <div id="note1">
    <h3><img src="/style/pc/default/images/sidemenu1_title.jpg" alt="サイドメニュー"></h3>
    <ul>
      <li><a href="{%$SERVER_PATH%}/guide/how"><img src="/style/pc/default/images/sidemenu2_1_on.jpg" alt="初心者ガイド"></a></li>
      <li><a href="{%$SERVER_PATH%}/guide/how"><img src="/style/pc/default/images/sm2_1_1_off.jpg" alt="まずは登録しよう"></a></li>
      <li><a href="{%$SERVER_PATH%}/guide/free?p=free7"><img src="/style/pc/default/images/sm2_1_2_off.jpg" alt="入札をしてみよう"></a></li>
      <li><a href="{%$SERVER_PATH%}/guide/free?p=free8"><img src="/style/pc/default/images/sm2_1_3_on.jpg" alt="{%$POINT_NAME%}を購入しよう"></a></li>
      <li><a href="{%$SERVER_PATH%}/guide/free?p=free9"><img src="/style/pc/default/images/sm2_1_4_off.jpg" alt="{%$POINT_NAME%}を購入しよう"></a></li>
      
      
      
      
      
      
      <li><a href="{%$SERVER_PATH%}/guide/about_auction"><img src="/style/pc/default/images/sidemenu2_2_off.jpg" alt="上級者ガイド"></a></li>

      <li><a href="{%$SERVER_PATH%}/guide/question"><img src="/style/pc/default/images/sidemenu2_5_off.jpg" alt="よくある質問"></a></li>
    </ul>
    <div class="mp_smenu_foot"> </div>
  </div>
  <div id="gguide2">
    <h3><img src="/style/pc/default/images/syo_3.jpg" alt="{%$POINT_NAME%}を購入しよう"></h3>
    入札方法に慣れてきたら、<b>{%$POINT_NAME%}を購入</b>して落札に挑戦してみよう！<br>
ワンポイントアドバイス：予算を決めて{%$POINT_NAME%}をまとめ買いすると、{%$POINT_NAME%}が<b>安く買えます。 </b>
<p><img src="/style/pc/default/images/coin_img_1.jpg" alt="1" >ログインした後、<b>【{%$POINT_NAME%}を購入】</b>をクリック。<br style="clear:both;">
</p>
    <p><img src="/style/pc/default/images/coin_img_2.jpg" alt="2" >
   購入したいコイン数のチケットを選択して下さい。
<br style="clear:both;"></p>
    <p><img src="/style/pc/default/images/coin_img_3.jpg" alt="3">
お客様のお好きな決済方法を選んで<b>【購入する】</b>をクリック。<br style="clear:both;">
    </p>
<p><img src="/style/pc/default/images/coin_img_4.jpg" alt="3">
各決済方法に応じて決済を完了して下さい。<br><br>

<a href="{%$SERVER_PATH%}/guide/free?p=free12">>>決済方法の詳しいご案内はコチラ</a><br style="clear:both;"></p>
</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
