free6.html<br>

{%include file='pc/parts/head.html'%}
{%include file='pc/parts/top.html'%}

<div id="main_bg" class="pkg">

<div id="note">

<img src="/style/pc/default/images/mov.jpg" alt="{%$SITE_NAME%}モバイル登場">
</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>
