<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<title>自動入札禁止オークション</title>
<link href="/style/pc/default/layout.css" rel="stylesheet" type="text/css">
<link href="/style/pc/default/character.css" rel="stylesheet" type="text/css">

</head>

<body id="mini">
free4.html<br>

<div id="mini_box">
<img src="/style/pc/default/images/setumei_title4.jpg" alt="自動入札禁止オークション">
<div id="mini_l">
<img src="/style/pc/default/images/setumei_icon4.jpg" alt="自動入札禁止オークション">
</div>
<div id="mini_r">
◆自動入札禁止オークション<br>
自動入札禁止オークションは、自動入札設定がご利用になれません。リアルタイムで{%$SITE_NAME%}にアクセスできる方のみ参加される事をお勧めいたします。入札する毎に落札価格が<b>1円</b>ずつ上昇していきます。<br>
商品画像に<b>禁止マーク</b>が表示されます。
</div>

</div>


</body>
</html>
