{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}

<div id="main_bg" class="pkg">
<!---------------------- SLOT GAME start -------------------------->
<div class="sucate6">

<img src="/style/pc/default/images/top_ttl_slot.jpg" alt="スロット">
<div class="slot_bg01">
  <div class="count">チャレンジ可能数：　{%$available_try_count%} 回</div>
  <div class="txt1">※大きな音がします。お気をつけください。 </div>
  <div class="txt2">※上記の回数は当ページを開いた時点の回数です。</div>
</div>

<div class="slot_game">
  <embed src="{%$smarty.const.SITE_URL%}/style/pc/default/images/game.swf" FlashVars="result={%$result%}&coins={%$coins%}&dspmsg={%$message%}&access=/index.php/game/complete?id={%$id%}&time={%$time%}" width="600" height="530"/>
</div>

<img src="/style/pc/default/images/slot_02.jpg" alt="スロット">

<div class="txt3_box">
  <div class="txt3">※バリューマーケットのスロットゲームのチャレンジ権は、次の条件で付与されます。
　・このページにアクセスするとチャレンジ権が付与されます。（一日一回まで）→ ログインしているだけではチャレンジ権は付与されません。
　・コインパックを購入するとチャレンジ権が付与されます。→ 購入回数、枚数にかかわらず一日一回までです。→ オークションで落札されたコインパックは対象外です。
※チャレンジ権は、キャンペーン終了時まで持ち越せます。
※スロットゲーム中に、ページの更新(ページの移動・終了含む)を行うと、不具合が発生する場合がございますのでご留意ください。
※もってけ！スロットゲームで付与されたコインの有効期限は30日間です。</div>
  </div>
</div>
</div>
<div class="suc_foot"></div>
</div>



<!---------------------- SLOT GAME end -------------------------->
</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>