{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}

<div id="main_bg" class="pkg">



<script type="text/javascript"><!--
function exMenu(tName)
{
	tMenu = document.getElementById(tName).style;
	if (tMenu.display == 'none')
	{
		tMenu.display = "block";
	}else{
		tMenu.display = "none";
	}
}
// --></script>



<div id="gguide1">
<h2>ご利用ガイド</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/guide/how">{%$SITE_NAME%}の使い方</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/question">よくある質問</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/help">ヘルプ</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/free?p=free1">友達紹介</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/contact">お問い合わせ</a></li>
                </ul>

<h2>{%$SITE_NAME%}について</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}とは？</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/company">運営会社</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/terms">利用規約</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/privacy">プライバシーポリシー</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/company">特定商取引法に基づく表記</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/sitemap">サイトマップ</a></li>
                </ul>
</div>



<div id="gguide2">
<h2>HELP</h2>
<div class="helpttl"><a href="javaScript:exMenu('treeMenu1')">≫はじめての方へ</a></div>
<div id="treeMenu1" style="display:none;">
<table>
<tr>
<td class="tdttl2">{%$SITE_NAME%}とは？</td>
<td class="tdtext2">{%$SITE_NAME%}は、最新の家電や人気ゲーム機など様々な商品が豊富です！手軽に格安で落札できる新感覚のオークションです！今までの中古品オークションとは違いすべて新品でお届けします！<br>
入札状況によっては最大【98％オフ】で落札することも！？<br>
<br>
会員は、欲しい商品の入札ボタンを押すだけで手軽に参加が出来るシンプルなルールになっています。<br>

<br>
全てのオークションは0円からスタート。入札には{%$POINT_NAME%}という入札専用のコインが必要となります。<br>
入札毎に{%$POINT_NAME%}が消費され、入札価格が1円～15円アップ（オークションの種類によって異なります）また、1入札でオークションの時間が20秒延長されます。<br>
残り時間がゼロになった時点での最終入札者が落札者となり、その落札価格で商品を購入することができます。<br>
<br>
欲しい商品を手軽で安く購入することが出来るのは！このオークションの最大のメリットです！<br>
是非チャレンジしてください！<br>
<br>
{%$SITE_NAME%}をご利用の際は、無料の会員登録が必要となります。<br>
無料会員登録をしたらまずは、{%$POINT_NAME%}が無くても参加できるフリーオークションで、{%$SITE_NAME%}を体験してください！<br>
慣れたらコインを購入し、人気商品のオークションに参加して欲しい商品をGETしてください！ </td>
</tr>
<tr>
<td class="tdttl2">{%$SITE_NAME%}に参加するには？</td>
<td class="tdtext2">まずは{%$SITE_NAME%}への<a href="{%$SERVER_PATH%}/member/register">無料会員登録</a>を行ってください。
（{%$SITE_NAME%}に登録できるのは、日本居住者限定となっております）
登録が完了したら、{%$POINT_NAME%}を購入することによりオークションに入札することができるようになります。</td>
</tr>
<!-- コメント化　4/21
<tr>
<td class="tdttl2">入札にかかる費用は？</td>
<td class="tdtext2">１回の入札には、75円分の入札手数料を「１コイン」として支払う必要があります。
コインはマイページ内で購入することができます。
１度入札に使われたコインは、商品を落札できてもできなくても返却されません。
よく戦略を練って入札にチャレンジしましょう！</td>
</tr>
-->
</table>
<div class="treeclose">▲<a href="javaScript:exMenu('treeMenu1')">閉じる</a></div>
</div>



<div class="helpttl"><a href="javaScript:exMenu('treeMenu2')">≫入札について</a></div>
<div id="treeMenu2" style="display:none;">
<table>
<tr>
<td class="tdttl2">入札の仕方は？</td>
<td class="tdtext2">各オークション商品エリアにある「入札」ボタンをクリック。<br>
入札すると、ご自分が最高入札者になります。<br>
　　　↓<br>
入札されるたびに落札価格が1円～15円ずつアップ。（オークションの種類によって異なります）残り時間は20秒ずつアップします。<br>
　　　↓<br>
残り時間が0秒になったら落札者が確定になります。<br>
</td>
</tr>
<tr>
<td class="tdttl2">{%$POINT_NAME%}を購入するには</td>
<td class="tdtext2">「{%$POINT_NAME%}について」をご覧ください。</td>
</tr>
</table>
<div class="treeclose">▲<a href="javaScript:exMenu('treeMenu2')">閉じる</a></div>
</div>








<div class="helpttl"><a href="javaScript:exMenu('treeMenu3')">≫{%$POINT_NAME%}について</a></div>
<div id="treeMenu3" style="display:none;">
<table>
<tr>
<td class="tdttl2">{%$POINT_NAME%}を購入するには？</td>
<td class="tdtext2">ログイン後、「{%$POINT_NAME%}購入」をクリック。<br>
購入したい{%$POINT_NAME%}数を選択して「購入」ボタンをクリックしてください。<br>
　　　↓<br>
決済方法を選択して、決済してください。<br>
　　　↓<br>
支払い手続きが完了しますと、ページ右上にコイン数が表示されます。<br>
マイページメニューの{%$POINT_NAME%}残高から{%$POINT_NAME%}購入履歴が確認できます。
</td>
</tr>
<tr>
<td class="tdttl2">{%$POINT_NAME%}の有効期限は？</td>
<td class="tdtext2">ご購入いただきました{%$POINT_NAME%}につきましては、ご購入日から180日間とさせていただいております。<br>有効期限を過ぎると{%$POINT_NAME%}は消滅し利用できなくなりすのでご注意ください。<br>友達紹介等によって獲得したボーナス{%$POINT_NAME%}の有効期限は入手から30日間となります。</td>
</tr>
<tr>
<td class="tdttl2">入札に利用した{%$POINT_NAME%}を<br>返却できますか？</td>
<td class="tdtext2">フリーオークション以外のオークションでは入札する毎に入札手数料として{%$POINT_NAME%}が必要になります。一度入札に利用した{%$POINT_NAME%}は、そのオークションを落札できた/できなかったに関わらず一切返却されません。</td>
</tr>
<tr>
<td class="tdttl2">{%$POINT_NAME%}を返金したいのですが？</td>
<td class="tdtext2">一度ご購入いただいた{%$POINT_NAME%}は現金に戻すことはできません。</td>
</tr>
<tr>
<td class="tdttl2">自分の{%$POINT_NAME%}数を確認するには？</td>
<td class="tdtext2">ご自身が持っている{%$POINT_NAME%}数についてはマイページよりご確認いただけます。また入札画面からも確認することができます。</td>
</tr>
<tr>
<td class="tdttl2">友達紹介について</td>
<td class="tdtext2">{%$SITE_NAME%}に、お友達を紹介することができます。紹介者には「{%$SITE_NAME%}」からボーナス{%$POINT_NAME%}をプレゼントします。</td>
</tr>
</table>
<div class="treeclose">▲<a href="javaScript:exMenu('treeMenu3')">閉じる</a></div>
</div>




<div class="helpttl"><a href="javaScript:exMenu('treeMenu4')">≫オークションについて</a></div>
<div id="treeMenu4" style="display:none;">
<table>
<tr>
<td class="tdttl2">ビギナーズオークションとは？ </td>
<td class="tdtext2">オークションで落札されたことが無い会員限定のオークションです。ビギナーズオークションは1入札で5円アップします。1度落札されると次からはビギナーズオークションに参加できなくなりますのでご注意ください。<br>
※既に落札をしたことがある会員のページには、開催中のビギナーズオークションは表示されません</td>
</tr>
<tr>
<td class="tdttl2">フリーオークションとは？</td>
<td class="tdtext2">{%$POINT_NAME%}を消費せずに何度でも入札可能なオークションです。また、このオークションでは自動入札設定ができません。フリーオークションは{%$POINT_NAME%}を消費しないので、{%$SITE_NAME%}の雰囲気を気軽に味わうことが出来ます。<br>
※落札した商品を購入するには、落札価格を支払う必要がありますのでご注意ください</td>
</tr>
<tr>
<td class="tdttl2">1円オークションとは？</td>
<td class="tdtext2">1円オークションとは、1入札あたりに１円アップと金額が決まっているオークションです。商品についているアイコンで確認することができます。</td>
</tr>
<tr>
<td class="tdttl2">自動入札禁止オークションとは？</td>
<td class="tdtext2">自動入札機能を使用できないオークションです。自動入札できないため、参加者はパソコンの前にいて自分自身で入札ボタンをクリックしなければなりません。</td>
</tr>
<tr>
<td class="tdttl2">通常オークションとは？</td>
<td class="tdtext2">上記のオークション以外のオークションです。1入札で15円アップします。</td>
</tr>
<tr>
<td class="tdttl2">オークションを落札したら<br>どうすればよい？</td>
<td class="tdtext2">落札されましたら、落札商品の詳細画面もしくはマイページの落札済リストより購入決済処理に進んでください。落札価格（＝商品の購入価格）ならびに送料315円を確認し、購入意志を再確認したうえで 落札価格＋送料 を支払い、商品の到着をお待ちください。<br>
お支払いには銀行振込、インターネットバンク、クレジットカードがご利用いただけます。<br>
※落札した商品の購入は落札日より21日以内に行う必要があります。落札後21日を過ぎても購入処理がされない場合は、その商品の購入権利は自動的に失われますのでご注意下さい。<br>
商品の到達は通常1週間以内を予定しておりますが、購入後14日たっても商品が届かない場合は、お手数ではございますが、弊社にお問い合わせください。
</td>
</tr>
<tr>
<td class="tdttl2">オークションはいつ終了しますか？</td>
<td class="tdtext2">各オークション商品の残り時間がなくなった時点で終了となります。</td>
</tr>
<!-- コメント化　4/21
<tr>
<td class="tdttl2">やらせ、サクラ等はありませんか？ </td>
<td class="tdtext2">質問の回答テキスト</td>
</tr>
-->
<tr>
<td class="tdttl2">商品の出品をしたいのですが<br>どうしたらいいですか？ </td>
<td class="tdtext2">{%$SITE_NAME%}では、商品を出品することができません。オークションに出品されている商品は、すべて新品、メーカー保証書付きの商品となっております。</td>
</tr>
</table>
<div class="treeclose">▲<a href="javaScript:exMenu('treeMenu4')">閉じる</a></div>
</div>






<div class="helpttl"><a href="javaScript:exMenu('treeMenu5')">≫商品の配送について</a></div>
<div id="treeMenu5" style="display:none;">
<table>
<tr>
<td class="tdttl2">送料はいくらですか？</td>
<td class="tdtext2">一律315円の送料がかかります。</td>
</tr>
<!-- コメント化　4/21
<tr>
<td class="tdttl2">商品仕様の変更について</td>
<td class="tdtext2">質問の回答テキスト</td>
</tr>
-->
<tr>
<td class="tdttl2">配送日時は指定できますか？</td>
<td class="tdtext2">商品の配送日時の指定はお受けいたしかねます。商品配送時にお受け取りになれなかった場合は配送業者からの不在者連絡票等を通じて配送業者と直接再発送の日時の調整をお願いいたします。</td>
</tr>
<tr>
<td class="tdttl2">配送時期はいつごろですか？</td>
<td class="tdtext2">商品の到達は通常1週間以内を予定しておりますが、購入後14日たっても商品が届かない場合は、お手数ではございますが、弊社にお問い合わせください。</td>
</tr>
<!-- コメント化　4/21
<tr>
<td class="tdttl2">落札ならびに購入した商品が<br>届かないのですが？</td>
<td class="tdtext2">質問の回答テキスト</td>
</tr>
-->
<tr>
<td class="tdttl2">国外への配送はしてくれますか？</td>
<td class="tdtext2">商品の配送は日本国内のみに限らせていただいております。</td>
</tr>
</table>
<div class="treeclose">▲<a href="javaScript:exMenu('treeMenu5')">閉じる</a></div>
</div>





<div class="helpttl"><a href="javaScript:exMenu('treeMenu6')">≫返品について</a></div>
<div id="treeMenu6" style="display:none;">
<table>
<tr>
<td class="tdttl2">購入した商品が不良品だったのですが？</td>
<td class="tdtext2">弊社までお問い合わせください。</td>
</tr>
<tr>
<td class="tdttl2">購入した商品の保証は？ </td>
<td class="tdtext2">{%$SITE_NAME%}で取り扱っている商品はすべて新品ですので保証書も付いております。保証書の捺印はされている場合と、されていない場合があります。捺印がされていない場合は、一緒に送付されます納品書が捺印の代わりになりますので、大切に保管をお願いします。</td>
</tr>
<tr>
<td class="tdttl2">商品を返したいのですが</td>
<td class="tdtext2">未使用・未開封のものに限り、落札した商品を購入した落札者が商品受け取り後3日間までは当社指定の方法により返品を申し出ることが可能です。その際の送料の返金ならびに落札に利用した{%$POINT_NAME%}の返却はできません。また返品に必要な送料は全て落札者の負担になります。</td>
</tr>
</table>
<div class="treeclose">▲<a href="javaScript:exMenu('treeMenu6')">閉じる</a></div>
</div>




<div class="helpttl"><a href="javaScript:exMenu('treeMenu7')">≫ID/パスワードなど会員情報について</a></div>
<div id="treeMenu7" style="display:none;">
<table>
<tr>
<td class="tdttl2">ID/パスワードを忘れたのですが？ </td>
<td class="tdtext2">お問い合わせよりご連絡ください。</td>
</tr>
<tr>
<td class="tdttl2">ID/パスワードを変更するには？</td>
<td class="tdtext2">最初に登録されました、IDは変更することができません。パスワードはマイページのパスワード変更より変更が可能です。</td>
</tr>
<tr>
<td class="tdttl2">登録した会員情報を変更するには？</td>
<td class="tdtext2">マイページより変更可能です。</td>
</tr>
<tr>
<td class="tdttl2">自分が落札したオークションを<br>確認するには？</td>
<td class="tdtext2">マイページより確認可能です。</td>
</tr>
<!-- コメント化　4/21
<tr>
<td class="tdttl2">登録した会員情報を削除するには？</td>
<td class="tdtext2">質問の回答テキスト</td>
</tr>
-->
<tr>
<td class="tdttl2">退会するには？</td>
<td class="tdtext2">マイページより退会申請をしてください。</td>
</tr>
</table>
<div class="treeclose">▲<a href="javaScript:exMenu('treeMenu7')">閉じる</a></div>
</div>




<div class="helpttl"><a href="javaScript:exMenu('treeMenu8')">≫支払いについて</a></div>
<div id="treeMenu8" style="display:none;">
<table>
<tr>
<td class="tdttl2">{%$POINT_NAME%}を購入するには？</td>
<td class="tdtext2">「{%$POINT_NAME%}購入」のボタンより購入画面にお進みいただいて、購入する{%$POINT_NAME%}の枚数を選択し、決済方法を選んでお支払いください。購入完了しますと、{%$POINT_NAME%}が追加されます。枚数をご確認ください。</td>
</tr>
<tr>
<td class="tdttl2">落札した商品を購入するには？ </td>
<td class="tdtext2">落札されましたら、マイページの落札済リストの支払いより購入決済処理に進んでください。落札価格（＝商品の購入価格）ならびに送料315円を確認し、購入意志を再確認したうえで 落札価格＋送料 を支払い、商品の到着をお待ちください。<br>
お支払いには銀行振込、インターネットバンク、クレジットカードがご利用いただけます。<br>
※落札した商品の購入は落札日より21日以内に行う必要があります。落札後21日を過ぎても購入処理がされない場合は、その商品の購入権利は自動的に失われますのでご注意下さい。<br>
商品の到達は通常1週間以内を予定しておりますが、購入後14日たっても商品が届かない場合は、お手数ではございますが、弊社にお問い合わせください。</td>
</tr>
<tr>
<td class="tdttl2">支払いで送信する個人情報は安全ですか？</td>
<td class="tdtext2">無料会員登録ならびに{%$POINT_NAME%}や落札商品の購入で個人情報を送信する際は、業界標準の暗号技術であるSSL(Secure Socket Layer)使用して暗号化を行っています。ご安心ください。</td>
</tr>
</table>
<div class="treeclose">▲<a href="javaScript:exMenu('treeMenu8')">閉じる</a></div>
</div>


<!-- コメント化　4/21
<div class="helpttl"><a href="javaScript:exMenu('treeMenu9')">≫技術的な問題について</a></div>
<div id="treeMenu9" style="display:none;">
<table>
<tr>
<td class="tdttl2">{%$SITE_NAME%}を利用するのに適した環境は？ </td>
<td class="tdtext2">質問の回答テキスト</td>
</tr>
<tr>
<td class="tdttl2">入札したのにオークションに<br>反映されないのですが？</td>
<td class="tdtext2">質問の回答テキスト</td>
</tr>
<tr>
<td class="tdttl2">登録がうまくできないのですが？</td>
<td class="tdtext2">質問の回答テキスト</td>
</tr>
<tr>
<td class="tdttl2">システム障害などサービス停止したら<br>オークションはどうなる？ </td>
<td class="tdtext2">質問の回答テキスト</td>
</tr>
</table>
<div class="treeclose">▲<a href="javaScript:exMenu('treeMenu9')">閉じる</a></div>
</div>
-->


<div class="helpttl"><a href="javaScript:exMenu('treeMenu10')">≫よくある質問</a></div>
<div id="treeMenu10" style="display:none;">
<table>
<tr>
<td class="tdttl2">{%$SITE_NAME%}に参加するには？ </td>
<td class="tdtext2">まずは{%$SITE_NAME%}への<a href="{%$SERVER_PATH%}/member/register">無料会員登録</a>を行ってください。（{%$SITE_NAME%}に登録できるのは、日本にお住まいの個人に限ります。但し利用者が未成年者であるときは、本サービス利用の都度、本サービスの利用について事前に保護者の同意を得るものとします）<br>
登録が完了したら、{%$POINT_NAME%}を購入することによりオークションに入札することができるようになります。</td>
</tr>
<tr>
<td class="tdttl2">仮登録したのに会員登録の<br>メールが送られてきません。 </td>
<td class="tdtext2">メールアドレスが間違えているか、メールが正常に受信されていない可能性があります。可能であれば他のメールアドレスにて再度ご登録手続きを行ってください。</td>
</tr>
<tr>
<td class="tdttl2">入札の方法は？</td>
<td class="tdtext2">開催中の商品の中からお好きなものを選び、商品の金額等をご確認いただいてから入札ボタンをクリックしてください。現在入札されている方のお名前が金額の下に表示されます。※必要に応じて{%$POINT_NAME%}を購入してください</td>
</tr>
<tr>
<td class="tdttl2">{%$POINT_NAME%}を買うには？</td>
<td class="tdtext2">「{%$POINT_NAME%}購入」のボタンより購入画面にお進みいただいて、購入する{%$POINT_NAME%}の枚数を選択し、決済方法を選んでお支払いください。購入完了しますと、{%$POINT_NAME%}が追加されます。枚数をご確認ください。</td>
</tr>
<tr>
<td class="tdttl2">{%$POINT_NAME%}の決済方法は？</td>
<td class="tdtext2">お支払いには銀行振込、インターネットバンク、クレジットカードがご利用いただけます。</td>
</tr>
<tr>
<td class="tdttl2">自動入札って何？ </td>
<td class="tdtext2">ご自身で設定をしていただいた金額で自動的に入札を行う機能です。設定は商品詳細画面より行えます。</td>
</tr>
<tr>
<td class="tdttl2">{%$POINT_NAME%}の有効期限は？ </td>
<td class="tdtext2">ご購入いただきました{%$POINT_NAME%}につきましては、ご購入日から180日間とさせていただいております。
　有効期限を過ぎると{%$POINT_NAME%}は消滅し利用できなくなりすのでご注意ください。<br>
友達紹介等によって獲得したボーナス{%$POINT_NAME%}の有効期限は入手から30日間となります。</td>
</tr>
<tr>
<td class="tdttl2">落札商品の決済方法は？</td>
<td class="tdtext2">お支払いには銀行振込、インターネットバンク、クレジットカードがご利用いただけます。</td>
</tr>
<tr>
<td class="tdttl2">送料はかかりますか？</td>
<td class="tdtext2">一律315円の送料がかかります。</td>
</tr>
<tr>
<td class="tdttl2">落札商品の購入期限はありますか？</td>
<td class="tdtext2">落札してから21日間です。それを過ぎますと、購入できなくなりますのでご注意ください。</td>
</tr>
<tr>
<td class="tdttl2">オークションの種類は何種類ありますか？</td>
<td class="tdtext2">{%$SITE_NAME%}では色々な種類のオークションを開催しております。詳しくは「オークションについて」ご覧ください。</td>
</tr>
<tr>
<td class="tdttl2">商品の出品をしたいのですがどうしたらいいですか？</td>
<td class="tdtext2">{%$SITE_NAME%}では、商品を出品することができません。オークションに出品されている商品は、すべて新品、メーカー保証書付きの商品となっております。</td>
</tr>
</table>
<div class="treeclose">▲<a href="javaScript:exMenu('treeMenu10')">閉じる</a></div>
</div>



</div>

</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>
