{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}

<div id="main_bg" class="pkg">


<div id="gguide1">
<h2>ご利用ガイド</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/guide/how">{%$SITE_NAME%}の使い方</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/question">よくある質問</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/help">ヘルプ</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/free?p=free1">友達紹介</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/contact">お問い合わせ</a></li>
                </ul>

<h2>{%$SITE_NAME%}について</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}とは？</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/company">運営会社</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/terms">利用規約</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/privacy">プライバシーポリシー</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/company">特定商取引法に基づく表記</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/sitemap">サイトマップ</a></li>
                </ul>
</div>




<div id="gguide2">
<h2>{%$SITE_NAME%}の使い方</h2>
<h3>①無料会員登録の手順</h3>
<p>
「無料会員登録」ボタンをクリックしてください。会員登録ページへ移動します。<br>
　↓<br>
*がついている項目は必ず入力してください。<br>
（落札された商品の決済や配送に必要ですので、正確にご記入ください。）<br>
第三者に公開されることはありません。<br>
{%$SITE_NAME%}利用規約、プライバーポリシーに同意のうえ、登録ボタンをクリックしてください。<br>
　↓<br>
ご登録頂いたメールアドレスに仮登録メールが送られます。<br>
メール本文に記載されたリンクをクリックしてください。これでご利用登録は完了です。</p>
</p>

<h3>②{%$POINT_NAME%}購入方法</h3>
<p>
ログイン後、「{%$POINT_NAME%}購入」をクリック。
　　購入したい{%$POINT_NAME%}数を選択して「購入」ボタンをクリックしてください。<br>
　↓<br>
決済手法を選択して、決済してください。<br>
　↓<br>
支払い手続きが完了しますと、ページ右上にコイン数が表示されます。<br>
マイページの{%$POINT_NAME%}残高でも確認ができます。<br>
さあ、これで入札準備は完了です。
</p>

<h3>③入札の仕方</h3>
<p>
各オークション商品エリアにある「入札」ボタンをクリック。<br>
入札すると、ご自分が最高入札者になります。<br>
　↓<br>
入札されるたびに落札価格が1円～15円ずつアップ（オークションの種類によって異なります）残り時間は20秒ずつアップします。<br>
　↓<br>
 残り時間が0秒になったら落札者が確定になります。
</p>

<h3>④落札後の手順</h3>
<p>［落札後］マイページの落札済みリストから支払いをクリック。<br>
　↓<br>
［支払について］落札後は、落札価格（＝商品の購入価格）ならびに送料315円を確認し、購入意志を再確認したうえで 落札価格＋送料 を支払い、商品の到着を待ちます。<br>
お支払いには銀行振込、インターネットバンク、クレジットカードがご利用いただけます。<br>
※落札した商品の購入は落札日より21日以内に行う必要があります。落札後21日を過ぎても購入処理がされない場合は、その商品の購入権利は自動的に失われますのでご注意下さい。<br>
　↓<br>
　商品の配送について］商品の到達は通常1週間以内を予定しておりますが、購入後14日たっても商品が届かない場合は、お手数ではございますが、弊社にお問い合わせください。
</p>

<h3>⑤オークションの種類</h3>
<p>
<font color="orange"><strong> ［ビギナーズオークション］</strong></font><br>
落札されたことが無い会員限定のオークションです。1入札で5円アップします。1度落札されると次からはビギナーズオークションに参加できなくなりますのでご注意ください。<br>
　※既に落札をしたことがある会員のページには、開催中のビギナーズオークションは表示されません。<br>
<br>
<font color="orange"><strong>［フリーオークション］</strong></font><br>
{%$POINT_NAME%}を消費せずに何度でも入札可能なオークションです。また、このオークションでは自動入札設定ができません。
フリーオークションは{%$POINT_NAME%}を消費しないので、{%$SITE_NAME%}の雰囲気を気軽に味わうことが出来ます。<br>
※落札した商品を購入するには、落札価格を支払う必要がありますのでご注意ください。<br><br>
 
<font color="orange"><strong>［自動入札禁止オークション］</strong></font><br>
自動入札機能を使用できないオークションです。
自動入札できないため、参加者はパソコンの前にいて自分自身で入札ボタンをクリックしなければなりません。<br><br>
 
<font color="orange"><strong>［1円オークション］</strong></font><br>
1入札あたりに１円アップするオークションです。その分、比較的安い価格で落札できます。<br><br>

<font color="orange"><strong>［通常オークション］</strong></font><br>
上記のオークション以外のオークションです。1入札で15円アップします。<br><br>

<!-- ビギナーズを無くした場合　4/21
・フリーオークション<br>
・1円・５円オークション<br>
1入札のアップ金額が1円もしくは5円のオークションです。種類は商品についているマークで確認できます。<br>
・通常オークション（15円）<br>
通常オークションは、1入札あたりにアップする金額が15円ずつアップするオークションです。<br>
・自動入札禁止オークション<br>
・ベントオークション<br>
様々な内容のオークションを開催していきます。
-->
</p>

<h3>⑥自動入札の設定方法</h3>
<p>オークションの価格が事前に設定した上限金額と下限金額の間に達した際に、ログインしていない状態であっても自動的にそのオークションに入札してくれる仕組みです。</p>
</div>





</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>
