{%include file='pc/parts/head.html'%}
<!-- <script type="text/javascript" src="{%$JAVASCRIPT_DIR%}/ark.js"></script> --><!--削除禁止--> 
<script type="text/javascript" src="{%$TEMPLATE_PARTS_DIR%}/ark.js"></script><!--削除禁止-->
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}
{%if ($isLogin ==true)%}
<!-- ログイン後BANNER START -->
{%include file='pc/parts/index_banner_after.html'%}
<!-- ログイン後BANNER ED -->
<a href="{%$SERVER_PATH%}/game">ゲームスタート</a>
{%else%}
<!-- ログイン前BANNER START -->
{%include file='pc/parts/index_banner_before.html'%}
<!-- ログイン前BANNER ED -->
{%/if%}


<div id="main_bg" class="pkg">
{%include file='pc/parts/index_notice.html'%}
{%include file='pc/parts/index_pickup.html'%}
</div>

{%include file='pc/parts/index_open.html'%}

{%include file='pc/parts/prd_list_prd.html'%}

{%include file='pc/parts/index_end.html'%}



{%include file='pc/parts/footer.html'%}

{%include file='pc/parts/copyright.html'%}


<!-- Twitter Follow Badge-->
<style>
  #tfbTab, #tfbHover {position: fixed; top: 136px; width: 39px; height: 135px; right: 0pt;}
  #tfbTab{z-index: 8765; background: url(http://www.go2web20.net/twitterfollowbadge/1.0/bg-badge/follow-me.png) no-repeat scroll left top;}
  #tfbHover{z-index:8766; background: url(http://www.go2web20.net/twitterfollowbadge/1.0/bg-badge/follow-me.png) no-repeat scroll left bottom;}
  #tfbHover{visibility:hidden;} #twitterFollowBadge:hover #tfbHover{visibility:visible;}
</style>
<div id="twitterFollowBadge">
  <div id="tfbTab"></div>
  <a href="http://twitter.com/zerooku" target="_blank">  <div id="tfbHover"></div>
</a>
</div>
<!-- end of Twitter Follow Badge -->

<!--listing sta-->
{%$LISTING_TAG%}
{%$LISTING_TAG2%}
<!--listing end-->

<!-- Google Code for TOP&#12506;&#12540;&#12472; Remarketing List -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1008471777;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "666666";
var google_conversion_label = "GUCNCJ-4-wEQ4Z3w4AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1008471777/?label=GUCNCJ-4-wEQ4Z3w4AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</div>
</body>
</html>
