{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}


<div id="main_bg" class="pkg">
<div id="mynote1">
<h2>マイオークション</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/my">マイページ</a></li>
                    <li><a href="{%$SERVER_PATH%}/coin">{%$POINT_NAME%}購入</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/coins">{%$POINT_NAME%}残高</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct/watch">ウォッチリスト</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct">入札中リスト</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct/autobid">自動入札中リスト</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct/finish">落札リスト</a></li>
                </ul>



<h2>アカウント管理</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/my/profile">プロフィール変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/password">パスワード変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/email">メールアドレス変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/address">配送先変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/mailmagazein">メルマガ変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/friend">友達紹介</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/close">退　会</a></li>
                </ul>
</div>

<div id="mynote2">

<h2>コンビニ決済ページ</h2>
<div style="color:red">{%$message%}</div>

<h3>
{%$SITE_NAME%}ではオークションの入札手数料として「{%$POINT_NAME%}」が必要です。<br>
</h3>
<p>
・オークション入札毎に{%$POINT_NAME%}が必要になります。(１枚＝{%$POINT_VALUE%}円)<br>
・ご購入された{%$POINT_NAME%}は、一切返金できませんのでご了承ください。<br>
・一度入札に利用した{%$POINT_NAME%}は、落札できる・できないにかかわらず返却できませんのでご了承ください。
</p>

<h3>
{%$POINT_NAME%}ご購入内容
</h3>
<p style="font-size:18px;font-weight:bold;line-height:1.8;">

   ご購入内容：{%$POINT_NAME%}<span style="color:red;">{%$coin_count%}</span><br>
   ご購入金額：<span style="color:red;">{%$buy_money%}</span>円
</p>


<h3>
店舗選択
</h3>
以下からお支払い店舗を選択し、購入ボタンをクリックしてください。

<form method="GET" action="http://{%$HTTP_HOST%}/cli_ep.php/pcpay/">
                    <input type="hidden" value="{%$buy_money%}"  name="buy_money"/>
                    <input type="hidden" value="{%$payment%}"    name="payment"/>
<p id="payment_choice">
<input type="radio" name="st" value="1">ローソン<BR>
<input type="radio" name="st" value="2">セブンイレブン<BR>
<input type="radio" name="st" value="3">ファミリーマート
</p>

<input type="submit" value="購入する" class="form_put">
</form>












</div>









</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>






