{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}


<div id="main_bg" class="pkg">
<div id="mynote1">
<h2>マイオークション</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/my">マイページ</a></li>
                    <li><a href="{%$SERVER_PATH%}/coin">{%$POINT_NAME%}購入</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/coins">{%$POINT_NAME%}残高</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct/watch">ウォッチリスト</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct">入札中リスト</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct/autobid">自動入札中リスト</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct/finish">落札リスト</a></li>
                </ul>



<h2>アカウント管理</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/my/profile">プロフィール変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/password">パスワード変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/email">メールアドレス変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/address">配送先変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/mailmagazein">メルマガ変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/friend">友達紹介</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/close">退　会</a></li>
                </ul>
</div>

<div id="mynote2">

<h2>Edy決済ページ</h2>
<div style="color:red">{%$message%}</div>

   <!-- ここはコイン購入のメニュー  start -->
<h3>Edyでご購入いただけます。</h3>


   {%if $type == "0" %}

<h3>
{%$POINT_NAME%}ご購入内容
</h3>
<p style="font-size:18px;font-weight:bold;line-height:1.8;">

   ご購入内容：{%$POINT_NAME%}<span style="color:red;">{%$coin->count%}</span><br>
   ご購入金額：<span style="color:red;">{%$coin->total_price%}</span>円
</p>
   {%else%}

<h3>
落札商品のご購入方法選択
</h3>
<p style="font-size:18px;font-weight:bold;line-height:1.8;">
   商品名：<span style="color:red;">{%$product->f_products_name%}</span><br>
   落札価格：<span style="color:red;">{%$product->f_end_price%}</span>円<br>
   運賃：<span style="color:red;">{%$carriage%}</span>円<br>
</p>
   {%/if%}


<h3>
お支払い店舗選択
</h3>
以下からお支払い店舗を選択し、購入ボタンをクリックしてください。
<form method="GET" action="http://{%$HTTP_HOST%}/cli_ep.php/pcpay/">
    <input type="hidden" value="{%$buy_money%}"  name="buy_money"/>
    <input type="hidden" value="{%$payment%}"    name="payment"/>
    <input type="hidden" value="{%$sf_money%}"   name="sf_money"/>
    <input type="hidden" value="{%$edytype%}"    name="edytype"/>
    <input type="hidden" value="{%$type%}"       name="type"/>
    <input type="hidden" value="{%$product->fk_end_products_id%}"       name="pro_id"/>


<p id="edytype_choice">
<input type="radio" name="edytype" value="1" checked>パソリ<BR>
<input type="radio" name="edytype" value="2">モバイルEDY
</p>
<input type="submit" value="購入する" class="form_put">
</form>



</div>









</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>

