{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}

<div id="main_bg" class="pkg">


            
            <div id="logform">
                <div style="color: red">{%$error%}</div>
                <div style="background-color:#dedede;padding:30px;margin:25px;font-size:12px;">
                    <form action="{%$SERVER_PATH%}/login">
                        <table width="400px" cellpadding="5">
                            <tr>
                                <td align="right">ユーザID：</td>
                                <td align="left"><input type="text" name="login_id"/></td>
                            </tr>
                            <tr>
                                <td align="right">パスワード：</td>
                                <td align="left"><input type="password" name="login_pass"/></td>
                            </tr>
                            <tr>
                                <td>　</td>
                                <td align="left"><input type="submit" value="ログイン"/></td>
                            <tr>
                                <td>　</td>
                                <td align="left"><a href="{%$SERVER_PATH%}/member/forget">パスワードを忘れた方はこちら</a></td>
                            </tr>
                        </table>
                    </form>
                </div>
				<div>
				<a href="{%$SERVER_PATH%}/member/register">新規登録はこちら</a>
				</div>

            </div>

</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>