<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<head>
<LINK REL="SHORTCUT ICON" HREF="http://v-market.jp/style/pc/default/images/test.ico">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="ROBOTS" CONTENT="ALL">
<meta name="description" content="{%$SITE_NAME%}～激安オークション">
<meta name="keywords" content="{%$SITE_NAME%},ペニーオークション">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<script type="text/javascript" src="/style/pc/default/images/smartRollover.js"></script>
<script type="text/javascript" src="/style/pc/default/images/minmax.js"></script>
<title>爆安オークション！
</title>
</head>

<body>
<link href="/style/pc/default/layout.css" rel="stylesheet" type="text/css">
<link href="/style/pc/default/character.css" rel="stylesheet" type="text/css">
<br>
ただいま、メンテナンス中です。<br>
しばらく経ってから、接続してください。

</body>
</html>

