{%include file='pc/parts/head.html'%}
    {%include file='pc/parts/discr.html'%}
            <!-- ページのtop部分 -->
            {%include file='pc/parts/top.html'%}

            <div class="contentbox_m">
            <!--message：正式に会員登録しました。また、すでに登録済みなどのメッセージ-->
                {%$message%}<br>
                <a href="{%$SERVER_PATH%}">ホームへ</a>
            </div>

<!--AFFILIATE:アフィリエイトのタグ:削除禁止！-->
{%$affiliate_tag%}
{%$affiliate_tag2%}
<!--AFFILIATE:アフィリエイトのタグ:削除禁止！-->

            {%include file='pc/parts/footer.html'%}

            {%include file='pc/parts/copyright.html'%}

        </div>
    </body>
</html>
