{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}
<div id="main_bg" class="pkg">
    <div style="text-align: center">
        <ul>
        {%$message%}
        </ul>
    </div>
    <div><a href="{%$url%}">{%$str%}</a></div>


</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>
