{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}
{%if $page_name == "index" %}
<!-- マイページのindex -->

{%elseif $page_name == "address" %}
<!-- 配送先変更 -->

{%elseif $page_name=="profile" %}
<!-- プロフィール変更 -->

{%elseif $page_name=="password" %}
<!-- パスワード変更 -->

{%elseif $page_name=="mailmagazein" %}
<!-- メルアド変更 -->

{%elseif $page_name=="close" %}
<!-- 退会手続き -->

{%elseif $page_name=="coin" %}
<!-- コイン購入 -->

{%elseif $page_name=="coins" %}
<!-- コイン購入履歴 -->


{%elseif $page_name=="email" %}
<!-- メール変更 -->


{%elseif $page_name=="watch" %}
<!-- ウォッチリスト -->

{%elseif $page_name=="myproduct" %}
<!-- 入札中オクション -->

{%elseif $page_name=="autobid" %}
<!-- 自動入札中オークション -->

{%elseif $page_name=="finish" %}
<!-- 落札済み一覧 -->

{%elseif $page_name=="friend" %}
<!-- 友達紹介 -->

{%/if%}

<!-- <script type="text/javascript" src="{%$JAVASCRIPT_DIR%}/ark.js"></script> --><!--消去禁止-->
<script type="text/javascript" src="{%$TEMPLATE_PARTS_DIR%}/ark.js"></script><!--削除禁止-->

<div id="main_bg" class="pkg">
<div id="mynote1">
<h2>マイオークション</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/my/index_ext">マイページ</a></li>
                    <li><a href="{%$SERVER_PATH%}/coin">{%$POINT_NAME%}購入</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/coins">{%$POINT_NAME%}残高</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct/watch">ウォッチリスト</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct">入札中リスト</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct/autobid">自動入札中リスト</a></li>
                    <li><a href="{%$SERVER_PATH%}/myproduct/finish">落札リスト</a></li>
                </ul>



<h2>アカウント管理</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/my/profile">プロフィール変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/password">パスワード変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/email">メールアドレス変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/address">配送先変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/mailmagazein">メルマガ変更</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/friend">友達紹介</a></li>
                    <li><a href="{%$SERVER_PATH%}/my/close">退　会</a></li>
                </ul>
</div>

<div id="mynote2">


<!-- コンテンツ内容インクル -->
<div style="color:red;">{%$message%}</div>
{%include file=$include_file%}
<!-- コンテンツ内容インクル -->



</div>

<!--AFFILIATE:アフィリエイトのタグ:削除禁止！-->
{%$affiliate_tag%}
{%$affiliate_tag2%}
<!--AFFILIATE:アフィリエイトのタグ:削除禁止！-->









</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>
