{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}
    <script type="text/javascript" src="{%$JAVASCRIPT_DIR%}/validationEngine.js" ></script>
    <link href="{%$CSS_PATH%}/validationEngine.css" media="screen" rel="stylesheet" type="text/css">
<div id="main_bg" class="pkg">


    <div id="gguide2">
        <h2>パスワードを忘れた場合</h2>
        <div>{%$message%}</div>
        <div>{%$SITE_NAME%}にご登録されたメールアドレスをご記入の上、送信ボタンを押してください。</div>
        <div>ご登録いただいているメールアドレスにパスワード再発行の手順をお送りします。</div>
        <span>メールアドレス:</span>
        <form action="{%$SERVER_PATH%}/member/forget" method="post" class="new_pass">
            <input type="hidden" name="mode" value="{%$mode%}"/>
            <tr>
            <input type="text" name="email" size="30" id="email" class="validate[required,custom[email],length[6,30]]"/>
            </tr>
            <tr><input type="submit" value="送信"/></tr>
        </form>
    </div>





</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>
