{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}
    <script type="text/javascript" src="{%$JAVASCRIPT_DIR%}/validationEngine.js" ></script>
    <link href="{%$CSS_PATH%}/validationEngine.css" media="screen" rel="stylesheet" type="text/css">
<div id="main_bg" class="pkg">




    <div id="gguide2">
        <h2>パスワードの再設定</h2>
        <div>{%$message%}</div>
        <div>新しいパスワードを入力し、変更ボタンを押してください。</div>
        <form action="{%$SERVER_PATH%}/member/pass_reset" method="post" class="new_pass">
            <input type="hidden" name="mode" value="{%$mode%}"/>
            <input type="hidden" name="idcode" value="{%$idcode%}"/>
            <tr>
            <span>新しいパスワード</span><input type="text" name="pass" size="30" id="pass" class="validate[required,length[6,80]]"/>
            <span>パスワード再入力</span><input type="text" name="repass" size="30" id="repass" class="validate[required,length[6,80]]"/>
            </tr>
            <tr><input type="submit" value="変更"/></tr>
        </form>
    </div>





</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>
