{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}

<div id="main_bg" class="pkg">



<div id="gguide1">
<h2>ご利用ガイド</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/guide/how">{%$SITE_NAME%}の使い方</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/question">よくある質問</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/help">ヘルプ</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/free?p=free1">友達紹介</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/contact">お問い合わせ</a></li>
                </ul>

<h2>{%$SITE_NAME%}について</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}とは？</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/company">運営会社</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/terms">利用規約</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/privacy">プライバシーポリシー</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/company">特定商取引法に基づく表記</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/sitemap">サイトマップ</a></li>
                </ul>
</div>



            <div id="gguide2">
                <h2>{%$SITE_NAME%}プライバシーポリシー</h2>
                    当社は、下記の考え方に基づきプライバシー保護に最大限の注意を払って本サービスを運営しております。
                    <h3>1.個人情報の取得について</h3>
                    <ul>
                        <li>個人情報とは、本サービスを通じて利用者から取得する氏名、メールアドレス、住所、電話番号等のうち、利用者個人を特定できる情報のことを指します。</li>
                    </ul>
                    <h3>2.個人情報の利用目的について</h3>
                    <ul>
                        <li>当社は、利用者の個人情報を以下の目的で利用することができるものとします。
                            <ul>
                                <li>・　本サービスならびにその他本サービスに関連する情報の提供のため</li>
                                <li>・　利用者の本人確認、クレジットカードの認証サービスのため</li>
                                <li>・　{%$POINT_NAME%}や商品ならびに送料の決済のため</li>
                                <li>・　落札者への商品の配送のため</li>
                                <li>・　当社及び第三者の商品等の広告または宣伝（ダイレクトメールの送付、電子メールの送信を含む）のため</li>
                                <li>アフターサービス、各種問い合わせ対応のため</li>
                            </ul>
                        </li>
                    </ul>
                    <h3>3.個人情報の共有ならびに利用制限について</h3>
                    <ul>
                        <li>当社は、以下に定める場合を除いて、事前に利用者本人の同意を得ず、利用目的の達成に必要な範囲を超えて個人情報を利用または共有することはありません。
                            <ul>
                                <li>・　購入商品の仕入ならびに配送を手配する目的で、商品の仕入先ならびに配送業者に配送先情報を提供する場合</li>
                                <li>・　裁判所、検察庁、警察、税務署、弁護士会またはこれらに準じた権限を持つ機関から、　個人情報の開示を求められた場合</li>
                                <li>・　利用者によるクレジットカード等による利用料金決済のため、クレジットカード会社、クレジットカード決済等の代行会社、金融機関、回収代行業者に開示する場合</li>
                                <li>・　本サービスの提供において当社が必要と判断した際、弁護士等、当社に対して秘密保持義務を負う者に対して開示する場合</li>
                                <li>・　合併、営業譲渡その他の事由による事業の承継の際に、事業を承継する者に対して開示する場合</li>
                                <li>・　法令により認められた場合</li>
                            </ul>
                        </li>
                    </ul>
                    <h3>4.個人情報の安全管理について</h3>
                    <ul>
                        <li>当社では、個人情報の漏洩または毀損の防止ならびにその他個人情報の安全管理が行われるよう、個人情報の適切な管理を指導しています。

                            また、個人情報の取扱いを外部に委託する場合には、機密保持契約を締結のうえ委託先を監督します。</li>
                    </ul>
                    <h3>5.本サービス以外での個人情報の管理について</h3>
                    <ul>
                        <li>本サービスならびに本サービスより送付された電子メールやダイレクトメールにおいて、当社以外の第三者にて登録される個人情報の管理について、当社では一切の責任を負うことができません。本サービス以外のサービスの利用については、都度当該サービスのプライバシーポリシーをご確認ください。</li>
                    </ul>
                    <h3>6.クッキーについて</h3>
                    <ul>
                        <li>本サービスでは、クッキー(Cookie)と呼ばれる技術を利用しています。クッキーとは、特定のテキスト情報をお客様の利用する通信機器に一時的にデータとして保持させ、接続の度にそのデータを基にお客様を識別させる仕組みをいいます。クッキー単体では個人の特定ができない為、個人情報とは考えておりませんが他個人情報との組み合わせにより個人を特定できる場合にはこれを個人情報とみなします。
当社では、クッキーの利用を前提としたサービスを提供しているため、クッキーの利用を許可しない場合、当社の一部のサービスを受けられないことがあります。クッキーの利用を許可するかどうかは、お客様のブラウザで設定できます。必要に応じて設定を確認してください。
また本サービス上で、広告表示回数を計測する等のため、当社以外の第三者企業の広告システムによりクッキーが送信されることがあります。</li>
                    </ul>
                    <h3>7.セキュリティ技術について</h3>
                    <ul>
                        <li>当社では、SSL(Secure Socket Layer)という業界標準の暗号方式を使用して暗号化を行っています。

                            当社で必要と判断した個人情報は、SSL暗号化通信により保護し、安全性の確保に努めます。

                            また、個人情報は、当社所定の基準において厳重管理し、ファイヤ・ウォールの設置・ウィルス対策の整備等により、個人情報へのアクセス、紛失、破壊、改ざん、漏洩、ウィルス感染等の防止策を講じています。</li>
                    </ul>
                    <h3>8.個人情報の開示・訂正・利用停止・消去等について</h3>
                    <ul>
                        <li>本サービスの会員より、本人の個人情報の開示、訂正、追加、削除、利用停止、消去、第三者提供の停止、利用目的の通知を求められたときは、

                            当該請求者が正当な権利を有していることを確認したうえで、本人に対し可能な限り迅速に対応致します。

                            ただし、対応することにより次のいずれかに該当する場合は、その全部または一部を対応しないこともあり、対応しない決定をした場合にはその旨を可能な限り迅速に通知いたします。
                            <ul>
                                <li>(1)ご本人または第三者の生命、身体、財産、その他の権利利益を害する可能性がある場合</li>
                                <li>(2)当社の業務に著しい支障を及ぼす可能性がある場合</li>
                                <li>(3)法令に違反する可能性がある場合。</li>
                                <li>なお、アクセスログなどの個人情報以外の情報については、原則として開示等はいたしません。</li>
                            </ul>
                        </li>
                    </ul>
                    <h3>9.プライバシーポリシーの変更について</h3>
                    <ul>
                        <li>当社は、本プライバシーポリシーを変更する場合があります。

                            本ページを都度ご確認の上、本サービスのプライバシーポリシーをご理解頂く様お願い致します。

                            なお、当社への個人情報保護に関するお問い合わせ等についてはこちらの<a href="{%$SERVER_PATH%}/guide/contact">お問合せフォーム</a>からご連絡ください。
　　　　　　　　　　</li>
                    </ul>

            </div>

</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>
