{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}
<!-- <script type="text/javascript" src="{%$JAVASCRIPT_DIR%}/product.js"></script>  --><!--削除禁止-->
<script type="text/javascript" src="{%$TEMPLATE_PARTS_DIR%}/product.js"></script>





<div id="main_bg" class="pkg">
<div id="item_{%$product->fk_products_id%}">
<div id="mp_main_box"><a id="product_main" class="{%$product->fk_products_id%}"></a><!--削除禁止-->



<h3>{%$product->f_products_name%}<br>
<span style="color:#fff;font-size:12px;">【商品カテゴリ：{%$product->f_category_name%}】</span>
</h3>

<div id="item_text">
		<!-- ウォッチパーツ -->
		<a id="add_watch_button" href="{%$SERVER_PATH%}/product/watch?pro_id={%$product->fk_products_id%}"><!--削除禁止-->
		{%if $isWatched == true%}
		<img id="add_watch_image" alt="今すぐ入札！最新オークション" src="{%$IMAGE_PATH%}/add_watch_finish.png" style="margin:0 0 0 5px;" align="right">
		{%elseif $isLogin%}
		<img id="add_watch_image" alt="今すぐ入札！最新オークション" src="{%$IMAGE_PATH%}/watchlist_btn_off.gif" style="margin:0 0 0 5px;" align="right">
		{%/if%}
		</a>
		<!-- ウォッチパーツ -->
{%$product->f_top_description_pc%}
</div>



<div class="pkg auctiondetails">

		<!-- 写真パーツ -->
		<div id="product_image_frame">
<span style="margin:0;" class="aci_icon{%$product->auction_type%}"></span>
		<table id="pro_img">

		<tr>
		<td colspan="4" style="height:320px;">


		<img alt="{%$product->f_products_name%}" src="{%$product->f_photo1%}" name='prdimg' width="300" style="max-height:300px;">

		</td>
		</tr>
		<img id='no_image' src='{%$IMAGE_PATH%}/no_img.png' style="display: none;"><!-- 削除禁止 -->
		<tr>
		<td><IMG src='{%$product->f_photo1%}' width="64" height="64" class="thumbimg"></td>
		<td><IMG src='{%$product->f_photo2%}' width="64" height="64" class="thumbimg"></td>
		<td><IMG src='{%$product->f_photo3%}' width="64" height="64" class="thumbimg"></td>
		<td><IMG src='{%$product->f_photo4%}' width="64" height="64" class="thumbimg"></td>
		</tr>
		</table>
		</div>
		<!-- 写真パーツ -->




		<!-- 中 -->
		<div id="middleblock">
<table style="width:230px; height:420px;">
<tr>
<td valign="top">
			<div id="middlebox">
				<div id="bid_action">
                                <p>落札用コイン数：{%$product->bidcoins%}</p>
				<p class="battl">落札価格</p>
				<p id="a_current_price" style="color:#000000; font-size: 24px; font-weight: bold;margin:0px 0px 10px 0px;"><span style="font-family:Monospace;">￥</span><span class="price" id="price_{%$product->fk_products_id%}">{%$product->f_end_price%}</span></p>
				<p class="battl">プラス落札価格</p>
				<p id="a_current_price" style="color:#000000; font-size: 24px; font-weight: bold;margin:0px 0px 10px 0px;"><span style="font-family:Monospace;">￥</span><span class="price" id="price_{%$product->fk_products_id%}">{%$product->plus_end_price%}</span></p>
				
				<p style="font-weight:bold;" id="a_current_winner"><span class="battl">落札者:</span><span class="last_bidder" id="a_current_winner">{%if ($product->f_handle=="") %}いない{%else%}{%$product->f_handle%}{%/if%}</span></p>
				</div>

				<!--
				<div class="actions">
				<span style="height: 0px; display: none;" id="last_actions_div"></span>
				</div>
				-->

				<div class="countdown_new">
					<p class="battl">残り時間</p>
					<div id="countertime" class="countdown_nrs">
					<span id="time_{%$product->fk_products_id%}">終了</span>
					</div>
				</div>



				<div id="gebotsbutton">


このオークションは<br>
終了済みです。

				</div>

						<script language="javascript">
						//MM_preloadImages();
						</script>

				<div id="bttext">
					<div style="font-size:10px;">
					一回の入札に{%$product->f_spend_coin%}{%$POINT_NAME%}（<strong><span style="font-family:Monospace;">￥</span>{%$POINT_VALUE * $product->f_spend_coin%}</strong>）消費します。
					<br />
					入札ごとに入札額が <span style="font-family:Monospace;">￥</span>{%$product->f_up_price%} ずつ増加します。
					</div>
				</div>

			</div>
</td>
</tr>
<tr>
<td valign="bottom">
			<div id="middlebox">

			<!-- ディスカウント -->
			<div id="auction_discount">
				<p class="battl">現在のディスカウント状況</p>
				<table cellspacing="0" cellpadding="0">
				<tr>
				<td class="adstd1">参考市場価格</td>
				<td class="adstd2"><strong><span style="font-family:Monospace;">￥</span>{%$product->f_market_price%}</strong></td>
				</tr>

				<!--ログイン済みの場合、入札回数を表示-->


				<tr>
				<td class="adstd1">あなたの入札回数</td>
				<td class="adstd2" id="a_current_price2"><span id ="my_bid_count_{%$product->fk_products_id%}"class="my_bid_count">{%$product->bid_count%}</span></td>
				</tr>
				<tr>
				<td class="adstd1">ディスカウント額</td>
				<td class="adstd2"><span style="font-family:Monospace;">￥</span><span id="discount_price_{%$product->fk_products_id%}" class="discount_price">{%$product->discount_price%}</span></td>
				</tr>
				<tr>
				<td class="adstd1">プラスディスカウント額</td>
				<td class="adstd2"><span style="font-family:Monospace;">￥</span><span id="discount_price_{%$product->fk_products_id%}" class="discount_price">{%$product->plus_discount_price%}</span></td>
				</tr>
				<tr>
				<td class="adstd1">ディスカウント率</td>
				<td class="adstd2"><span id="user_saving_rate"><span id="discount_rate_{%$product->fk_products_id%}" class="discount_rate">{%$product->discount_rate%}</span></span>% OFF</td>
				</tr>
				<tr>
				<td class="adstd1">プラスディスカウント率</td>
				<td class="adstd2"><span id="user_saving_rate"><span id="discount_rate_{%$product->fk_products_id%}" class="discount_rate">{%$product->plus_discount_rate%}</span></span>% OFF</td>
				</tr>

				
				<tr>
				<td align="left" colspan="2"><span style="font-size:10px;">"参考市場価格"は製造元の希望小売価格をもとに算出しています</span></td>
				</tr>
				</table>
			</div>
			<!-- ディスカウント -->

			</div>
</td>
</tr>
</table>
		</div><!-- 中 -->






		<!-- 右 -->
		<div id="rightblock">

		<!-- 切り替え-->
		<!-- ログイン中の場合 -->

		{%if ($isLogin ==true)%}
	        <div id="adsright1">
<a href="{%$SERVER_PATH%}/my/friend"><img src="{%$IMAGE_PATH%}/ban_tomod_off.jpg" alt="友達紹介"></a>

		</div>
		<!-- ログイン中の場合end -->


		{%else%}


		<!-- 未ログインの場合 -->
		<div id="adsright1">
		<a href="{%$SERVER_PATH%}/member/register"><img src="{%$IMAGE_PATH%}/tourokubtn.jpg" alt="無料登録" style="margin-top:7px;"></a>
		</div>
		<!-- 未ログインの場合end -->


		{%/if%}
		<!-- 切り替え-->




		<!-- 履歴パーツ -->
		<div id="adsright2">
		<div id="ghistorie">
			<div class="hist_header_all">
				入札履歴
			</div>
		<div id="ghistoriebox">


			<div class="bb_subheader" style="background-color:#dff2f8;">
				<table cellspacing="0" cellpadding="0" border="0">
				<tr>
				<td align="left" width="80">入札額</td>
				<td align="left" width="80">入札者</td>
				<td align="left" width="70">入札タイプ</td>
				</tr>
				</table>
			</div>

			<div id="ghistorie_tbl">
				<div class="bid_log_stats">
					<table cellspacing="0" cellpadding="0" border="0">
					<tr><td width="80"/><td width="80"/><td width="70"/></tr>

					{%foreach from=$logs item=log%}
					<tr>
					<td align="left" width="80">{%$log->f_price%}円</td>
					<td align="left" width="80">{%$log->f_handle%}</td>
					<td align="left" width="70">{%$log->f_bid_type%}</td>
					</tr>
					{%/foreach%}
					</table>
				</div>
			</div>

		</div>
		</div>
		</div>
		<!-- 履歴パーツ -->

		</div>
		<!-- 右 -->

		<div style="clear: left;"></div>



</div>
<div style="clear: left;"></div>


<div id="adscomm1">
<h4>商品説明</h4>
<p>{%$product->f_main_description_pc%}</p>
</div>
<div id="adscomm1">
<h4>落札者の声</h4>
<p>{%$comment->f_memo%}</p>
</div>





</div>
</div>
</div>







{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}

</div>
</body>
</html>
