{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}
<!-- <script type="text/javascript" src="{%$JAVASCRIPT_DIR%}/ark.js"></script> --><!--削除禁止-->

<script type="text/javascript" src="{%$TEMPLATE_PARTS_DIR%}/ark.js"></script><!--削除禁止-->




<div id="main_bg" class="pkg">
<div id="item_{%$detail->fk_products_id%}">
<div id="mp_main_box"  class ="instant_item_detail" ta="{%$detail->fk_products_id%}">


<h3>{%$detail->f_products_name%}<br>
<span style="color:#fff;font-size:12px;">【商品カテゴリ：{%$detail->f_category_name%}】</span>
</h3>

<div id="item_text">
		<!-- ウォッチパーツ -->
		<a class="add_watch_button" href="{%$SERVER_PATH%}/product/watch?pro_id={%$detail->fk_products_id%}"><!--削除禁止-->
		{%if $isWatched == true%}
		<img id="add_watch_image" alt="今すぐ入札！最新オークション" src="{%$IMAGE_PATH%}/add_watch_finish.png" style="margin:0 0 0 5px;" align="right"><!-- id=add_watch_image削除禁止-->
		{%elseif $isLogin%}
		<img id="add_watch_image" alt="今すぐ入札！最新オークション" src="{%$IMAGE_PATH%}/watchlist_btn_off.gif" style="margin:0 0 0 5px;" align="right"><!-- id=add_watch_image削除禁止-->
		{%/if%}
		</a>
		<!-- ウォッチパーツ -->
{%$detail->f_top_description_pc%}
</div>



<div class="pkg auctiondetails">

		<!-- 写真パーツ -->
		<div id="product_image_frame">
<span style="margin:0;" class="aci_icon{%$detail->auction_type%}"></span>
		<table class="pro_img img_{%$detail->fk_products_id%}">

		<tr>
		<td colspan="4" style="height:320px;">


		<img alt="{%$detail->f_products_name%}" src="{%$detail->f_photo1%}" name='prdimg' width="300" style="max-height:300px;">

		</td>
		</tr>
		<img id='no_image' src='{%$IMAGE_PATH%}/no_img.png' style="display: none;"><!-- 削除禁止 -->
		<tr>
		<td><IMG src='{%$detail->f_photo1%}' width="64" height="64" class="thumbimg"></td>
		<td><IMG src='{%$detail->f_photo2%}' width="64" height="64" class="thumbimg"></td>
		<td><IMG src='{%$detail->f_photo3%}' width="64" height="64" class="thumbimg"></td>
		<td><IMG src='{%$detail->f_photo4%}' width="64" height="64" class="thumbimg"></td>
		</tr>
		</table>
		</div>
		<!-- 写真パーツ -->




		<!-- 中(以降　削除禁止) -->
		<div id="middleblock">
<table style="width:230px; height:420px; margin:0;padding:0;">
<tr>
<td valign="top">
			<div id="middlebox">
<img class="displayBox_{%$detail->fk_products_id%}" src="" style="margin-left:-10px;margin-top:-20px;display:none;width:200px;height:317px;position:absolute;z-index:50000;" />
				<div id="bid_action">
				<p class="battl">現在の価格</p>
				<p id="a_current_price" style="color:#000000; font-size: 24px; font-weight: bold;margin:0px 0px 10px 0px;"><span style="font-family:Monospace;">￥</span>
					<span class="price price_{%$detail->fk_products_id%}">{%$detail->f_now_price%}</span></p>
				
				<p style="font-weight:bold;" id="a_current_winner"><span class="battl">入札者:</span>
					<span class="last_bidder_{%$detail->fk_products_id%}">{%$detail->f_last_bidder_handle%}</span></p>
				</div>

				<!--
				<div class="actions">
				<span style="height: 0px; display: none;" id="last_actions_div"></span>
				</div>
				-->

				<div class="countdown_new">
					<p class="battl">残り時間</p>
					<div id="countertime" class="countdown_nrs">
					<span class="time_{%$detail->fk_products_id%}">{%$detail->f_auction_time%}</span>
					</div>
				</div>



				<div id="gebotsbutton">
					<div style="display: none;" class="load_{%$detail->fk_products_id%}">
					<img alt="" src="{%$IMAGE_PATH%}/ajax-arrows.gif">
					</div>

					<div id="button_index_page_{%$detail->fk_products_id%}" class="button_area_{%$detail->fk_products_id%} prd_button">
					{%if ($isLogin)%}
<!--
					<a href="{%$SERVER_PATH%}/product/bid?id={%$detail->fk_products_id%}" class="button_{%$detail->fk_products_id%} bid_button">
-->
					<a href="{%$SERVER_PATH%}/product/bid?id={%$detail->fk_products_id%}" class="button_{%$detail->fk_products_id%} bid_button" method="POST">
					<img alt="入札" src="{%$IMAGE_PATH%}/bit_off.gif">
					</a>
					{%else%}
					<a href="{%$SERVER_PATH%}/login/show">
					<img alt="入札" src="{%$IMAGE_PATH%}/bitin_off.gif">
					</a>
					{%/if%}
					</div>
					<p class="result_{%$detail->fk_products_id%}" style="font-weight:bold;font-size:12px;color:red;"></p>

				</div>

						<script language="javascript">
						//MM_preloadImages();
						</script>

				<div id="bttext">
					<div style="font-size:10px;">
					一回の入札に{%$detail->f_spend_coin%}{%$POINT_NAME%}（<strong><span style="font-family:Monospace;">￥</span>{%$POINT_VALUE * $detail->f_spend_coin%}</strong>）消費します。
					<br />
					入札ごとに入札額が <span style="font-family:Monospace;">￥</span>{%$detail->f_up_price%} ずつ増加します。
					</div>
				</div>

			</div>
</td>
</tr>
<tr>
<td valign="bottom">
			<div id="middlebox">

			<!-- ディスカウント -->
			<div id="auction_discount">
				<p class="battl">現在のディスカウント状況</p>
				<table cellspacing="0" cellpadding="0">
				<tr>
				<td class="adstd1">参考市場価格</td>
				<td class="adstd2"><strong><span style="font-family:Monospace;">￥</span>{%$detail->f_market_price%}</strong></td>
				</tr>

				<!--ログイン済みの場合、入札回数を表示-->


				<tr>
				<td class="adstd1">あなたの入札回数</td>
				<td class="adstd2" id="a_current_price2"><span class="my_bid_count_{%$detail->fk_products_id%} my_bid_count">{%$detail->bid_count%}</span></td>
				</tr>
				<tr>
				<td class="adstd1">ディスカウント額</td>
				<td class="adstd2"><span style="font-family:Monospace;">￥</span><span class="discount_price_{%$detail->fk_products_id%} discount_price">{%$detail->discount_price%}</span></td>
				</tr>
				<tr>
				<td class="adstd1">ディスカウント率</td>
				<td class="adstd2"><span id="user_saving_rate"><span class="discount_rate_{%$detail->fk_products_id%} discount_rate">{%$detail->discount_rate%}</span></span>% OFF</td>
				</tr>
{%if $prev_product %}
<span>前回落札価格：￥{%$prev_product->f_end_price%}</span><br>
<span>前回落札者：{%$prev_product->f_handle%}</span>
{%/if%}
				<tr>
				<td align="left" colspan="2"><span style="font-size:10px;">"参考市場価格"は製造元の希望小売価格をもとに算出しています</span></td>
				</tr>
				</table>
			</div>
			<!-- ディスカウント -->

			</div>
</td>
</tr>
</table>
		</div><!-- 中 （ここまで削除禁止）-->










<!-- ////////////////////////////////////////////////////////////////////////
オークションタイプ
1) 15円オークション(自動入札有り/15円アップ)
2) 1円オークション(自動入札有り/1円アップ)
3) ウルトラオークション(5コイン消費/自動入札有り/15円アップ)
4) フリーオークション(自動入札禁止/15円アップ)
5) 自動入札禁止オークション(自動入札禁止/15円アップ)
6) 自動入札禁止1円オークション(自動入札禁止/1円アップ)
7) 初心者限定オークション(自動入札有り/15円アップ)
8) リバースオークション(自動入札有り/15円アップ)
9) 開催時間限定オークション(自動入札有り/15円アップ)
10)人数制限オークション(自動入札有り/15円アップ)

4) フリーオークション(自動入札禁止/15円アップ)
5) 自動入札禁止オークション(自動入札禁止/15円アップ)
6) 自動入札禁止1円オークション(自動入札禁止/1円アップ)
 //////////////////////////////////////////////////////////////////////// -->


		<!-- 右 -->
		<div id="rightblock">

		<!-- 切り替え-->
		<!-- ログイン中の場合 -->

		{%if ($isLogin ==true)%}
		<div id="adsright1">

<!-- ACTYPE　判別きりわけ -->
{%if ($detail->auction_type==5) %}
<a href="{%$SERVER_PATH%}/my/friend"><img src="{%$IMAGE_PATH%}/ban_tomod_off.jpg" alt="友達紹介"></a>
	{%elseif ($detail->auction_type==6) %}
<a href="{%$SERVER_PATH%}/my/friend"><img src="{%$IMAGE_PATH%}/ban_tomod_off.jpg" alt="友達紹介"></a>
	{%elseif ($detail->auction_type==4) %}
<a href="{%$SERVER_PATH%}/my/friend"><img src="{%$IMAGE_PATH%}/ban_tomod_off.jpg" alt="友達紹介"></a>
	{%else%}
<!-- ACTYPE　判別きりわけ -->




<!--自動入札パーツ-->
		<div id="watbox">
		<form method="get" action="{%$SERVER_PATH%}/myproduct/set_auto">
		<table>
		<tr>
		<td colspan="5" class="watboxttl">
		おまかせ自動入札設定
		</td>
		</tr>
		<tr>
		<td colspan="5" class="wattd01">
		開始金額～終了金額、入札回数を設定します。<br>
		「設定した金額内」で「設定した回数」だけ自動的に入札を実行します。
		</td>
		</tr>
		<tr>
		<td>開始金額</td>
		<td>～</td>
		<td>終了金額</td>
		<td>/</td>
		<td>入札回数</td>
		</tr>
		<tr>
		<td><input type="text" value="" name="price_from" size="5" id="price_from"></td>
		<td>～</td>
		<td><input type="text" value="" name="price_to" size="5" id="price_to"></td>
		<td>/</td>
		<td><input type="text" value="" name="bid_count" size="2" id="bid_count"></td>
		</tr>
		<tr>
		<td colspan="5" class="wattd02">
		<input type="submit" value="　設　定　">
		</td>
		</tr>
		<tr>
		<td colspan="5" class="wattd02">
		{%$auto_bid_message%}　{%$message%}
		</td>
		</tr>
		</table>
		<input type="hidden" name="pro_id" value="{%$detail->fk_products_id%}"/>
		</form>


		<table>
		<tr>
		<td colspan="3" class="watboxttl">
		自動入札設定状況
		</td>
		</tr>
		<tr>
		<td class="wattd04">開始金額～終了金額</td>
		<td class="wattd04">設定枚数</td>
		<td class="wattd04">残枚数</td>
		</tr>
{%if $option_auto_bid_info  && $setting%}
{%foreach from=$setting item=info%}
		<tr>
		<td>
{%if $info->f_status == 0 %}
<a style="margin-right: 15px;" href="{%$SERVER_PATH%}/product/cancel?pro_id={%$detail->fk_products_id%}&auto_id={%$info->fk_auto_id%}">ｷｬﾝｾﾙ</a>{%$info->auto_bid_start_price%}～{%$info->auto_bid_end_price%}
{%else%}
    <font color="red"><span style="margin-right: 15px;">{%$info->stauts_des%}</span></font>
    {%/if%}
</td>
		<td>{%$info->auto_bid_coins%}</td>
		<td>{%$info->auto_bid_last_coins%}</td>
		</tr>
		{%/foreach%}
		
{%else%}
		<tr>
		<td colspan="3" class="wattd02">
		自動入札していません。
		</td>
		</tr>
{%/if%}
		</table>

		</div>
<!--自動入札パーツ-->

{%/if%}<!-- ACTYPE　判別きりわけ用 -->


		</div>
		<!-- ログイン中の場合end -->


		{%else%}

		<!-- 未ログインの場合 -->
		<div id="adsright1">
		<a href="{%$SERVER_PATH%}/member/register"><img src="{%$IMAGE_PATH%}/touroku3.gif" alt="無料登録" style="margin-top:10px;"></a><a href="{%$SERVER_PATH%}/guide/how"><img src="{%$IMAGE_PATH%}/touroku4.gif" alt="ご利用ガイド" style="margin-top:0px;"></a>
		</div>
		<!-- 未ログインの場合end -->


		{%/if%}
		<!-- 切り替え-->









		<!-- 履歴パーツ -->
		<div id="adsright2">
		<div id="ghistorie">
			<div class="hist_header_all">
				入札履歴
			</div>
		<div id="ghistoriebox">


			<div class="bb_subheader" style="background-color:#dff2f8;">
				<table cellspacing="0" cellpadding="0" border="0">
				<tr>
				<td width="80">入札額</td>
				<td width="80">入札者</td>
				<td width="70">入札タイプ</td>
				</tr>
				</table>
			</div>

			<div id="ghistorie_tbl">
				<div class="log_{%$detail->fk_products_id%} bid_log_stats">
					<table cellspacing="0" cellpadding="0" border="0">
					<tr><td width="80"/><td width="80"/><td width="70"/></tr>

					{%foreach from=$logs item=log%}
					<tr>
					<td width="80">{%$log->f_price%}円</td>
					<td width="80">{%$log->f_handle%}</td>
					<td width="70">{%$log->f_bid_type%}</td>
					</tr>
					{%/foreach%}
					</table>
				</div>
			</div>

		</div>
		</div>
		</div>
		<!-- 履歴パーツ -->

		</div>
		<!-- 右 -->

		<div style="clear: left;"></div>



</div>
<div style="clear: left;"></div>


<div id="adscomm1">
<h4>商品説明</h4>
<p>{%$detail->f_main_description_pc%}</p>
</div>
<div id="adscomm1">
<h4>落札者の声</h4>
<p>{%$comment->f_memo%}</p>
</div>




</div>
</div>
</div>







{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}

</div>
</body>
</html>
