{%include file='pc/parts/head.html'%}
<script type="text/javascript" src="{%$JAVASCRIPT_DIR%}/validationEngine.js" ></script>
<link href="{%$CSS_PATH%}/validationEngine.css" media="screen" rel="stylesheet" type="text/css">

{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}

<div id="main_bg" class="pkg">

    <div id="adform">
        <h2>楽天ハンドル名決定</h2>

        <div style="color: red;">{%$message%}</div>


        <div style="margin:0 auto;text-align:center;">
            <form method="post" action="{%$SERVER_PATH%}/member/regrakuten" id="new_user" class="new_user">
                <table width="100%">
                    <tr>
                        <td class="lside">ニックネーム</td>
                        <td class="rside"><input type="text" value="{%$p.handle%}" name="handle" id="handle" gtbfieldid="318" class="validate[required,custom[handle],custom[handle_ng],length[3,15]]"></td>
                    </tr>
                    <tr>
                        <td class="lside" colspan=2>※ニックネームは入札時に表示されるあなたの名前になります。</td>
                    </tr>
                    <tr>
                        <td class="lside">ﾒｰﾙｱﾄﾞﾚｽ</td>
                        <td class="rside"><input type="text" value="{%$p.mail_address%}" name="mail_address" gtbfieldid="321" id="mail_address" class="validate[required,custom[email],length[6,30]]"></td>
                    </tr>
                    <tr>
                        <td class="rside" colspan="2">
                            <input type="hidden" value="{%$openId%}" name="openId">
                            <input type="hidden" value="memregist" name="mode">
                            <input type="submit" value="認証メール送信" id="submit">
                        </td>
                    </tr>

                </table>

                <script type="text/javascript">
                    function freshVerify(){
                        var time = new Date().getTime();
			document.getElementById('verifyImg').src= "{%$SERVER_PATH%}/member/verify?time="+time;
                    }
                </script>

            </form>
        </div>
    </div>


</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>