{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}

<div id="main_bg" class="pkg">



    <div>
        <form action="{%$SERVER_PATH%}/member/register" method="post">
            <table>
                <tbody>
<input type="hidden" name="adcode" value="{%$adcode%}">
                    <tr>
                        <td><font color="red">■</font>ﾆｯｸﾈｰﾑ:</td>
                        <td>{%$p.handle%}</td>
                        <td><input type="hidden" name="handle" value="{%$p.handle%}"></td>
                    </tr>
                    <tr>
                        <td><font color="red">■</font>ﾛｸﾞｲﾝID:</td>
                        <td>{%$p.login_id%}</td>
                        <td><input type="hidden" name="login_id" value="{%$p.login_id%}"></td>
                    </tr>
                    <tr>
                        <td><font color="red">■</font>ﾛｸﾞｲﾝPASS:</td>
                        <td>{%$p.login_pass%}</td>
                        <td><input type="hidden" name="login_pass" value="{%$p.login_pass%}"></td>
                    </tr>
                    <tr>
                        <td><font color="red">■</font>ﾒｰﾙｱﾄﾞﾚｽ:</td>
                        <td>{%$p.mail_address%}</td>
                        <td><input type="hidden" name="mail_address" value="{%$p.mail_address%}"></td>
                    </tr>
                    <tr>
                        <td><font color="red">■</font>性別:</td>
                        <td>{%$p.sex_string%}</td>
                        <td><input type="hidden" name="sex" value="{%$p.sex%}"></td>
                    </tr>
<!--
                    <tr>
                        <td><font color="red">■</font>電話番号:</td>
                        <td>{%$p.tel_no%}</td>
                        <td><input type="hidden" name="tel_no" value="{%$p.tel_no%}"></td>
                    </tr>
-->
                    <tr>
                        <td><font color="red">■</font>生年月日:</td>
                        <td>{%$p.birthday%}</td>
                        <td><input type="hidden" name="birthday" value="{%$p.birthday%}"></td>
                    </tr>

                    <tr>
                        <td><font color="red">■</font>お名前:</td>
                        <td>{%$p.onamae%}</td>
                        <td><input type="hidden" name="onamae" value="{%$p.onamae%}"></td>
                    </tr>
		    <!-- 地域ここから始まる　-->
		    <tr>
                        <td><font color="red">■</font>地域:</td>
                        <td>{%$p.area_name%}</td>
                        <td><input type="hidden" name="area" value="{%$p.area_name%}"></td>
                    </tr>
		　　<!-- 地域ここまで終わる -->
		    
		    <!-- 職業ここから始まる　-->
		    <tr>
                        <td><font color="red">■</font>職業:</td>
                        <td>{%$p.job_name%}</td>
                        <td><input type="hidden" name="job" value="{%$p.job_name%}"></td>
                    </tr>
		　　<!-- 職業ここまで終わる -->



                    <tr>
                        <td><font color="red">■</font>ﾒｰﾙﾏｶﾞｼﾞﾝを受け取る:</td>
                        <td>{%$p.mailmagazine_string%}</td>
                        <td><input type="hidden" name="mailmagazine" value="{%$p.mailmagazine%}"></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" name="mode" value="{%$mode%}"></td>
                        <td><input type="hidden" name="adcode" value="{%$adcode%}"></td>
                        <td><input type="hidden" name="guid" value="{%$guid%}" ></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="新規登録" id="submit"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>



</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>
