{%include file='pc/parts/head.html'%}
<script type="text/javascript" src="{%$JAVASCRIPT_DIR%}/validationEngine.js" ></script>
<link href="{%$CSS_PATH%}/validationEngine.css" media="screen" rel="stylesheet" type="text/css">

{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}

<div id="main_bg" class="pkg">

    <div id="adform">
        <h2>新規無料会員登録</h2>

        <div style="color: red;">{%$message%}</div>
<p>必要項目に入力し送信してください。<br>
数分後にご登録頂いたメールアドレスに仮登録メールが送られます。<br>
仮登録メール本文に記載されたリンクをクリックすれば登録完了となります。</p>


        <div style="margin:0 auto;text-align:center;">
            <form method="post" action="{%$SERVER_PATH%}/member/register" id="new_user" class="new_user">
                <table width="100%">
                    <tr>
                        <td class="lside">ニックネーム</td>
                        <td class="rside"><input type="text" value="{%$p.handle%}" name="handle" id="handle" gtbfieldid="318" class="validate[required,custom[handle],custom[handle_ng],length[3,15]]"></td>
                    </tr>
                    <tr>
                        <td class="lside">ﾛｸﾞｲﾝID</td>
                        <td class="rside"><input type="text" value="{%$p.login_id%}" name="login_id" id="login_id" gtbfieldid="319" class="validate[required,custom[noSpecialCaracters],length[3,40]]"></td>
                    </tr>
                    <tr>
                        <td class="lside">ﾛｸﾞｲﾝPASS</td>
                        <td class="rside"><input type="text" value="{%$p.login_pass%}" name="login_pass" gtbfieldid="320" id="login_pass" class="validate[required,length[6,30]]"></td>
                    </tr>
                    <tr>
                        <td class="lside">ﾒｰﾙｱﾄﾞﾚｽ</td>
                        <td class="rside"><input type="text" value="{%$p.mail_address%}" name="mail_address" gtbfieldid="321" id="mail_address" class="validate[required,custom[email],length[6,30]]"></td>
                    </tr>
                    <tr>
                        <td class="lside">性別</td>
                        <td class="rside"><select name="sex" gtbfieldid="322" ><option value="0">男性</option><option value="2">女性</option></select></td>
                    </tr>
<!--
                    <tr>
                        <td class="lside">電話番号</td>
                        <td class="rside"><input type="text" istyle="4" value="{%$p.tel_no%}" name="tel_no" gtbfieldid="323" id="login_pass" class="validate[required,custom[telephone],length[10,20]]"></td>
                    </tr>
-->
                    <tr>
                        <td class="lside">生年月日</td>
                        <td class="rside"><select name="birth_year" id="birth_year"><!-- 

class="validate[required,custom[onlyNumber]">-->
                                <option value="00">  年  </option>
                                {%foreach from=$brithday.year item=year %}
                                <option value="{%$year%}" {%if $p.birth_year==$year %}selected="selected" {%/if%}>{%$year%}

</option>
                                {%/foreach%}
                            </select>
                            <select name="birth_month" id="birth_month"><!-- class="validate[required,custom[onlyNumber]">-->
                                <option value="00">月</option>
                                {%foreach from=$brithday.month item=month %}
                                <option value="{%$month%}" {%if $p.birth_month==$month %}selected="selected" {%/if%}>{%$month%}

</option>
                                {%/foreach%}
                            </select>
                            <select name="birth_day" id="birth_day"><!-- class="validate[required,custom[onlyNumber]">-->
                                <option value="00">日</option>
                                {%foreach from=$brithday.day item=day %}
                                <option value="{%$day%}" {%if $p.birth_day==$day %}selected="selected" {%/if%}>{%$day%}</option>
                                {%/foreach%}
                            </select>
                      </td>
                    </tr>

                    <tr>
                        <td class="lside">お名前</td>
                        <td class="rside"><input type="text" value="{%$p.onamae%}" name="onamae" gtbfieldid="328" id="onamae" class="validate[required,length[3,15]]"></td>
                    </tr>
		   <!-- 地域追加ここから始まる-->
		   <tr> 
                        <td class="lside">地域</td>
                        <td class="rside">
			<select name="area" style="width:500" gtbfieldid="322" >
			    
			    {%foreach from=$a_key_value key=area_ids item=area_names %}
			    
			　　	
			　　	<option value="{%$area_ids%}" {%if $p.area==$area_ids %} selected="selected" {%/if%}>{%$area_names%}</option>
			　　{%/foreach%} 
			</select></td>
                    </tr> 
		  <!-- 地域追加ここまで終わる-->
		  
		  <!-- 職業追加ここから始まる-->
		   <tr> 
                        <td class="lside">職業</td>
                        <td class="rside">
			<select name="job" style="width:500" gtbfieldid="322" >
			{%foreach from=$j_key_value key=job_ids item=job_names %}
			　　	<option value="{%$job_ids%}" {%if $p.job==$job_ids %} selected="selected" {%/if%}>{%$job_names%}</option>
		　　    {%/foreach%}			    
			</select></td>
                    </tr> 		
		  <!-- 職業追加ここまで終わる-->
                    
                  <tr>
                        <td class="lside">画像認証</td>
                        <td class="rside"><input id='verify' type='text' name='verify' autocomplete=off  class="validate[required]"><br>
                            <img id="verifyImg" src="{%$SERVER_PATH%}/member/verify" align="middle">
                            <a href="javascript:freshVerify()">見づらい、別の画像を表示</a></td>
                    </tr>
                    <tr>
                        <td class="rside" colspan="2">
                            <input type="checkbox" name="mailmagazine" {%if $p.mailmagazine =="1"%}checked {%/if%} value="1">ﾒｰﾙﾏｶﾞｼﾞﾝを受け取る<br>
                            <input type="checkbox" name="agreement" {%if $p.agreement =="1"%}checked {%/if%} value="1" id ="agreement"><!-- class="validate[required]">-->規約に同意して登録する<br><br>
                            <input type="hidden" value="{%$mode%}" name="mode">
                            <input type="hidden" value="ON" name="guid">
                            <input type="submit" value="確認ページへ" id="submit">
                        </td>
                    </tr>

                </table>

                <script type="text/javascript">
                    function freshVerify(){
                        var time = new Date().getTime();
			document.getElementById('verifyImg').src= "{%$SERVER_PATH%}/member/verify?time="+time;
                    }
                </script>

            </form>
        </div>
    </div>


</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>