{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}

<div id="main_bg" class="pkg">


<div id="gguide1">
<h2>ご利用ガイド</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/guide/how">{%$SITE_NAME%}の使い方</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/question">よくある質問</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/help">ヘルプ</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/free?p=free1">友達紹介</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/contact">お問い合わせ</a></li>
                </ul>

<h2>{%$SITE_NAME%}について</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}とは？</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/company">運営会社</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/terms">利用規約</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/privacy">プライバシーポリシー</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/company">特定商取引法に基づく表記</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/sitemap">サイトマップ</a></li>
                </ul>
</div>


            <div id="gguide2">
<h2>サイトマップ</h2>

<br>



            </div>



</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>
