//テンプレート上に使いたい置換文字はここで定義して下さい。
//：行コメント

//例：hr1=<hr color="#79221e" size="0.2"><br>と定義した場合、
//テンプレート上には {%$hr1%}と記入したら、<hr color="#79221e" size="0.2"><br>に置換されます。

//例　html上の指定は {%$logo%}
//logo=<img src="/style/pc/default/images/head_logo2.gif" alt="\0円から始まる格安オークションアメオク">

//例　html上の指定は {%$hr1%}
//hr1=<hr color="#79221e" size="0.2"><br>

// ----------------------------------------------------------------------- 


//ページャー下のリンクメニュー{%$link00%}
link00=<a href="{%$SERVER_PATH%}/">HOME</a>|<a href="{%$SERVER_PATH%}/list">開催中一覧</a>|<a href="{%$SERVER_PATH%}/end">終了一覧</a>|{%if ($isLogin ==true)%}<a href="{%$SERVER_PATH%}/my/index_ext">マイページ</a>{%else%}<a href="{%$SERVER_PATH%}/member/register">無料会員登録</a>{%/if%}

//






