{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}

<div id="main_bg" class="pkg">



<div id="gguide1">
<h2>ご利用ガイド</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/guide/how">{%$SITE_NAME%}の使い方</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/question">よくある質問</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/help">ヘルプ</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/free?p=free1">友達紹介</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/contact">お問い合わせ</a></li>
                </ul>

<h2>{%$SITE_NAME%}について</h2>
                <ul>
                    <li><a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}とは？</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/company">運営会社</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/terms">利用規約</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/privacy">プライバシーポリシー</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/company">特定商取引法に基づく表記</a></li>
                    <li><a href="{%$SERVER_PATH%}/guide/sitemap">サイトマップ</a></li>
                </ul>
</div>






            <div id="gguide2">
                <h2>{%$SITE_NAME%}利用規約</h2>
                    <h3>第1条(総則)</h3>
                    <ul>
                        <li>1. 本規約は、アークコミュニケーションズ有限会社（以下「当社」といいます）が運営するインターネットサービス「{%$SITE_NAME%}」（以下「本サービス」といいます）に関し、本サービスの利用者（以下「利用者」といいます）が遵守すべき事項および利用者と当社との関係を定めるものです。</li>
                        <li>2. 当社は、本サービス上での本規約の他の説明文等（ルール及びガイドライン等）の有用性を保証せず、これらに従った結果について責任を負わないものとします。</li>
                        <li>3. 当社は、利用者が本サービスを利用した場合、当該利用者が本規約等に同意したものとみなします。また、当社は、利用者に対する事前の通知なしに本規約等を改定できるものとし、本規約等の改定後は、改定後の本規約等を適用するものとします。なお、利用者が本規約等の改定後に本サービスを利用した場合、改定後の本規約等に同意したものとみなします。</li>
                    </ul>
                    <h3>第2条(会員登録等)</h3>
                    <ul>
                        <li>1. 利用者は、本サービスの利用に先立って本サービスの会員として登録する必要があります。</li>
                        <li>2. 利用者は、登録事項に変更があった場合は、当社所定の方法に従い、速やかに変更手続を行うものとします。</li>
                        <li>3. 利用者は、当社から、登録事項の確認、証明のための資料の提出を求められた場合には当社所定の期間内にこれに応じるものとします。</li>
                        <li>4. 本規約に基づいて登録または提出された利用者の情報および本サービス利用にあたり当社が知得した利用者の情報については、別途定める当社の「プライバシーポリシー」に従って取り扱われるものとし、利用者はこのことに同意するものとします。</li>
                        <li>5. 本サービスの登録は、1利用者あたり1つのIDのみ所有できるものとします。ユーザーがクレジットカード、メールアドレス、名前及び住所などの情報の重複から、不正に複数アカウントを利用したと当社で判断した際には解約や商品購入権利の取り消しすることがあります。
</li>
                        <li>6. 利用者は、本サービスの登録にあたり、虚偽の無い情報を登録する必要があり、またIDやニックネーム等において第三者及び当社に攻撃的または不快を与える内容の文言を利用してはなりません。</li>
                        <li>7. 利用者は本サービスの会員資格を第三者に貸与、譲渡、売買、質入等をできないものとします。</li>
                   </ul>
                    <h3>第3条(本サービスの利用)</h3>
                    <ul>
                        <li>1. 本サービスの利用は日本国内に住む個人に限定されます。但し利用者が未成年者であるときは、本サービス利用の都度、本サービスの利用について事前に保護者の同意を得るものとします。</li>
                        <li>2. 本サービスの利用は、本サービスに出品される商品の再販売等を目的とした場合、いかなる団体であっても利用を認めません。</li>
                        <li>3.　当社への本サービスについての問い合わせは、webサイト上「お問い合わせ」に送られたもののみ対応し、その他電話や手紙等による問い合わせは対応いたしません。</li>
                        <li>4. 当社の社員ならびに当社関係者は、本サービスには一切参加できないものとします</li>
                    </ul>
                    <h3>第4条(オークションについて)</h3>
                    <ul>
                        <li>1. オークションはその残り時間が0秒になった際に終了し、その時点で最後に入札した利用者（以下「落札者」といいます）にのみ当該オークションの商品を購入する権利が与えられるものとします。</li>
                        <li>2. オークションの落札者は、本サービスにて示されるステップに従い当該オークションの最終的な商品金額（以下「落札金額」といいます）に送料を加えた金額を確認し支払を完了して初めて当該商品を受け取ることができます</li>
                        <li>3. オークションの落札者は、当該オークションの落札後{%$PRODUCT_PAYLIMIT_DAY%}日以内に支払いを行わない場合は当該商品の購入権利を一切失うものとします。</li>
                        <li>4. 当社は、落札金額ならびに送料の支払いを済ませた落札者へは可能な限り迅速に商品を届けるよう努力しますが、商品の配送日や時間の指定はお受けいたしかねます。また、商品の在庫状況や配送上の問題でお届けが遅れる場合があります。</li>
                        <li>5.本サービスにて落札し購入した商品は、当社が委託する第三者が指定する配送手段により配送いたします。</li>
                        <li>6. 当社は、より多くの利用者が本サービスにて商品を購入できるよう、利用者が同時に入札に参加できるオークションの数や、利用者が一定期間に落札できるオークションの数について制限を設ける場合があります。</li>
<!-- コメント化　4/27
                        <li>7. 利用者によるオークションへの入札は、利用者による「入札」ボタンのクリックまたは「おまかせ自動入札」を事前設定することによってのみ可能となり、あらゆる入札ソフトやロボット等による入札は認めません。</li>
-->
                    </ul>
                    <h3>第5条({%$POINT_NAME%}について)</h3>
                    <ul>
                        <li>1. 利用者は本サービスが提供するオークションに入札するにあたり、事前に入札する権利である「{%$POINT_NAME%}」を本サービス内で購入する必要があります。</li>
                        <li>2. 本サービス内で利用者が購入した{%$POINT_NAME%}については有効期限内かつ未使用のものであっても返金はいたしません。</li>
                        <li>3. {%$POINT_NAME%}の有効期限は{%$POINT_NAME%}の入手から180日間となります。</li>
                        <li>4. 友達紹介等によって獲得したボーナス{%$POINT_NAME%}の有効期限は{%$POINT_NAME%}の入手から30日間となります。</li>
                        <li>5. 一度オークションへの入札に利用された{%$POINT_NAME%}はその時点で消滅し、落札の成功もしくは失敗した場合または落札後商品を購入しなかった場合でも、一切返却されることはありません。</li>
                    </ul>
                    <h3>第6条(商品)</h3>
                    <ul>
                        <li>1. 当社は、本サービスにて購入された商品について、当該商品のメーカー保証以外の保証は一切行わないものとします。</li>
                        <li>2. 本サービスにて購入された商品に関する問い合わせや技術サポート等は全て直接当該商品のメーカーに行うものとします。</li>
                        <li>3. オークションに出品される商品について、当社は適時最新の人気商品を出品するよう努力しますが、その出品数ならびに出品内容については当社が独自に決定できるものとし、利用者はそれに従うものとします。</li>
                    </ul>
                    <h3>第7条(商品の返品や購入キャンセル)</h3>
                    <ul>
                        <li>1. オークションの落札者により購入された商品は、落札者が商品受け取り後3日間までは当社指定の方法により返品を申し出ることができます。</li>
                        <li>2. 前項の場合、落札金額については返金をしますが、送料の返金ならびに落札に利用した{%$POINT_NAME%}の返却はいたしません。また返品に必要な送料は全て落札者の負担といたします。</li>
                        <li>3. 落札者が商品の封を開けた場合は、返品ならびに返金の対応はいたしかねます。</li>
                    </ul>
                    <h3>第8条(利用者の責任)</h3>
                    <ul>
                        <li>1. 利用者は本サービスの利用において生じる一切のリスクを明確に理解し同意するものとします。</li>
                        <li>2. 利用者は、真に購入する意思のある商品にのみ入札するものとし、落札が確定した後は、正当な理由なくキャンセル、返品または返金依頼をしないものとします。</li>
                        <li>3. 利用者は当社から利用者に対する本サービスに関する連絡その他通知が利用者が登録したメールアドレス宛に届くことを了承し、対応が必要とされる場合には速やかに適切な対処を行うものとします。</li>
                        <li>4. 利用者は、本サービス登録にあたり当社が利用者に付与するID、パスワードの管理に責任を持ちを第三者に知られないよう管理し、定期的にパスワードの変更を行う等、IDおよびパスワードの盗用を防止する措置をその責任において行うものとします。</li>
                        <li>5. 当社は、ログイン時に使用されたID及びパスワードが登録されたものと一致することを所定の方法により確認した場合、当該利用者を真正な利用者とみなし、それが盗用、不正使用その他の事情により、真正な利用者ではない者が利用している場合であっても、それにより利用者が損害または不利益を被ったとしても、一切責任を負わないものとします。</li>
                    </ul>
                    <h3>第9条(利用の不許諾等)</h3>
                    <ul>
                        <li>当社は、利用者に以下各号の事由が認められると判断した場合、本サービスの利用を許諾せず、また利用者のID取り消し、本サービスの全部または一部の利用停止、商品等の代金等の支払留保、その他当社が必要と判断する措置を講じることができるものとし、利用者はこれに対して一切異議を申し立てず、またこれにより損害または不利益を被ったとしても、当社を免責し、賠償請求その他一切の請求を行わないものとします。
                            <ul>
                                <li>(1) 過去を含め本規約等に違反したとき</li>
                                <li>(2) 登録事項に虚偽の内容または不足があったとき</li>
                                <li>(3) 電子メールアドレスが不通のとき、または当社からの照会、資料提出等の要請に対して速やかに対処しないとき</li>
                                <li>(4) クレジットカードの与信確認に問題が生じたとき</li>
                                <li>(5) いわゆる反社会的勢力もしくは反社会的活動を行う団体に所属し、またはこれらと密接な関係を有するとき</li>
                                <li>(6) 前各号の他、本サービスを利用することを当社が不適切と判断したとき</li>

                            </ul>
                        </li>
                        <li>利用者が未成年者であるときは、本サービス利用の都度、本サービスの利用について事前に保護者の同意を得るものとします。</li>
                    </ul>
                    <h3>第10条(本サービスの中断)</h3>
                    <ul>
                        <li>1. 当社は、システムの保守、システム障害対応、天災等の不可抗力、その他技術上、運用上の理由により、本サービスの提供を中断する必要があると判断した場合、事前に利用者に通知することなく、本サービスの提供を一時的に中断できるものとします。</li>
                        <li>2. 前項に基づく本サービスの中断の場合、当社は入札状況やオークションの残り時間などの情報を一定期間以前の情報に戻すもしくは残り時間を一定時間延期するなどの対策を講じることができるものとします。</li>
                        <li>3. 当社は、前2項の措置に関して、利用者に損害または不利益が生じたとしても、一切責任を負わないものとします。</li>
                    </ul>
                    <h3>第11条(本サービスの変更、譲渡、終了)</h3>
                    <ul>
                        <li>1. 当社は、本サービスの内容や仕様の変更及び譲渡について、利用者に対する事前の通知なくいつでもできるものとし、これにより利用者に損害または不利益が生じたとしても、一切責任を負わないものとします。</li>
                        <li>2. 当社は、本サービスの中断や終了について、利用者に対する事前の通知無くいつでもできるものとし、これにより利用者に損害または不利益が生じたとしても、一切責任を負わないものとします。</li>
                    </ul>
                    <h3>第12条(基準時間)</h3>
                    <ul>
                        <li>入札、落札その他本サービスの提供にあたって基準となる時刻は、全て当社のサーバ内で管理されている時刻によるものとし、オークションの残り時間等本サービスにて表示される時間情報について、当社はその精緻さや有用性を保障いたしません。</li>
                    </ul>
                    <h3>第13条(免責)</h3>
                    <ul>
                        <li>1. 当社は、通信回線やコンピュータ等の障害やアクセス過多によるシステムの中断もしくは遅滞、データの消失またはデータへの不正アクセス等により生じた損害または不利益、その他本サービスに関連して利用者に生じた損害または不利益について、一切責任を負わないものとします。</li>
                        <li>2. 当社は、本サービス上で表示される商品情報や入札状況ならびに残り時間、商品価格、割引率等その他情報について、その精緻さや有用性を保証せず、これらに従った結果について責任を負わないものとします。</li>
                        <li>3. 当社は、当社のWebサイト、サーバ、ドメイン等から送信される電子メール、本サービスのブログデータ等その他のコンテンツに、コンピュータウィルス等の有害なものが含まれないことを保証しないものとします。</li>
                    </ul>
                    <h3>第14条(禁止事項等)</h3>
                    <ul>
                        <li>利用者は、本サービスの利用にあたり、以下各号のいずれかに該当する行為を行ってはならないものとします。利用者がこれらの行為を行ったと当社が判断した場合、当社は、当該利用者に対する事前の通知なしに、当該利用者による本サービスの全部または一部の利用停止、ID取り消し、商品購入権利の剥奪、返品申請へ返金等の支払留保、その他当社が必要と判断する措置を講じることができるものとします。
                            <ul>
                                <li>(1) 本規約等に違反する行為</li>
                                <li>(2) 法令に違反する行為、法令違反を助長する行為またはそれらのおそれのある行為</li>
                                <li>(3) 真に購入する意思がないにも関らず、商品への入札を行う行為</li>
                                <li>(4) 他の利用者、第三者または当社の財産、名誉、信用、プライバシーもしくは著作権、パブリシティー権、商標権その他の権利を侵害する行為、侵害を助長する行為またはそれらのおそれのある行為</li>
                                <li>(5) 本サービスの利用に関連して知り得た当社または他の利用者の秘密に属すべき情報を開示、公開する行為</li>
                                <li>(6) 前各号の他、当社が不適切と判断した行為</li>
                                <li>前項の措置を講じたことにより、利用者に損害または不利益が生じたとしても、当社は責任を負わないものとします。</li>
                            </ul>
                        </li>
                    </ul>
                    <h3>第15条(準拠法、管轄裁判所)</h3>
                    <ul>
                        <li>本利用規約への同意と本サービス利用については矛盾の有無に関わらず、日本法が適用されるものとします。本サービスに関連して訴訟の必要が生じた場合には、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</li>
                    </ul>

            </div>
</div>

{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>