{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}
<div id="main_bg" class="pkg">
    <div style="text-align: center">
        <ul>
        お買い上げ、ありがとうございました。
        </ul>
    </div>
    <div><a href="{%$SERVER_PATH%}">ホームへ</a></div>


</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}

<!--AFFILIATE:アフィリエイトのタグ:削除禁止！-->
{%$affiliate_tag%}
{%$affiliate_tag2%}
<!--AFFILIATE:アフィリエイトのタグ:削除禁止！-->
</div>
</body>
</html>
