{%include file='pc/parts/head.html'%}
{%include file='pc/parts/discr.html'%}
{%include file='pc/parts/top.html'%}

<div id="main_bg" class="pkg">


<table class="table001">
<tr><td colspan="5" height="5"></tr>
<tr>
<td rowspan="3" style="width:180px;">
  <div style="margin: 0 auto;width:144px;">
    <img alt="DSi" src="/style/pc/default/images/regza.gif">  </div>
  <div class="voice_winner_name">

    [落札者/さっちん]  </div></td>
<th style="width:100px;">落札商品</th>
<td style="width:200px; "><span class="voice_product_name">東芝 REGZA 40A8000</span></td>
<th style="width:100px;">落札日</th>
<td>2010/02/01</td>
</tr>
<tr>
  <th>最終価格</th>
  <td style="width:100px;"><span class="voice_price"><span style="font-family:Monospace;">￥</span>2,120</span></td>

  <td colspan="2"><span class="voice_saving_rate">ディスカウント率 76％</span></td>
</tr>
<tr><td colspan="4">
<div align="left"><img alt="コメント" src="/style/pc/default/images/voice-com.gif"><br>
  <span class="voice_comment">
落札できた瞬間モニターの前で叫んでました！<br>
本当に落札できるの？って疑いながらの入札だったんですが、これではまっちゃいそうです。<br>
  </span>
</div>
</td></tr>
</table>

</div>
{%include file='pc/parts/footer.html'%}
{%include file='pc/parts/copyright.html'%}
</div>
</body>
</html>
