/* -- リセット -- */
html {
overflow-y: scroll;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{
margin: 0;padding: 0;
}
address, caption, cite, code, dfn, em, strong, th, var{
font-style: normal;
}
table{

}
caption, th{
text-align: left;
}
q:before ,q:after{
content: '';
}

object, embed{
vertical-align: top;
}
hr, legend{
display: none;
}
h1, h2, h3, h4, h5, h6{
font-size: 100%;
font-weight:normal;
font-style:normal;
font-variant:normal;
}
img, abbr, acronym, fieldset{
border: 0;
}
li{
list-style-type: none;
}
p, dd, blockquote{
text-align: justify;
text-justify: inter-ideograph;
}


body {
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
color: #333;
font-size:12px;
line-height: 150%;
background:#FFFFFF;
}
html>/**/body {
}


a{/*リンクされた文字*/
	color:#F0F;
    font-style:normal;
    text-decoration:underline;
	font-weight:bold;
}
a:link {/*未訪問のリンク*/
    color:F0F;
    font-style:normal;
    text-decoration:underline;
	font-weight:bold;
}
a:visited {/*訪問後のリンク*/
    color:#F0F;
    text-decoration:underline;
}
a:hover {/*マウスをのせたとき*/
    color:#ff0000;
    font-style:normal;
    text-decoration:underline;
	font-weight:bold;
}
a:active {/*クリック中*/
    text-decoration:none;
}

#wrap {
	background-image: url(/style/pc/default/images/bg.jpg);
	text-align: center;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	background-position: center top;
	
}

#txt1 {
	width: 850px;
	margin-left: 23px;
	text-align: left;
	font-size: 18px;
	line-height: 28px;
	margin-top: 10px;
}

.red {
	color: #F00;
	font-weight: bold;
}
#header {
	text-align: center;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
#btn_space {
	background-image: url(/style/pc/default/images/comment_bg.jpg);
	height: 128px;
	width: 873px;
	background-position: center top;
	margin-left: 14px;
	margin-top: 10px;
}
#commnt_left {
	width: 435px;
	text-align: left;
	float: left;
}

#commnt_left img{
	padding-left:2px;
}

#commnt_right {
	width: 435px;
	text-align: left;
	float: right;
}

#commnt_right{
	margin-right:5px;
}

.txt2{
	margin-top:5px;
}

#btn_space img{
	float:left;
	padding-left:5px;
}
#footer {
	text-align: center;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 10px;
}
