@charset "EUC-JP";


/* default
------------------------------------------------------------ */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFB6CA;
	color: #666666;
	text-align: center;
	font-family: Verdana, sans-serif;
	font-size: small;
}

/* for IE \*/
* html body {
	font-size: 78%;
}	
/**/


	

/* Hyper text
------------------------------------------------- */

a { 
	text-decoration: none;
	/*\*/
	overflow: hidden;
	/**/
}

a:link,
a:visited {color: #EB327C; }
a:focus,
a:hover,
a:active { color: #FFB6CA; }



/* Image
------------------------------------------------- */

img,
a img {
	border: none;
}
	
.emoji{
	vertical-align:middle;
}


/* Base elements
------------------------------------------------- */

h1 { font-size: 160%; }
	
h2 { font-size: 120%; }
	
h3 { font-size: 110%; }
	
h4 { font-size: 100%; }
	
h5 { font-size: 94%; }
	
h6 { font-size: 85%; }
	
ul, ol, li, dl, dt, dd { list-style: none; }
	
blockquote {
	width: auto;
	margin: 10px 20px;
	padding: 0.2em 1em;
	border:1px dashed #FFB6CA;
	background-color:#FFEEEE;
}
	
textarea,input,select {
	font-size: x-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: small;
}

html>body textarea,
html>body input,
html>body select { font-size: small; }

pre {
	margin: 1em auto;
	padding: 0.5em;
	border: 1px solid;
	font-family: sans-serif;
	overflow: auto;
	width: 90%;
}

/* for without MacIE5 \*/

div.main_body pre {	overflow: scroll; }
/**/
	
div.main_body > pre { width: auto; }
	
div.main_body code { font-family: monospace; }



/* Layout
------------------------------------------------------------ */

div#container {
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #FFB6CA;
}

div#header {
	width: 850px;
	height:400px;
           margin-bottom:20px;
	overflow: hidden;
         　text-indent:-9999px;
}

div#main {
	float:right;
	width: 550px;
	voice-family: "\"}\"";
	voice-family: inherit;
	overflow: hidden;
}

div#sidemenu {
	float:right;
	width: 300px;
	text-align:left;
	overflow: hidden;
}

div#footer {
	clear: both;
	width: 850px;
	font-size: xx-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: x-small;
}
	
html>div#footer {
	font-size: x-small;
}



/* Header
------------------------------------------------------------ */

div#header h1 {
	text-align: center;
	padding-top:180px;
	padding-left:148px;
	padding-right:190px;
	padding-bottom:50px;
}
	
div#header p {
	text-align: center;
	padding-left:148px;
	padding-right:190px;
	padding-bottom:20px;
}



/* Main Contents
------------------------------------------------------------ */

div.content {
	background:#FFFFFF;
	padding:0px 20px;
	margin-bottom: 50px;
	text-align: left;
}

h2.entry_header,
h3.entry_header {
	text-align: left;
	color:#EB327C;
	height:35px !important;
	height /**/: 55px; /*IE5用*/
	background:url(http://templates.blog.fc2.com/template/alpacapink/alpacapink_title.gif) top left no-repeat;
	padding-left:55px;
	padding-top:15px;
	padding-bottom:5px;
	border-bottom:#EB327C 2px dashed;
	margin-bottom:20px;
}

div.entry_body {
	text-align: left;
	padding-bottom: 20px;
}

div.entry_body p.entry_more {
	padding-bottom: 5px;
}
	
div.entry_body p.tag_lnk {
	padding-bottom: 5px;
}
	
div.entry_body p.theme {
	padding-bottom: 5px;
}

ul.entry_footer {
	text-align: right;
	padding-bottom:20px;
}

ul.entry_footer li {
	display: inline;
	list-style-type: none;
}

/* clap + bookmark */
div.fc2_footer {
	padding-bottom:5px;
	padding-top:5px;
}

div.fc2_footer a{
	margin-right:1em;
}

div.page_navi {
	padding-bottom:50px;
	text-align: center;
}

div.page_navi a:hover,
div.page_navi a:active { color: #FFFFFF; }

div.pagetop {
	text-align: right;
	padding-bottom:20px;
	
}



/* Entry (html tag)
------------------------------------------------------------ */

div.entry_body h2,
div.entry_body h3,
div.entry_body h4,
div.entry_body h5,
div.entry_body h6 {
	margin: 0em 0em 0.5em;
}

div.entry_body p {
	margin: 0.3em 1em;
}

div.entry_body ul,
div.entry_body ol {
	margin: 1em 0em 1em;
}

div.entry_body ul li {
	list-style: disc outside;
	margin-left: 15px;
}

div.entry_body ol li {
	list-style: decimal outside;
	margin-left: 2em;
}

div.entry_body dl {
	margin: 1em 1.5em;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	padding: 1em 1em 0em;
}

div.entry_body dt {
	font-weight: bold;
	margin-bottom: 0.5em;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}

div.entry_body dd {
	margin: 0em 1em 1em;
}



/* Comment, Trackback, Entry list
------------------------------------------------------------ */

h3.sub_header {
	text-align: left;
	color:#F574A3;
	background:url(http://templates.blog.fc2.com/template/alpacapink/alpacapink_subtitle.gif) left 10px no-repeat;
	height:40px !important;
	height /**/:65px;
	padding-top:20px;
	padding-bottom:5px;
	padding-left:45px;
	border-bottom:#EB327C 2px dashed;
	margin-bottom:20px;
	font-size: 120%;
}

p.sub_title {
	padding-bottom:0.1em;
	font-weight:bold;
}

div.sub_body {
	padding-bottom:0.1em;
}

ul.list_body {
	padding-bottom:10px;
}

ul.list_body li {
	padding-right:2px;	
}

ul.sub_footer {
	text-align: right;
	padding-bottom: 10px;
}

ul.sub_footer li {
	display: inline;
	list-style-type: none;
}

div.form {
	margin-bottom:10px;
}

div.form dl {
	padding-bottom:10px;
}

div.form dl dd {
	padding-bottom:0.1em;
}

div.form dl dd textarea {
	width: 400px;
	height: 150px;
	border:#EB327C 1px solid;
	overflow:auto;
	/*以下　IEのみ */
	scrollbar-3dlight-color:#EB327C;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-darkshadow-color:#EB327C;
	scrollbar-face-color:#EB327C;
	scrollbar-highlight-color:#EB327C;
	scrollbar-shadow-color:#EB327C;
	scrollbar-track-color:#FFFFFF;
	/*IEのみここまで */
}

div.form input {
	border:#EB327C 1px solid;	
}

div.form input#himitu {
	margin-right: 0.5em;
}

div.form .form_btn {
	padding:5px 0px;
}

div.form .form_btn input {
	margin-right: 5px;
	padding:0px 5px;
	background-color:#EB327C;
	color:#FFFFFF;
}

p.trackback_url {
	text-align: left;
	padding-bottom:10px;
}

p.trackback_url input {
	background-color:#EB327C;
	padding:2px;
	margin-bottom: 2px;
	width: 85%;
	color:#FFFFFF;
	border:none;
}



/* Plugin (Main content)
------------------------------------------------------------ */

h3.plg3_header {
	text-align: left;
	color:#EB327C;
	height:35px !important;
	height /**/: 55px; /*IE5用*/
	background:url(http://templates.blog.fc2.com/template/alpacapink/alpacapink_title.gif) top left no-repeat;
	padding-left:55px;
	padding-top:15px;
	padding-bottom:5px;
	border-bottom:#EB327C 2px dashed;
	margin-bottom:20px;
}

div.plg3_body {
	text-align: left;
	padding-bottom: 20px;
}

div.plg3_body .plg_header {
	padding-bottom:10px;
}

div.plg3_body .plg_body,
div.plg3_body .plg_footer {
	padding-bottom:20px;
}


/* Sidemenu (Plugin)
------------------------------------------------------------ */

#sidemenu1 li,
#sidemenu2 li {
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 10px;
}

dl.sidemenu_body {
	padding-bottom:20px;
	padding-left:10px;
	width:230px !important;
	width /**/:240px; /* IE5用 */
	overflow:hidden;
}

	
dl.sidemenu_body .plg_title {
	color:#F574A3;
	font-weight:bold;
	background:url(http://templates.blog.fc2.com/template/alpacapink/alpacapink_plgintitle.gif) top left no-repeat #FFFFFF;
	height:60px !important;
	height /**/:75px;
	padding-left:50px;
	padding-top:15px;
	
}

	
dl.sidemenu_body .plg_header {
	background-color:#FFFFFF;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
}
dl.sidemenu_body .plg_body,
dl.sidemenu_body .plg_footer  {
	background-color:#FFFFFF;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
}


dl.sidemenu_body .plg_body input {
	margin: 5px;
}

dl.sidemenu_body .plg_body ul li {
	background:url(http://templates.blog.fc2.com/template/alpacapink/alpacapink_list.gif) left top no-repeat;
	padding-left:24px;
	padding-top:0.2em;
	padding-bottom:0.2em;
}

* html dl.sidemenu_body .plg_body ul li {
	padding-top:0.35em;
	padding-bottom:0.35em;
}



/* calender(Plugin),calender02
------------------------------------------------------------ */

div.plugin-calender02{
	height:180px !important;
	height /**/: 225px; /* IE5用 */
	width:250px;
	padding-top:45px;
	text-align:center;
	background:url(http://templates.blog.fc2.com/template/alpacapink/alpacapink_calenderbg.gif) top left no-repeat;
	margin-bottom:20px;
}

div.plugin-calender table.calender {
	width: 80%;
	margin: 0px auto;
}

div.plugin-calender02 table.calender {
	width: 65%;
	margin: 0px auto;
}

table.calender caption {
	margin-bottom: 10px;
	margin: 0px auto;
}

table.calender th,
table.calender td {
	padding: 0.01em 0.1em;
	border-bottom: 1px dotted #FFB6CA;
	text-align: center;
}

table.calender td a {
	display: block;
	color: #ffffff;
	background-color: #EB327C;
}

table.calender td a:hover {
	display: block;
	color: #FFFFFF;
	background-color: #FFB6CA;
}


table.calender th#sun {
	color: #FF0000;
}

table.calender th#sat {
	color: #0000FF;
}



/* Piyo(Plugin)
------------------------------------------------------------ */

div.tab {
	text-align:center;
	margin-bottom: 10px;
	padding:5px;
	border-bottom:1px dashed #EB327C;
	margin-bottom:5px;
}

div.tab input{
	padding: 3px 5px;
}
div.tab input.b1,
div.tab input.b2 {
	padding:0px 5px;
	background-color:#EB327C;
	border:1px solid #EB327C;
	color:#FFFFFF;
}
	
div.tab input.b1{
	margin-right: 5px;
}
    
div.mylog {
	font-size: small;
	text-align: left;
	color: #666666;
	background-color: #FFFFFF;
}
div.mylog p.title {
	background:url(http://templates.blog.fc2.com/template/alpacapink/alpacapink_list.gif) left center no-repeat;
	padding-left:24px;
	height:20px;
	font-weight: bold;
	color: #EB327C;
	margin-bottom:5px;
}


div.mylog dl {
	margin: 0px;
	padding: 0px;
}
div.mylog dt.day {
	color: #EB327C;
	font-size: x-small;
	padding:0px 5px;
	margin-bottom:2px;
	text-align: left;
}
div.mylog dt.day {
	vertical-align:middle;
}
div.mylog dd.piyolog {
	padding:5px;
	border-bottom:1px dashed #FFB6CA;
	margin-bottom:5px;
}
div.license {
	margin-top:10px;
	font-size: x-small;
	text-align: right;
}



/* Footer
------------------------------------------------------------ */

div#footer p {
	margin-bottom: 5px;
}

div#footer address {
	font-style: normal;
	padding-bottom: 10px;
}



/* for MacIE
------------------------------------------------------------ */

textarea,input,select {
	font-family: "ＭＳ Ｐゴシック", "Osaka", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku GothicPro", sans-serif;
}

/* Last update 2008-02-18 Template by FC2 */
