{%include file='pc/parts/prd_list_prd.html'%}
<span id="ajax_times" style="display: none">{%$ajax_times%}</span><!-- 削除禁止 -->
<span id="ajax_host" style="display: none">{%$ajax_host%}</span><!-- 削除禁止 -->
<span id="ajax_limit" style="display: none">{%$ajax_limit%}</span><!-- 削除禁止 -->
<span id="ajax_message" style="display: none">{%$ajax_message%}</span><!-- 削除禁止 -->
{%if ($isLogin ==true)%}
    <!-- ログインしたのfooterページ -->
    {%include file='pc/parts/footer_after.html'%}

{%else%}
    <!-- 未ログインのfooterページ -->
    {%include file='pc/parts/footer_before.html'%}

{%/if%}