<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="ROBOTS" CONTENT="ALL">
<meta name="description" content="{%$SITE_NAME%}～劇熱オークション・{%$SITE_NAME%}で人気アイテムを激安ゲット！ ">
<meta name="keywords" content="{%$SITE_NAME%},オークション,ペニー,入札,落札　システム,プログラム">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<script type="text/javascript" src="/style/pc/default/images/minmax.js"></script>
<title>「ア」っと驚く「メ」ガトン級の「オ」ー「ク」ション「{%$SITE_NAME%}」</title>

<link href="{%$CSS_PATH%}/layout.css" rel="stylesheet" type="text/css">
<link href="{%$CSS_PATH%}/character.css" rel="stylesheet" type="text/css">
{%if ($brower->name == 'firefox')%}
<!--firefoxの場合--><link href="{%$CSS_PATH%}/browser_ff.css" rel="stylesheet" type="text/css">
{%/if%}

	{%if ($brower->name == 'msie')%}
		<!--IE7の場合-->
        {%if ($brower->version == '7') %}
        <link href="{%$CSS_PATH%}/browser_ie7.css" rel="stylesheet" type="text/css">
        <!--IE8の場合-->        	
    	{%elseif ($brower->version == '8') %}
        <link href="{%$CSS_PATH%}/browser_ie8.css" rel="stylesheet" type="text/css"> 
    	<!--IE7.8以外の場合、-->
		{%else%}
		<link href="{%$CSS_PATH%}/browser_ie6.css" rel="stylesheet" type="text/css">
		{%/if%}
	{%/if%}

{%if ($brower->name=='opera')%}
<!--Opearの場合--><link href="{%$CSS_PATH%}/browser_opera.css" rel="stylesheet" type="text/css">
{%/if%}

{%if ($brower->name== 'safari')%}
<!--Safariの場合--><link href="{%$CSS_PATH%}/browser_safari.css" rel="stylesheet" type="text/css">
{%/if%}

{%if ($brower->name== 'netscape')%}
<!--Netscape-->	<link href="{%$CSS_PATH%}/browser_nsc.css" rel="stylesheet" type="text/css">
{%/if%}
{%if ($brower->name== 'chrome')%}
<!--Chrome-->	<link href="{%$CSS_PATH%}/browser_chrome.css" rel="stylesheet" type="text/css">
{%/if%}
<script type="text/javascript" src="{%$JAVASCRIPT_DIR%}/jquery.js"></script>
<script type="text/javascript" src="{%$JAVASCRIPT_DIR%}/smartRollover.js"></script>
<script type="text/javascript" src="{%$TEMPLATE_PARTS_DIR%}/effects.js"></script>
<!-- ★★★★★★★★★★★google Analytics start★★★★★★★★★★★ -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16913592-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- ★★★★★★★★★★★★★★★★google Analytics end★★★★★★★★★★★★★★★ -->
</head>




<body>
<div class="pkg" style="width:950px;margin:0px auto 0px auto;text-align:center;">
