<!-- 落札済BOX ST -->
<div id="sucate5" class="pkg">
<h2><img alt="激安！ピックアップ落札商品" src="/style/pc/default/images/ttlpickup.jpg"></h2>

<div id="scate5_item_box">
	{%assign var="columIndex" value=1%}
	{%foreach from=$picks item=product%}
	{%if ($columIndex % $index_pickup_columns) !=$index_pickup_columns %}
		{%if ($columIndex!=1)%}
</div><!-- 行終わり→次の行へ --><div id="scate5_item_box">
		{%/if%}
		{%/if%}

<!-- 商品一マスのテンプレ ST -->
		{%include file='pc/parts/prd_list_pickup.html'%}
<!-- 商品一マスのテンプレ ED -->

	{%assign var="columIndex" value=$columIndex+1%}
	{%/foreach%}

</div>


</div>
<!-- 落札済BOX END -->