<!-- 落札済BOX ST -->
<div id="main_bg" class="pkg">
<div id="sucate2">
<h2><img alt="終了済オークション" src="/style/pc/default/images/ttl_endauc2.gif"></h2>




	<!-- 商品一覧の行BOX ST -->
    <div id="scate3_item_box">

	    {%assign var="columIndex" value=1%}
	    {%foreach from=$ends item=product%}
	    {%if ($columIndex % $end_columns ==1)%}
	    	{%if ($columIndex!=1)%}
			</div><!-- 行終わり→次の行へ --><div id="scate3_item_box">
	    	{%/if%}

		{%/if%}

		<!-- 商品一マスのテンプレ ST -->
		{%include file='pc/parts/prd_list_end.html'%}
		<!-- 商品一マスのテンプレ ED -->

	    {%assign var="columIndex" value=$columIndex+1%}
	    {%/foreach%}

	</div><!-- 商品一覧の行BOX END -->




</div>

<div class="listlink">
<a href="{%$SERVER_PATH%}/end">
<img alt="終了済オークションをもっと見る" src="/style/pc/default/images/btn_moreac_ed.gif">
</a>

</div>

</div>
<!-- 落札済BOX END -->