<!-- 開催中BOX ST -->
<div id="main_bg" class="pkg">
<div id="sucate">

<h2><img alt="今すぐ入札！最新オークション" src="/style/pc/default/images/ttl_auc.gif"></h2>

<a name="POS1"></a>


<!-- 商品一覧の行BOX ST -->
<div id="scate1_item_box" class="instant_item_box"><!--クラス名削除禁止-->
{%assign var="columIndex" value=1%}
{%foreach from=$products item=product%}
{%if ($columIndex % 5 ==1)%}
{%if ($columIndex!=1)%}
</div><!-- 行終わり→次の行へ --><div id="scate1_item_box" class="instant_item_box"><!--クラス名削除禁止-->
{%/if%}
{%/if%}
<!-- 商品一マス ST -->
{%include file='pc/parts/prd_list_open.html'%}
<!-- 商品一マス ED -->
{%assign var="columIndex" value=$columIndex+1%}
{%/foreach%}
</div><!-- 商品一覧の行BOX END -->

</div>

<div class="listlink">
<a href="{%$SERVER_PATH%}/list"><img alt="開催中オークションをもっと見る" src="/style/pc/default/images/btn_moreac_op.gif"></a>
</div>
</div><!-- 開催中BOX END -->