<div id="main_bg" class="pkg">

<div id="banner_box">
<div id="banner_main">
<img alt="PASS" src="/style/pc/default/images/demobanner.jpg" style="margin-left:20px;">
</div>
<div id="newtextbox">
<marquee class="newtext">◆新規入会時コイン増量サービス実施中！　◆友達紹介で50コインGETのチャンス！　◆Freeオークションお試し入札でコインを増やそう！</marquee>
</div>
</div>
</div>

{%if ($member_group_id == 0)%}
<P>０です</P>
{%elseif ($member_group_id == 1)%}
{%else%}
<P>他</P>
{%/if%}