<!-- 注目商品BOX ST -->
<div id="sucate4">
	    <h2><img alt="注目のオークション" src="/style/pc/default/images/ttlnotice.jpg"></h2>
         <!-- CONTENTS TITLE END -->

	<!-- 注目商品一覧の行BOX ST -->
    <div id="scate4_item_box" class="instant_item_box"> <!--クラス名変更・削除禁止-->
	    
        {%assign var="columIndex" value=1%}
	    {%foreach from=$notices item=product%}
	    {%if ($columIndex % $index_notice_columns ==0)%}
	    	{%if ($columIndex!=1) or ($columIndex!=count($notices))%}
	    	</div><!-- 行終わり→次の行へ --><div id="scate4_item_box" class="instant_item_box"> <!--クラス名変更・削除禁止-->
	    	{%/if%}

		{%/if%}

		<!-- 注目商品一マスのテンプレ ST -->
		{%include file='pc/parts/prd_list_notice.html'%}

		<!-- 注目商品一マスのテンプレ ED -->

	    {%assign var="columIndex" value=$columIndex+1%}
	    {%/foreach%}

	</div><!-- 商品一覧の行BOX END -->

</div>
<!-- 注目商品BOX END -->
