 
<div id="main_bg" class="pkg">
<div id="banner_box">

<div id="banner_main">
<img alt="0円スタート" src="/style/pc/default/images/banner_main.jpg">
</div>
<div id="banner_sub">
<img alt="" src="/style/pc/default/images/banner_sub.gif"><br>
<a href="{%$SERVER_PATH%}/guide/how"><img alt="" src="/style/pc/default/images/banner_help_bt_off.gif"></a><br>
<a href="{%$SERVER_PATH%}/member/register"><img alt="" src="/style/pc/default/images/banner_touroku_bt_off.gif"></a>
</div>
<div id="newtextbox">
<marquee class="newtext">◆新規入会時コイン増量サービス実施中！　◆友達紹介で50コインGETのチャンス！　◆Freeオークションお試し入札でコインを増やそう！</marquee>
</div>
</div>
</div>

