{%include file='pc/parts/head.html'%}
    {%include file='pc/parts/discr.html'%}
            <!-- ページのtop部分 -->
            {%include file='pc/parts/top.html'%}


            <div>
                <!-- ここはコイン購入のメニュー  start -->
                <strong>ｺｲﾝ購入方法選択</strong>
                <hr>
                購入内容：{%$menu->f_coin%}ｺｲﾝ({%$menu->f_coin%}入札分)<br>
                支払い：{%$menu->f_inp_money%}円<br>
                <br>
                <font color="red">ご注意下さい！！</font><br>
                ・1入札で1ｺｲﾝを使用します。<br>
                ・ｺｲﾝは一切返金できません。<br>
                ・入札に使用されたｺｲﾝは落札可否にかかわらず返却されません。<br>
                <br>
                以下からお支払い店舗を選んでください。<br>

				<form method="GET" action="http://{%$HTTP_HOST%}/cli_ep.php/pcpay/">
                    <input type="hidden" value="{%$buy_money%}"  name="buy_money"/>
                    <input type="hidden" value="{%$buy_method%}" name="buy_method"/>

                    <table style="margin-bottom: 0px;" id="payment_choice">
                        <tbody>
                            <tr>
                                <td>
									<input type="radio" name="st" value="1">ローソン
									<input type="radio" name="st" value="2">セブンイレブン
									<input type="radio" name="st" value="3">ファミリーマート
								</td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="image" src="{%$IMAGE_PATH%}/btn_kaufenbig.png" alt="購入"/>
               　</form>
            </div>

            <!-- ページfooter部  start -->
            {%include file='pc/parts/footer.html'%}

            {%include file='pc/parts/copyright.html'%}
            <!-- ページfooter部  end   -->
        </div>
    </body>
</html>
