<div id="main_bg" class="pkg">

<div id="head_box" class="pkg">

	<div id="logo"><a href="{%$SERVER_PATH%}"><img alt="\0円から始まる格安オークションアメオク" src="/style/pc/default/images/head_logo2.gif"></a></div>

	<div id="head_r">









		<div id="login_bg">

<div id="headbtn">
<a href="{%$SERVER_PATH%}/member/register"><img alt="無料会員登録" src="/style/pc/default/images/banner_demo2.gif"></a>
<!--
<a href="{%$SERVER_PATH%}/member/register"><img alt="無料会員登録" src="/style/pc/default/images/headbtn01_off.gif" style="margin-right:10px;"></a>
<a href="{%$SERVER_PATH%}/guide"><img alt="ご利用ガイド" src="/style/pc/default/images/headbtn02_off.gif"></a>
-->
</div>

<!--

			<form action="/index.php/login" method="post">
			<img alt="ID" src="/style/pc/default/images/head_id.gif" style="margin-bottom:5px;"><input type="text" size="15" name="login_id" gtbfieldid="51">
			<img alt="PASS" src="/style/pc/default/images/head_pass.gif" style="margin-bottom:5px;"><input type="text" size="15" name="login_pass" gtbfieldid="52">
			<input type="hidden" value="1" name="mode">
			<input type="image" src="/style/pc/default/images/head_login_off.gif" style="vertical-align:bottom;">
			</form>
-->


		</div>
	</div>

</div>



<div id="grbmenu">

<ul id='nav'>
  <li><a href="{%$SERVER_PATH%}">HOME</a></li>
  <li><a href="{%$SERVER_PATH%}/member/register">無料登録</a></li>
  <li><a href="{%$SERVER_PATH%}/coin">{%$POINT_NAME%}購入</a></li>

  <li><a href="{%$SERVER_PATH%}/list">オークション</a>
    <ul>
      <li><a href="{%$SERVER_PATH%}/list">開催中一覧</a></li>
      <li><a href="{%$SERVER_PATH%}/end">終了一覧</a></li>
    </ul>
  <li><a href="{%$SERVER_PATH%}/guide/how">ご利用ガイド</a>
    <ul>
      <li><a href="{%$SERVER_PATH%}/guide/how">{%$SITE_NAME%}の使い方</a></li>
      <li><a href="{%$SERVER_PATH%}/guide/question">よくある質問</a></li>
      <li><a href="{%$SERVER_PATH%}/guide/help">ヘルプ</a></li>
      <li><a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}とは？</a></li>
      <li><a href="{%$SERVER_PATH%}/guide/contact">お問い合わせ</a></li>
    </ul>
  </li>
</ul>


<div id="discrlink">
			<form action="/index.php/login" method="post">
			ID:<input type="text" size="8" name="login_id" gtbfieldid="51">
			PASS:<input type="text" size="8" name="login_pass" gtbfieldid="52">
			<input type="hidden" value="1" name="mode">
			<input type="submit"  value="LOGIN">
			</form>
</div><div class="clear">　</div>

</div>




</div>















<script type='text/javascript'>
  $(function() {
    $('#nav').droppy();
  });
</script>




<script type='text/javascript'>
/*
 * Droppy 0.1.2
 * (c) 2008 Jason Frame (jason@onehackoranother.com)
 */
$.fn.droppy = function(options) {
    
  options = $.extend({speed: 250}, options || {});
  
  this.each(function() {
    
    var root = this, zIndex = 1000;
    
    function getSubnav(ele) {
      if (ele.nodeName.toLowerCase() == 'li') {
        var subnav = $('> ul', ele);
        return subnav.length ? subnav[0] : null;
      } else {
        return ele;
      }
    }
    
    function getActuator(ele) {
      if (ele.nodeName.toLowerCase() == 'ul') {
        return $(ele).parents('li')[0];
      } else {
        return ele;
      }
    }
    
    function hide() {
      var subnav = getSubnav(this);
      if (!subnav) return;
      $.data(subnav, 'cancelHide', false);
      setTimeout(function() {
        if (!$.data(subnav, 'cancelHide')) {
          $(subnav).slideUp(options.speed);
        }
      }, 500);
    }
  
    function show() {
      var subnav = getSubnav(this);
      if (!subnav) return;
      $.data(subnav, 'cancelHide', true);
      $(subnav).css({zIndex: zIndex++}).slideDown(options.speed);
      if (this.nodeName.toLowerCase() == 'ul') {
        var li = getActuator(this);
        $(li).addClass('hover');
        $('> a', li).addClass('hover');
      }
    }
    
    $('ul, li', this).hover(show, hide);
    $('li', this).hover(
      function() { $(this).addClass('hover'); $('> a', this).addClass('hover'); },
      function() { $(this).removeClass('hover'); $('> a', this).removeClass('hover'); }
    );
    
  });
  
};

</script>
