<div id="main_bg" class="pkg">



<div id="head_box" class="pkg">
	<div id="logo"><a href="{%$SERVER_PATH%}"><img alt="\0円から始まる格安オークションアメオク" src="/style/pc/default/images/head_logo2.gif"></a></div>
	<div id="head_r">


<div id="login_bg">

<div id="headbtn">
<a href="{%$SERVER_PATH%}/my/friend"><img alt="友達紹介" src="/style/pc/default/images/banner_demo.gif"></a>
</div>

<!--
<div id="navi">
<div style="margin-top:10px;">
<a href="{%$SERVER_PATH%}/my/index_ext"><img alt="マイページ" src="{%$IMAGE_PATH%}/mypagebtn_off.gif"></a>
<a href="{%$SERVER_PATH%}/coin"><img alt="コインの購入" src="{%$IMAGE_PATH%}/buybtn_off.gif"></a>
</div>
</div>
-->

</div>

</div>
</div>

<div id="grbmenu22">
<ul id='nav22'>
  <li><a href="{%$SERVER_PATH%}">HOME</a></li>
  <li><a href="{%$SERVER_PATH%}/my/coins">{%$POINT_NAME%}残高×<span class="coin_count">{%$member->coin_count%}</span>
<!-- 
  <li><a href="{%$SERVER_PATH%}/myproduct">入札中商品数<span class="bid_count">{%$member->bid_count%}</span></a></li>
-->
</a></li>
  <li><a href="{%$SERVER_PATH%}/coin">{%$POINT_NAME%}購入</a></li>
  <li><a href="{%$SERVER_PATH%}/my/index_ext">マイページ</a>
    <ul>
      <li><a href="{%$SERVER_PATH%}/myproduct/watch">ウォッチリスト</a></li>
      <li><a href="{%$SERVER_PATH%}/myproduct">入札中リスト</a></li>
      <li><a href="{%$SERVER_PATH%}/myproduct/autobid">自動入札中リスト</a></li>
      <li><a href="{%$SERVER_PATH%}/myproduct/finish">落札済みリスト</a></li>
      <li><a href="{%$SERVER_PATH%}/my/friend">友達紹介</a></li>
      <li><a href="{%$SERVER_PATH%}/my/index_ext">アカウント管理</a></li>
    </ul>
  </li>
  <li><a href="{%$SERVER_PATH%}/list">オークション</a>
    <ul>
      <li><a href="{%$SERVER_PATH%}/list">開催中一覧</a></li>
      <li><a href="{%$SERVER_PATH%}/end">終了一覧</a></li>
    </ul>
  <li><a href="{%$SERVER_PATH%}/guide/how">ご利用ガイド</a>
    <ul>
      <li><a href="{%$SERVER_PATH%}/guide/how">{%$SITE_NAME%}の使い方</a></li>
      <li><a href="{%$SERVER_PATH%}/guide/question">よくある質問</a></li>
      <li><a href="{%$SERVER_PATH%}/guide/help">ヘルプ</a></li>
      <li><a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}とは？</a></li>
      <li><a href="{%$SERVER_PATH%}/guide/contact">お問い合わせ</a></li>
    </ul>
  </li>
</ul>

<div id="discrlink22">
<a href="{%$SERVER_PATH%}/logout"><img alt="ログアウト" src="{%$IMAGE_PATH%}/gmlogin_off.gif"></a>

<!--<form action="{%$SERVER_PATH%}/logout" method="post"><input type="submit" value="LOGOUT" style="font-size:10px;"></form>-->
</div>
<div class="clear">　</div>



</div>

<!--<span id="member_bid_count">と<span id="coin_count"> のidの値がAjax通信に関わっているので、変更しないでください、-->
<!--
ログイン中... | 
<span style="color:#99cc00;">{%$member->f_handle%}</span>さん | 
<span style="color:#99cc00;">参加オークション数:<span id="member_bid_count">{%$member->bid_count%}</span></span> | 
<span style="color:#99cc00;">{%$POINT_NAME%}残高×<span id="coin_count">{%$member->coin_count%}</span></span>
-->
</div>































<script type='text/javascript'>
  $(function() {
    $('#nav22').droppy();
  });
</script>




<script type='text/javascript'>
/*
 * Droppy 0.1.2
 * (c) 2008 Jason Frame (jason@onehackoranother.com)
 */
$.fn.droppy = function(options) {
    
  options = $.extend({speed: 250}, options || {});
  
  this.each(function() {
    
    var root = this, zIndex = 1000;
    
    function getSubnav(ele) {
      if (ele.nodeName.toLowerCase() == 'li') {
        var subnav = $('> ul', ele);
        return subnav.length ? subnav[0] : null;
      } else {
        return ele;
      }
    }
    
    function getActuator(ele) {
      if (ele.nodeName.toLowerCase() == 'ul') {
        return $(ele).parents('li')[0];
      } else {
        return ele;
      }
    }
    
    function hide() {
      var subnav = getSubnav(this);
      if (!subnav) return;
      $.data(subnav, 'cancelHide', false);
      setTimeout(function() {
        if (!$.data(subnav, 'cancelHide')) {
          $(subnav).slideUp(options.speed);
        }
      }, 500);
    }
  
    function show() {
      var subnav = getSubnav(this);
      if (!subnav) return;
      $.data(subnav, 'cancelHide', true);
      $(subnav).css({zIndex: zIndex++}).slideDown(options.speed);
      if (this.nodeName.toLowerCase() == 'ul') {
        var li = getActuator(this);
        $(li).addClass('hover');
        $('> a', li).addClass('hover');
      }
    }
    
    $('ul, li', this).hover(show, hide);
    $('li', this).hover(
      function() { $(this).addClass('hover'); $('> a', this).addClass('hover'); },
      function() { $(this).removeClass('hover'); $('> a', this).removeClass('hover'); }
    );
    
  });
  
};

</script>

