<h2>{%$member->f_handle%}さん　の配送先設定ページ</h2>
配送先の登録・修正を行います。複数の配送先が登録可能です。<br>
（商品配送先は商品一つあたり一箇所のみとなります。）
<div style="border:1px solid #ccc;padding:10px;">
    <form method="post" action="{%$SERVER_PATH%}/my/address_edit">
        <ul style="font-size: 17px">
           
            {%foreach from=$address item=ad %}
            <li style="margin:5px;">
                <input type="radio" name="address" value="{%$ad->fk_address_id%}">{%$ad->f_name%}
            </li>
            {%/foreach %}
            <li style="margin:5px;">
                <input type="radio" name="address" checked value="new">新規追加
            </li>
        </ul>
</div>
        <input type="submit" value="次へ" class="form_put">
    </form>

