<h2>{%$member->f_handle%}さん　の自動入札設定商品一覧</h2>
<div>{%$message%}</div>
    <!--自動入札設定商品一覧　start-->
<table style="text-align: center">
    <tr>
        <td colspan="2" class="tdendlist">商品名</td>
        <td class="tdendlist" nowrap>開始金額</td>
        <td class="tdendlist" nowrap>終了金額</td>
        <td class="tdendlist" nowrap>残り<br>{%$POINT_NAME%}数</td>
        <td class="tdendlist" nowrap>キャンセル</td>
    </tr>


    {%foreach from=$autobids item=autobid%}<!-- 削除禁止 -->

<tr>
    <td><img height="35" width="44" src ="{%$autobid->image%}"</td>
<td>
    <a href="{%$SERVER_PATH%}/product?pro_id={%$autobid->fk_products_id%}" >{%$autobid->f_products_name%}</a>
</td>
<td>{%$autobid->f_min_price%}円</td>
<td>{%$autobid->f_max_price%}円</td>
<td>{%$autobid->coins%}</td>
<td>
    {%if $autobid->f_status == 0 %}
    <a href="{%$SERVER_PATH%}/myproduct/autobid_cancel?id={%$autobid->fk_auto_id%}">{%$autobid->stauts_des%}</a>
    {%else%}
    <span style="color: red">{%$autobid->stauts_des%}</span>
    {%/if%}
</td>

</tr>
<tr><td colspan="6"><hr size="1" color="#dedede"></td></tr>

{%/foreach%}

</table>
