<h2>{%$member->f_handle%}さん　の配送先設定ページ</h2>
<form method="post" id="edit_use" class="edit_user" action="{%$SERVER_PATH%}/my/update_address">
<table id="address">
<tr>
<td colspan="2"><span style="color:red;font-size:0.85em;">* は必須項目です</span></td>
</tr>
<tr>
<td class="tdttl2">配送先の宛名</td>
<td class="tdtext2">
<input type="text" value="{%$address.f_name%}" size="30" name="f_name" id="user_phone_number" class="validate[required,length[1,20]]">
</td>
</tr>
<tr>
<td class="tdttl2">連絡電話番号<span style="color:red;font-size:0.85em;">*</span></td>
<td class="tdtext2"><input type="text" value="{%$address.f_tel_no%}" size="30" name="f_tel_no" id="user_phone_number" class="validate[required,custom[telephone]]" gtbfieldid="44"></td>
</tr>
<tr>
<td class="tdttl2">郵便番号<span style="color:red;font-size:0.85em;">*</span></td>
<td class="tdtext2"><input type="text" value="{%$address.f_post_code%}" size="9" name="f_post_code"class="validate[required]"></td>
</tr>
<tr>
<td class="tdttl2">都道府県<span style="color:red;font-size:0.85em;">*</span></td>
<td class="tdtext2">
<select name="fk_perf_id" id ="fk_perf_id" class="validate[required]">
<option value="0" >選択</option>
{%foreach from=$perfs item=perf%}
<option value="{%$perf->t_pref_id%}" {%if $address.fk_perf_id==$perf->t_pref_id %}selected="selected" {%/if%}>{%$perf->t_pref_name%}</option>
{%/foreach%}
</select>
</td>
</tr>
<tr>
<td class="tdttl2">市区町村<span style="color:red;font-size:0.85em;">*</span></td>
<td class="tdtext2"><input type="text" value="{%$address.f_address1%}" size="60" name="f_address1" id="user_city" class="validate[required,length[1,50]]" gtbfieldid="41"></td>
</tr>
<tr>
<td class="tdttl2">番　地<span style="color:red;font-size:0.85em;">*</span></td>
<td class="tdtext2"><input type="text" value="{%$address.f_address2%}" size="60" name="f_address2" id="user_address1" class="validate[required,length[1,50]]" gtbfieldid="42"></td>
</tr>
<tr>
<td class="tdttl2">建物名など</td>
<td class="tdtext2"><input type="text" value="{%$address.f_address3%}" size="60" name="f_address3" id="user_address2" class="validate[length[0,50]]"></td>
</tr>

<tr>
<td></td>
<td>
<input type="hidden" value="{%$address.fk_address_id%}" name="address">
<input type="submit" value="　変　更　" class="form_put">
</td>
</tr>
</table>
</form>
