<div style="font-size: 20px">
    <h2 style="text-align: center">銀行振り込み</h2>
    {%if $type==0 %}


    <div>{%$POINT_NAME%}数：{%$coin->f_coin%}　{%$POINT_NAME%}値段：{%$coin->f_inp_money%}円</div>
    <div>振り込み金額</div><div>{%$coin->f_inp_money%}円</div>

    {%else%}
    
    <div>商品名：{%$product->f_products_name%}</div>
    <div>振り込み金額</div><div>{%$product->total_price %}円</div>

    {%/if%}

   <table>
   <tr><td><NOBR>振込先銀行名</TD><td><NOBR>○○○銀行(コード:0005)</td></tr>
   <tr><td><NOBR>振込先支店名</TD><td><NOBR>○○○支店(コード:364)</td></tr>
   <tr><td><NOBR>振込先預金科目</TD><td><NOBR>普通</td></tr>
   <tr><td><NOBR>振込先口座番号</TD><td><NOBR>1234567</td></tr>
   <tr><td><NOBR>受取人口座名義</TD><td><NOBR>○○○</td></tr>
   <tr><td></td></tr>
   </table>
</div>
