<h2>{%$member->f_handle%}さん　の入札中商品一覧</h2>





<!-- 商品一覧の行BOX ST -->
<div id="scate10_item_box" class="instant_item_box"><!--クラス名削除禁止-->
{%assign var="columIndex" value=1%}
{%foreach from=$products item=product%}
{%if ($columIndex % $columns ==1)%}
{%if ($columIndex!=1)%}
</div><div id="scate10_item_box" class="instant_item_box"><!--クラス名削除禁止-->
{%/if%}
{%/if%}
<!-- 商品一マス ST -->
{%include file='pc/parts/prd_list_open.html'%}
<!-- 商品一マス ED -->
{%assign var="columIndex" value=$columIndex+1%}
{%/foreach%}
</div><!-- 商品一覧の行BOX END -->





<div id="mypagenum">
<div id="mypagenum_box">
{%$pageNumber%}<!--頁-->
</div>
</div>