<h2>{%$member->f_handle%}さん　のコイン残高</h2>
<table style="text-align: center">

            <tr>
                <td class="tdendlist" nowrap>種　類</td>
                <td class="tdendlist" nowrap>コイン数</td>
                <td class="tdendlist" nowrap>直近の有効期限</td>
            </tr>
            <tr>
                <td class="tdendlist2" nowrap>合　計</td>
                <td class="tdendlist3">{%$member->f_coin+$member->f_free_coin%}</td>
                <td class="tdendlist4">----</td>
            </tr>
    </table>