<h2>{%$member->f_handle%}さん　のPCメールアドレス変更ページ</h2>
<form action="{%$SERVER_PATH%}/my/email_update" method="post">
<table>
<tr>
<td colspan="2">
新しいPCメールアドレスを入力してください。
</td>
</tr>
<tr>
<td class="tdttl2">メールアドレス</td>
<td class="tdtext2">

<input type="text" size="60" name="email" id="user_change_email" class="validate[required,custom[email],custom[email_ng]]" autocomplete="off"><br>

<span>ex) taro@xxxxx.jp</span>
<br>
<span style="font-size:10px;">※メールアドレスに間違いがあると変更手続きが進められません。入力ミスにご注意ください。</span><br>
<span style="color: red; font-size:10px;">※@nifty.com、@yahoo.comのメールアドレスはご利用できません。</span><br>
<span style="color: green; font-size:10px;">※PCアドレスの変更になります。モバイルアドレス変更をご希望の方はモバイルよりログインの上マイページより変更ください。</span>
</td>
</tr>
<tr><td></td>
<td>
<input type="submit" value="　変　更　" class="form_put">
</td>
</tr>
</table>
</form>
