<h2>{%$member->f_handle%}さん　の友達紹介ページ</h2>
<h3>あなたのお友達を招待してみよう！</h3>
手続きは下記のフォームから招待メールを送信するだけなので簡単です。<br>
今だけ特典！招待したお友達がアメオクに入会すれば、もれなく●●●をプレゼント！！ <br>
この機会に是非たくさんのお友達を招待してみましょう。<br>
    <form action="{%$SERVER_PATH%}/my/friend_send" method="post">
        <table>
                <tr>
                    <td class="tdttl2">お友達の名前*</td>
                    <td class="tdtext2"><input id="friend_name" type="text" name="friend_name"/></td>
                </tr>

                <tr>
                    <td class="tdttl2">お友達のメールアドレス：</td>
                    <td class="tdtext2"><input type="text" name="friend_email"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="　送信する　" class="form_put">
</td>
                </tr>
        </table>
    </form>