<h2>{%$member->f_handle%}さん　の落札済み一覧</h2>
    <!--終了商品一覧　start-->
<table  style="text-align: center">
    <tr>
        <td colspan="2" class="tdendlist">商品名</td>
        <td class="tdendlist">落札価格</td>
        <td class="tdendlist">ステイタス</td>
        <td class="tdendlist">お支払い</td>
        <td class="tdendlist">配送先住所</td>
        <td class="tdendlist">キャンセル</td>
    </tr>

    
{%foreach from=$products item=product%}
<tr>
<td><a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}"><img width="44" height="35" alt="落札商品" src="{%$product->image%}"></a> </td>
<td nowrap><a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}">{%$product->name%}</a></td>
<td nowrap>{%$product->price%}円</td>
<td nowrap>{%$product->status%}</td>
<td nowrap>
    {%if $product->f_status == 0 %}
    <a href="{%$SERVER_PATH%}/mypay/pay?pro_id={%$product->id%}">{%$product->pay_status%}</a>
    {%else%}
    <span style="color: red">{%$product->pay_status%}</span>
    {%/if%}
</td>
<td nowrap>
    {%if $product->flag==1 %}
        -
    {%else%}
        {%if $product->fk_address_id%}
            <!--住所が選択済みの場合、リングをつけない-->
            <span>{%$product->address_status%}</span>
        {%else%}
            <!--住所が未選択の場合、リングをつける-->
            <a href="{%$SERVER_PATH%}/mypay/address?pro_id={%$product->id%}">{%$product->address_status%}</a>
        {%/if%}
    {%/if%}

</td>
<td><a href="{%$SERVER_PATH%}/mypay/cancel?pro_id={%$product->id%}">{%$product->cancel_status%}</a></td>
</tr>
<tr><td colspan="7"><hr size="1" color="#dedede"></td></tr>
{%/foreach%}
</table>
<div>{%$pageNumber%}</div>