<h2>{%$member->f_handle%}さん　の落札商品配送先設定</h2>



<table style="width:auto;">
  <tr>
    <td rowspan="4" class="tdendlist"><img width="225" height="180" alt="落札商品" src="{%$product->f_photo1%}"></td>
    <td class="tdendlist2">落札商品</td>
    <td class="tdendlist3">{%$product->f_products_name%}</td>
  </tr>
  <tr>
    <td class="tdendlist2">落札価格</td>
    <td class="tdendlist3">{%$product->f_end_price%}円</td>
  </tr>
  <tr>
    <td class="tdendlist2">送料</td>
    <td class="tdendlist3">{%$carriage%}円</td>
  </tr>
  <tr>
    <td colspan="2" class="tdendlist4">
配送先住所を決定してください。
    <form method="post" action="{%$SERVER_PATH%}/mypay/adr_choose?pro_id={%$product->fk_end_products_id%}">
         <ul style="font-size: 17px">
            {%assign var="last" value=0%}
            {%foreach from=$address item=ad%}
            <li>
                <input type="radio" name="address" {%if $ad->f_last_send == 1 %}checked {%assign var="last" value=1 %} {%/if%} value="{%$ad->fk_address_id%}">{%$ad->f_name%}
            </li>
            {%/foreach%}
             <li>
                <input type="radio" name="address" {%if $last == 0 %}checked {%/if%} value="0">新規追加
            </li>
        </ul>
        <input type="submit" value="次へ" class="form_put">
    </form>
</td>
  </tr>
</table>






