
<div style="font-size: 20px">
    <h2 style="text-align: center">{%$product->f_products_name%}</h2>
    <div style="text-align: center">
        <img width="225" height="180" alt="落札商品" src="{%$product->f_photo1%}">
    </div>
    <div>落札価格</div><div>{%$product->f_end_price%}円</div>
    <p>この商品の落札権を放棄しますか？放棄した場合、<br>取り消しは出来ません。</p>
    <form method="post" action="{%$SERVER_PATH%}/mypay/cancel?pro_id={%$product->fk_end_products_id%}&mode=exe">
        <div><input type="submit" value="放棄する" class="form_put"></div>
    </form>
    <a href="{%$SERVER_PATH%}/myproduct/finish?pro_id={%$product->fk_end_products_id%}">戻る</a>
</div>
