<h2>{%$member->f_handle%}さん　の支払い選択一覧</h2>



<table style="width:auto;">
  <tr>
    <td rowspan="4" class="tdendlist"><img width="225" height="180" alt="落札商品" src="{%$product->f_photo1%}"></td>
    <td class="tdendlist2">落札商品</td>
    <td class="tdendlist3">{%$product->f_products_name%}</td>
  </tr>
  <tr>
    <td class="tdendlist2">落札価格</td>
    <td class="tdendlist3">{%$product->f_end_price%}円</td>
  </tr>
  <tr>
    <td class="tdendlist2">送料</td>
    <td class="tdendlist3">{%$carriage%}円</td>
  </tr>
  <tr>
    <td colspan="2" class="tdendlist4">
支払い方法を選択してください。
<form method="GET" action="http://{%$HTTP_HOST%}/cli_ep.php/pcpay/">
    <ul style="font-size: 17px">
        {%foreach from=$methods item=method name=m %}
        <li>
            <input type="radio" onclick="paymentSelect()" name="payment" id="payment_credit_{%$method->fk_shiharai_type_id%}" value="{%$method->fk_shiharai_type_id%}" {% if $smarty.foreach.m.first==1 %}checked{%/if%}>
            {%$method->f_shiharai_name%}
        </li>
        {%/foreach%}
    </ul>
    {%if $methods %}<input type="submit" value="次へ"/>{%/if%}
    <input type="hidden" value="{%$product->f_end_price%}"	name="buy_money"/>
    <input type="hidden" value="{%$product->fk_end_products_id%}"	name="pro_id"/>
    <input type="hidden" value="{%$carriage%}"	name="sf_money"/>
    <input type="hidden" value="{%$type%}"	name="type"/>
</form>
</td>
  </tr>
</table>