<h2>{%$member->f_handle%}さん　の友達紹介ページ</h2>
<p>
    <p style="color: rgb(102, 188, 41); margin-bottom: 2em;">
      {%$email%}宛てに【サイト名】招待のメールを送信しました。
    </p>
    <p style="color: rgb(255, 0, 0); font-size: 0.9em; margin-bottom: 2em;">
      ※登録済みのユーザーにはメールは送信されません。
    </p>
    <p><a href="{%$SERVER_PATH%}/my/friend">他の友達にも紹介する</a></p>
</p>