<h2>{%$member->f_handle%}さん　の落札商品配送先登録</h2>



<script type="text/javascript" src="{%$JAVASCRIPT_DIR%}/validationEngine.js" ></script>
<link href="{%$CSS_PATH%}/validationEngine.css" media="screen" rel="stylesheet" type="text/css">

    <form method="post" id="new_address" action="{%$SERVER_PATH%}/mypay/new_address">
        <input type="hidden" value="{%$product->fk_end_products_id%}" name="pro_id">
        配送先住所を記入してください。

<table id="address">
<tr>
                <td class="tdttl2">配送先名</td>
                <td class="tdtext2">
                    <input type="text" value="{%$address.f_name%}" size="30" name="f_name" id="name" class="validate[required,length[1,20]]">
                </td>
            </tr>
            <tr>
                <td class="tdttl2">連絡電話番号*</td>
                <td class="tdtext2"><input type="text" value="{%$address.f_tel_no%}" size="30" name="f_tel_no" id="user_phone_number" class="validate[required,custom[telephone]]" gtbfieldid="44"></td>
            </tr>
            <tr>
                <td class="tdttl2">郵便番号*</td>
                <td class="tdtext2"><input type="text" value="{%$address.f_post_code%}" size="9" name="f_post_code"  class="validate[required]"></td>
            </tr>
            <tr>
                <td class="tdttl2">都道府県*</td>
                <td class="tdtext2">
                    <select name="fk_perf_id" id ="fk_perf_id" class="validate[required]">
                        <option value="0" >  選択  </option>
                        {%foreach from=$perfs item=perf %}
                        <option value="{%$perf->t_pref_id%}" {%if $address.fk_perf_id == $perf->t_pref_id %}selected="selected" {%/if%}>
                        {%$perf->t_pref_name%}
                        </option>
                        {%/foreach%}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="tdttl2">市区町村*</td>
                <td class="tdtext2"><input type="text" value="{%$address.f_address1%}" size="60" name="f_address1" id="user_address1" class="validate[required,length[1,50]]"></td>
            </tr>
            <tr>
                <td class="tdttl2">番地*</td>
                <td class="tdtext2"><input type="text" value="{%$address.f_address2%}" size="60" name="f_address2" id="user_address2" class="validate[required,length[1,50]]"></td>
            </tr>
            <tr>
                <td class="tdttl2">建物名など</td>
                <td class="tdtext2"><input type="text" value="{%$address.f_address3%}" size="60" name="f_address3" id="user_address3" class="validate[length[0,50]]"></td>
            </tr>

            <tr>
                <td colspan="2" style="border: medium none; font-size: 0.8em; color: rgb(67, 67, 67);">* は必須項目です</td>
            </tr>

    </table>
        <div align="center"><input type="submit" value="次へ" class="form_put"></div>

    </form>
</div>
