<div style="font-size: 20px">
<h2 style="text-align: center">{%$product->f_products_name%}</h2>
<div style="text-align: center">
    <img width="225" height="180" alt="落札商品" src="{%$product->f_photo1%}">
</div>
<table>
<tr>
<td>落札価格</td>
<tr>
<td>{%$product->f_end_price%}円</td>
<tr>
</table>
               <!-- ここはコイン購入のメニュー  start -->
                <strong>ｺｲﾝ購入方法選択</strong>
                以下から支払い方法を選んでください。<br>
                <script type="text/javascript">
                        //<![CDATA[
                        /*
                        if (!$.browser.msie) {
                            $("#not_ie").show();
                        } else {
                            $("#only_ie").show();
                        }
                        */
                        $("#payment_credit").attr('checked', 'checked');

                        function paymentSelect() {
                            $('#credit_box').toggle($("#payment_credit").attr('checked'));
                            $('#banking_box').toggle($("#payment_banking").attr('checked'));
                            $('#edy_box').toggle($("#payment_edy").attr('checked'));
                        }

                        //]]>
                    </script>
                <!--
                <form method="get" action="https://credit.ipservice.jp/gateway/payform.aspx">
                -->
                <form method="GET" action="http://{%$HTTP_HOST%}/cli_ep.php/pcpay/">
                    <input type="hidden" value="{%$product->f_end_price%}"	name="buy_money"/>
                    <input type="hidden" value="{%$menu->f_coin%}"		name="coin_count"/>
　　　　　　　　　　<input type="hidden" value="0"		name="sf_money"/>
                    <table style="margin-bottom: 0px;" id="payment_choice">
                        <tbody>
                            <!-- ここはコイン購入のメニュー  start -->
							{%foreach from=$methods item=method name=buymethod %}
                            <tr>
								{% if $smarty.foreach.buymethod.first==1 %}
									<td>
										<input type="radio" onclick="paymentSelect()"  name="payment" id="payment_credit_{%$method->fk_shiharai_id%}" value="{%$method->fk_shiharai_id%}" checked>
									</td>
								{% else %}
									<td>
										<input type="radio" onclick="paymentSelect()"  name="payment" id="payment_credit_{%$method->fk_shiharai_id%}" value="{%$method->fk_shiharai_id%}">
									</td>
								{% /if %}
                                <td>
                                    <label for="payment_credit">{%$method->f_shiharai_name%}</label>
                                </td>
                            </tr>
                            {%/foreach%}
                            <!-- ここはコイン購入のメニュー  end -->
                        </tbody>
                    </table>
                    <input type="image" src="{%$IMAGE_PATH%}/btn_kaufenbig.png" alt="クレジットカードで購入"/>
                    <input type="hidden" value="{%$menu->fk_coin_id%}"	name="coin_menu_id"/>
                    <input type="hidden" value="{%$type%}"	name="type"/>
</form>
</div>