<!-- <script type="text/javascript" src="{%$JAVASCRIPT_DIR%}/ark.js"></script>--><!--消去禁止--> 

<script type="text/javascript" src="{%$TEMPLATE_PARTS_DIR%}/ark.js"></script><!--削除禁止-->
<h2>WELCOME!!　{%$member->f_handle%}さん　のマイページ</h2>
	<p class="mp_cate2"><strong>現在<span class="coin_count">{%$member->coin_count%}</span>コインもっています。</strong><br>
</p>



{%if $bid_products_count>0 %}
<h3>{%$member->f_handle%}さん　の入札中リスト</h3>
<!--入札中商品一覧　start-->
<div style="padding:15px;" class="instant_item_box"><!--クラス名変更禁止-->


        <!--<div style="text-align: right;padding-right: 50px;">{%$pageNumber%}</div>-->


        {%assign var="columIndex" value=1%}<!--消去禁止-->

        {%foreach from=$bid_products item=product%}<!--消去禁止-->
        {%if ($columIndex % $columns ==1)%}<!--消去禁止-->
        {%if ($columIndex!=1)%}<!--消去禁止-->
</div><div style="padding:15px;" class="instant_item_box"><!--クラス名変更禁止-->
    {%/if%}<!--消去禁止-->

        {%/if%}<!--消去禁止-->

        <!--入札中商品一覧 -->
        <!-- ここは商品のテンプレートです START    -->

        <!--%include file='pc/parts/prd_list_open.html'%-->

<div id="iflame_{%$product->id%}" style="border-bottom:1px solid #ccc;margin:0;padding:0;"><!--class="start_product_actype{%$product->auction_type%}"-->
<table id="item_{%$product->id%}" class="instant_item" ta="{%$product->id%}"><!--クラス名変更削除禁止-->
<tr class="img_{%$product->id%}">
<td width="70">
                        <a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}">
<img id="image_{%$product->id%}" src="{%$product->image%}" alt="{%$product->name%}"  width="65" height="46">
                        </a>
</td>
<td>
<a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}">{%$product->name%}</a>
</td>
<td width="200">
        <div style="text-align: center;">
            <div id="auction_index_page_{%$product->id%}">
                <div class="prd_countdown">
                    <span id="counter_index_page_{%$product->id%}">
                        <span class="time_{%$product->id%} rest_time" id="time_{%$product->id%}">{%$product->time%}</span>
                    </span>
                </div>
                <div class="prd_price">
                    <span id="price_index_page_{%$product->id%}" class="prd_pricetag">
                        <span style="font-family: Monospace;">
                            <span>￥</span>
                            <span class="price_{%$product->id%} price">{%$product->price%}</span>
                        </span>

                    </span>
                </div>
                <div id="winner_index_page_{%$product->id%}" class="prd_bidder">
                    <span class="last_bidder_{%$product->id%}">{%$product->last_bidder%}</span>
                </div>
            </div>
        </div>
</td>
<td width="130">
        <div style="display: none;" class="small_error_dialog" id="error_dialog_{%$product->id%}">
            <div style="width: 150px; margin: 0pt auto; position: relative; top: 5px;"> <span id="bid_error_div_{%$product->id%}"></span><br>
                <br>
                <a onclick="$('error_dialog_75').hide(); return false;" href="#"> 
                    <img src="{%$IMAGE_PATH%}/btn_ok_red_s.gif" alt="OK">
                </a>
            </div>
        </div>
        <div style="display: none;" class="load_{%$product->id%} prd_button" id="bid_loading_{%$product->id%}">
            <img alt="" src="{%$IMAGE_PATH%}/ajax-arrows.gif">
        </div>
        <div id="button_index_page_{%$product->id%}" class="button_area_{%$product->id%} prd_button" >
            {%if ($isLogin)%}
            <a href="{%$SERVER_PATH%}/index/bid?id={%$product->id%}" class="bid_button">
                <img alt="入札" src="{%$IMAGE_PATH%}/bit_off.gif">
            </a>
            {%else%}
            <a href="{%$SERVER_PATH%}/login/show">
                <img alt="入札" src="{%$IMAGE_PATH%}/bitin_off.gif">
            </a>
            {%/if%}
        </div>
        <div style="display: none;" id="button_finished_index_page_{%$product->id%}" class="prd_button">
            <img src="{%$IMAGE_PATH%}/btn_ended.png" alt="落札済み">
        </div>
        <div id="result_{%$product->id%}"  style="font-weight:bold;color:red;font-size:14px;text-align: center;"></div>
    </div>
</td>
</tr>
</table>


</div>


        <!-- ここは商品のテンプレートです END     -->



        {%assign var="columIndex" value=$columIndex+1%}<!--消去禁止-->
        {%/foreach%}<!--消去禁止-->

<div id="mypagenum">
    <div id="mypagenum_box" style="text-align:center;">
{%$bid_pageNumber%}<!--頁-->
</div>
</div>

</div>
{%/if %}

{%if $end_products_count>0 %}
<h3>{%$member->f_handle%}さん　の落札済みリスト</h3>



    <!--終了商品一覧　start-->
<table  style="text-align: center;" >
    <tr>
        <td colspan="2" class="tdendlist">商品名</td>
        <td class="tdendlist">落札価格</td>
        <td class="tdendlist">ステイタス</td>
        <td class="tdendlist">お支払い</td>
        <td class="tdendlist">配送先住所</td>
        <td class="tdendlist">キャンセル</td>
    </tr>

    
{%foreach from=$end_products item=product%}
<tr>
<td><a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}"><img width="44" height="35" alt="落札商品" src="{%$product->image%}"></a></td>
<td nowrap><a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}">{%$product->name%}</a></td>
<td nowrap>{%$product->price%}円</td>
<td nowrap>{%$product->status%}</td>
<td nowrap>
    {%if $product->f_status == 0 %}
    {%if $product->row_number == 1 %}
    <a href="{%$SERVER_PATH%}/mypay/pay?pro_id={%$product->id%}">{%$product->pay_status%}</a>
    {%/if%}
    {%else%}
    <span style="color: red">{%$product->pay_status%}</span>
    {%/if%}
</td>
<td nowrap>
    {%if $product->flag==1 %}
        -
    {%else%}
        {%if $product->fk_address_id%}
            <!--住所が選択済みの場合、リングをつけない-->
            <span>{%$product->address_status%}</span>
        {%else%}
            <!--住所が未選択の場合、リングをつける-->
            <a href="{%$SERVER_PATH%}/mypay/address?pro_id={%$product->id%}">{%$product->address_status%}</a>
        {%/if%}
    {%/if%}
</td>
{%if $product->row_number == 1 %}
<td><a href="{%$SERVER_PATH%}/mypay/cancel?pro_id={%$product->id%}">{%$product->cancel_status%}</a></td>
{%else%}
<td></td>
{%/if%}
</tr>
<tr><td colspan="7"><hr size="1" color="#dedede"></td></tr>
{%/foreach%}
</table>
<div id="mypagenum">
<div id="mypagenum_box"  style="text-align:center;">
{%$end_pageNumber%}<!--頁-->
</div>
</div>
{%/if%}