<h2>{%$member->f_handle%}さん　のメルマガ設定ページ</h2>
    <!--入力チェック用css,javascript  start-->
    <link href="{%$CSS_PATH%}/validationEngine.css" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{%$JAVASCRIPT_DIR%}/validationEngine.js" ></script>
    <!--入力チェック用css,javascript  end-->
    


お得なキャンペーン情報や商品情報などをメールで配信しています。<br>
配信希望の方は下記より設定を行ってください。
    <form method="post" id="edit_use" class="edit_user" action="{%$SERVER_PATH%}/my/update_mailmagazein">
        <p>
            <strong>重要！</strong><br>
            メルマガを希望する<br>
            <input type="checkbox" name="f_mailmagazein_pc" {%if $member->f_mailmagazein_pc==1 %}checked {%/if%}  value="1">メルマガ受信<br>
<span style="color: red; font-size:10px;">受信を希望されない方は上記チェックを外してください。</span>
         </p>
                        <input type="submit" value="　登　録　" class="form_put">
        
    </form>
