<h2>{%$member->f_handle%}さん　のパスワード変更ページ</h2>
<script type="text/javascript" src="{%$JAVASCRIPT_DIR%}/validationEngine.js" ></script>
<link href="{%$CSS_PATH%}/validationEngine.css" media="screen" rel="stylesheet" type="text/css">
<form method="post" id="edit_use" class="edit_user" action="{%$SERVER_PATH%}/my/password">
<table id="address_entry">
<tr>
<td class="tdttl2">氏　名</td>
<td class="tdtext2">{%$member->f_handle%}</td>
</tr>
<tr>
<td class="tdttl2">旧パスワード</td>
<td class="tdtext2"><input type="password" name="old_pass" id="old_pass" class="validate[required,length[6,30]]"/></td>
</tr>
<tr>
<td class="tdttl2">新しいパスワード</td>
<td class="tdtext2"><input type="password" name="new_pass" id="new_pass" class="validate[required,length[6,30]]"/></td>
</tr>
<tr>
<td class="tdttl2">新しいパスワード再入力</td>
<td class="tdtext2"><input type="password" name="repeat_pass" id="repeat_pass" class="validate[required,length[6,30]]"/></td>
</tr>
 
<tr><td></td>
<td>
<input type="submit" value="　変　更　" class="form_put">
</td>
</tr>
</table>
</form>

