<h2>{%$session_member->f_handle%}さん　のプロフィール変更ページ</h2>
<script type="text/javascript" src="{%$JAVASCRIPT_DIR%}/validationEngine.js" ></script>
<link href="{%$CSS_PATH%}/validationEngine.css" media="screen" rel="stylesheet" type="text/css">
<form method="post" id="edit_use" class="edit_user" action="{%$SERVER_PATH%}/my/update_profile">
<table id="address_entry">
<tr>
<td class="tdttl2">氏　名</td>
<td class="tdtext2"><input type="text" name="f_handle" value="{%$member->f_handle%}"/></td>
</tr>
<tr>
<td class="tdttl2">誕生日</td>
<td class="tdtext2">
<select name="birth_year" id="birth_year"><!-- class="validate[required,custom[onlyNumber]">-->
<option value="00">年 </option>
{%foreach from=$brithday.year item=year %}
<option value="{%$year%}" {%if $member->birth_year==$year %}selected="selected" {%/if%}>{%$year%}</option>
{%/foreach%}
</select>年
<select name="birth_month" id="birth_month"><!-- class="validate[required,custom[onlyNumber]">-->
<option value="00">月</option>
{%foreach from=$brithday.month item=month %}
<option value="{%$month%}" {%if $member->birth_month==$month %}selected="selected" {%/if%}>{%$month%}</option>
{%/foreach%}
</select>月
<select name="birth_day" id="birth_day"><!-- class="validate[required,custom[onlyNumber]">-->
<option value="00">日</option>
{%foreach from=$brithday.day item=day %}
<option value="{%$day%}" {%if $member->birth_day==$day %}selected="selected" {%/if%}>{%$day%}

</option>
{%/foreach%}
</select>日
 </td>
</tr>
<tr>
<td class="tdttl2">名　前</td>
<td class="tdtext2"><input type="text" name="name" value="{%$member->f_name%}"/></td>
</tr>
<tr>
<td class="tdttl2">電話番号</td>
<td class="tdtext2"><input type="tel" name="tel" value="{%$member->f_tel_no%}"/></td>
</tr>
<tr>
 <td class="tdttl2">性別</td>
 <td class="tdtext2">
   <select name="sex" id="sex" >
     <option value="">---</option>
     <option value="0" {%if $member->f_sex=="0" %}selected="selected" {%/if%}>男性</option>
     <option value="1" {%if $member->f_sex!="0" %}selected="selected" {%/if%}>女性</option>
   </select>
 </td>
</tr>
<!--
<tr>
<td class="tdttl2">旧パスワード</td>
<td class="tdtext2"><input type="password" name="old_pass"/></td>
</tr>
<tr>
<td class="tdttl2">新しいパスワード</td>
<td class="tdtext2"><input type="password" name="new_pass"/></td>
</tr>
<tr>
<td class="tdttl2">再入力</td>
<td class="tdtext2"><input type="password" name="repeat_pass"/></td>
</tr>
-->
<tr>
<td></td>
<td>
<input type="submit" value="　変　更　" class="form_put">
</td>
</tr>
</table>
</form>
