<h2>{%$member->f_handle%}さん　の退会申請ページ</h2>
        <!--入力チェック用css,javascript  start-->
    <link href="{%$CSS_PATH%}/validationEngine.css" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{%$JAVASCRIPT_DIR%}/validationEngine.js" ></script>

    <!--入力チェック用css,javascript  end-->
    
    <form method="post" id="edit_use" class="edit_user" action="{%$SERVER_PATH%}/my/member_close">

        <span style="color:red;">
            <strong>重要！</strong><br>
            {%$SITE_NAME%}を退会すると、現在保有されているコインは失われ、再登録しても戻りませんのでご注意ください。<br>
            なお、退会後１ヶ月間は再入会が出来ませんのでご了承ください。
        </span>

<p class="userdata">
            <input type="checkbox" class="validate[required]" name="agree" id="unsubscribe_user" value="1">上記に同意して、{%$SITE_NAME%}を退会する
</p>

                        <input type="submit" value="　退会する　" class="form_put">

    </form>
