<h2>{%$member->f_handle%}さん　のウォッチリスト</h2>
    <!--watch商品一覧　start-->
<div id="scate10_item_box" class="instant_item_box"><!--クラス名削除禁止-->

        {%assign var="columIndex" value=1%}<!--消去禁止-->

        {%foreach from=$products item=product%}<!--消去禁止-->
        {%if ($columIndex % $columns ==1)%}<!--消去禁止-->
        {%if ($columIndex!=1)%}<!--消去禁止-->
</div><!-- 行終わり→次の行へ --><div id="scate10_item_box" class="instant_item_box"><!--クラス名削除禁止-->    {%/if%}<!--消去禁止-->

        {%/if%}<!--消去禁止-->

        <!--watch商品一覧 -->
        <!-- ここは商品のテンプレートです START    -->

        {%include file='pc/parts/prd_list_open.html'%}



        <!-- ここは商品のテンプレートです END     -->



        {%assign var="columIndex" value=$columIndex+1%}<!--消去禁止-->
        {%/foreach%}<!--消去禁止-->


</div>


<div id="mypagenum">
<div id="mypagenum_box">
{%$pageNumber%}<!--頁-->
</div>
</div>