<div id="pickupbox">


<table width="430">

<tr>

<td>

<table width="232">
<tr>
<td style="height:160px;overflow:hidden;" valign="top" class="prd_image2">
<a href="{%$SERVER_PATH%}/product/end?pro_id={%$product->id%}">
<span class="aci_icon_pickup"></span>
<img width="232" style="max-height:160px;" alt="{%$product->name%}" src="{%$product->image%}">
</a>
</td>
</tr>
</table>

</td>
<td width="180" align="center" valign="top">

<div class="g_txt_box45" style="position:relative;">
<p class="end_tit45">{%$product->name%}</p>
<p class="g_exp45">落札額</p>
<p class="g_nedan45">{%$product->price%}円</p>
<p class="g_exp45">プラス落札額</p>
<p class="g_nedan45">{%$product->plus_end_price%}円</p>
<p class="g_exp45">落札者</p>
<p class="g_name45">{%$product->last_bidder%}</p>
<p class="g_exp45">落札時間</p>
<p class="g_time45">{%$product->time%}</p>

<!--プラスディスカウント率ここから-->
{%if ($product->plus_discount_rate!=0)%}
<p><span>{%$product->plus_discount_rate%}</span>%</span></p>
{%/if%}
<!--プラスディスカウント率ここから-->

<!--ディスカウント率ここから-->
{%if ($product->discount_rate!=0)%}
<p class="g_discount_pickup"></p>
<p class="g_discount_rate_pickup"><span>{%$product->discount_rate%}</span><span style="font-size:10px">%</span></p>
{%/if%}
<!--ディスカウント率ここから-->
</div>
</td>
</tr>
</table>
</div>

<style type="text/css">
.g_discount_pickup {
background:url("/style/pc/default/image/off.gif") no-repeat scroll left top transparent;
height:61px;         
left:140px;
position:absolute;
top:10px;
width:61px;
z-index:10;
}

.g_discount_rate_pickup {
color:yellow;
font:bold 1.25em Verdana;
left:145px;
position:absolute;
text-align:center;
top:20px;
width:50px;
z-index:11;
}
</style>