<div id="noticebox">
<div id="item_{%$product->id%}" class="instant_item" ta="{%$product->id%}" style="position:relative;"><!--クラス名変更・削除禁止・taタグの削除禁止-->

<table width="430" class="img_{%$product->id%}">

<tr>

<td>
<table width="232">
<tr>
<td valign="top" style="height:177px;overflow:hidden;" class="prd_image">
<a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}">
<span class="aci_icon{%$product->auction_type%}"></span>
<!--
<img id="image_{%$product->id%}" src="{%$product->image%}" alt="{%$product->name%}" width="232" style="max-height:160px;">
-->
<img id="image_{%$product->id%}" src="{%$product->image%}" alt="{%$product->name%}"  style="max-height:160px;max-width:232px;">
</a>
</td>
</tr>
</table>

</td>
<td width="180" align="center">

<div class="prd_header2">

<a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}">{%$product->name%}</a>
</div>

<img class="displayBox_{%$product->id%}" src="" style="margin-left:1px;margin-top:-50px;display:none;width:160px;height:250px;position:absolute;z-index:50000;" />


<!--ディスカウント率ここから-->
{%if ($product->discount_rate!=0)%}
<div class="g_discount_notice dis_img_{%$product->id%}"></div>
<div class="g_discount_rate_notice dis_img_{%$product->id%}"><span class="dis_rate_{%$product->id%}">{%$product->discount_rate%}</span><span style="font-size:10px">%</span></div>
{%/if%}
<!--ディスカウント率ここまで-->

<div style="text-align: center; width: 165px; padding: 0;">
<div id="auction_index_page_{%$product->id%}">
<div class="prd_countdown2">
<span id="counter_index_page_{%$product->id%}">
<span class="time_{%$product->id%} rest_time">{%$product->time%}</span>
</span>
</div>
<div class="prd_price2">
<span id="price_index_page_{%$product->id%}" class="prd_pricetag">
<span style="font-family: Monospace;">
<span>￥</span>
<span class="price_{%$product->id%} price">{%$product->price%}</span>
</span>

</span>
</div>
<div id="winner_index_page_{%$product->id%}" class="prd_bidder2">
<span class="last_bidder_{%$product->id%} last_bidder">{%$product->last_bidder%}</span>
</div>
</div>
</div>
<div style="display: none;" class="small_error_dialog" id="error_dialog_{%$product->id%}">
<div style="width: 180px; margin: 0pt auto; position: relative; top: 5px;"> <span id="bid_error_div_{%$product->id%}"></span><br>
<br>
<a onclick="$('error_dialog_75').hide(); return false;" href="#">
<img src="{%$IMAGE_PATH%}/btn_ok_red_s.gif" alt="OK">
</a>
</div>
</div>
<div style="display: none;" class="load_{%$product->id%} prd_button2">
<img alt="" src="{%$IMAGE_PATH%}/ajax-arrows.gif">
</div>
<div class="prd_button button_area_{%$product->id%} prd_button" >
{%if ($isLogin)%}
<a href="{%$SERVER_PATH%}/index/bid?id={%$product->id%}" class="button_{%$product->id%} bid_button ">
<!--a href="{%$SERVER_PATH%}/index/bid?id={%$product->id%}" class="button_{%$product->id%} bid_button " ta="no"--><!--taタグ削除禁止-->
<img alt="入札" src="{%$IMAGE_PATH%}/bit_off.gif">
</a>
{%else%}
<a href="{%$SERVER_PATH%}/login/show">
<img alt="入札" src="{%$IMAGE_PATH%}/bitin_off.gif">
</a>
{%/if%}
</div>
<div style="display: none;" id="button_finished_index_page_{%$product->id%}" class="load_{%$product->id%} prd_button2">
<img src="{%$IMAGE_PATH%}/btn_ended.png" alt="終了済み">
</div>
<div class="result_{%$product->id%}"style="color: red;font-size:15px;padding-top: 10px;text-align: center;"></div>

</td>
</tr>
</table>


</div>
</div>

<style type="text/css">
.g_discount_notice {
background:url("/style/pc/default/image/off.gif") no-repeat scroll left top transparent;
height:61px;         
left:170px;
position:absolute;
top:10px;
width:61px;
z-index:10;
}

.g_discount_rate_notice {
color:yellow;
font:bold 1.25em Verdana;
left:175px;
position:absolute;
text-align:center;
top:20px;
width:50px;
z-index:11;
}
</style>
