<div id="main_bg" class="pkg">
<div class="sucate6">
<!-- 商品一覧の行BOX ST -->
    <div id="navigation">

開催中のオークションを探す>> <a href="{%$SERVER_PATH%}/list">全ての商品</a>
            {%foreach from=$cates item=cate%}
| <a href="{%$SERVER_PATH%}/category?id={%$cate->id%}"><span>{%$cate->name%}</span></a>
            {%/foreach%}| <a href="{%$SERVER_PATH%}">HOMEに戻る</a>>>
        
    </div>
<!-- 商品一覧の行BOX END -->



</div>
</div>
