<div id="iflame_{%$product->id%}" class="start_product_actype" style="float:left">
<!--div id="item_{%$product->id%}" class="instant_item" ta="{%$product->id%}" style="position:relative;"--><!--クラス名変更・削除禁止・taタグの削除禁止-->
<div id="item_{%$product->id%}" class="instant_item" ta="{%$product->id%}"><!--クラス名変更・削除禁止・taタグの削除禁止-->


<!-- 本テンプレート内の<span></span>の中は削除禁止 -->
        <div class="prd_header">
            <a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}">{%$product->name%}</a>
        </div>

<img class="displayBox_{%$product->id%}" src="" style="margin-left:-10px;margin-top:-20px;display:none;width:200px;height:317px;position:absolute;z-index:50000;" />

        <table style="width:160px;height:110px;margin:0 auto;padding:0;" width="160" height="110" class="img_{%$product->id%}">
<tr>
<a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}">
<!-- ここから -->
<span class="aci_icon{%$product->auction_type%}"></span>
<!-- ここまで-->
</a>
                    <td class="prd_image" style="text-align:center">
                        <a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}">
<img id="image_{%$product->id%}" src="{%$product->image%}" alt="{%$product->name%}" width="100" height="100">
                        </a>
                    </td>
                </tr>
</table>






        <div style="text-align: center;">
            <div id="auction_index_page_{%$product->id%}">
<!--ディスカウント率ここから-->
            {%if ($product->discount_rate!=0)%}
                <div class="g_discount_open dis_img_{%$product->id%}" ></div>
                <div class="g_discount_rate_open  dis_img_{%$product->id%}">
<span class="dis_rate_{%$product->id%}" >{%$product->discount_rate%}</span><span style="font-size:10px">%</span></div>
            {%/if%}
<!--ディスカウント率ここまで-->
                <div class="prd_countdown">
<!-- ここから -->
                    <span id="counter_index_page_{%$product->id%}">
                        <span class="time_{%$product->id%} rest_time" >{%$product->time%}</span>
                    </span>
<!-- ここまで-->
                </div>
                <div class="prd_price">
<!-- ここから -->
                    <span id="price_index_page_{%$product->id%}" class="prd_pricetag">
                        <span style="font-family: Monospace;">
                            <span>￥</span>
                            <span class="price_{%$product->id%} price">{%$product->price%}</span>
                        </span>

                    </span>
<!-- ここまで-->
                </div>
                <div id="winner_index_page_{%$product->id%}" class="prd_bidder">
<!-- ここから -->
                    <span class="last_bidder_{%$product->id%} last_bidder">{%$product->last_bidder%}</span>{%if ($product->last_bidder != "入札者はいません。" ) %} さん{%/if%}
<!-- ここまで-->
                </div>
            </div>
        </div>
        <div style="display: none;" class="small_error_dialog" id="error_dialog_{%$product->id%}">
            <div style="width: 150px; margin: 0pt auto; position: relative; top: 5px;border:1px solid #cc0000;">
<!-- ここから -->
 <span id="bid_error_div_{%$product->id%}"></span><br>

                <br>
                <a onclick="$('error_dialog_75').hide(); return false;" href="#"> 
                    <img src="{%$IMAGE_PATH%}/btn_ok_red_s.gif" alt="OK">
                </a>
<!-- ここまで-->
            </div>
        </div>

   <div style="display: none;" class="load_{%$product->id%} prd_button">
            <img alt="" src="{%$IMAGE_PATH%}/ajax-arrows.gif">
        </div>

<!-- test for animation add by saito -->
<!--
<img id="displayBox_{%$product->id%}" src="" width="300" height="225" style="display:none" />
-->


<span class="result_{%$product->id%}"  style="margin-left:25px;display:none;width:105px;height:30px;position:absolute;-50px;background-color:#000;border:1px solid #cc0000;font-weight:bold;color:#cc0000;font-size:10px;text-align: center;z-index:50000;"></span>


        <div class="button_area_{%$product->id%} prd_button" >
            {%if ($isLogin)%}
            <a href="{%$SERVER_PATH%}/index/bid?id={%$product->id%}" class="button_{%$product->id%} bid_button">
                <img alt="入札" src="{%$IMAGE_PATH%}/bit_off.gif">
            </a>
            {%else%}
            <a href="{%$SERVER_PATH%}/login/show">
                <img alt="入札" src="{%$IMAGE_PATH%}/bitin_off.gif">
            </a>
            {%/if%}
        </div>
        <div style="display: none;" id="button_finished_index_page_{%$product->id%}" class="prd_button">
            <img src="{%$IMAGE_PATH%}/btn_ended.png" alt="落札済み">
        </div>

    </div>
</div>

<style type="text/css">
.g_discount_open {
background:url("/style/pc/default/image/off.gif") no-repeat scroll left top transparent;
height:61px;         
left:110px;
position:absolute;
top:40px;
width:61px;
z-index:10;
}

.g_discount_rate_open {
color:yellow;
font:bold 1.25em Verdana;
left:120px;
position:absolute;
text-align:center;
top:50px;
width:50px;
z-index:11;
}
</style>
