<div class="scate3_item" style="position:relative;">
<div class="end_tit2">{%$product->name%}</div>
        <div class="g_img_box">
            <a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}">
<span class="aci_icon{%$product->auction_type%}"></span>
<img width="130" height="92" alt="{%$product->name%}" src="{%$product->image%}">
            </a>
        </div>
        <div class="g_txt_box">
 
            <p class="g_exp">落札額</p>
            <p class="g_nedan">{%$product->price%}円</p>
	    <p class="g_exp">プラス落札額</p>
　　　　　　<p class="g_nedan">{%$product->plus_end_price%}円</p>
            <p class="g_exp">落札者</p>
            {%if ($product->last_bidder !="") %} 
                <p class="g_name">{%$product->last_bidder%}</p>
            {% else %}
                <p class="g_name">いない</p>
            {%/if%}
            <p class="g_exp">落札時間</p>
            <p class="g_time">{%$product->time%}</p>
	　　{%if ($product->plus_discount_rate!=0)%}
            
<!--プラスディスカウント率ここから-->
            <p ><span>{%$product->plus_discount_rate%}%</span></p>
<!--プラスディスカウント率ここまで-->
            {%/if%}



            {%if ($product->discount_rate!=0)%}
            <p class="g_discount" img_id="{%$product->id%}"></p>
<!--ディスカウント率ここから-->
            <p class="g_discount_rate"><span>{%$product->discount_rate%}</span><span style="font-size:10px">%</span></p>
<!--ディスカウント率ここまで-->
            {%/if%}
 

        </div>
</div>

<!--ディスカウント率ここから-->
<style type="text/css">
.g_discount {
background:url("/style/pc/default/image/off.gif") no-repeat scroll left top transparent;
height:61px;         
left:250px;
position:absolute;
top:80px;
width:61px;
z-index:10;
}

.g_discount_rate {
color:yellow;
font:bold 1.25em Verdana;
left:255px;
position:absolute;
text-align:center;
top:90px;
width:50px;
z-index:11;
}
</style>
<!--ディスカウント率ここまで-->

