<div align="center">
<a href="{%$CURRENT_URL%}" accesskey="5">5:リロード</a>
</div>
{%$hr2%}

<font size="1">
{%em c=SEEDLING%}<a href="{%$SERVER_PATH%}/guide">{%$SITE_NAME%}ｶﾞｲﾄﾞ･ﾍﾙﾌﾟ</a><BR>
{%em c=BUILDING%}<a href="{%$SERVER_PATH%}/guide/company">運営会社</a><a href="{%$SERVER_PATH%}/guide/company">特定商取引法に基づく表記</a><BR>
{%em c=LOCK%}<a href="{%$SERVER_PATH%}/guide/terms">利用規約</a> <a href="{%$SERVER_PATH%}/guide/privacy">プライバシーポリシー</a><BR>
{%em c=MAIL%}<a href="{%$SERVER_PATH%}/guide/contact">お問い合わせ</a><BR>

{%if ($isLogin ==true)%}
<!-- ログインしたのfooterページ -->
{%include file='mobile/parts/footer_after.html'%}

{%else%}
<!-- 未ログインのfooterページ -->
{%include file='mobile/parts/footer_before.html'%}

{%/if%}
