<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="MSHTML 8.00.6001.18882" name="GENERATOR">
<meta name="keywords" content="{%$SITE_NAME%},オークション,ペニー,入札,安く,落札,0円,スタート,ゼロ円,初心者,簡単,新品,無料,{%$POINT_NAME%},携帯,モバイル,Mobile,ケータイ">
<meta name="description" content="《{%$SITE_NAME%}》安く落札してすぐに手元に届くオークション！最大98％OFFの爆安！最短翌日発送！">
<title>【{%$SITE_NAME%}】人気商品豊富な爆安オークション</title>
</head>
<body {%$body%}>
{%$marq%}

{%assign var="s1" value="<hr color='#cd5c5c' size='2'>"%}

