{%$h2%}開催中ｵｰｸｼｮﾝ{%$h22%}
{%$hr2%}
<font size="2">

<!--
<div align="center">{%$pageNumber%}</div>
{%$hr1%}
-->

{%foreach from=$products item=product%}

<!-- ここは商品のﾃﾝﾌﾟﾚｰﾄです START    -->
{%include file='mobile/parts/prd_list_open.html'%}

<!-- ここは商品のﾃﾝﾌﾟﾚｰﾄです END     -->

{%/foreach%}

<div align="right">{%em c=SEARCH%}<a href="{%$SERVER_PATH%}/list">もっと見る<br>入札受付中ｵｰｸｼｮﾝ</a></div>
</font>
{%$hr2%}
