{%$h2%}終了ｵｰｸｼｮﾝ{%$h22%}
{%$hr2%}
<font size="2">

{%foreach from=$ends item=product%}


<!-- ここは商品のﾃﾝﾌﾟﾚｰﾄです START    -->
{%include file='mobile/parts/prd_list_end.html'%}

<!-- ここは商品のﾃﾝﾌﾟﾚｰﾄです END     -->


{%/foreach%}

<div align="right">{%em c=SEARCH%}<a href="{%$SERVER_PATH%}/end">終了ｵｰｸｼｮﾝ一覧</a></div>

</font>


