{%$h2%}落札ﾋﾟｯｸｱｯﾌﾟ{%$h22%}
{%$hr2%}
<font size="2">

{%foreach from=$ends item=product%}


<!-- ここは商品のﾃﾝﾌﾟﾚｰﾄです START    -->
{%include file='mobile/parts/prd_list_pickup.html'%}

<!-- ここは商品のﾃﾝﾌﾟﾚｰﾄです END     -->


{%/foreach%}
<div align="right">{%em c=SEARCH%}<a href="{%$SERVER_PATH%}/end">もっと見る<br>激安落札商品</a></div>

</font>
