




<center>
<font size="2">
    <a href="{%$SERVER_PATH%}/guide">初めての方へ</a>|
    <a href="{%$SERVER_PATH%}/member/entry">会員登録</a>|
{%if $isLogin!=true %}
<a href="{%$SERVER_PATH%}/login/form?guid=ON">ﾛｸﾞｲﾝ</a>
{%/if%}
</font>
</center>
{%$hr2%}
