<center>
<font size="2">
{%$member->f_handle%}さん{%em c=MONEYBAG%}{%$member->coin_count%}枚<br>
{%em c=HOUSE%}<a href="{%$SERVER_PATH%}/my/index_ext">マイページ</a>|<a href="{%$SERVER_PATH%}/guide">ユーザガイド</a>{%em c=SEEDLING%}<br>
{%em c=MONEYBAG%}<a href="{%$SERVER_PATH%}/coin">{%$POINT_NAME%}購入</a>|<a href="{%$SERVER_PATH%}/my/friend">友達紹介</a>{%em c=MAIL%}
</font>
</center>
{%$hr2%}
