{%$h2%}自動入札中{%$h22%}
{%$hr2%}
<center>
<font size="1">
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>|<a href="{%$SERVER_PATH%}/list">開催中ｵｰｸｼｮﾝ</a>|<a href="{%$SERVER_PATH%}/myproduct/watch">ｳｫｯﾁﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct">入札中ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/autobid">自動ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/finish">落札ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/my">ｱｶｳﾝﾄ管理</a>
</font>
</center>
{%$hr1%}
<font size="2">


<div align="right">{%$pageNumber%}頁</div>

    <!--入札中商品一覧　start-->
<div><font color="red">{%$message%}</font></div>


    <!--自動入札設定商品一覧　start-->
{%foreach from=$autobids item=autobid%}<!-- 削除禁止 -->


<a href="{%$SERVER_PATH%}/product?pro_id={%$autobid->fk_products_id%}" >{%$autobid->f_products_name%}</a><BR>

<img width="80" src ="{%$autobid->image%}" align="left">




開始金額:{%$autobid->f_min_price%}円<br>
終了金額:{%$autobid->f_max_price%}円<br>
入札回数:{%$autobid->coins%}回<br><br>
    {%if $autobid->f_status == 0 %}
    <a href="{%$SERVER_PATH%}/myproduct/autobid_cancel?id={%$autobid->fk_auto_id%}">{%$autobid->stauts_des%}</a>
    {%else%}
    <font color="red">{%$autobid->stauts_des%}</font>
    {%/if%}
{%$hr1%}
{%/foreach%}


</font>

