{%$h2%}住所変更{%$h22%}
{%$hr2%}
<center>
<font size="1">
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>|<a href="{%$SERVER_PATH%}/list">開催中ｵｰｸｼｮﾝ</a>|<a href="{%$SERVER_PATH%}/myproduct/watch">ｳｫｯﾁﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct">入札中ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/autobid">自動ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/finish">落札ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/my">ｱｶｳﾝﾄ管理</a>
</font>
</center>
{%$hr1%}
<font size="2">



<form method="post" id="edit_use" class="edit_user" action="{%$SERVER_PATH%}/my/update_address">
<div id="address_update">
<span style="color: red;">配送先名:<br>
<input type="text" value="{%$address.f_name%}" size="20" maxlength="40" name="f_name"><br>
連絡電話番号<font color="red">*</font>:<br>
<input type="text" value="{%$address.f_tel_no%}" size="12" maxlength="30" name="f_tel_no"><br>
郵便番号<font color="red">*</font>:<br>
<input type="text" value="{%$address.f_post_code%}" size="9" name="f_post_code"><br>
都道府県<font color="red">*</font><br>
<select gtbfieldid="40" name="fk_perf_id">
   <option value="0" >  選択  </option>
 {%foreach from=$perfs item=perf%}
   <option value="{%$perf->t_pref_id%}" {%if $address.fk_perf_id==$perf->t_pref_id %}selected="selected" {%/if%}>{%$perf->t_pref_name%}</option>
 {%/foreach%}
</select><br>
市区町村<font color="red">*</font>:<br>
<input type="text" value="{%$address.f_address1%}" size="30" maxlength="100" name="f_address1"><br>
番地<font color="red">*</font>:<br>
<input type="text" value="{%$address.f_address2%}" size="30" maxlength="100"  name="f_address2"><br>
建物名など:<br>
<input type="text" value="{%$address.f_address3%}" size="30" maxlength="100"  name="f_address3"><br>

<font color="red">*</font> は必須項目です｡<br>
<input type="hidden" value="{%$address.fk_address_id%}" name="address">
<input type="submit" value="確定">
</div>
</form>

</font>