{%$h2%}配送先選択{%$h22%}
{%$hr2%}
<center>
<font size="1">
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>|<a href="{%$SERVER_PATH%}/list">開催中ｵｰｸｼｮﾝ</a>|<a href="{%$SERVER_PATH%}/myproduct/watch">ｳｫｯﾁﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct">入札中ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/autobid">自動ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/finish">落札ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/my">ｱｶｳﾝﾄ管理</a>
</font>
</center>
{%$hr1%}
<font size="2">
<form method="post" action="{%$SERVER_PATH%}/my/address_edit">
           
            {%foreach from=$address item=ad %}
                <input type="radio" name="address" value="{%$ad->fk_address_id%}">{%$ad->f_name%}<br>
            {%/foreach %}
                <input type="radio" name="address" checked value="new">新規追加<br>
        <input type="submit" value="次へ"/>
    </form>
</font>