{%$h2%}入札中ｵｰｸｼｮﾝ{%$h22%}
{%$hr2%}
<center>
<font size="1">
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>|<a href="{%$SERVER_PATH%}/list">開催中ｵｰｸｼｮﾝ</a>|<a href="{%$SERVER_PATH%}/myproduct/watch">ｳｫｯﾁﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct">入札中ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/autobid">自動ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/finish">落札ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/my">ｱｶｳﾝﾄ管理</a>
</font>
</center>
{%$hr1%}
<font size="2">

<div align="right">{%$pageNumber%}頁</div>
{%$hr1%}





        {%foreach from=$products item=product%}

        <!-- ここは商品のﾃﾝﾌﾟﾚｰﾄです START    -->
        {%include file='mobile/parts/prd_list_open.html'%}

        <!-- ここは商品のﾃﾝﾌﾟﾚｰﾄです END     -->

        {%/foreach%}






</font>