{%$h2%}銀行振込{%$h22%}
{%$hr2%}
<center>
<font size="1">
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>|<a href="{%$SERVER_PATH%}/list">開催中ｵｰｸｼｮﾝ</a>|<a href="{%$SERVER_PATH%}/myproduct/watch">ｳｫｯﾁﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct">入札中ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/autobid">自動ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/finish">落札ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/my">ｱｶｳﾝﾄ管理</a>
</font>
</center>
{%$hr1%}
<font size="2">


    {%if $type==0 %}
{%$POINT_NAME%}数：{%$coin->f_coin%}　{%$POINT_NAME%}値段：{%$coin->f_inp_money%}円<br>
振り込み金額<br>
{%$coin->f_inp_money%}円<br><br>

    {%else%}
    
商品名：{%$product->f_products_name%}<br>
振り込み金額<br>
{%$product->total_price %}円<br>

    {%/if%}
{%$hr1%}

<font color="{%$cl3%}">■</font>振込先銀行名<br>
○○○銀行(コード:****)<br>
<font color="{%$cl3%}">■</font>振込先支店名<br>
○○○支店(コード:364)<br>
<font color="{%$cl3%}">■</font>振込先預金科目<br>
普通<br>
<font color="{%$cl3%}">■</font>振込先口座番号<br>
1234567<br>
<font color="{%$cl3%}">■</font>受取人口座名義<br>
○○○<br><br>
上記の口座への振込みしてください







</font>