<div>
    <form action="{%$SERVER_PATH%}/my/phone" method="post">
    <P>新しい携帯電話のメールアドレスを入力してください。</P>
    <p>メールアドレス<BR>
    <input type="text" size="30" istyle="3" name="email">
    <input type="submit" istyle="4" value="送信" alt="機種変更">
    <div style="font-size: 0.8em">
                <span>※メールアドレスに間違いがあると変更手続きが進められません。入力ミスにご注意ください。</span><br>
            </div>
            </tbody>
    </form>
</div>
