{%$h2%}友達紹介{%$h22%}
{%$hr2%}
<center>
<font size="1">
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>|<a href="{%$SERVER_PATH%}/list">開催中ｵｰｸｼｮﾝ</a>|<a href="{%$SERVER_PATH%}/myproduct/watch">ｳｫｯﾁﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct">入札中ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/autobid">自動ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/finish">落札ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/my">ｱｶｳﾝﾄ管理</a>
</font>
</center>
{%$hr1%}
<font size="2">

<form action="{%$SERVER_PATH%}/my/friend_send" method="post">
お友達の名前<font color="red">*</font><br>
<input type="text" size="30" name="friend_name" value="{%$friend_name%}"/><br>
お友達のﾒｰﾙｱﾄﾞﾚｽ<br>
<input type="text" size="30" name="friend_email" value="{%$friend_email%}"/><br>
<input type="submit" value="送信"/>
</form>



</font>