{%$h2%}配送先住所設定{%$h22%}
{%$hr2%}
<center>
<font size="1">
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>|<a href="{%$SERVER_PATH%}/list">開催中ｵｰｸｼｮﾝ</a>|<a href="{%$SERVER_PATH%}/myproduct/watch">ｳｫｯﾁﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct">入札中ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/autobid">自動ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/finish">落札ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/my">ｱｶｳﾝﾄ管理</a>
</font>
</center>
{%$hr1%}
<font size="2">


{%$product->f_products_name%}<br>
    <div align="center">
<img width="225" height="180" alt="落札商品" src="{%$product->f_photo1%}">
    </div>
落札価格<br>
{%$product->f_end_price%}円<br>
配送先住所を決定してください｡<br>
<form method="post" action="{%$SERVER_PATH%}/mypay/adr_choose?pro_id={%$product->fk_end_products_id%}">
        <ul style="font-size: 17px">
            {%assign var="last" value=0%}
            {%foreach from=$address item=ad%}
            <li>
                <input type="radio" name="address" {%if $ad->f_last_send == 1 %}checked {%assign var="last" value=1 %} {%/if%} value="{%$ad->fk_address_id%}">{%$ad->f_name%}
            </li>
            {%/foreach%}
             <li>
                <input type="radio" name="address" {%if $last == 0 %}checked {%/if%} value="0">新規追加
             </li>
        </ul>
        <input type="submit" value="次へ"/>
</form>

</font>