<div>
    <div style="color: rgb(102, 188, 41); margin-bottom: 2em;">
      {%$email%}宛てに{%SITE_NAME%}招待のメールを送信しました。
    </div>
    <div style="color: rgb(255, 0, 0); font-size: 0.9em; margin-bottom: 2em;">
      ※登録済みのユーザーにはメールは送信されません。
    </div>
    <div><a href="{%$SERVER_PATH%}/my/friend">他の友達にも紹介する</a></div>
</div>