<div style="font-size: 20px">
<h2 style="text-align: center">{%$product->f_products_name%}</h2>
<div style="text-align: center">
    <img width="225" height="180" alt="落札商品" src="{%$product->f_photo1%}">
</div>
<table>
<tr><td>落札価格</td><td>送料</td></th>
<tr><td>{%$product->f_end_price%}円</td><td>{%$carriage%}円</td></th>
</table>

支払い方法を選択してください。
<form method="GET" action="http://{%$HTTP_HOST%}/cli_ep.php/mbpay/">
    <ul style="font-size: 17px">
        {%foreach from=$methods item=method %}
        <li>
            <input type="radio" onclick="paymentSelect()" name="payment" id="payment_credit_{%$method->fk_shiharai_id%}" value="{%$method->fk_shiharai_id%}">
            {%$method->f_shiharai_name%}
        </li>
        {%/foreach%}
    </ul>
    <input type="submit" value="次へ"/>
    <input type="hidden" value="{%$product->f_end_price%}"	name="buy_money"/>
    <input type="hidden" value="{%$product->fk_end_products_id%}"	name="pro_id"/>
    <input type="hidden" value="{%$carriage%}"	name="sf_money"/>
    <input type="hidden" value="{%$type%}"	name="type"/>
</form>
</div>