{%$h2%}配送先住所設定{%$h22%}
{%$hr2%}
<center>
<font size="1">
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>|<a href="{%$SERVER_PATH%}/list">開催中ｵｰｸｼｮﾝ</a>|<a href="{%$SERVER_PATH%}/myproduct/watch">ｳｫｯﾁﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct">入札中ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/autobid">自動ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/finish">落札ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/my">ｱｶｳﾝﾄ管理</a>
</font>
</center>
{%$hr1%}
<font size="2">


<form method="get"action="{%$SERVER_PATH%}/mypay/new_address">
<input type="hidden" value="{%$product->fk_end_products_id%}" name="pro_id">
配送先住所を記入してください｡<br>
配送先名<font color="red">*</font><br>
<input type="text" value="{%$address.f_name%}" size="20" maxlength="40" name="f_name"><br>
　連絡電話番号<font color="red">*</font>:<br>
<input type="text" value="{%$address.f_tel_no%}" size="12" maxlength="30" name="f_tel_no"><br>
　郵便番号<font color="red">*</font>:<br>
<input type="text" value="{%$address.f_post_code%}" size="9" name="f_post_code"><br>
　都道府県<font color="red">*</font><br>
<select gtbfieldid="40" name="fk_perf_id">
<option value="0" >  選択  </option>
{%foreach from=$perfs item=perf %}
<option value="{%$perf->t_pref_id%}" {%if $address.fk_perf_id == $perf->t_pref_id %}selected="selected" {%/if%}>
{%$perf->t_pref_name%}
</option>
{%/foreach%}
</select><br>
市区町村<font color="red">*</font>:<br>
<input type="text" value="{%$address.f_address1%}" size="30" maxlength="100" name="f_address1"><br>
番地<font color="red">*</font>:<br>
<input type="text" value="{%$address.f_address2%}" size="30" maxlength="100"  name="f_address2"><br>
建物名など:<br>
<input type="text" value="{%$address.f_address3%}" size="30" maxlength="100"  name="f_address3"><br>

<font color="red">*</font> は必須項目です｡<br>
<div align="center"><input type="submit" value="次へ"/></div>
</form>

</font>