{%$h2%}お支払い方法選択{%$h22%}
{%$hr2%}
<center>
<font size="1">
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>|<a href="{%$SERVER_PATH%}/list">開催中ｵｰｸｼｮﾝ</a>|<a href="{%$SERVER_PATH%}/myproduct/watch">ｳｫｯﾁﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct">入札中ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/autobid">自動ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/finish">落札ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/my">ｱｶｳﾝﾄ管理</a>
</font>
</center>
{%$hr1%}

<font size="2">



{%$product->f_products_name%}<br>
<div align="center"><img width="225" height="180" alt="落札商品" src="{%$product->f_photo1%}"></div>

落札価格:{%$product->f_end_price%}円<br>
送料:{%$carriage%}円<br>


支払い方法を選択してください｡<br>
<form method="GET" action="http://{%$HTTP_HOST%}/cli_ep.php/mbpay/">
        {%foreach from=$methods item=method %}
<input type="radio" onclick="paymentSelect()" name="payment" id="payment_credit_{%$method->fk_shiharai_type_id%}" value="{%$method->fk_shiharai_type_id%}"><br>
{%$method->f_shiharai_name%}<br>
{%/foreach%}
      {%if $methods %}<input type="submit" value="次へ"/>{%/if%}<br>
    <input type="hidden" value="{%$product->f_end_price%}"	name="buy_money"/>
    <input type="hidden" value="{%$product->fk_end_products_id%}"	name="pro_id"/>
    <input type="hidden" value="{%$type%}"	name="type"/>
    <input type="hidden" value="{%$carriage%}"	name="sf_money"/>
</form>



</font>