{%$h2%}落札商品ｷｬﾝｾﾙ{%$h22%}
{%$hr2%}
<center>
<font size="1">
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>|<a href="{%$SERVER_PATH%}/list">開催中ｵｰｸｼｮﾝ</a>|<a href="{%$SERVER_PATH%}/myproduct/watch">ｳｫｯﾁﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct">入札中ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/autobid">自動ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/finish">落札ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/my">ｱｶｳﾝﾄ管理</a>
</font>
</center>
{%$hr1%}

<font size="2">



{%$product->f_products_name%}
<div align="center"><img width="225" height="180" alt="落札商品" src="{%$product->f_photo1%}"></div>

落札価格<br>
{%$product->f_end_price%}円<br>
<font color="red">この商品の落札権を放棄しますか?放棄した場合､取り消しは出来ません｡</font><br>

    <form method="post" action="{%$SERVER_PATH%}/mypay/cancel?pro_id={%$product->fk_end_products_id%}&mode=exe">
<input type="submit" value="放棄する"/>
    </form> <a href="{%$SERVER_PATH%}/myproduct/finish?pro_id={%$product->fk_end_products_id%}">戻る</a>

</font>