{%$h2%}落札済ﾘｽﾄ{%$h22%}
{%$hr2%}
<center>
<font size="1">
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>|<a href="{%$SERVER_PATH%}/list">開催中ｵｰｸｼｮﾝ</a>|<a href="{%$SERVER_PATH%}/myproduct/watch">ｳｫｯﾁﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct">入札中ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/autobid">自動ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/finish">落札ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/my">ｱｶｳﾝﾄ管理</a>
</font>
</center>
{%$hr1%}
<font size="2">

<div align="center">{%$pageNumber%}</div>

<div align="center">
           <!--終了商品一覧　start-->
{%foreach from=$products item=product%}
<hr color="#FF0A68" size="1">
<img width="75" height="60" alt="落札商品" src="{%$product->image%}"><br>
<!--商品名<br>-->
{%$product->name%}<br><br>

落札価格<br>
{%$product->price%}円<br>


状態<br>
{%$product->status%}<br>

お支払い<br>
    {%if $product->f_status == 0 %}
    <a href="{%$SERVER_PATH%}/mypay/pay?pro_id={%$product->id%}">{%$product->pay_status%}</a><br>
    {%else%}
    <span style="color: red">{%$product->pay_status%}</span><br>
    {%/if%}

配送先住所<br>
    {%if $product->fk_address_id%}
        <!--住所が選択済みの場合､ﾘﾝｸﾞをつけない-->
        <span>{%$product->address_status%}</span><br>
    {%else%}
        {%if $product->flag == 0%}
        <a href="{%$SERVER_PATH%}/mypay/address?pro_id={%$product->id%}">{%$product->address_status%}</a><br>
        {%else%}
        －－－
        {%/if%}
    {%/if%}

<!--ｷｬﾝｾﾙ<br>
<a href="{%$SERVER_PATH%}/mypay/cancel?pro_id={%$product->id%}">{%$product->cancel_status%}</a>
-->
{%/foreach%}

</font>
</div>



</font>