{%$h2%}マイページ{%$h22%}
{%$hr2%}
<center>
<font size="1">
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>|<a href="{%$SERVER_PATH%}/list">開催中ｵｰｸｼｮﾝ</a>|<a href="{%$SERVER_PATH%}/myproduct/watch">ｳｫｯﾁﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct">入札中ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/autobid">自動ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/finish">落札ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/my">ｱｶｳﾝﾄ管理</a>
</font>
</center>
{%$hr1%}
{%if $bid_products %}
<font size="2">
<font color="{%$cl3%}">■</font>入札中商品
</font>
<br>
{%foreach from=$bid_products item=product%}

<!-- ここは商品のテンプレートです START    -->
<!--%include file='mobile/parts/prd_list_open.html'%-->

<font size="1">
{%em c=PRESENT%}<a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}">{%$product->name%}</a><br>
現在価格:\{%$product->price%}</font><br>
<!-- ここは商品のテンプレートです END     -->
{%/foreach%}
<div style="text-align:right">{%$bid_pageNumber%}</div>
{%/if%}



{%if $end_products %}
{%$hr2%}
<font size="2">
<font color="{%$cl3%}">■</font>落札済み商品
</font><br>
{%foreach from=$end_products item=product%}

<!-- ここは商品のテンプレートです START    -->
<!--%include file='mobile/parts/prd_list_end.html'%-->
<font size="1">
{%em c=PRESENT%}<a href="{%$SERVER_PATH%}/product/end?pro_id={%$product->id%}">{%$product->name%}</a><br>
落札価格:￥{%$product->price%}</font><br>
{%$product->time%}
<!-- ここは商品のテンプレートです END     -->
{%/foreach%}
<div style="text-align:right">{%$end_pageNumber%}</div>
{%/if%}

{%$hr1%}
購入した{%$POINT_NAME%}数:{%$member->f_coin%}枚
<br>
ボーナス{%$POINT_NAME%}数:{%$member->f_free_coin%}枚
<br>
合計：{%$member->f_coin+$member->f_free_coin%}枚<br>
<a href="{%$SERVER_PATH%}/coin">{%$POINT_NAME%}購入</a>
{%$hr1%}
