{%$h2%}ｱｶｳﾝﾄ管理{%$h22%}
{%$hr2%}
<center>
<font size="1">
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>|<a href="{%$SERVER_PATH%}/list">開催中ｵｰｸｼｮﾝ</a>|<a href="{%$SERVER_PATH%}/myproduct/watch">ｳｫｯﾁﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct">入札中ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/autobid">自動ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/finish">落札ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/my">ｱｶｳﾝﾄ管理</a>
</font>
</center>
{%$hr1%}
<font size="2">




{%em c=MONEYBAG%}<a HREF='{%$SERVER_PATH%}/my/coins'>{%$POINT_NAME%}残高</a><br>
{%em c=ATM%}<a href="{%$SERVER_PATH%}/coin">{%$POINT_NAME%}購入</a>
{%$hr1%}

{%em c=CLOVER%}<a HREF='{%$SERVER_PATH%}/my/profile'>ﾌﾟﾛﾌｨｰﾙ変更</a><br>
{%em c=CLOVER%}<a HREF='{%$SERVER_PATH%}/my/email'>ﾒｰﾙｱﾄﾞﾚｽ変更</a><br>
{%em c=CLOVER%}<a HREF='{%$SERVER_PATH%}/my/address'>配送先変更</a><br>
{%em c=CLOVER%}<a HREF='{%$SERVER_PATH%}/my/mailmagazein'>ﾒﾙﾏｶﾞ変更</a><br>

{%em c=HIYOKO%}<a HREF='{%$SERVER_PATH%}/my/friend'>友達紹介</a><br>
{%em c=PAA%}<a HREF='{%$SERVER_PATH%}/my/close'>退会</a><br>
</font>

{%$hr1%}
<DIV ALIGN="center"><a href="{%$SERVER_PATH%}/logout">ログアウト</a><br>
<a href="{%$SERVER_PATH%}">TOPﾍﾟｰｼﾞ</a></DIV>
{%$hr2%}






</center>