{%$h2%}ﾒﾙﾏｶﾞ設定{%$h22%}
{%$hr2%}
<center>
<font size="1">
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>|<a href="{%$SERVER_PATH%}/list">開催中ｵｰｸｼｮﾝ</a>|<a href="{%$SERVER_PATH%}/myproduct/watch">ｳｫｯﾁﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct">入札中ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/autobid">自動ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/finish">落札ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/my">ｱｶｳﾝﾄ管理</a>
</font>
</center>
{%$hr1%}
<font size="2">


<form method="post" action="{%$SERVER_PATH%}/my/update_mailmagazein">
<strong><font color="red">重要！</font></strong><br>
ﾒﾙﾏｶﾞの登録･拒否設定など<br>
<input type="checkbox" name="f_mailmagazein_mb" {%if $member->f_mailmagazein_mb==1 %}checked {%/if%}  value="1"/>ﾒﾙﾏｶﾞ登録
<br>
<input type="submit" value="確定"/>
</form>


</font>