{%$h2%}ﾊﾟｽﾜｰﾄﾞ変更{%$h22%}
{%$hr2%}
<center>
<font size="1">
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>|<a href="{%$SERVER_PATH%}/list">開催中ｵｰｸｼｮﾝ</a>|<a href="{%$SERVER_PATH%}/myproduct/watch">ｳｫｯﾁﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct">入札中ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/autobid">自動ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/finish">落札ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/my">ｱｶｳﾝﾄ管理</a>
</font>
</center>
{%$hr1%}
<font size="2">



<form method="get"action="{%$SERVER_PATH%}/my/update_password">
氏名:<br>
{%$member->f_handle%}<br>
旧ﾊﾟｽﾜｰﾄﾞ:<br>
<input type="password" name="old_pass"/><br>
新しいﾊﾟｽﾜｰﾄﾞ:<br>
<input type="password" name="new_pass"/><br>
再入力:<br>
<input type="password" name="repeat_pass"/><br><br>
<input type="submit" value="確定"/>
</form>


</font>