{%$h2%}ﾌﾟﾛﾌｨｰﾙ変更{%$h22%}
{%$hr2%}
<center>
<font size="1">
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>|<a href="{%$SERVER_PATH%}/list">開催中ｵｰｸｼｮﾝ</a>|<a href="{%$SERVER_PATH%}/myproduct/watch">ｳｫｯﾁﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct">入札中ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/autobid">自動ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/finish">落札ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/my">ｱｶｳﾝﾄ管理</a>
</font>
</center>
{%$hr1%}
<font size="2">


<form method="post" id="edit_use" class="edit_user" action="{%$SERVER_PATH%}/my/update_profile">
<div id="address_entry">
氏名:<br>
<input type="text" name="f_handle" value="{%$member->f_handle%}"/><br>
誕生日:<br>
            <select name="birth_year" id="birth_year">
                <option value="00">  年 </option>
                {%foreach from=$brithday.year item=year %}
                <option value="{%$year%}" {%if $member->birth_year==$year %}selected="selected" {%/if%}>{%$year%}</option>
                {%/foreach%}
            </select>
            <select name="birth_month" id="birth_month">
                <option value="00">月</option>
                {%foreach from=$brithday.month item=month %}
                <option value="{%$month%}" {%if $member->birth_month==$month %}selected="selected" {%/if%}>{%$month%}</option>
                {%/foreach%}
            </select>
            <select name="birth_day" id="birth_day">
                <option value="00">日</option>
                {%foreach from=$brithday.day item=day %}
                <option value="{%$day%}" {%if $member->birth_day==$day %}selected="selected" {%/if%}>{%$day%}</option>
                {%/foreach%}
            </select>
<br>
名前:<br>
<input type="text" name="name" value="{%$member->f_name%}"/><br>
電話番号:<br>
<input type="tel" name="tel" value="{%$member->f_tel_no%}"/><br>
性別:<br>
  <select name="sex" id="sex" >
     <option value="">---</option>
     <option value="0" {%if $member->f_sex=="0" %}selected="selected" {%/if%}>男性</option>
     <option value="2" {%if $member->f_sex!="0" %}selected="selected" {%/if%}>女性</option>
   </select>
旧ﾊﾟｽﾜｰﾄﾞ:<br>
<input type="password" name="old_pass"/><br>
新ﾊﾟｽﾜｰﾄﾞ:<br>
<input type="password" name="new_pass"/><br>
新ﾊﾟｽﾜｰﾄﾞ再入力:<br>
<input type="password" name="repeat_pass"/><br>
<input type="submit" value="確定">
</div>
</form>

</font>