{%$h2%}退会{%$h22%}
{%$hr2%}
<center>
<font size="1">
<a href="{%$SERVER_PATH%}" accesskey="0">{%em c=NUM0%}TOPへ</a>|<a href="{%$SERVER_PATH%}/list">開催中ｵｰｸｼｮﾝ</a>|<a href="{%$SERVER_PATH%}/myproduct/watch">ｳｫｯﾁﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct">入札中ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/autobid">自動ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/myproduct/finish">落札ﾘｽﾄ</a>|<a href="{%$SERVER_PATH%}/my">ｱｶｳﾝﾄ管理</a>
</font>
</center>
{%$hr1%}
<font size="2">




    <form method="get" action="{%$SERVER_PATH%}/my/member_close">
            <font color="red">重要！</font><br>
            「{%$SITE_NAME%}」を退会すると、現在保有されている{%$POINT_NAME%}は失われ、再登録しても戻りませんのでご注意ください。<br>
            退会後、１ヶ月間は再入会が出来ませんので、ご注意ください。
            <br><br>
            <input type="checkbox" name="agree" value="1">上記に同意して、{%$SITE_NAME%}を退会する
            <br><br>
            <input type="submit" src="{%$IMAGE_PATH%}/btn_close_account.png" value="退会する">
    </form>



</font>