<font size="1">
    <a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}">{%$product->name%}</a><br>
<img align="left" src="{%$product->image%}">
    現在価格:￥{%$product->price%}<br>
    残り時間:<blink><font color="red">{%$product->time%}</font></blink><br>
    入札:{%$product->last_bidder%}<br>
{%if ($product->discount_rate!=0)%}<{%$product->discount_rate%}><br>{%/if%}
{%em c=BELL%}{%$product->f_auction_name%}
<br clear="all">
</font>
{%$hr1%}
