<font size="1">
{%em c=PRESENT%}<a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}">{%$product->name%}</a><br>
<a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}"><img width="80" align="left" src="{%$product->image%}" alt="{%$product->name%}"></a>
現在価格:\{%$product->price%}<br>
残り時間:<blink><font color="red">{%$product->time%}</font></blink><br>
入札:{%$product->last_bidder%}<br>
{%if ($product->discount_rate!=0)%}<{%$product->discount_rate%}><br>{%/if%}
{%em c=BELL%}{%$product->f_auction_name%}

        {%if ($isLogin ==true)%}
        <!--ﾛｸﾞｲﾝ済みの場合：入札ﾎﾞﾀﾝが表示　-->
        <a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}"><font color="red">入札する</font></a>
        {%else%}
        <!--ﾛｸﾞｲﾝしないの場合：登録/ﾛｸﾞｲﾝﾘﾝｸﾞが表示　-->
        <A HREF='{%$SERVER_PATH%}/login/form'><font size="3"><b>登録/ﾛｸﾞｲﾝ</b></font></A>
        {%/if%}

<br clear="all">
</font>
{%$hr1%}
