<font size="1">
{%em c=PRESENT%}<a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}">{%$product->name%}</a><br>
<a href="{%$SERVER_PATH%}/product?pro_id={%$product->id%}"><img width="80" align="left" src="{%$product->image%}" alt="{%$product->name%}"></a>
    現在価格:￥{%$product->price%}<br>
    残り時間:<blink>{%$product->time%}</blink><br>
    入札:{%$product->last_bidder%}<br>
{%if ($product->discount_rate!=0)%}<{%$product->discount_rate%}><br>{%/if%}
{%em c=BELL%}{%$product->f_auction_name%}
<br clear="all">
</font>
