<font size="1">
{%em c=PRESENT%}<a href="{%$SERVER_PATH%}/product/end?pro_id={%$product->id%}">{%$product->name%}</a><br>
<a href="{%$SERVER_PATH%}/product/end?pro_id={%$product->id%}"><img width="80" align="left" src="{%$product->image%}" alt="{%$product->name%}"></a>
    落札価格:￥{%$product->price%}<br>
    プラス落札価格:￥{%$product->plus_end_price%}<br>
    残り時間:<blink><font color="red">終了しました</font></blink><br>
    落札者:{%$product->last_bidder%}<br>
   {%if ($product->plus_discount_rate!=0)%}プラスディスカウント率：{%$product->plus_discount_rate%}<br>{%/if%}
   {%if ($product->discount_rate!=0)%}<{%$product->discount_rate%}><br>{%/if%}
{%em c=BELL%}{%$product->f_auction_name%}
<br clear="all">
</font>
{%$hr1%}


