{%$h2%}商品ｶﾃｺﾞﾘｰ{%$h22%}
{%$hr2%}
<font size="2">


{%em c=DIAMOND%}<a href="{%$SERVER_PATH%}/list">全ての商品</a><br>
{%foreach from=$cates item=cate%}
            {%if $cate->id !='0' && $cate->id !='1' %}
{%em c=DIAMOND%}<a href="{%$SERVER_PATH%}/category?id={%$cate->id%}">{%$cate->name%}</a><br>
            {%/if%}
            {%/foreach%}
</font>