﻿<hr>
モバイル用のソースです。
<div><a href=http://ameoku.net/index.php?page=1><<先頭</a> <a href=http://ameoku.net/index.php?page=1><前</a> <span style='padding-right: 6px;'>[2/15]</span> <a href=http://ameoku.net/index.php?page=3>次></a> <a href=http://ameoku.net/index.php?page=15>最後>></a></div>








<hr>
PC用のソースです。

<div id="pagenum"><!-- htmlテンプレートに転載します岡部 -->
<div id="pagenum_box"><!-- htmlテンプレートに転載します岡部 -->

<!-- PC用のソーここから -->
<span class="pagenum_box"><a href=http://ameoku.net/index.php?page=1><<先頭</a></span>
<span class="pagenum_box"><a href=http://ameoku.net/index.php?page=1><前</a></span>
<span class="pagenum_box"><a href="http://ameoku.net/index.php?page=1">1</a></span>
<span class="pagenum_box2">2</span>
<span class="pagenum_box"><a href=http://ameoku.net/index.php?page=3>3</a></span>
<span class="pagenum_box"><a href=http://ameoku.net/index.php?page=4>4</a></span>
<span class="pagenum_box"><a href=http://ameoku.net/index.php?page=4>5</a></span>
<span class="pagenum_box"><a href=http://ameoku.net/index.php?page=3>次></a></span>
<span class="pagenum_box"><a href=http://ameoku.net/index.php?page=15>最後>></a></span>
<span class="pagenum_box3">2/15</span>
<!-- PC用のソーここまで -->

</div><!-- htmlテンプレートに転載します岡部 -->
</div><!-- htmlテンプレートに転載します岡部 -->


<hr>








管理画面用のソースです。

<div id="mypagenum"><!-- htmlテンプレートに転載します岡部 -->
<div id="mypagenum_box"><!-- htmlテンプレートに転載します岡部 -->




<!-- 管理画面用のソースここから -->
<span class="mypagenum_box"><a href=http://ameoku.net/index.php?page=1><<先頭</a></span>
<span class="mypagenum_box"><a href=http://ameoku.net/index.php?page=10><前</a></span>
<span class="mypagenum_box"><a href=http://ameoku.net/index.php?page=9>9</a></span>
<span class="mypagenum_box"><a href=http://ameoku.net/index.php?page=10>10</a></span>
<span class="mypagenum_box2">11</span>
<span class="mypagenum_box"><a href=http://ameoku.net/index.php?page=12>12</a></span>
<span class="mypagenum_box"><a href=http://ameoku.net/index.php?page=13>13</a></span>
<span class="mypagenum_box"><a href=http://ameoku.net/index.php?page=12>次></a></span>
<span class="mypagenum_box"><a href=http://ameoku.net/index.php?page=15>最後>></a></span>
<span class="mypagenum_box3">11/15</span>
<input type='text' size='2' name='page'/>
<span class="mypagenum_box4">Jump</span>
<!-- 管理画面用のソースここまで -->





</div><!-- htmlテンプレートに転載します岡部 -->
</div><!-- htmlテンプレートに転載します岡部 -->





<!-- OKB あとでCSSに移動します -->
<style type="text/css">
 /* ｌPC画面用ｌ */
#pagenum {
border: 1px solid #000000;
padding:6px;
}
#pagenum_box {
font-size:12px;
}
.pagenum_box a {
color:#ffffff;
margin:0 2px;
padding:2px 4px;
background-color:#DB7093;
}
.pagenum_box a:hover {
color:#ffffff;
text-decoratrion:underline;
margin:0 2px;
padding:2px 4px;
background-color:DEEPPINK;
}
.pagenum_box2 {
color:#ffffff;
margin:0 2px;
padding:2px 4px;
background-color:DEEPPINK;
font-weight:bold;
}
.pagenum_box3 {
color:#666;
margin:0 2px;
padding:2px 4px;
background-color:#ffffff;
border:1px solid #000000;}
 /* ｌ管理画面用ｌ */
#mypagenum {
border: 1px solid #000000;
padding:6px;
}
#mypagenum_box {
font-size:12px;
}
.mypagenum_box a {
color:#ffffff;
margin:0 2px;
padding:2px 4px;
background-color:#DB7093;
}
.mypagenum_box a:hover {
color:#ffffff;
text-decoratrion:underline;
margin:0 2px;
padding:2px 4px;
background-color:DEEPPINK;
}
.mypagenum_box2 {
color:#ffffff;
margin:0 2px;
padding:2px 4px;
background-color:DEEPPINK;
font-weight:bold;
}
.mypagenum_box3 {
color:#666;
margin:0 2px;
padding:2px 4px;
background-color:#ffffff;
border:1px solid #000000;}
.mypagenum_box4 {
color:#000;
margin:0 2px;
padding:2px 4px;
background-color:yellow;
border:1px solid orange;
}
</style>
<!-- OKB あとでCSSに移動します -->
